.container {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  padding: 2rem;
  grid-gap: 1rem;
}
.details {
  grid-column: 2;

  @media (max-width: 576px) {
    grid-column: span 12;
  }
}
.component {
  grid-column: 3;

  @media (max-width: 576px) {
    grid-column: span 12;
  }
}
