@import "../../maxin.scss";

.carousel-container {
  display: flex;
  justify-content: center;

  .carousel-box {
    border-bottom: 1px solid black;
    width: 100%;
    @include for-tablet-portrait-up {
      width: 80%;
    }
    .carosal {
      margin-top: 20px;
    }
  }
}
