.select-dropdown {
  background-color: var(--btn-bg-primary);
  color: whitesmoke;
  cursor: pointer;
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin-top: 30px;
  padding: 12px;
  &:focus-visible {
    outline: none;
  }
  &__option {
    font-size: 14px;
    font-weight: 600;
    &:hover {
      background-color: whitesmoke;
    }
  }
}
