footer {
  // TODO: make variables for colors
  background-color: #eaeaea;
}

.footer-content {
  // TODO: make variable for size
  width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1199.98px) {
  .footer-content {
    width: 100%;
  }
}
