body,html{
    height : 100%;
    margin: 0;
}
header {

    display: flex;
    justify-content: space-between;
    width : 80%;
    margin-left : 10%;
    height : 100%;
}
.header-container{
   box-shadow: 0px 3px 10px rgb(0 0 0 / 0.2);
   height: 12%;
}
.head-nav-left{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.head-nav-left a> img{
    margin-right: 100px;
    height: 80px;
    margin-top: 12px;
}
.head-nav-left a{
    text-decoration: none;
    color : black;
    margin-left : 20px;
    cursor: pointer;
}
.head-nav-right {
    display: flex;
    flex-direction : column;
}


.head-nav-cart img{
    height : 30px;
    padding-right: 10px;
}
.head-nav-cart{
    margin-top: 20%;
    background-color: rgb(0 0 0 / 0.1);
    padding-left: 5px;
    width : 120px;
    height : 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head-nav-login{
    display: flex;
    justify-content: flex-end;
    font-size: 0.7rem;
}
.head-nav-login a{
    padding : 3px;
    cursor: pointer;
    text-decoration: none;
    color : black;
}


footer{
    background-color:  rgb(0 0 0 / 0.1);
    height: 40px;
}
footer p{
    margin-left: 15%;
    padding-top: 10px;
    margin-top: 0;
}

.products-main-container{
    display: flex;
}
.products-nav-list{
    list-style: none;
}
.products-left-nav{
    background-color: rgb(0 0 0 / 0.1);
    padding-top: 10px;
}
.products-nav-item{
    border-bottom : 1px solid  rgb(0 0 0 / 0.1);
    height:40px;
    padding-left: 30px;
    padding-top: 20px;
}
.products-left-nav{
    flex: 0 0 auto;
    width : 275px;
}
.products-right-container{
    display : flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.product-list-item{
    width:260px;
    height: 480px;
    padding:10px;
    border-bottom : 3px dotted rgb(0 0 0 / 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 1px 5px rgb(0 0 0 / 0.2);
}
.products-left-nav ul{
    transform: rotate(180deg);
}
.products-left-nav ul>li{
    transform: rotate(-180deg);
}
.product-list-item img{
    width:100%;

}
.products-nav-list{
    margin:0;
    padding: 0;
}
.product-list-description{
    width : 100%;
    height : 20%;
    font-size : 12px;
}
.product-list-footer{
    display: flex;
    justify-content: space-between;
}
.product-item-buy-button{
    height: 30px;
    background-color: #d00156;
    border : 0.5px solid black;
    color : white;
    cursor: pointer;
}

.no-scroll{
    overflow: hidden;
}
/*modal */

.modal {
    display: none;
    position: fixed;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal-content {
    position: relative;
    background-color: white;
    padding: 20px;
    margin: auto;
    width: 75%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  .close-btn {
    float: right;
    color: lightgray;
    font-size: 24px;
    font-weight: bold;
  }
  .close-btn:hover {
    color: darkgray;
  }
  #modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    display: none;
  }
  #modal-overlay.show{
      display: block;
  }
  #my-cart-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    height: 600px;
    width: 400px;
    background-color: rgb(194, 189, 189);
    transform: translate(-50%, -50%);
    display: none;
    z-index: 20;
  }
  #my-cart-modal .modal-header  > label  > h3{
      display: inline;
  }
  #my-cart-modal .modal-header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
    color: #e5e5e5;
  }
  #my-cart-modal.show{
      display: block;
  }
  #my-cart-modal .modal-footer{
      height: 80px;
      background-color: white;
    }

    #my-cart-modal .modal-footer p{
        font-size: 12px;
        padding: 5px 10px;
    }
    #my-cart-modal .modal-body{
        height: calc(600px - 153px);
    }
    label#product-price::after {
        content: "";
        height: 10px;
        width: 10px;
        border-bottom: 2px solid black;
        border-left: 2px solid black;
        position: absolute;
        top: 3px;
        transform: rotate(-135deg);
        left: 19px;
    }

    .close-modal{
        background: transparent;
        border: none;
        color: #e5e5e5;
    }

    .checkout-button{
        width: calc(100% - 10px);
        margin-left: 5px;
        border: none;
        background-color: #d00156;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 15px;
        display: flex;
        justify-content: space-between;
    }

    #product-price{
        background: black;
        height: 20px;
        width: 20px;
        position: relative;
        color: white;
    }

    /*modal-producty-styling */
#modal-product{
    display: flex;
    height : 100px;
    margin-top: 20px;
    border: 1px solid black;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    background-color: #e5e5e5;
}

#modal-product img{
    height: 80px;
    width : 80px;
}
#prod{
    font-size: 20px;
}
#minus ,#plus{
    border-radius: 50%;
    background-color: #d00156;
    color : white;
    border: none;
}
#modal-total-price1{
    width : 60px;
    align-items: center;
}
#modal-product-count{
    padding-left: 5px;
    padding-right: 5px;
    width: 30px;
    display: inline-block;
    text-align: center;
}
#modal-sub-text{
    margin-top: 10px;
}
    .hidden-input{
        visibility: hidden;
        height: 0;
        width: 0;
        /* display: none; */
        position: absolute;
        pointer-events: none;
    }
.modal-footer {
    text-align: center;
}

@media screen and (max-width : 480px){
    .head-nav-left a:not(:first-child) {
        display: none;
    }
    .head-nav-left:first-child  img{
            height : 60px;
    }
    .head-nav-left:first-child {
        margin-left : 0;
    }
    .head-nav-left a{
        margin-left : 0;
    }
    .head-nav-login{
        display: none;
    }
    .head-nav-cart{
        margin-top: 20%;
        background-color: rgb(0 0 0 / 0.1);
        padding-left: 0;
        width: 100px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .head-nav-cart img{
        height:  20px;
    }


    .products-nav-list{
        background-color: red;
        display: none;
    }
    .products-left-nav{
       visibility: collapse;
    }
    .products-main-container{
        flex-direction: column;
    }
    .products-right-container{
        justify-content: center;
    }
    footer p{
        font-size: 0.5em;
    }
    footer{
        justify-content: center;
    }

}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

    .head-nav-cart{
        margin-top: 10%;
        background-color: rgb(0 0 0 / 0.1);
        padding-left: 0;
        width: 100px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .head-nav-cart img{
        height:  20px;
    }

}
