@import "../_variables.module";
$nav_link_color: #2a2a2a;
.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 0 100px 0 100px;
  box-shadow: 0 8px 6px -6px $back_color;
  z-index: 1;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: $white_color;
}
.cart-img {
  width: 30px;
  height: 30px;
}
.nav-first-container {
  display: flex;
}
.nav-second-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav-links-container {
  display: flex;
  align-items: flex-end;
  .nav-link {
    padding: 0 5px;
    &:not(.nav-second-container .nav-link) {
      color: $nav_link_color;
      font-size: 16px;
      font-weight: 600;
    }
  }
}
li {
  list-style: none;
}
.cart-container {
  background-color: $back_color;
  padding-top: 8px;
  padding-left: 8px;
}

//main section css
.main-container {
  padding: 0 100px 0 100px;
}

//footer section
.footer {
  padding: 20px 100px 20px 100px;
  background-color: $back_color;
}
