body {
    margin: 0%;
}
body .header {
    /* margin: 0 10%; */
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 8px 6px -6px lightgray;
}
body .header li {
    list-style-type: none;
    float: left;
    margin: 5px;
}
body .header li a {
    text-decoration: none;
    color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body .header .header--logo {
    height: 80px;
}
body .header .header-navigation {
    display: flex;
    align-items: end;
    width: 45%;
}
body .header .LoginandCart {
    display: flex;
    flex-direction: column;
}
body .header .LoginandCart ul {
    margin: 0;
    display: flex;
}
body .header .LoginandCart ul li a {
    color: black;
    font-size: 12px;
}
body .header .LoginandCart .cart {
    padding: 5px;
    background-color: #f0ebeb;
    border: none;
    height: 100%;
    cursor: pointer;
}
body .header .LoginandCart .cart a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}
body .header .LoginandCart .cart i {
    color: #cc0e6d;
    margin: 3px;
}
body .footer {
    background-color: #f0ebeb;
    padding: 10px;
    text-align: center;
    margin: 0;
    margin-top: 40px;
}
@media only screen and (max-width: 600px) {
    body .header {
        margin: 0%;
        justify-content: space-between;
   }
    body .header .header-navigation {
        display: none;
   }

   body .header .LoginandCart ul {
   
    display: none;
}
}
