@import '../../../../styles/abstract/variables';
@import '../../../../styles/abstract/mixin';
@import '../../../../styles/abstract/color';
.mini-navigation{
    position: relative;
        width: 100%;
        .dropbtn{
            width: 100%;
            outline: none;
            @include font-size(90%);
            color:$gs-23;
            padding: 10px;
            @include bg-opacity($color-theme);
        }
        .show{
            display: inline-block !important;
        }
        .dropdown-content{
            display: none;
            position: absolute;
            left:0;
            z-index:2;
            top:42px;
            @include box-shadow(1px 3px 3px $gs-12);
            @include bg-opacity($gs-23);
            padding: 10px;
            width: 99%;
            color:$gs-1;
            .active{
                @include bg-opacity($color-theme);
                color: $gs-23;
            }
            li{
                display: block;
                &:hover{
                    @include bg-opacity($color-theme);
                    color: $gs-23;
                }
            }
        }
        @include medium-screen {
            display: none;
        }
}