<div class="container">
    <div class="row">
        <div class="col-6 loginText">
            <h1>Login</h1>
            <h2>Get access to your Orders, Wishlist and Recommendations</h2>
        </div>
        <div class="col-6 loginForm">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1" class="bmd-label-floating">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1" class="bmd-label-floating">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-danger btn-raised">Login</button>
          </form>
        </div>

    </div>

</div>