<header class="main-header">
    <img class="main-logo-image" src="./../../../assets/logo.png" alt="Sabka Bazar" />
    <nav class="navigation main-navigation">
        <ul class="main-navigation-items">
            <li class="navigation-item main-navigation-item">
                <a class="navigation-link main-navigation-link" href="#">Home</a>
            </li>
            <li class="navigation-item main-navigation-item">
                <a class="navigation-link main-navigation-link" href="#">Products</a>
            </li>
        </ul>
    </nav>
    <div class="cart">
        <nav class="navigation side_navigation">
            <ul class="auth-navigation-items">
                <li class="navigation-item auth-navigation-item">
                    <a class="navigation-link auth-navigation-link" href="#">Sign in</a>
                </li>
                <li class="navigation-item auth-navigation-item">
                    <a class="navigation-link auth-navigation-link" href="#">Register</a>
                </li>
            </ul>
        </nav>
        <div class="cart-logo">
            <svg class="cart-logo-icon">
                <use xlink:href="./../../../assets/sprite.svg#cart"></use>
            </svg>
            <span class="cart-count">0 Items</span>
        </div>
    </div>
</header>