<header class="main-header">
    <img class="main-logo-image" src="./../../../assets/logo.png" alt="Sabka Bazar" />
    <nav class="navigation main-navigation" *ngIf="user?.idToken">
        <ul class="main-navigation-items">
            <li class="navigation-item main-navigation-item">
                <a class="navigation-link main-navigation-link" routerLinkActive="active-link" routerLink="home">Home</a>
            </li>
            <li class="navigation-item main-navigation-item">
                <a class="navigation-link main-navigation-link"  routerLink="products">Products</a>
            </li>
        </ul>
    </nav>
    <div class="cart">
        <nav class="navigation side_navigation">
            <ul class="auth-navigation-items">
                <li class="navigation-item auth-navigation-item" *ngIf="!user?.idToken">
                    <a class="navigation-link auth-navigation-link"  routerLink="login" [queryParams]="{action:'login'}">Sign in</a>
                </li>
                <li class="navigation-item auth-navigation-item" *ngIf="!user?.idToken">
                    <a class="navigation-link auth-navigation-link"  routerLink="login" [queryParams]="{action:'signUp'}">Register</a>
                </li>
                <li class="navigation-item auth-navigation-item" *ngIf="user?.idToken">
                    <a class="navigation-link auth-navigation-link"  (click)="logout()">Logout</a>
                </li>
            </ul>
        </nav>
        <div class="cart-logo" (click)="isOpenShoppingCart=!isOpenShoppingCart">
            <svg class="cart-logo-icon">
                <use xlink:href="./../../../assets/sprite.svg#cart"></use>
            </svg>
            <span class="cart-count">{{totalItemsInCart}} Items</span>
        </div>
    </div>
</header>
<modal-backdrop id="shoppincart" *ngIf="isOpenShoppingCart">
   <shopping-cart></shopping-cart>
</modal-backdrop>