.form-wrapper{
    .top-pane,.bottom-pane{
        display: block;
        width: 100%;
    }
    .btn-app{
        width: 100%;
        margin: 35px auto;
        &:hover{
            background-color:  lighten($color-theme,10%) !important;
        }
    }
    .field-error{
        border-bottom: 2px solid $color-error !important;
    }
    .label-error{
        color:$color-error !important;
    }
    .no-field-label{
        position: relative;
        bottom: -15px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        color: $gs-10 !important;
        font-size: 70% !important;
        font-weight: 600 !important;
    }
    .error{
        @include font-size(65%);
        color: $color-error;
        word-spacing: 2px;
        line-height: 1.6;
    }
    .form-desc{
        font-weight: 500;
    }
    .field-label{
        @include font-size(70%);
        color: $color-secondary;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        font-weight: normal;
        
    }
    .login-form{
        width:100%;
    }
    .page-body{
        padding: 30px 60px;
    }
    input{
        border-bottom: 2px solid $gs-12;
        border-top:none;
        border-left: none;
        border-right: none;
        width:100%;
        height: 25px;
        outline: none;
    }
    input:hover,:focus{
        border-bottom: 2px solid $color-secondary;
    }
    
    
    .ng-valid[required], .ng-valid.required  {
        border-left: 2px solid $color-success; /* green */
    }
      
    .ng-invalid:not(form)  {
        border-left: 2px solid $color-error; /* red */
    }
    @include small-screen{
        .top-pane,.bottom-pane{
            width : 39%;
        }
        .top-container,.bottom-container{
            width : 49%;
        }
    }
    
    @include small-screen{
        .top-container,.bottom-container{
            width : 49%;
        } 
    }
    
    @include large-screen{
        .page-body{
            padding: 30px 144px 30px 53px;;
        }
    }
    
    @include extra-large-screen{
        .page-body{
            padding: 30px 293px 30px 53px;
        }
        
    }
}


