.product_list_holder{
    width: 73%;
    height: 100%;
    overflow-y: scroll;
    flex-wrap: wrap;
    overflow-x: hidden;
}

@media screen and (max-width: 480px) {
    .product_list_holder{
        width: 100%;
        height: auto;
        overflow-y: unset;
        padding-top: 65px;
        flex-wrap: unset;
        flex-direction: column;
    }

}

@media  (min-width: 481px) and (max-width: 1080px)  {
    
}