@import '../../../styles/global';

footer {
  background-color: $dark-grey-color;
  padding: $text-padding;
  text-align: center;
  font-size: $small-font;
  font-weight: 600;
}

@media only screen and (min-width: $desktop) {
  footer {
    text-align: left;
  }
}
