@import '../../../../styles.scss';

footer {
    background-color: $color-light-grey;
    padding: 5px 10px;
    p {
        margin: 0 auto;
        text-align: center;
    }
}

@media (min-width: 1024px) {
    footer {
        p {
            text-align: justify;
        }
    }
}