* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: "Signika", sans-serif;
}

button {
  cursor: pointer;
  border: 0;
  outline: 0;
}

:root {
  --modal-duration: 1s;
  --modal-color: #d6224c;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 300px;
  top: -80px;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.modal-content {
  margin: 10% auto;
  width: 40%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header h2,
.modal-footer h3 {
  margin: 0;
}

.modal-header {
  background: #000;
  padding: 15px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-body {
  padding: 10px 20px;
  background: #fff;
}

.model-content {
  display: flex;
  justify-content: space-around;
  .cart-lowest-price {
    width: 40%;
  }
  .modal-content-heading {
    margin-top: 20px;
  }
}

.modal-footer {
  background: var(--modal-color);
  padding: 10px;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: -349px;
    top: -22px;
    height: 100%;
    width: 1200px;
    overflow: auto;
  }
}
