a,
ul {
  text-decoration: none;
}

.signup-signin {
  display: flex;
  flex-wrap: wrap;

  div {
    width: 50%;
    text-align: center;

    h3 {
      padding-top: 3.625rem;
      font-size: 2em;
    }

    p {
      padding: 1.875rem 0 0 14rem;
      font-size: 1.1em;
    }
  }

  form {
    padding: 5rem 0 0 1.875rem;

    input {
      margin: 0.5rem;
      height: 2.5rem;
      border: 0;
      outline: 0;

      &:focus {
        border-bottom: 2px solid rgb(93, 244, 255);
      }
    }

    button {
      margin-top: 0.5rem;
      width: 100%;
      height: 2.5rem;
      background-color: $primary-color;
      color: $secondary-color;
      border: 0;
    }
  }
}

.footer-login {
  margin-top: 100px;
  bottom: 0;
  width: 100%;
  height: 3.125rem;
  text-align: center;
  background-color: $background-color-footer;
  p {
    color: $dark-color-footer;
    padding-top: 15px;
    text-align: center;
  }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  .signup-signin > div > p {
    padding: 0;
    font-size: 1.1rem;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .signup-signin > div > p {
    padding: 0;
    width: 100vw;
    text-align: left;
    margin-left: 35px;
    font-size: 1.1rem;
    margin-top: 15px;
  }

  .footer-login {
    width: 500px;
    margin-top: 100px;
    bottom: 0;
    height: 3.125rem;
    text-align: center;
    background-color: $background-color-footer;
    p {
      color: $dark-color-footer;
      padding-top: 15px;
      text-align: center;
    }
  }
}
