$app-padding-horizontal: 10vw;
$app-font-weight: 600;
$app-btn-padding: 10px;
$header-height: 77px;

$main-margin-top: 10px;

$background-color-primary: white;
$background-color-secondary: #d10157;

$text-color-primary: black;
$text-color-secondary: white;

$input-theme-color-primary: #93d4d2;
$link-color-primary: tomato;
$grey-color: #cdcdcd;
$grey-color-1: #ededed;
$grey-color-2: #eaeaea;
$grey-color-3: #eee;
