* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
@mixin flexproperty {
  display: flex;
  justify-content: center;
  align-items: center;
}
//variable:
//nesting
//mixing:

@mixin typography1($letspacing) {
  color: red;
  letter-spacing: $letspacing;
  text-transform: capitalize;
}
h3 {
  font-weight: 600;
  font-size: large;
}
p {
  font-size: small;
  font-weight: 400;
}
/*****login page********/
.login_inner_div h2 {
  font-weight: 600;
  font-size: 3rem;
}
form#login_form .form-control {
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0px;
  &:focus {
    outline: 0;
    box-shadow: none;
    border-bottom: 1.5px solid #80bdff;
  }
}

button.btn.btn-lg.btn-block.login_btn {
  background-color: deeppink;
  color: #fff;
  border-radius: 0px;
}
/********footer ************/
footer {
  @include flexproperty;
  flex-direction: column;
  background: #ededed;
  padding: 0.5rem 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  p {
    margin: 0;
    font-size: 12px;
  }
}
/********navbar*********/
nav.navbar.navbar-expand-md.navbar-light.bg-white.shadow {
  z-index: 9999;
}
ul.nav_login_links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
}
.nav-link {
  color: dimgrey;
}
a.cart_link {
  @include flexproperty;
  flex-direction: row;
  justify-content: space-evenly;
  color: #000;
  &:hover {
    text-decoration: none;
  }
  .cart_img {
    width: 35px;
  }
}
/***************index.html********************/
a.explore_btn {
  color: #fff;
  background: deeppink;
  padding: 0.5rem 0.7rem;
  &:hover {
    text-decoration: none;
  }
}
.banner_detail.text-center {
  line-height: 1.6rem;
}
.container.py-5 {
  box-shadow: 0px 14px 10px -18px #111;
}
/********product page ********/
.bg-grey {
  background-color: #d3d3d36b;
}
ul.product_category_list {
  list-style: none;
  // height: 100vh;
  li {
    line-height: 2.5;
    border-bottom: 1px solid #bfc3c759;
    color: #8e9091;
    cursor: pointer;
  }
}
.product_details {
  .card-header {
    padding: 0.4rem 0.7rem !important;
    margin-bottom: 0 !important;
    background-color: #fff !important;
    border-bottom: none !important;
    height: 110px;
  }
  .card-title {
    font-size: inherit;
    font-weight: 600;
    font-size: 16px;
  }
  .card-body {
    padding: 0.75rem 0.75rem 0rem 0.75rem !important;
  }
  .card-img {
    height: auto;
  }
  p.card-text {
    background-color: #f7f7f7 !important;
    padding: 0.3rem;
    font-size: 14px;
    height: 120px;
    overflow-y: auto;
  }
  p.card-text::-webkit-scrollbar {
    display: none;
  }
  .card-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0rem;
    flex-direction: row;
    background-color: #fff !important;
    border: none !important;
  }
  .card-footer p {
    margin-bottom: 0px;
  }
  button.buy_now_btn {
    color: #fff;
    background: deeppink;
    padding: 5px 7px;
    border: none;
    border-radius: 3px;
    &:hover {
      text-decoration: none;
    }
  }
}
/*******************add to cart***********************/
.main_cart {
  background: #fff;
}
.card {
  border: none;
}
// .cart_product_img img {
//   min-width: 200px;
//   max-height: 200px;
// }
.product_name {
  color: black;
  font-size: 1 rem;
  text-transform: capitalize;
  font-weight: 500;
}
.delete_wish_item p {
  font-size: 0.8rem;
  margin-bottom: 0;
}
#item_val {
  font-size: 16px;
  font-weight: 600;
}
.set_quantity {
  position: relative;
}

.page-link {
  line-height: 16px;
  width: 45px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #495057;
}
.page-item input {
  line-height: 26px;
  padding: 3px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.page-link:hover {
  text-decoration: none;
  color: #495057;
  outline: none !important;
}
.page-link:focus {
  box-shadow: none;
}
.price_indiv p {
  font-size: 1.1rem;
}
.fa-heart:hover {
  color: red;
}
button.btn.btn_discount.text-uppercase {
  color: #fff;
  background: deeppink;
  padding: 5px 7px;
}
/********cart********/
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100000;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
}
.cart_top.d-flex.align-items-center.justify-content-between {
  background: #000;
  color: #fff;
  padding: 0px 10px;
  h2.py-4 {
    font-size: 16px;
  }
}
.sidebar a {
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
  &:hover {
    color: #f1f1f1;
  }
}
.sidebar .closebtn {
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}
.cart_total {
  background: #ededed;
  padding: 15px 25px;
}
.cart_amt.d-flex.align-items-center.justify-content-between {
  background: deeppink;
  padding: 10px;
  color: #fff;
  border-radius: 3px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
