.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--modal-backdrop-bg);
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-content {
    width: 500px;
    background-color: var(--color-grey);

    .modal-header,
    .modal-footer {
      padding: 10px;
      background-color: var(--color-white);
    }

    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      background-color: var(--color-dark);
      color: var(--color-white);

      .modal-title {
        margin: 0;
      }

      button {
        padding: 0;
      }
    }

    .modal-body {
      padding: 10px;
      border-top: 1px solid var(--color-grey);
      border-bottom: 1px solid var(--color-grey);
    }
  }
}
