.signup-container {
  max-width: 80%;
  margin: 0 auto;
  & .signup-content {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    &-left {
      flex: 0 0 30rem;
    }
    &-right {
      flex: 1 1 30rem;
    }
  }
}

form {
  & .input {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    padding-top: 1.5rem;
    & + .input {
      margin-top: 1.5rem;
    }
    &-label {
      color: #52575b;
      position: absolute;
      top: 1.5rem;
      transition: 0.25s ease;
    }
    &-field {
      border: 0;
      z-index: 1;
      background-color: transparent;
      border-bottom: 2px solid #eee;
      font-size: 1.125rem;
      padding: 0.25rem 0;
      &:focus,
      &:valid {
        outline: 0;
        border-bottom-color: #89d4d5;
        & + .input-label {
          color: $color-info;
          transform: translateY(-1.5rem);
        }
      }
    }
  }
  & .action-button {
    width: 100%;
    margin: 2rem 0 1rem 0;
    padding: 0.8rem;
    font-size: 1rem;
  }
}

//for mobiles and tablets
@media (max-width: 768px) {
  .signup-container {
    & .signup-content {
      flex-direction: column;
      &-left {
        flex: 0 0 0;
      }
      &-right {
        flex: 0 0 0;
      }
    }
  }
}
