.product-card {
  border-bottom: 1px dashed lightgrey;

  &__description {
    background-color: #eee;
    border-radius: 0.375rem;
  }

  &__img-container {
    height: 270px;
  }

  /* Tablet screens */
  @include tablet {
    &__content {
      flex-direction: row;
    }

    &__img-container {
      height: 170px;
    }
  }

  /* Mobile  screens */
  @include mobile {
    &__button--desktop {
      display: none;
    }

    &__button--mobile {
      display: block;
    }
  }
}
