<div class="row">
  <div class="col-md-3" *ngFor= "let product of products">
  <div class="card mb-4 shadow-sm">
    <h6>{{ product.name }}</h6>
    <img [src]="product.imageURL" class="product-image">
    <div class="card-body">
      <p class="product-desc">{{ product.description }}</p>
      <div class="item-info">  
        <small>MRP Rs. {{ product.price }}</small>
            <button type="button" class="item-btn"
            (click)="handleAddtoCart()">Buy Now</button> 
      </div>
    </div>
  </div>
</div>
</div>  