<app-header></app-header>
<div class="container" [formGroup]="registerForm">
  <label for="fName">
    First Name
    <input type="text" formControlName="fName" name="fName" />
  </label>
  <label for="lName">
    Last Name
    <input type="text" formControlName="lName" name="lName" />
  </label>
  <label for="email">
    Email
    <input type="text" formControlName="email" name="email" />
  </label>
  <label for="password">
    Password
    <input type="text" formControlName="password" name="password" />
  </label>
  <label for="cPassword">
    Confirm Password
    <input type="text" formControlName="confirmPassword" name="cPassword" />
  </label>

  <button type="submit" (click)="onSubmit()">Register</button>
</div>
