@import "../../../../common/variables";
@import "../../../../common/classes";

.item-count-price {
  display: flex;
  align-items: center;
  height: 40px;

  .item-count-section {
    margin-right: $small;

    button {
      @extend .primary-button;
      width: $medium;
      height: $medium;
      border-radius: 2px;
      margin: 0;
      padding: 0;
    }

    .item-count {
      margin: auto $small;
    }
  }
}
