/******************* footer *****************************/
@import '../../Styles/color-variable.scss';
@import '../../Styles/variable.scss';

.footer {
    width: 100%;
    min-height: $MEDIUM_HEIGHT;
    background-color: $LIGHT_GREY;
    font-size: $MEDIUM_FONT_SIZE;
    padding: $SMALL_PADDING;
    padding-left: $X_LARGE_PADDING;
}