.banner-component {
  display: flex;
  padding: 10px 0px;
  position: relative;
  align-items: center;
  box-shadow: 0 25px 31px -20px rgba(0, 0, 0, 0.22);

  &:last-child {
    box-shadow: none;
  }

  &:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .content {
    width: 70vw;
    margin: 15px;
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;

    .heading {
      display: block;
      font-weight: bold;
      font-size: 1.5rem;
    }
  }

  .image-container {
    img {
      width: calc(100%);
    }

    width: 30vw;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
  .banner-component {
    width: 100%;

    .content {
      width: 60%;
      margin: 15px;
    }

    .image-container {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .banner-component {
    width: 100%;
    margin: 1px auto;
    padding: 15px 0px;

    .image-container {
      width: 40%;
      margin-top: auto;
      margin-bottom: auto;
    }

    .content {
      width: 60%;
    }
  }
}

@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) {
  .banner-component {
    width: 100%;
  }
}