.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image {
  display: flex !important;
  justify-content: center !important;
  height: fit-content !important;
  margin-bottom: auto !important;
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 600px) {
}
