<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="cart.css">
    
</head>
<body>
    <article class="cart-wrapper">
        <div onclick="toggleCart()">Cart</div>
        <div class="disp-inline">sd</div>
        <section class="cart-container">
            
            <!-- Header -->
            <header class="main-header">
                <h6 class="disp-inline">My Cart&nbsp;<span class="cart-count">(0 items)</span></h6>
                <p class="pull-right cursor-pointer">&#10006;</p>
            </header>

            <!-- cart's Cards -->
            <section class="card-panel clearfix margin-top-10">
                    <section class="img pull-left">
                        <img src="../../../static/images/products/fruit-n-veg/apple.jpg" alt="Product image">
                    </section>
                    <section class="cart-values pull-left margin-left-20">
                        <header>
                            <h6>Apple Washington, Regular 4 pcs</h6>
                        </header>
                                <div class="minus disp-inline text-center">-</div>
                                <span class="value margin-left-20 margin-right-20">1</span>
                                <div class="plus margin-right-20 disp-inline text-center">+</div>
                            
                            <span class="price">X&nbsp;&nbsp;&nbsp;&nbsp;Rs.187</span>
                    </section>
                    <section class="total-price">
                        <p>Rs.187</p>
                    </section>
            </section>


            <!-- Offer section -->
            <section class="offer margin-top-10 clearfix">
                <figure class="pull-left"><img src="../../../static/images/lowest-price.png"></figure>
                <p class="disp-inline margin-left-20">You won't find it cheaper anywhere.</p>
            </section>
        </section>
        <section>sdsad sadsadsadsa sad asdasd asd sad sad sad sad sad sdsd asdasddas
                dsa sdfd sfs df dsf dsfdsfsdfsd fdsf fdsf dsf dsf dsf dsf ds fds fds fds fsd fds f dsf dsf dsf dsf ds fds fds f sf dsf sd fsdf sf 
            </section><section>sdsad sadsadsadsa sad asdasd asd sad sad sad sad sad sdsd asdasddas
                    dsa
                    sdsdsfddf dsfdsfdsfsdfsdfds fdsfdsfsdfsfsdfsdfsf
                </section><section>sdsad sadsadsadsa sad asdasd asd sad sad sad sad sad sdsd asdasddas
                        dsa
                        sdsdsfddf dsfdsfdsfsdfsdfds fdsfdsfsdfsfsdfsdfsf
                    </section><section>sdsad sadsadsadsa sad asdasd asd sad sad sad sad sad sdsd asdasddas
                            dsa
                            sdsdsfddf dsfdsfdsfsdfsdfds fdsfdsfsdfsfsdfsdfsf
                        </section><section>sdsad sadsadsadsa sad asdasd asd sad sad sad sad sad sdsd asdasddas
                                dsa
                                sdsdsfddf dsfdsfdsfsdfsdfds fdsfdsfsdfsfsdfsdfsf
                            </section><section>sdsad sadsadsadsa sad asdasd asd sad sad sad sad sad sdsd asdasddas
                                    dsa
                                    sdsdsfddf dsfdsfdsfsdfsdfds fdsfdsfsdfsfsdfsdfsf
                                </section><section>sdsad sadsadsadsa sad asdasd asd sad sad sad sad sad sdsd asdasddas
                                        dsa
                                        sdsdsfddf dsfdsfdsfsdfsdfds fdsfdsfsdfsfsdfsdfsf
                                    </section><section>sdsad sadsadsadsa sad asdasd asd sad sad sad sad sad sdsd asdasddas
                                            dsa
                                            sdsdsfddf dsfdsfdsfsdfsdfds fdsfdsfsdfsfsdfsdfsf
                                        </section><section>sdsad sadsadsadsa sad asdasd asd sad sad sad sad sad sdsd asdasddas
                                                dsa
                                                sdsdsfddf dsfdsfdsfsdfsdfds fdsfdsfsdfsfsdfsdfsf
                                            </section><section>sdsad sadsadsadsa sad asdasd asd sad sad sad sad sad sdsd asdasddas
                                                    dsa
                                                    sdsdsfddf dsfdsfdsfsdfsdfds fdsfdsfsdfsfsdfsdfsf
                                                </section><section>sdsad sadsadsadsa sad asdasd asd sad sad sad sad sad sdsd asdasddas
                                                        dsa
                                                        sdsdsfddf dsfdsfdsfsdfsdfds fdsfdsfsdfsfsdfsdfsf
                                                    </section><section>sdsad sadsadsadsa sad asdasd asd sad sad sad sad sad sdsd asdasddas
                                                            dsa
                                                            sdsdsfddf dsfdsfdsfsdfsdfds fdsfdsfsdfsfsdfsdfsf
                                                        </section><section>sdsad sadsadsadsa sad asdasd asd sad sad sad sad sad sdsd asdasddas
            dsa
            sdsdsfddf dsfdsfdsfsdfsdfds fdsfdsfsdfsfsdfsdfsf
        </section><section>sdsad sadsadsadsa sad asdasd asd sad sad sad sad sad sdsd asdasddas
                dsa
                sdsdsfddf dsfdsfdsfsdfsdfds fdsfdsfsdfsfsdfsdfsf
            </section><section>sdsad sadsadsadsa sad asdasd asd sad sad sad sad sad sdsd asdasddas
            dsa
            sdsdsfddf dsfdsfdsfsdfsdfds fdsfdsfsdfsfsdfsdfsf
        </section><section>sdsad sadsadsadsa sad asdasd asd sad sad sad sad sad sdsd asdasddas
            dsa
            sdsdsfddf dsfdsfdsfsdfsdfds fdsfdsfsdfsfsdfsdfsf
        </section><section>sdsad sadsadsadsa sad asdasd asd sad sad sad sad sad sdsd asdasddas
            dsa
            sdsdsfddf dsfdsfdsfsdfsdfds fdsfdsfsdfsfsdfsdfsf
        </section><section>sdsad sadsadsadsa sad asdasd asd sad sad sad sad sad sdsd asdasddas
                dsa
                sdsdsfddf dsfdsfdsfsdfsdfds fdsfdsfsdfsfsdfsdfsf
            </section><section>sdsad sadsadsadsa sad asdasd asd sad sad sad sad sad sdsd asdasddas
                    dsa
                    sdsdsfddf dsfdsfdsfsdfsdfds fdsfdsfsdfsfsdfsdfsf
                </section><section>sdsad sadsadsadsa sad asdasd asd sad sad sad sad sad sdsd asdasddas
            dsa
            sdsdsfddf dsfdsfdsfsdfsdfds fdsfdsfsdfsfsdfsdfsf
        </section><section>sdsad sadsadsadsa sad asdasd asd sad sad sad sad sad sdsd asdasddas
                dsa
                sdsdsfddf dsfdsfdsfsdfsdfds fdsfdsfsdfsfsdfsdfsf
            </section><section>sdsad sadsadsadsa sad asdasd asd sad sad sad sad sad sdsd asdasddas
                    dsa
                    sdsdsfddf dsfdsfdsfsdfsdfds fdsfdsfsdfsfsdfsdfsf
                </section><section>sdsad sadsadsadsa sad asdasd asd sad sad sad sad sad sdsd asdasddas
                        dsa
                        sdsdsfddf dsfdsfdsfsdfsdfds fdsfdsfsdfsfsdfsdfsf
                    </section><section>sdsad sadsadsadsa sad asdasd asd sad sad sad sad sad sdsd asdasddas
            dsa
            sdsdsfddf dsfdsfdsfsdfsdfds fdsfdsfsdfsfsdfsdfsf
        </section><section>sdsad sadsadsadsa sad asdasd asd sad sad sad sad sad sdsd asdasddas
                dsa
                sdsdsfddf dsfdsfdsfsdfsdfds fdsfdsfsdfsfsdfsdfsf
            </section><section>sdsad sadsadsadsa sad asdasd asd sad sad sad sad sad sdsd asdasddas
                    dsa
                    sdsdsfddf dsfdsfdsfsdfsdfds fdsfdsfsdfsfsdfsdfsf
                </section><section>sdsad sadsadsadsa sad asdasd asd sad sad sad sad sad sdsd asdasddas
            dsa
            sdsdsfddf dsfdsfdsfsdfsdfds fdsfdsfsdfsfsdfsdfsf
        </section><section>sdsad sadsadsadsa sad asdasd asd sad sad sad sad sad sdsd asdasddas
                dsa
                sdsdsfddf dsfdsfdsfsdfsdfds fdsfdsfsdfsfsdfsdfsf
            </section><section>sdsad sadsadsadsa sad asdasd asd sad sad sad sad sad sdsd asdasddas
                    dsa
                    sdsdsfddf dsfdsfdsfsdfsdfds fdsfdsfsdfsfsdfsdfsf
                </section>
    </article>
    <script src="cart.js"></script>
    
</body>
</html>