.no-item-text {
    text-align: center;
}
.cart-main-cont {
    position: absolute;
    display: none;
    right: 0;
    top: 65px;
    background: #efefef;
    z-index: 13;
    .cart-container {
        position: relative;
        height: 81.5vh;
        width: 35vw;
        .checkout {
            position: absolute;
            padding: 15px;
            left: 0;
            right: 0;
            bottom: 0;
        }
        .checkout-button {
            background: #d00256;
            border: none;
            width: 100%;
            color: #fff;
            font-size: 1rem;
            padding: 15px;
        }
        .checkout-heading {
            margin: 0px 0px 15px 0px;
            text-align: center;
        }
        .header-container {
            background: #000;
            display: flex;
            justify-content: space-between;
            padding: 0px 15px;
            .heading {
                color: #fff;
            }
        }
        .cart_list {
            list-style: none;
            padding: 0px;
            margin-left: 0px;
            max-height: 350px;
            overflow: auto;
            span {
                font-size: small;
            }
        }
        .cart_list-details {
            width: 100%;
        }
        .cart_list-item {
            background: #fff;
            display: flex;
            align-items: flex-start;
            margin-bottom: 10px;
        }
        .cart_list-item-total {
            font-size: 1rem;
            margin: 0px 15px 0px 0px;
            float: right;
        }
        .cart_list-price {
            font-size: 1rem;
            padding-left: 10px;
        }
        .cart_list-img {
            width: 80px;
            padding: 10px;
        }
        .cart_list-name {
            font-size: 1.1rem;
            font-weight: 600;
            margin: 10px 0px;
            text-align: left;
        }
    }
}
.btn-close {
    background-color: black;
    border: black;
    opacity: 1 !important;
    &:after {
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 40px;
        opacity: 1;
        content: '\d7';
        cursor: pointer;
    }
}
.btn-increment {
    background-color: #d00256;
    border: none;
    padding: 2px 5px 2px 5px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 0px 15px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
.btn-decrement {
    background-color: #d00256;
    border: none;
    padding: 2px 5px 2px 5px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 0px 15px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
}
