@import "../../styles/variables.scss";

.overlay {
  display: block;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 101;
  &.open {
    visibility: visible;
  }
  &.desktop {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.cart-container {
  background-color: rgba(238, 238, 238, 255);
  bottom: 0;
  box-shadow: 0 8px 6px -8px $color-primary-box-shadow-light inset;
  height: calc(100% - 80px);
  position: fixed;
  right: 12%;
  visibility: hidden;
  width: 38%;
  z-index: 102;
  &.open {
    visibility: visible;
  }
  &__header {
    align-items: center;
    background-color: $color-primary-black;
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 0 20px;
    span {
      color: $color-primary-text-light;
      font-size: 16px;
      font-weight: 700;
    }
    button {
      background-color: $color-primary-black;
      border: none;
      color: $color-primary-text-light;
      cursor: pointer;
      font-size: 25px;
      &:hover {
        filter: brightness(90%);
      }
    }
  }
  &__filledCartContainer {
    height: calc(100% - 130px);
    overflow: auto;
    &__lowestPriceContainer {
      background-color: $color-primary-white;
      display: flex;
      min-height: 45px;
      margin: 10px;
      padding: 0px 15px;
      &__image {
        max-width: 90px;
        padding: 5px;
        img {
          height: 100%;
          width: 100%;
        }
      }
      &__text {
        font-size: 14px;
        font-weight: 600;
        padding: 14px;
      }
    }
  }
  &__checkoutCartContainer {
    align-items: center;
    background-color: $color-primary-white;
    border-top: 1px solid $color-primary-border-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
    &__promoTextContainer {
      font-size: 13px;
      font-weight: 600;
      padding-bottom: 10px;
    }
    &__checkoutButtonContainer {
      width: 95%;
      .checkoutButton {
        display: flex;
        justify-content: space-between;
        transition: none;
        span {
          color: $color-primary-text-light;
        }
      }
    }
  }
  &__emptyCartContainer {
    height: calc(100% - 50px);
    &__textContainer {
      height: calc(100% - 50px);
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      span {
        &:first-child {
          font-size: 16px;
          font-weight: 700;
        }
        &:last-child {
          font-size: 12px;
          font-weight: 600;
        }
      }
    }
    &__buttonContainer {
      box-sizing: border-box;
      color: $color-primary-text-light;
      height: 50px;
      padding: 5px 10px;
      button {
        transition: none;
      }
    }
  }
}

@media (max-width: 480px) {
  .cart-container {
    height: calc(100% - 50px);
    right: 0;
    width: 100%;
    &__header {
      background-color: $color-primary-white;
      border: 1px solid $color-primary-border-light;
      box-shadow: 0 -8px 8px -8px $color-primary-box-shadow-light;
      margin-top: 20px;
      span {
        color: $color-primary-black;
      }
      button {
        background-color: $color-primary-white;
        color: $color-primary-text-dark;
      }
    }
    &__emptyCartContainer {
      height: calc(100% - 70px);
    }
    &__filledCartContainer {
      height: calc(100% - 150px);
    }
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .cart-container {
    right: 0;
    width: 100%;
    &__header {
      background-color: $color-primary-white;
      border: 1px solid $color-primary-border-light;
      box-shadow: 0 -8px 8px -8px $color-primary-box-shadow-light;
      margin-top: 20px;
      span {
        color: $color-primary-black;
      }
      button {
        background-color: $color-primary-white;
        color: $color-primary-text-dark;
      }
    }
    &__emptyCartContainer {
      height: calc(100% - 70px);
    }
    &__filledCartContainer {
      height: calc(100% - 150px);
    }
  }
}
