@import '../responsive-mixin';

.backdrop {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 50;
    display: none;

    @include responsive-md {
        top: 10rem;
        height: calc(100% - 10rem);
    }

    @include responsive-sm {
        top: 10rem;
        height: calc(100% - 10rem);
    }
}

.cart-container {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    width: 50%;
    background-color: #f1f3f5;

    @include responsive-md {
        width: 100%;
    }

    @include responsive-sm {
        width: 100%;
    }

    .cart-header {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 1rem;
        color: #fff;
        background-color: #000;

        .cart-header-text {
            font-size: 1.6rem;
            font-weight: bold;
        }

        .cart-items-count {
            font-size: 1.2rem;
        }

        .cart-close {
            margin-left: auto;
            cursor: pointer;

            .cart-close-icon {
                width: 24px;
                height: 24px;
            }
        }
    }

    .cart-body {
        padding: {
            top: 0.2rem;
            right: 1rem;
            bottom: 1rem;
            left: 1rem;
        };
        background-color: #fff;
        margin: {
            top: 1rem;
            bottom: 1rem
        };

        .cart-items {

            .cart-item {
                margin-top: 1rem;
                padding-bottom: 1rem;
                display: flex;
                gap: 1rem;
                border-bottom: 1px solid #0007;

                .item-img {
                    width: 4.8rem;
                    height: 4.8rem;
                }

                .item-info {
                    .item-title {

                    }

                    .item-actions {
                        margin-top: 1rem;
                        display: flex;
                        align-items: center;
                        gap: 1rem;

                        .decrease {
                            width: 2rem;
                            height: 2rem;
                            border-radius: 50%;
                            background-color: $primaryColor;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;

                            .decrease-icon {
                                width: 16px;
                                height: 16px;
                                border: none;
                                stroke: #fff;
                            }
                        }

                        .item-quantity {
                            font-size: 1.4rem;
                            border: none;
                        }

                        .increase {
                            @extend .decrease;

                            .increase-icon {
                                width: 16px;
                                height: 16px;
                                border: none;
                                stroke: #fff;
                            }
                        }

                        .multiply {
                            @extend .decrease;
                            background-color: transparent;
                            cursor: unset;

                            .multiply-icon {
                                width: 16px;
                                height: 16px;
                                border: none;
                            }
                        }

                        .item-price {
                            font-size: 1.2rem;
                            font-weight: 600;
                        }
                    }
                }

                .item-total-price {
                    margin-left: auto;
                    align-self: flex-end;
                    font-size: 1.4rem;
                    font-weight: bold;
                }
            }
        }

        .cart-empty {
            display: none;
            text-align: center;
        }
    }

    .cart-footer {
        width: 100%;
        background-color: #fff;
        box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.2);

        .promocode-text {
            text-align: center;
            font-size: 1.2rem;
            padding: 1rem;
        }

        .cart-submit-btn {
            display: flex;
            align-items: center;
            margin: 1rem;
            margin-top: 0;
            padding: 1rem;
            background-color: $primaryColor;
            color: #fff;
            border: none;
            border-radius: 0.25rem;
            width: -webkit-fill-available;
            cursor: pointer;

            .btn-text {
                margin-right: auto;
            }

            .cart-total-price {
                font-size: 1.4rem;
            }

            .right-icon {
                width: 16px;
                height: 16px;
                border: none;
                stroke: #fff;
            }

        }

        .cart-empty-btn {
            @extend .cart-submit-btn;
            display: none;
            margin-top: 1rem;
        }
    }
}