$break-mobile-small: 480px;              // 0px to 480px
$break-mobile-medium: 600px;             // 480px to 600px
$break-mobile-large: 767px;              // 600px to 767px
$break-tablet: 991px;                    // 767px to 991px
$break-medium: 1024px;                   // 991px to 1024px
