
$primary-color: #d10157;
$secondary-color: #ffffff;
$color-grey: #f0f0f0;
$color-dark: #2e2e2e;
$color-bg: #eeeeee;
$color-blue: #65dbe3;
$color-border-primary: #bb355526;
$color-border-secondary: #2e2e2e4a;
$color-black: #000000d9;
