@import "breakpoints";
@import "colors";

/* ------ Product Description Page ------- */

.product-listing {
  &__prod-filter {
    background-color: #f0f0f0;
    margin-top: 0px;
    position: relative;
    label {
      display: block;
      width: 100%;
      position: relative;
      top: 0;
      font-size: 120%;
      background: $primary-color;
      color: $secondary-color;
      padding: 15px 10px;
    }
    label:after {
      content: "";
      width: 14px;
      height: 14px;
      position: absolute;
      right: 15px;
      color: $secondary-color;
      border-left: 1px solid $secondary-color;
      border-bottom: 1px solid $secondary-color;
      transform: rotate(-45deg);
    }
  }
  &__prod-categories {
    display: none;
    padding-top: 20px;
    li {
      &:after {
        content: "";
        display: block;
        height: 1px;
        width: 100%;
        margin: 10px 0px;
        background-color: #2e2e2e29;
      }
    }
  }
  &__product-list {
    padding-top: 15px;
  }
  &__product-box {
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px dashed $color-grey;
    margin-bottom: 40px;
    p {
      background-color: $color-grey;
      padding: 15px 10px;
      height: 70%;
      display: -webkit-box;
      line-height: 1.4;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    h3 {
      padding: 0px;
      min-height: 55px;
      font-size: 140%;
    }
  }
  &__prod-image,
  &__prod-desc {
    padding: 0px;
    img {
      max-width: 90%;
    }
  }

  &__prod-pricing {
    // margin-top: 16px;
    span {
      position: relative;
      color: #fff;
      &:before {
        content: "@";
      }
    }
    a {
      display: block;
      width: 100%;
      text-align: center;
      margin-top: 10px;
    }
  }
}

#product-hamburger {
  display: none;
}

#product-hamburger:checked ~ .product-listing__prod-categories {
  display: block;
  box-shadow: 0px 0px 15px 1px $color-bg;
  padding-left: 10px;
}

/* ------- Responsive Screens -------- */

@media screen and (min-width: $break-mobile-medium) {
  .product-listing {
    &__product-box {
      h3 {
        font-size: 160%;
      }
      p {
        font-size: 120%;
      }
    }
  }
}
@media screen and (min-width: $break-mobile-large) {
  .product-listing {
    &__prod-filter {
      label {
        display: none;
      }
    }
    &__prod-categories {
      display: block;
    }
  }
}

@media screen and (max-width: $break-mobile-large) {
  .product-listing {
    &__prod-filter {
      padding: 0;
    }
  }
}

@media screen and (min-width: $break-tablet) {
  .product-listing {
    &__prod-pricing {
      margin-top: 15px;
      text-align: right;
      position: relative;
      span {
        font-size: 75%;
        position: absolute;
        left: 0;
        color: initial;
        font-size: 12px;
        top: 50%;
        &:before {
          content: "";
        }
      }
      a {
        padding: 7px 30px;
        display: inline-block;
        width: auto;
      }
    }
    &__product-box {
      p {
        height: 130px;
      }
      h3 {
        min-height: 80px;
      }
    }
    &__prod-categories li:after {
      width: 90%;
    }
  }
}
