.product__List {
  .product_filter {
    background-color: #eaeaea;
    padding-left: 10px;
    max-width: 300px;
    width: 100%;
    & > ul {
      display: block;
      li {
        display: block;
        border-bottom: 1px solid #d3d3d3;
        a {
          color: #747474;
          padding: 13px 0 13px 25px;
          font-weight: 400;
          display: block;
          &:hover {
            color: #000;
          }
        }
      }
    }
    input,
    label {
      display: none;
    }
  }

  .product_lists {
    width: calc(100% - 300px);
    padding-left: 10px;
    .prod_description {
      p {
        background-color: #f0f0f0;
        padding: 10px 8px 8px;
        margin: 15px 0;
      }
    }
    ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      li {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 24%;
        flex: 0 1 24%;
        margin-right: 1%;
        border-bottom: 1px dashed #ccc;
        padding-bottom: 10px;
        padding: 0 12px 10px;
        background-color: #fff;
        position: relative;
        margin-top: 35px;
        margin-bottom: 30px;
        &:after {
          content: "";
          position: absolute;
          right: -5px;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          width: 1px;
          height: 65%;
          -webkit-box-shadow: 0 5px 3px 2px #f9f9f9;
          box-shadow: 0 5px 3px 2px #f9f9f9;
          background-color: #f9f9f9;
          border-radius: 50% 50% / 20px 20px;
        }
        h4 {
          font-size: 19px;
          font-weight: 700;
          min-height: 45px;
        }
      }
    }
  }
}

.buy {
  padding: 10px 25px;
  font-size: 14px;
}

.buy_now {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: end;
  align-content: end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  a{
    &>span {
      font-size: 12px;
      position: absolute;
      color: #010101;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 0;
      cursor: default;
      pointer-events: none;
    }
  }
}

@media only screen and (max-width: 1199px) {
  .product__List {
    .product_filter {
      max-width: 225px;
    }
    .product_lists {
      width: calc(100% - 225px);
    }
  }
}


@media(min-width:1023px){

  .product__List {
    .product_lists {
      display: grid;
      height: 100%;
      .prod_description {
        p {
  
          overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            height: 5.7em;
        
        }
      }
      ul{
        li{
          &>div{
            display: grid;
            height: 100%;
            .prod_description {
              align-items: end;
              display: grid;
            }
            
          }
        }
      }
    }
  }
  
}



@media only screen and (max-width: 1023px) {
  .product__List {
    .product_lists {
      width: calc(100% - 195px);
      ul {
        li {
          -webkit-box-flex: 0;
          -ms-flex: 0 1 49%;
          flex: 0 1 49%;
          &:nth-child(even):after {
            display: none;
          }
          &:nth-child(even) {
            margin-right: 0;
          }
        }
      }
      .prod_description {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        p {
          margin: 0 0 15px 0;
        }
        .prod_img,
        p {
          width: 50%;
        }
        .buy_now {
          position: relative;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-line-pack: end;
          align-content: end;
          -webkit-box-pack: end;
          -ms-flex-pack: end;
          justify-content: flex-end;
          -ms-flex-item-align: baseline;
          align-self: baseline;
          display: block;
          width: 100%;
          a{
            span {
           
              color: #fff;
              cursor: pointer;
              pointer-events: inherit;
              -webkit-transform: none;
              -ms-transform: none;
              transform: none;
              top: 0;
             }
            &>span{
              position: relative;
              span{
                display: none;
              }
              &:before {
                content: "@";
              }
            }
  
          }
          .buy {
            display: block;
            text-align: center;
          }
        }
      }
    }
    .product_filter {
      max-width: 195px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .product__List {
    .product_filter {
      max-width: 100%;
      padding-left: 0;
      margin-top: 30px;
      margin-bottom: 30px;
      label {
        display: block;
        cursor: pointer;
        padding: 13px 15px;
        font-size: 17px;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          right: 18px;
          top: 12px;
          height: 14px;
          width: 14px;
          border-left: 2px solid #fff;
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
          border-bottom: 2px solid #fff;
        }
      }
      .dropdown-content {
        width: 100%;
        height: 0px;
        overflow: hidden;
        list-style-type: none;
        -webkit-transition: height 0.5s ease-out;
        -o-transition: height 0.5s ease-out;
        transition: height 0.5s ease-out;
      }
      input {
        &:checked {
          & ~ .dropdown-content {
            height: 235px;
            -webkit-transition: height 0.5s ease-in;
            -o-transition: height 0.5s ease-in;
            transition: height 0.5s ease-in;
          }
        }
      }
    }
    .product_lists {
      width: 100%;
      padding: 0px;
      & > ul {
        li {
          padding: 0 5px 10px;
          margin-top: 0;
          margin-bottom: 30px;
        }
      }
    }
    .flex_box {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  }
}

@media only screen and (max-width: 479px) {
  .buy {
    padding: 10px 8px;
  }
  .product__List {
    .product_lists {
      & > ul {
        li {
          -webkit-box-flex: 0;
          -ms-flex: 0 1 100%;
          flex: 0 1 100%;
          margin-right: 0;

          &:after {
            display: none;
          }
        }
      }
      .prod_description {
        display: block;
        .prod_img,
        p {
          display: inline-block;
          float: left;
        }
        .buy_now {
          position: relative;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-line-pack: end;
          align-content: end;
          -webkit-box-pack: end;
          -ms-flex-pack: end;
          justify-content: flex-end;
          -ms-flex-item-align: baseline;
          align-self: baseline;
          display: block;
          width: 50%;
          clear: both;
          float: right;
        }
      }
    }
  }
}
