.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.sideBar {
  position: fixed;
  left: 0;
  width: 50%;
  height: 100vh;
  z-index: 30;
  background-color: white;
  animation: slide-right 300ms ease-out forwards;
}

.cartModal {
  position: fixed;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  background-color: white;
  animation: slide-down 300ms ease-out forwards;
}

@media (min-width: 768px) {
  .cartModal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(-3rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-10rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
