<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img
        src="/assets/img/logo_2x.png"
        class="logo-image"
        alt="Sabka bazaar"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav nav-bar-left">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['home']"
            [routerLinkActive]="['active']"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['product']"
            [routerLinkActive]="['active']"
            >Product</a
          >
        </li>
      </ul>
    </div>
    <div class="end-container">
      <ul class="navbar-nav nav-bar-right">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['login']"
            [routerLinkActive]="['active']"
            >SignIn</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['register']"
            [routerLinkActive]="['active']"
            >Register</a
          >
        </li>
      </ul>
    </div>
    <div class="cart" (click)="openCart()">
      <img src="/assets/img/cart.svg" alt="cart" class="cart-logo" />
      <a data-target="#exampleModal"
        >{{ productsInCart.length >= 1 ? productsInCart.length : 0 }} items</a
      >
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

<div class="footer">
  CopyRight @ 2011-2018 Sabka Bazzar Grocery Supplies Pvt Ltd
</div>
