@import "../../assets/scss/color.scss";

nav {
  max-height: 20rem;
  width: auto;
  box-shadow: 0px 0px 2px 4px $grey;
  .navbar-brand {
    margin-left: 5rem;
    .logo-image {
      width: 150px;
      height: inherit;
    }
  }
  .nav-bar-left {
    margin-left: 15rem;
    display: -webkit-inline-box;
  }

  .nav-bar-right {
    margin-right: 5rem;
    margin-top:2%;
    .nav-item {
      margin: 0 1rem;
    }
  }

  .nav-item {
    cursor: pointer;
  }
}

.active {
  background-color: $mergenta;
  color: $grey;
}

.main-container {
  position: relative;
  .mid-container {
    position: absolute;
    right: 26rem;
    bottom: 0rem;
    top: 1rem;
    left: 5rem;
    .nav-link {
      font-size: 0.8rem;
      font-weight: 700;
      color: $black;
      margin-right: 1rem;
    }
  }
  .end-container {
    position: absolute;
    right: 4rem;
    bottom: 4rem;
    top: -1rem;
    .nav-link {
      font-size: 0.7rem;
      font-weight: 700;
      color: $black;
    }
  }

  .cart {
    position: absolute;
    background-color: $grey;
    width: 8rem;
    height: 4rem;
    right: 9rem;
    bottom: -7px;

    a {
      color: black;
      text-align: center;
    }
    .cart-logo {
      width: 2rem;
      height: inherit;
      color: $mergenta;
      margin-left: 1rem;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  nav {
    max-height: 20rem;
    width: auto;
    .nav-bar-right,
    .nav-bar-left {
      display: -webkit-inline-box;
      margin: 2% 1rem;
    }
    .navbar-brand {
      margin-left: 0;
      .logo-image {
        width: 70px;
        height: inherit;
      }
    }
  }

  .main-container {
    position: relative;
    .mid-container {
      right: 26rem;
      bottom: 0rem;
      top: 1rem;
      left: 5rem;
      .nav-link {
        font-size: 0.6rem;
        font-weight: 700;
        color: $black;
        margin-right: 0.8rem;
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  nav {
    .nav-bar-right,
    .nav-bar-left {
      display: -webkit-inline-box;
      margin: 1rem 0;
    }
    .nav-item {
      margin: 0 0.5rem;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .mid-conatiner {
    .nav-link {
      margin-right: 1rem;
    }
  }
}

@media only screen and (max-width: 992px) {
  nav {
    margin: 0;
    .navbar-brand {
      margin-left: 0;
    }
  }

  .main-container {
    .end-container,
    .mid-conatiner {
      position: relative;
      right: 0;
      bottom: 0;
      .nav-bar-right,
      .nav-bar-left {
        display: -webkit-inline-box;
        margin: 1rem 0;
      }
    }

    .mid-conatiner {
      .nav-link {
        margin-right: 1rem;
      }
    }

    .cart {
      height: 2rem;
      right: -2rem;

      a {
        font-size: 13px;
        padding-left: 8px;
      }
      .cart-logo {
        width: 1.5rem;
      }
    }
  }
}
