.LowpriceBanner {
	margin-top: 40px;
	width: 100%;
	height: 100px;
	background-color: white;
	padding: 5px;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 12px;
	text-align: center;
}

.LowpriceImg {
	margin-right: 10px;
	position: relative;
	height: 90%;
	width: 40%;
}
