.cart-icon{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    background-color: rgb(222, 241, 238);
    padding: 0.2em;
    height: 3rem;
    cursor: pointer;
    @media screen and (min-width: 720px) {
        height: 4.2rem;
        padding-right: 2em;
      }
}
.shopping-icon{
    width: 2em;
    fill: #D13E56;
    @media screen and (min-width: 720px) {
        width: 3em;
      }
}