.category-section{
    .category-desc{
        text-align: center;
        padding: 80px;
    }
    .category-img{
        padding:1em;
    }
    .card{
        border: none;
        box-shadow: rgb(0 0 0 / 10%) 0px 20px 25px -5px, rgb(0 0 0 / 4%) 0px 10px 10px -5px;
        margin: 5px 0;
    
    }
   
}
