.footer {
  background-color: $color-grey-light-1;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 100%;
  position: fixed;
  bottom: 0px;

  &__text {
    font-size: 1.2rem;
    text-transform: capitalize;
    color: $color-grey-dark;
  }
}
