$color-primary: #cf0154;
$color-grey-dark: #777;
$color-grey-light-1: #f7f7f7;
$color-white: #ffffff;
$color-black: #000;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-light-grey-2: #eee;
$color-grey-dark-3: #333;
$color-crimson-pink: #cf0154;
$color-grey-dark-2: #999;

//Font sizes
$default-font-size: 1.6rem;

//Default
$color-hero-is-dark: #282c34;
$color-nav-bar: #20232a;
$color-blue-highlight: #61dafb;
$navbar-height: 66px;

$theme-primary-body-bg-color: white;
$theme-secondary-body-bg-color: #353941;
$theme-secondary-code-bg-color: $color-nav-bar;
