section
    margin-top: 3px
    .row
        background: #eeeeee
        .siderbar
            width: 20%
            float: left
        .content
            padding: 20px 0
            width: 80%
            float: left
            background: white
