.homeWrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.slider-section {
  position: relative;
  &:after {
    width: 100%;
    margin: 0 auto;
    content: '';
    height: 12px;
    position: absolute;
    bottom: -12px;
    background: url(../images/underline.png) center bottom no-repeat;
  }
}

.product-info-list {
  ul {
    li {
      padding: 20px;
      position: relative;
      &:after {
        width: 100%;
        margin: 0 auto;
        content: '';
        height: 12px;
        position: absolute;
        bottom: -12px;
        background: url(../images/underline.png) center bottom no-repeat;
      }
      &:last-child::after {
        display: none;
      }
      .product-image {
        float: left;
        width: 30%;
        vertical-align: middle;
        img {
          width: 100%;
        }
      }
      .product-info {
        float: right;
        width: 70%;
        padding: 30px 20px;
        text-align: center;
        vertical-align: middle;
        span {
          display: block;
          font-size: 16px;
          color: #000;
          padding: 31px 0px;
        }
        .btn {
          display: inline-block;
          font-size: 16px;
          width: auto;
          padding: 10px 22px;
        }
      }
      &:nth-child(even) {
        .product-info {
          float: left;
        }
        .product-image {
          float: right;
        }
      }
    }
  }
}

.carousel {
  .thumbs-wrapper,
  .carousel-status {
    display: none;
  }
  .control-dots {
    .dot {
      background: #000;
      opacity: 0.5;
    }
  }
}
