
$SmallFontSize : 15px;
$MediumFontSize : 20px;
$FontSize : 18px;
$largeFontSize: 24px;

$gray : gray;
$black : #000;
$white : #fff;
$primaryColor: #eaeaea;
$secondaryColor: #797979;
$btnBgColor: #c03057;
$lightGreyColor: #eee;
$darkGreyColor: #565656;
$ivoryColor: #c7c7c7;
$lightIvoryColor: #fbfbfb;
$footerBgColor:#ccc;
$selectedColor : rgba(96, 96, 221, 0.897);
$overlayColor : rgba(0, 0, 0, 0.5);
$Fontfamily: 'Dosis';
$FontWeightSmall : 400;
$FontWeightMedium : 600;
$FontWeightLarge : 700;
$marginAuto : 0 auto;
$inputBottomBorder : #757575;
$labelColor : #999;
$focusableLabelColor : #4285f4;
$productTabBorder : #b9b9b9;
$productTabColor : #5d5d5d;
$productSelectedTab : #c03057;
$priceBarColor : #c5c1c1;