@import './../../sass/variables';

.product-card{
    position: relative;
    border-bottom: 2px solid $color-grey-medium;
    border-style: dotted;
    border-left: none;
    border-right: none;
    border-top: none;
}