<div *ngIf="item" class="item-wrapper mt-4 mb-3 h-100">
  <h5 class="heading">{{ item.name }}</h5>
  <div class="row pb-md-3 pb-lg-0">
    <img [src]="item.imageURL" [alt]="item.name" class="img-fluid col-6 col-lg-12">
    <div class="col-6 col-lg-12">
      <p class="description p-2">{{ item.description }}</p>
      <div class="d-flex justify-content-between align-items-center py-2 py-md-1 py-lg-2 price-wrapper">
        <p class="mb-0 d-none d-lg-block">MRP Rs. {{ item.price }}</p>
        <app-button content="Buy Now"
                    [isFullWidth]="true"
                    (buttonClick)="onClick()"
                    class="d-block d-md-none d-lg-block w-100"
                    [mobileContent]="'@ Rs ' + item.price"></app-button>
      </div>
    </div>
    <app-button content="Buy Now"
                (buttonClick)="onClick()"
                [isFullWidth]="true"
                class="d-none d-md-block d-lg-none col-12"
                [mobileContent]="'@ Rs ' + item.price"></app-button>
  </div>
</div>
