/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .login-reg-text {
    margin-left: 0;
    padding-left: 13rem !important;
    .title {
      font-size: 25px;
    }
    .title-description {
      font-size: 11px;
    }
  }
  Form {
    padding-right: 0;
  }

  .login-reg-form{
    margin-left:0 !important;
  }
}

@media only screen and (max-width: 767px) {
  .login-row {
    display: block;
    .login-reg-text {
      margin-left: 0;
      padding-left: 1rem !important;
      .title {
        font-size: 20px;
      }
      .title-description {
        font-size: 10px;
      }
    }
  }

  form {
    max-width: 100%;
  }

  .login-reg-form{
    margin-left:0 !important; 
  }
}
