<div class="register">
<div class="col-sm-6 heading-text">
<div class="heading-1">
<h1>Sign Up</h1>
<p>We don't share your personal details with anyone</p>
</div>
</div>

<div class="col-sm-6">
 <form action="">
  <p>
    <mat-form-field appearance="legacy">
      <mat-label class="name">First Name</mat-label>
      <input matInput placeholder="Placeholder">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="Placeholder">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Placeholder" type="email">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Placeholder" type="password">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Confirm Password</mat-label>
      <input matInput placeholder="Placeholder" type="password">
    </mat-form-field>
  </p>
</form> <br>

  <button type="button" class="new-btn btn btn-danger">Sign Up</button>
</div>

</div>




   