<div class="side-block">
  <div class="filter">
      <div class="row">
          <ul>
              <li><a class="baby" routerLink="/baby" routerLinkActive="active">Baby Care</a></li>
              <hr>
              <li><a class="bakery" routerLink="/bakery" routerLinkActive="active">Bakery Cakes & Dairy</a></li>
              <hr>
              <li><a class="beverages" routerLink="/beverages" routerLinkActive="active">Beverages</a></li>
              <hr>
              <li><a class="fruits" routerLink="/fruits" routerLinkActive="active">Fruits & Vegatable</a></li>
              <hr>
              <li><a class="beauty" routerLink="/beauty" routerLinkActive="active">Beauty & hygeine</a></li>
              <hr>
          </ul>
      </div>
    </div>
  </div>
  