.Navbar-Items {
    background: linear-gradient(90deg, #0076CE 0%, #0076CE 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: white;
    margin: 10px 0px;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
  }
  
  .Navbar-Logo {
    color: white;
    margin-left: 20px;
    cursor: pointer;
    justify-self: start;
  }
  .fa-react {
    margin-left: 0.5rem;
    font-size: 1.6rem;
  }
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin: 2rem;
  }
  
  .nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .nav-links:hover {
    background-color: white;
    border-bottom: white;
    cursor: pointer;
  
    border-radius: 4px;
    transition: all 0.2s ease-out;
  }
  