* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color_white;
    color: #000;
    font-family: $primary_font;
    font-weight: 300;
    font-size: 18px;
    text-rendering: optimizeLegibility;
}

.row {
    @include div-row;
}