.signup__container {
  display: flex;
  justify-content: space-around;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  max-width: 1024;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  .signup__container {
    flex-direction: column;
  }
}
.signup-container__article {
  flex: 4;
  display: flex;
  flex-direction: column;
  padding: 0 0rem;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .signup-container__article {
    padding-bottom: 3rem;
    padding-left: 1rem;
  }
}
.signup-container__form {
  flex: 5;
}
