<section class="cart">
  <div class="background"></div>
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-12 col-lg-6 p-0 cart-wrapper d-flex justify-content-between flex-column"
           [ngClass]="{'empty-cart': (cartProducts | async).length === 0}">
        <div class="cart-header d-flex justify-content-between p-3 mt-lg-0">
          <div class="heading">
            My Cart ({{ cartQuantity | async }}
            item<span *ngIf="(cartQuantity | async) > 1">s</span>)
          </div>
          <div class="close cursor-pointer" (click)="closeCart()">X</div>
        </div>
        <div class="cart-items d-flex flex-column"
             [ngClass]="{'justify-content-center align-items-center': (cartProducts | async).length === 0}">
          <p class="empty-cart-title" *ngIf="(cartProducts | async).length === 0">No items in cart</p>
          <p *ngIf="(cartProducts | async).length === 0">Your favourite items are just a click away</p>
          <app-cart-item *ngFor="let cartItem of cartProducts | async" [item]="cartItem"></app-cart-item>
        </div>
        <div class="cart-total mt-2 p-2">
          <div class="disclaimer text-center pb-2"
               *ngIf="(cartProducts | async).length > 0">Promo code can be applied on payment page</div>
          <button class="checkout d-flex px-3 py-2 w-100"
               [ngClass]="(cartProducts | async).length === 0 ? 'justify-content-center' : 'justify-content-between'"
               (click)="closeCart()">
            <div class="text" *ngIf="(cartProducts | async).length === 0">Start Shopping</div>
            <div class="text" *ngIf="(cartProducts | async).length > 0">Proceed to checkout</div>
            <div class="amount" *ngIf="(cartProducts | async).length > 0">Rs. {{ totalAmount | async }} <span class="pl-3">></span></div>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
