 <div class="overlay">
 	<div class="header">My Cart(1 item)</div>
 	<div class="row low-price">
 	<div class="low-price-row"><img src="/static/images/lowest-price.png"/><span class="anywhere">You won't find it cheaper anywhere</span></div>
 	</div>
 	<div class="footer">
 		 <p class="promo">Promo code can be applied on
            payment page</p>
            <button class="checkout-btn">Proceed to Checkout</button>
 	</div>
  </div>

