<header class="pageLogo">
    <section>
        <img src="../../static/images/logo.png">
    </section>
    <section class="displayMobile">
        <nav>
            <a aria-label="Go to Home Page" href="/">Home</a>
            <a aria-label="Go to Products Page" href="/productsPage">Products</a>
        </nav>
    </section>
    <section>
        <ul>
            <li class="displayMobile">
                <a aria-label="Go to Login Page" href="/login">Login</a>
                <a aria-label="New User Registration" href="/register">Register</a>
            </li>
            <li>
                <object aria-label="Go to Cart" type="image/svg+xml" data="../../static/images/cart.svg"
                    class="cartIcon"></object>
                <span> 0 items</span>
                {{!-- <img src="../../static/images/cart.svg"> --}}
            </li>
        </ul>
    </section>
</header>