<section>
        <div class="overlay">
            <div class="overlay_content">
                <header class="overlay_header">
                    <strong>My Cart</strong>(1 item)
                    <i class="fa fa-close" aria-hidden="true"></i>
                </header>
                <section class="mycart_section">
                    <div class="mycart_items">
                        <img src="/images/products/fruit-n-veg/apple.jpg" width="10%"/>
                        <div class="item_cal">
                            <strong>Fresho Kiwi - Green, 3 pcs</strong>
                            <div>
                                <span><i class="fa fa-minus" aria-hidden="true"></i></span>
                                <span>1</span>
                                <span><i class="fa fa-plus" aria-hidden="true"></i></span>
                                <span><i class="fa fa-times" aria-hidden="true"></i></span>
                                <span>Rs.187</span>
                                <span class="total_amt">Rs.187</span>
                            </div>                            
                        </div>
                    </div>
                    <div class="mycart-caption">
                        <img src="/images/lowest-price.png" width="30%"/>
                        <p>You won't find it cheaper anywhere</p>
                    </div>
                </section>
                <footer class="overlay_footer">
                    <p>Promo code can be applied on payment page</p>
                    <a class="btn" href="#">Proceed to Checkout<p>Rs187<i class="fa fa-angle-right" aria-hidden="true"></i></p></a>
                </footer>
            </div>            
        </div>
    </section>