// Variable Scss
$body-font: 'Dosis', sans-serif;
$title-font: normal 24px/1.5 $body-font, sans-serif;
$color-red: #d00255;
$box-shadow-bottom-only: 0 2px 1px 0 rgba(171, 163, 163, 0.2);

$color-black: #000;
$color-white: #fff;
$color-gray: #eee;
$color-hover: #50dae3;