$break-medium:768px;
.header-area {
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background: #ffffff;
    z-index: 1;
    border-bottom: 2px solid #e8e7e7;
    box-sizing: border-box;
    .header-center {
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        .header-left {
            img {
                width: 120px;
            }
        }
        .header-middle {
            display: none;
        }
        .header-right {
            .signup-details {
                display: none;
            }
            .cart-details {
                background: #e8e7e7;
                padding: 8px;
                cursor: pointer;
                .cart-img {
                    img {
                        width: 30px;
                        margin-top: 5px;
                    }
                }
                .number-of-items {
                    position: relative;
                    top: -9px;
                }
            }
        }
    }
}

@media screen and (min-width: $break-medium) {
    .header-area {
        height: 80px;
        .header-center {
            justify-content: baseline;
            .header-left {
                img {
                    width: 150px;
                }
            }
            .header-middle {
                display: block !important;
                min-width: 63%;
                ul {
                    list-style-type: none;
                    li {
                        float: left;
                        padding: 20px;
                        a {
                            text-decoration: none;
                            color: #808080;
                            font-weight: bold;
                        }
                    }
                }
            }
            .header-right {
                box-sizing: border-box;
                position: relative;
                bottom: 1px;
                .signup-details {
                    display: block !important;
                    padding: 5px 0px 5px 14px;
                    a {
                        font-size: 11px;
                        text-decoration: none;
                        color: #808080;
                        font-weight: bold;
                        padding: 6px;
                        text-align: right;
                        vertical-align: top;
                    }
                }
                .cart-details {}
            }
        }
    }
}