@import url('http://fonts.googleapis.com/css?family=Dosis:400,600,700');
@import './reset.scss';
@import './header';
@import './footer.scss';
@import './cart';
@import './home.scss';
@import './login.scss';
@import './product.scss';
body {
    font-family: Dosis;
}