.content-area {
    .login-text-details {
        display: none;
    }
    .login-form {
        padding: 40px;
        .mobile-view-title {
            margin-bottom: 40px;
        }
        .form-container {
            label {
                display: block;
                font-size: 11px;
                color: #888888;
                font-weight: bold;
                margin-bottom: 5px;
            }
            input {
                border-top: 0;
                border-left: 0;
                border-right: 0;
                font-size: 12px;
                margin-bottom: 20px;
                display: block;
                width: 100%;
                color: #888888;
            }
            button {
                display: block;
                width: 100%;
                background: #d10256;
                color: #f0f0f0;
                padding: 11px 10px;
                font-size: 12px;
                border: 0;
                margin-top: 30px;
            }
        }
    }
}

@media screen and (min-width: $break-medium) {
    .content-area {
        display: flex;
        max-width: 1170px;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        margin-bottom: 34px;
        .login-text-details {
            display: block;
            padding: 40px;
            width: 30%;
        }
        .login-form {
            width: 25%;
            .mobile-view-title {
                display: none;
            }
        }
    }
}