@import 'src/assets/scss/variables.scss';

// Padding
.p-0 {
  padding: 0!important;
}

.p-2 {
  padding: .5rem!important;
}

.p-3 {
  padding: 1rem!important;
}

.pl-0, .px-0 {
  padding-left: 0!important;
}

.pr-0, .px-0 {
  padding-right: 0!important;
}

.px-1 {
  padding-left: 0.25rem!important;
}

.px-1 {
  padding-right: 0.25rem!important;
}

.pt-2, .py-2 {
  padding-top: .5rem!important;
}

.pb-2, .py-2 {
  padding-bottom: .5rem!important;
}

.pl-2, .px-2 {
  padding-left: .5rem!important;
}

.pr-2, .px-2 {
  padding-right: .5rem!important;
}

.px-3 {
  padding-left: 1rem!important;
}

.px-3 {
  padding-right: 1rem!important;
}

.py-4 {
  padding-top: 1.5rem!important;
}

.py-4 {
  padding-bottom: 1.5rem!important;
}

.pl-5 {
  padding-left: 3rem!important;
}

.pr-5 {
  padding-right: 3rem!important;
}

@media only screen and (min-width: $breakpoint-tablet) {
  .py-md-1 {
    padding-bottom: .25rem!important;
  }

  .py-md-1 {
    padding-top: .25rem!important;
  }

  .pr-md-3 {
    padding-right: 1rem!important;
  }

  .pb-md-3 {
    padding-bottom: 1rem!important;
  }
}

@media only screen and (min-width: $breakpoint-laptop) {
  .pb-lg-0 {
    padding-bottom: 0!important;
  }

  .py-lg-2 {
    padding-bottom: .5rem!important;
  }

  .py-lg-2 {
    padding-top: .5rem!important;
  }
}

// Margin
.m-0 {
  margin: 0;
}

.mb-0 {
  margin-bottom: 0!important;
}

.mb-3 {
  margin-bottom: 1rem!important;
}

.mt-3 {
  margin-top: 1rem!important;
}

.mt-4 {
  margin-top: 1.5rem!important;
}

@media only screen and (min-width: $breakpoint-tablet) {
  .mt-md-2 {
    margin-top: .5rem!important;
  }
}

