$accent: rgba(209, 1, 87, 1);
$accent_onclick: rgb(150, 2, 64);
$grey: rgba(238, 238, 238, 0.867);
$dark-grey: rgba(238, 238, 238, 1);
$darker-grey: rgb(107, 107, 107);
$white: #fff;
$highlight-color: #01d1c9;
$placeholder-padding: 8px;
$placeholder-font-size: 16px;
$placeholder-font-size-small: 14px;
$placeholder-transition: 200ms ease-in-out;
$input-font-size: 16px;
$input-top: 15px;
$input-height: 35px;
$input-border-color: $dark-grey;
$breakpoint-tablet-potrait: 1024px;
$breakpoint-phone: 768px;
$breakpoint-small-phone: 600px;
$breakpoint-smaller-phone: 480px;