header {
  height: 13vh;
  padding: 0 20px;
  -webkit-box-shadow: 0px 2px 15px 0px grey;
  box-shadow: 0px 2px 15px 0px grey;
}

.header-row {
  height: 100%;
}

.header-nav-column {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.app-logo {
  height: 75%;
  width: auto;
  // margin: 10px 0;
}

.header-cart-column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* -- Login Nav -- */
.login-nav {
  &-link:link,
  &-link:visited {
    text-decoration: none;
    font-size: 60%;
    font-weight: 400;
    margin-left: 25px;
  }

  &-link:hover,
  &-link:active {
    color: #67c2e2;
  }
}

.cart-box {
  width: 20%;
  height: 50%;
  background: #e2e2e2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  img {
    width: 20px;
    height: auto;
    // font-size: 100%;
  }

  span {
    font-size: 80%;
    margin-left: 5px;
  }
}
