@import "../../../assets/colors.scss";

.InputFormElement {
  display: flex;
  flex-direction: column;
  label {
    color: $LightSeaGreen;
    font-size: 15px;
  }
  margin: 20px 0;
  input {
    border: 0;
    border-bottom: solid 2px black;
    &:focus {
      outline: none;
      padding: 8px 0;
      border-bottom: solid 2px $LightSeaGreen;
    }
  }
}
