.Container{
display: flex;
  width: 100%;

}
.ErrorContainer{
    position: absolute;
   
}
.PrimaryContainer{
  margin-left: 18%;
    h1{
        font-weight: bolder;
        font-size: 2.3rem;
        margin: 0;
    }
    p{
        font-weight: 800;
        min-width: 370px;
    }
}
.SecondaryContainer{
    width: 50%;
    margin-left: 1.2rem;
    
}
.Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}
.InputContainer{
    position: relative;
    width: 50%;
    margin-bottom: 1rem;
}
.Input{
    width: 100%;
    min-width: 300px;
    height: 5vh;
    border: none;
    outline: none;
    border-bottom: 2px solid #c1c1c1;
    padding: 10px 0px 5px;
    transition: all 0.3s;
    color: #636262;
    &::placeholder {
      color: transparent;
    }
}
.Label{
    position: absolute;
  left: 0px;
  transition: all 0.3s;
  top: 50%;
  transform: translateY(-30%);
  cursor: text;
  color: #b4b4b4;
  font-weight: 500;
}

.Input:focus + Label,
.Input:not(:placeholder-shown) + Label {
  top: 0;
  left: 0;
  transform: translateY(-30%);
  color: #8fd7dc;
  font-size: 85.7%;
  cursor: default;
}

.Input:focus,
.Input:not(:placeholder-shown) {
  border-bottom: 2px solid #8fd7dc;
}

.Button{
    background-color: #d00155;
  border: none;
  color: white;
  font-size: 1.3rem;
  padding: 0.3rem;
  width: 100%;
  height: 5vh;
}
@media (max-width: 961px) {
    .Container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 10%;
    }
    .PrimaryContainer{
        margin-left: 0;
    }
    .SecondaryContainer{
        width: 62%;
    }
    .InputContainer{
        width: 100%;
    }
}

@media (max-width: 600px) {
    .SecondaryContainer{
        width: 100%;
    }
    .InputContainer{
        width: 100%;
    }
    .Container{
        margin-left: 0;
    }
    .PrimaryContainer{
        margin-left: 30%;
    }
}

