.carousel .carousel-status {
    display:none;
}

.carousel .thumbs-wrapper{
    display: none;
}

.carousel .control-next.control-arrow:before{
    border-left: 8px solid grey
    
}

.carousel .control-prev.control-arrow:before{
    border-right: 8px solid grey
}

.carousel .control-next.control-arrow:hover,.carousel .control-prev.control-arrow:hover{
transition: none;
opacity: 1;
background: rgba(0,0,0,0.0);
}

/* @media only screen and(max-width:600px){
   div.thumbs-wrapper.axis-vertical button.control-next {
        display:none ;
    }
} */