<div id="myModal" class="modal" [attr.data-show]="showModal">
  <!-- Modal content -->
  <div class="modal-content">
    <button type="button" (click)="onClose()" aria-label="close cart" click class="close">&times;</button>
    <p>Some text in the Modal..</p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id enim dignissimos cupiditate tempora. Impedit distinctio
    suscipit rerum blanditiis, nulla perferendis aperiam expedita nisi enim tenetur nihil incidunt sapiente consectetur.
    Repellendus?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia officiis ut omnis cupiditate accusantium assumenda
    ipsa aut soluta et labore veritatis mollitia asperiores non, maiores quas inventore doloribus dolorem similique?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam non maiores optio, nesciunt exercitationem obcaecati
    corrupti quaerat, provident possimus quae, deleniti ratione dolorem omnis itaque nostrum ex nihil libero hic.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi quae rerum placeat nam tenetur optio voluptatum
    quibusdam obcaecati cupiditate sit atque nulla illum fugit eligendi repellat recusandae, perferendis dignissimos
    quo.
  </div>
</div>
