.form-control {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid $color-black;
}

.custom-group {
    position: relative;
    margin-top: 15px;
    margin-bottom: 25px;
    .floating-label {
        color: $color-white;
        font-size: 16px;
        position: absolute;
        pointer-events: none;
        top: 9px;
        left: 12px;
        transition: all 0.1s ease;
    }

    input:focus ~ .floating-label,
    input:not(:focus):valid ~ .floating-label {
        top: -15px;
        bottom: 0px;
        left: 0px;
        font-size: 16px;
        opacity: 1;
        color: $color-blue;
        border: none;
    }

    input.form-control:focus {
        box-shadow: inset 0 -1px 0 #ddd;
        border-bottom: 2px solid $color-blue;
    }
}