<div class="sign-in">
<div class="col-sm-6 heading-text">
    <div class="heading-1">
    <h1>Login</h1>
    <p>Get access to your Orders, Wishlists and Recommendations </p>
    </div>
    </div>
    
    <div class="col-sm-6">
     <form action="">
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Placeholder" type="email">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Placeholder" type="password">
        </mat-form-field>
      </p>
    </form> <br>
    
      <button type="button" class="new-btn btn btn-danger">Login</button>
    </div>
  </div>
   
    
    
       