.registerContainer{
display: flex;
justify-content: center;
gap: 6rem;
margin: 4rem 0;
.registerContainer_Body{
display: flex;
flex-direction: column;
justify-content: center;
.registerContainer_Header{
    font-size:2rem;
    font-weight:700;
    margin-bottom: 1rem;
}
.registerContainer_subHeader{
    font-size:1rem;
    font-weight:500;
}
.registerError{
    color:red !important;
    margin-top:1rem;
}
}

.registerFormContainer{
    flex-basis: 24%;
    &_Form{
    display: flex;
    flex-direction: column;
    button{
        height: 40px;
        background-color: rgba(191,41,87,255);
        color: white;
        border: 0;
     }

    & button:last-child{
         margin-top:1rem;
        }
    }
}

}

@media only screen and (max-width: 600px){
    .registerContainer {
        display: block;
        margin: 4rem 4rem; 
    }  
}