<!doctype html>

<html>
    {{!-- <link href="/main.css" rel="stylesheet" /> --}}

    <head>

    </head>

    <body>

        {{> header}}
        {{{body}}}
        {{> footer}}

    </body>

</html>