body{
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins";
}
.navOptions{
    display: flex;
    width: 40%;
    /* text-align: center; */
    justify-content: center;
    align-items: flex-end;
}
.cartIcon{
    
    background-color: #bbbbbbad;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    
   

}
.text{
 display: flex;
 justify-content: flex-end;
 font-size: 0.7rem;
}

.cartLogoContainer span{
    padding: 5px;
    text-align: right;
}
.cartIcon div{
   display: flex;
   align-items: center;
}







.cartLogoContainer{
    display: flex;
    width: 140px;
    flex-direction: column;
    justify-content: space-between;
}
.navOptions>span{
   padding: 10px;
}

.logo img{
    width: 185px;
    margin: 10px;
}

.header{
position: sticky;
top: 0;
left: 0;
height: 100px;
background-color: white;
border-bottom: rgb(180, 180, 180) 0.5px solid;
display: flex;


}
.header>div{
    width: 50%;
    display: flex;
    justify-content: center;
}

@media (max-width: 690px){
    
    .navOptions{
        display: none;

    }
    .text{
        display: none;
    }
    .cartIcon{
        height: 100%;
    }

}