.App {
  text-align: center;
}
.box-shaddow-bottom{
  box-shadow: 0 6px 4px -4px rgb(212, 212, 212);
}
.bg-grey{
  background-color: rgb(212, 212, 212);
}

.header-link{
  text-decoration: none;
  color:grey;
}