@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@import "./styles/mixins.scss";

body {
  font-family: "Dosis", sans-serif !important;
  font-size: 1rem !important;
  figure,
  p,
  h3 {
    margin: 0;
  }

  .root {
    background: #f4f4f4;

    a {
      color: black;
      text-decoration: none;
    }

    button {
      font-family: "Dosis", sans-serif !important;
    }

    .slick-arrow {
      display: none !important;
    }

    .slick-prev {
      left: 0.25rem;
      &:before {
        color: black;
        font-size: 1.5rem;
      }
    }

    .slick-next {
      right: 0.25rem;
      &:before {
        color: black;
        font-size: 1.5rem;
      }
    }

    footer {
      text-align: center;
      padding: 0.5rem 0.25rem;
    }

    @include onDesktop() {
      .main-container {
        width: 80%;
        margin: 0 auto;
      }
    }

    @include onTab() {
      .main-container {
       width: 100%;
       margin: 0;
      }
    }


  }
}
