@import "./Assets/style/basestyle.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
}
body {
  height: 100vh;
  .root {
    height: 100%;
  }
}
.max-height-100 {
  max-height: 100%;
}
.height-100-perc {
  height: 100%;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pad-t-b-10 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
.shadow {
  box-shadow: 0px 15px 10px -15px #111;
}
.row-reverse {
  flex-direction: row-reverse;
}
.shadow-test {
  position: relative;
  width: 50%;
  width: 50%;
  z-index: 2;
}
.shadow-test .container {
  // box-shadow: 0 10px 6px -6px #777;
  // box-shadow: 0px 15px 10px -15px #111;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #4ac4ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid #fff;
  color: #fff;
  font-size: 3rem;
  z-index: 2;
}
.shadow-test:before {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 2%;
  width: 48%;
  top: 52%;
  height: 50%;
  z-index: 1;
  transform-origin: right;
  transform: skewY(1deg);
  max-width: 70%;
  background: #aba2a2;
  filter: blur(5px);
  // opacity: 0.5;
  margin: 0 auto;
}

.shadow-test:after {
  content: "";
  position: absolute;
  bottom: 20px;
  right: 2%;
  width: 48%;
  top: 52%;
  height: 50%;
  z-index: 1;
  transform-origin: left;
  transform: skewY(-1deg);
  max-width: 70%;
  background: #aba2a2;
  filter: blur(5px);
  // opacity: 0.5;
  margin: 0 auto;
}
.mar-top-20 {
  margin-top: 1.25rem;
}
.err-msg {
  color: red;
}
.main-container-body {
  height: $main-content-height;
  overflow-y: auto;
  overflow-x: hidden;
}

@media only screen and (max-width: 1024px) {
  body {
    font-size: 18px !important;
  }
}

@media only screen and (max-width: 425px) {
  body {
    font-size: 20px !important;
  }
}

.shadow-custom {
  position: relative;
}
.shadow-custom::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 10px;
  width: 50%;
  z-index: 2;
  filter: blur(5px);
  background-image: linear-gradient(to right, #fff 30%, #313131);
}
.shadow-custom::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  height: 10px;
  width: 50%;
  z-index: 2;
  filter: blur(5px);
  background-image: linear-gradient(to left, #fff 30%, #313131);
}
.shadow1 {
  position: relative;
}
.shadow1::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 3px;
  width: 50%;
  z-index: 2;
  filter: blur(2px);
  // background-image: linear-gradient(to right, #fff 40%, #000);
  background-image: linear-gradient(to right, #fff 30%, rgb(43, 43, 43));
}
.shadow1::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  height: 3px;
  width: 50%;
  z-index: 2;
  filter: blur(2px);
  // background-image: linear-gradient(to left, #fff 40%, #000);
  background-image: linear-gradient(to left, #fff 30%, rgb(43, 43, 43));
}
