// *********** color variables ***********
$whiteColor: #ffffff;
$primaryColor: #bf2957;
$errorColor: #ff0000;

// *********** media query variables ***********
$tablet: "(max-width: 768px)";
$phoneL: "(max-width: 475px)";
$phoneS: "(max-width: 425px)";
