@import '../../../scss-variables/vairables.scss';

.cart_header {
  display: flex;
}
.cart_contents-table {
  width: 100%;
}
.cart-btn {
  background-color:$pink-color;
  border: none;
  padding: 0.1rem 0.5rem;
  color: $white-color;
}
.checkout_btn {
  background-color:$pink-color;
  border: none;
  padding: 1rem;
  color: $white-color;
  width:$stand-width;
}
.cart-main-cont {
  position: absolute;
  display: none;
  right: 0;
  top: 65px;
  background: $secondary-color;
  z-index: 3;
}
.cart-main-cont .cart-wrapper {
  position: relative;
  height: 81.5vh;
  width: 35vw;
}
.cart-main-cont .cart-wrapper .checkout {
  position: absolute;
  padding: 15px;
  left: 0;
  right: 0;
  bottom: 0;
  background: $white-color;
}
.cart-main-cont .cart-wrapper .checkout-button {
  background: $pink-color;
  border: none;
  width:$stand-width;
  color: $white-color;
  font-size: $primary-font-size;
  padding: 15px;
}
.cart-main-cont .cart-wrapper .checkout-heading {
  margin: 0px 0px 15px 0px;
  text-align: center;
}
.cart-main-cont .cart-wrapper .header-container {
  background: $black-color;
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
}
.cart-main-cont .cart-wrapper .header-container .heading {
  color: $white-color;
}
.cart-main-cont .cart-wrapper .cart_list {
  list-style: none;
  padding: 0px;
  margin-left: 0px;
  max-height: 62vh;
  overflow: auto;
}
.cart-main-cont .cart-wrapper .cart_list-details {
  width:$stand-width;
}
.btn-close {
  background-color: $black-color;
  border: $black-color;
}

.btn-close:after {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: $white-color;
  font-size: 50px;
  content: "\d7";
  top: 30px;
  right: 30px;
  margin-top: -2px;
  cursor: pointer;
}
.btn-increment,
.btn-decrement {
  background-color: $pink-color;
  border: none;
  padding: 0px 9px 4px 9px;
  border-radius: 50%;
  margin: 0px 15px;
  font-size: 1.2rem;
  font-weight: bold;
  color: $white-color;
}
.cart-main-cont .cart-wrapper .cart_list-item {
  background: $white-color;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}
.cart-main-cont .cart-wrapper .cart_list-item-total {
  font-size: $primary-font-size;
  margin: 0px 15px 0px 0px;
  float: right;
}
.cart-main-cont .cart-wrapper .cart_list .quantity,
.cart-main-cont .cart-wrapper .cart_list-price {
  font-size: $primary-font-size;
}
.cart-main-cont .cart-wrapper .cart_list-price {
  padding-left: 10px;
}
.cart-main-cont .cart-wrapper .cart_list-img {
  width: 80px;
  padding: 10px;
}
.cart-main-cont .cart-wrapper .cart_list-name {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 10px 0px;
  text-align: left;
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
  .cart-main-cont {
    position: fixed;
  }
  .cart-main-cont .cart-wrapper {
    width: 100vw;
    height: 95vh;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .cart-main-cont {
    position: fixed;
    display: none;
    right: 0;
    top: 10vh;
    bottom: 0;
    left: 0;
    background: $secondary-color;
    z-index: 3;
  }
  .cart-main-cont .cart-wrapper {
    position: relative;
    width: 100vw;
    height: 90vh;
  }
  .cart-main-cont .cart-wrapper .checkout {
    position: absolute;
    padding: 15px;
    left: 0;
    right: 0;
    bottom: 0;
    background: $white-color;
  }
  .cart-main-cont .cart-wrapper .checkout-button {
    background: $pink-color;
    border: none;
    width: 100%;
    color: $white-color;
    font-size: $primary-font-size;
    padding: 15px;
  }
  .cart-main-cont .cart-wrapper .checkout-heading {
    margin: 0px 0px 15px 0px;
    text-align: center;
    font-size: $primary-font-size;
  }
  .cart-main-cont .cart-wrapper .header-container {
    background: $black-color;
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
  }
  .cart-main-cont .cart-wrapper .header-container .heading {
    color: $white-color;
    font-size: 1.6rem;
  }
  .cart-main-cont .cart-wrapper .cart_list {
    max-height: 71vh;
    overflow: auto;
  }
  .cart-main-cont .cart-wrapper .cart_list-item {
    background: $white-color;
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  .cart-main-cont .cart-wrapper .cart_list-item-total {
    font-size: $primary-font-size;
  }
  .cart-main-cont .cart-wrapper .cart_list .quantity,
  .cart-main-cont .cart-wrapper .cart_list-price {
    font-size: $primary-font-size;
    padding: 0px 15px;
  }
  .cart-main-cont .cart-wrapper .cart_list .into-qty {
    font-size: $primary-font-size;
    padding: 0px 5px;
  }
  .cart-main-cont .cart-wrapper .cart_list-price {
    padding-left: 10px;
  }
  .cart-main-cont .cart-wrapper .cart_list-img {
    padding: 10px;
  }
  .cart-main-cont .cart-wrapper .cart_list-name {
    font-size: $primary-font-size;
    font-weight: 600;
    margin: 10px 0px;
    text-align: left;
    display: block;
  }
}