<header>
    <nav>
        <div class="row-header">
            <img src="images/logo.png" alt="Shopping logo" class="logo_img">
            <div class="main-nav">
                <ul class="header-nav">
                    <li>
                        <a class="active" href="index.html">Home
                        </a>
                    </li>
                    <li>
                        <a href="plp.html" class="hide">Product
                        </a>
                    </li>
                </ul>
            </div>
            <div class="super-header">
                <ul class="header-nav">
                    <li>
                        <a href="login.html">SignIn
                        </a>
                    </li>
                    <li>
                        <a href="register.html">Register
                        </a>
                    </li>
                </ul>
                <span class="cart-section">
                    <!--<a href="cartdesktop.html"><img src="images/cart.svg" alt="cart" class="img"></a> -->
                    <img src="images/cart.svg" id="cart-img-id" alt="cart"
                        class="img">
                    <p class="hide">0 items
                    </p>
                    <button class="show
                        w3-button w3-teal w3-xlarge" id="mobile-menu-open">☰
                    </button>
                </span>
            </div>
        </div>
    </nav>
</header>
<div class="mobile_menu">
    <div class="w3-sidebar w3-bar-block w3-border-right" style="display:none"
        id="sidebar-menu">
        <a href="index.html" class="w3-bar-item">Home
            <span id="mobile-menu-close" style="float: right;">
                &times;
            </span>
        </a>
        <a href="plp.html" class="w3-bar-item">Product
        </a>
        <a href="login.html" class="w3-bar-item">SignIn
        </a>
        <a href="register.html" class="w3-bar-item">Register
        </a>
    </div>
</div>