@import "/client/components/styles/mq-mixin";

.home_container {
  > div:first-child {
    box-shadow: 0px 10px 11px -12px #c1c1c1;
    margin-bottom: 20px;
    padding: 20px 0px;
  }

  .explore {
    margin: 10px;
  }
}

.gradient_shadow {
  height: 20px;
  background-image: linear-gradient(
      to right,
      #ffffff,
      #ffffff,
      #ffffff,
      #bcbcbc,
      #bcbcbc,
      #bcbcbc,
      #bcbcbc,
      #ffffff,
      #ffffff,
      #ffffff
    ),
    linear-gradient(to bottom, #b7b7b7, #c9c9c9, #ffffff, #ffffff, #ffffff);
}
