.flex {
    @include flex;
}

.flex-row {
    @include flex-row;
}

.flex-column {
    @include flex-column;
}

.flex-row-reverse {
    @include flex;
    flex: 1;
    flex-direction: row-reverse;
}

.flex-column-reverse {
    @include flex;
    flex: 1;
    flex-direction: column-reverse;
}

main.cart {
    @extend .flex-column;
    background: #eeeeee;
    padding: 33px 0px;
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
    .cart-header {
        @extend .flex-column;
        background: $color_black;
        padding: 10px;
        &__text {
            color: $color_white;
        }
    }
}

.cart-item {
    @extend .flex-row;
    margin-top: 10px;
    background: $color_white;
    &__logo {
        width: 20%;
        height: 20%;
    }
}

.cart-item-detail {
    @extend .flex-column;
    &__heading {
        font-size: 1.5rem;
        padding: 15px;
    }
    &__info {
        @extend .flex-row;
        font-size: 1rem;
        align-items: center;
        &--count {
            @extend .flex-row;
        }
        &--remove,
        &--add {
            margin-right: 25px;
            margin-left: 25px;
            height: 25px;
            width: 25px;
            background: $color_red;
            text-align: center;
            color: $color_white;
            border-radius: 100%;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            font-weight: bold;
            text-decoration: none;
            font-family: sans-serif;
        }
        &--total {
            margin-right: 50px;
        }
    }
}

.cart__content__price {
    margin-top: 16px;
    width: 100%;
    padding: 12px;
    display: flex;
    align-items: center;
    background: $color_white;
}

.button-small-checkout {
    border: $color_red;
    font-size: 100%;
    padding: 10px;
    background: $color_red;
    color: $color_white;
    width: 100%;
    text-align: left;
}

.button-price {
    float: right;
}

.checkout-box {
    margin-top: 16px;
    width: 100%;
    padding: 12px;
    background: $color_white;
    .checkout-text {
        text-align: center;
    }
}

.cart-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $color_black;
    background-color: rgba($color_black, 0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
    &-content {
        bottom: 0;
        background-color: #fefefe;
        -webkit-animation-name: slideIn;
        -webkit-animation-duration: 0.4s;
        animation-name: slideIn;
        animation-duration: 0.4s;
        margin-top: 8%;
        margin-bottom: 8%;
        margin-left: 35%;
        margin-right: 35%;
        border: 1px solid $color_black;
    }
    &-header {
        padding: 2px 16px;
        background-color: $color_black;
        color: $color_white;
        height: 60px;
        font-family: $primary_font;
        .close {
            color: $color_white;
            float: right;
            font-size: 28px;
            font-weight: bold;
            &:hover,
            &:focus {
                color: $color_black;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
    &-body {
        padding: 2px 16px;
        height: 321px;
        text-align: center;
        margin-top: 24%;
        font-family: $primary_font;
    }
    &-footer {
        padding: 2px 16px;
        &-text {
            background: $color_white;
            padding: 5px;
            width: 100%;
            height: 35px;
            border: 1px solid $color_red;
            margin-top: 40px;
            cursor: pointer;
            transition: .3s;
            box-shadow: 0 50px $color_red inset;
            color: $color_white;
            margin-bottom: 2%;
            font-size: 16px;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $primary_font;
    font-weight: 400;
    margin: 10px 0;
}

@media screen and (max-width:480px) {
    .cart-modal-content {
        @include modal-content;
    }
}

@media screen and (max-width:767px) {
    .cart-modal-content {
        @include modal-content;
    }
}

@media screen and (max-width:1023px) {
    .cart-modal-content {
        @include modal-content;
    }
}