// Login  page Css
.login-form {
    padding: 20px 40px;
}

.login-text {
    @include form-left-text;
}

.login-heading {
    @include form-text-heading;
}

.login-btn {
    @include form-btn;
}

@media screen and (max-width: 480px) {
    /*login page */
    .login-form {
        padding: 20px 0px;
    }
    .login-text-box {
        margin-left: -10%;
    }
}


/*tablet */

@media screen and (max-width: 767px) {
    /*login page */
    .login-form {
        padding: 20px 0px;
    }
    .login-text-box {
        margin-left: -10%;
    }
}


/*tablet  landscape*/

@media screen and (max-width: 1023px) {
    /*login page */
    .login-form {
        padding: 20px 0px;
    }
    .login-text-box {
        margin-left: -10%;
    }
}