.product-listing-wrap .product-filter .product-categories {
    padding-top: 20px;
    li {
        font-size: 85%;
        list-style-type: none;
        &:after {
            content: "";
            display: block;
            height: 1px;
            width: 100%;
            margin: 10px 0px;
            background-color: #eee;
            text-decoration: none;
        }
    }
}

.product-listing-wrap .product-list {
    padding-top: 15px;
    .product-detail {
        .product-box {
            padding-top: 20px;
            padding-bottom: 10px;
            border-bottom: 1px dashed $plp_item_bg_color;
            margin-bottom: 40px;
            .product-pricing {
                margin-top: 15px;
                text-align: right;
                position: relative;
                span {
                    font-size: 75%;
                    position: absolute;
                    left: 0;
                    color: initial;
                    font-size: 12px;
                    top: 50%;
                    transform: translateY(-50%);
                }
                a {
                    padding: 7px 30px;
                    display: inline-block;
                }
            }
            .description-box {
                overflow: hidden;
                height: 100px;
                background-color: $plp_item_bg_color;
                padding: 8px 8px;
                font-size: 70%;
                min-height: 100px;
            }
            h3 {
                font-size: 13px;
                min-height: 80px;
                font-weight: bold;
            }
            .buy-now-btn {
                display: none;
                align-items: flex-start;
                text-align: center;
                padding: 10px;
                background: $color_red;
                a {
                    color: $color_white;
                }
                @media screen and (max-width: 1024px) {
                    display: block;
                }
            }
        }
    }
}

.button-small {
    font-size: 65%;
    padding: 10px;
    background: $color-red;
    color: $color_white;
}

.button-large {
    font-size: 80%;
    padding: 10px;
    background: $color-red;
    color: $color_white;
    border: none;
    width: 100%;
    margin-top: 20px;
}

.width-100 {
    width: 100%;
}

.plp-section {
    padding: 40px 0;
}

.wrapper {
    width: 85%;
    margin: 0 auto;
}


/* Product Category Menu */


/* [HAMBURGER - HIDDEN ON BIG SCREENS] */

#page-nav label,
#page-nav #product-hamburger {
    display: none;
}

a {
    text-decoration: none;
}

@media screen and (min-width: 991px) and (max-width:1024px) {
    .product-listing-wrap .product-list .product-detail .product-box {
        h3 {
            font-size: 90%;
            min-height: 100px;
        }
        .product-pricing a {
            padding: 7px 20px;
        }
    }
}

.wrapper {
    width: 85%;
    margin: 0 auto;
    @media screen and (max-width: 1024px) {
        width: 95%;
    }
}

@media screen and (max-width: 991px) {
    .product-listing-wrap .product-list .product-detail .product-box {
        p {
            min-height: 70%;
        }
        min-height: 70%;
        .product-pricing {
            span {
                position: relative;
                color: #fff;
                &:before {
                    content: '@';
                }
            }
            a {
                width: 100%;
                text-align: center;
            }
        }
    }
    #page-nav input:checked~ul {
        display: block;
        box-shadow: 0px 0px 15px 1px #eee;
    }
    #page-nav #product-hamburger {
        display: none;
    }
    #page-nav label {
        display: block;
    }
    /* [SHOW HAMBURGER] */
    #page-nav label {
        display: block;
        width: 100%;
        position: relative;
        top: 0;
        font-size: 80%;
        background-color: $color-red;
        color: $color_white;
        padding: 1%;
    }
    #page-nav label:after {
        content: '';
        width: 14px;
        height: 14px;
        position: absolute;
        right: 15px;
        color: #fff;
        border-left: 1px solid #fff;
        border-bottom: 1px solid #fff;
        transform: rotate(-45deg);
    }
    #page-nav {
        margin-top: 0px;
        position: relative;
    }
    /* [BREAK DOWN MENU INTO VERTICAL] */
    #page-nav ul li {
        display: block;
    }
    .product-listing-wrap .product-filter .product-categories {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .product-listing-wrap .product-list .product-detail .product-box {
        p {
            font-size: 50%;
        }
        .product-pricing a {
            padding: 7px;
            font-size: 50%;
        }
    }
}