.sidebar {
  flex-basis: 18%;
  border: 1px solid #ccc;
  padding: 0px 0 20px 0px;
  @media screen and (max-width: 1180px) {
    flex-basis: 30%;
  }
  @media screen and (max-width: 800px) {
    display: none;
  }
}
