.basic-btn-color{
	background: #D10157;
	color: #ffffff;
}

.clear-all{
	clear: both;
}
.padding5{
	padding: 5px;
}
.padding10{
	padding: 10px;
}
.paddingTop10{
	padding-top: 10px;
}
.padding15{
	padding: 15px;
}
.marginTop15{
	margin-top: 15px;
}
.marginTop25{
	margin-top: 25px;
}
.marginTop50{
	margin-top: 50px;
}
.fontDecorate{
		font-size:12px;
}
.paddingLeft5{
	padding-left: 5px;
}