@import "_mainStyle";

.dropdown {
    display: $display;
}

@media only screen and (max-width: 575px) {
    .dropdown {
      display: block;
      @include backgroundClr($theme-color);
    }
    .dropdown-toggle {
      margin: $margin;
    }
}