.footer{
    width:100%;
    height: 4rem;
    padding: 1rem 10vw;
    background-color: $color-background-light;
     grid-gap: 4rem;
     
    @include respond(tab-port){
        text-align: center;
    }
} 