@mixin primary-button {
  background-color: $sb-pink;
  color: $sb-white;
  font-size: 1em;
  padding: 0.8em;
  border: 0;
  cursor: pointer;
}

@mixin cart-header-footer {
  display: flex;
  background-color: $sb-white;
  padding: 1em;
  margin: 1.5em 0.3em 0.3em;
  box-shadow: 0px 0px 5px 0px rgba($sb-dark-gray, 0.25);
}
