// GLOBAL VARIABLES
// add your global variables here

// fonts
$sans-serif: "Dosis", sans-serif
$sans-serif-2: "Dosis", sans-serif

// brand
$brand-primary:  #C12958
$brand-dark:     #6A6A72
$brand-light:    #f4f6ef

// theme

$theme-primary: #C12958
