$width: 100%;
$color-gray: #dee2e6;
$shadow: rgba(182, 182, 182, 0.75);
$color-white: #fff;
$color-black: #000;
$theme-color: #de1066;
$cursor: pointer;
$display: none;
$display1: inline-block;
$margin: auto;
$text: center;