import "colors";

/// The primary function for

/// accessing colors in your palette

@function color($color, $source: $theme-colors) {

    @if map-has-key($source, $color) {

        $key: map-get($source, $color);

        @return $key;

    } @else {

        @error "ERROR: Specified color variant does not exist in the mapping";

    }

}
$mob:767px;
$tab:768px;
$lap:992px;
