html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, ul, li, form, label, footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
    outline: 0;
}

/* HTML5 display-role reset for older browsers */ 
footer, header, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ul {
	list-style: none;
}
a{
	text-decoration: none;
}
