@media screen and (max-width: 1200px) {
 .row {
 	padding: 0% 2%;
 }
}
* {
	box-sizing: border-box;
	padding:0;
	margin:0;
}
body {
	background: white;
	font-size: 20px;
}
header {
	height:90px;
	border-bottom: solid 1px #ececec;
	box-shadow: 1px 1px #f0f0f0 !important;
	position: relative;
}
.row {
	max-width:1140px;
	margin:0 auto;
}
.logo {
	height:70px;
	width:auto;
	float: left;
	margin: 10px 0px;

}

@mixin nav-text {
	list-style-type: none;
	li {
		display: inline-block;
		margin-left: 10px;
		a {
			text-decoration: none;
			font-size:70%;
		}
	}
}
.main-nav {
	float: right;
	@include nav-text;
}
.home-nav {
	float: left;
	margin-top:50px;
	margin-left:10%;
	@include nav-text;
}
.cart-box{
	background: #eeeeee;
	float: right;
	margin-bottom: 0px;
	display: flex;
    align-items: center;
	padding: 1%;
	.cart {
		height: 35px;
		width: auto;

	}
	span {
			font-size: 70%;
			
		}
}