@import "../../media-queries.scss";

.dialogContainer {
  position: fixed;
  width: 100%;
  left: 0;
  border: none;
  z-index: 1000;

  background: none;
  top: 10rem;
  height: calc(100% - 10rem);

  @include respond-to("desktop") {
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    height: 100%;
  }
}

.dialog {
  position: absolute;
  bottom: 0;
  z-index: 1000;
  background: none;
  height: 100%;
  top: 0;
  width: 100vw;
  left: 0;

  @include respond-to("desktop") {
    background: white;
    height: 90vh;
    width: 45rem;
    left: calc(100% - 50rem);
    top: unset;
  }
}
