<section class="products-container" hbs-id="products-main-container">
    <div class="products-container__menu">
        <button id="menu-dd"></button>
        {{#each categories}}
        <div class="products-container__menu-item" id={{id}}>
            <a href="#">{{name}}</a>
        </div>
        {{/each}}
    </div>
    <div class="products-container__grid" hbs-id="products-container">
        {{{gridView}}}
    </div>
</section>