<html lang="en">

<head>
    <!-- <meta> tags> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/styles/css/banner.css">
    <link rel="stylesheet" href="../../static/styles/css/cart.css">
    <link rel="stylesheet" href="../../static/styles/css/product.css">
    <link rel="stylesheet" href="../../static/styles/css/main.css">
    <title>Shopping Application</title>
    <script src="../../static/scripts/index.js"></script>
</head>


<body>
    {{>header}}
    <div tabindex="0" class="container">
        {{{body}}}
    </div>       
   {{>footer}}
</body>

</html>