<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
	<title>Sabka Bazaar</title>
	<meta name="description" content="Page Layout">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<link href="https://fonts.googleapis.com/css?family=Dosis:400,600,700" rel="stylesheet"> 
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/grid.css">
	<link rel="stylesheet" href="/css/main.css">
</head>
<body >
	{{> organisms/o-cart}}
	{{> organisms/o-header}}
    {{{body}}}
    
 	{{> organisms/o-footer}}
 	<script src="/js/common.js"></script>
 	<script src="/features/home/home.js"></script>
 	<script src="/features/login/login.js"></script>
 	<script src="/features/register/register.js"></script>
 	<script src="/features/products/products.js"></script>
 	
</body>
</html>