<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
	<title>Shopping Cart</title>
	<link rel="stylesheet" href="/css/ngrid.css">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/cart.css">
	<link rel="stylesheet" href="/css/plp.css">
	<link rel="stylesheet" href="/css/login.css">
	<link rel="stylesheet" href="/css/register.css">
	<link rel="stylesheet" href="/css/home.css">
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/footer.css">
</head>
<body>
	{{> organisms/header}}
    {{{body}}}
    
 	{{> organisms/footer}}
    <script src="/js/home.js"></script>
	<script src="/js/cart.js"></script>
</body>
</html>