  <!-- Page Footer-->
        <footer>
            <div class="footer">
                <p>Copyright &#9400; 2011-2018 Sabka Bazaar Grocery Supplies Pvt Ltd</p>
            </div>
        </footer>
        {{> components/organisms/mini-cart/mini-cart}}
        <!-- Page Footer Ends-->