<section>
  <div class="row">
    <div class="span-1-of-2">
      <h3>Signup</h3>
      <p>We do not share your personal details with anyone.</p>
    </div>
    <div class="span-1-of-2">
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-field">
          <input
            type="text"
            class="form-field__input"
            required
            formControlName="firstname"
            aria-label="first name"
          />
          <span class="form-field__label">First Name</span>
          <div
            *ngIf="
              !firstname?.valid && (firstname?.dirty || firstname?.touched)
            "
          >
            <div class="error-msg" [hidden]="!firstname.errors.required">
              First Name is required
            </div>
            <div class="error-msg" [hidden]="!firstname.errors.pattern">
              Only characters are allowed
            </div>
            <div class="error-msg" [hidden]="!firstname.errors.minlength">
              Min Length is 4
            </div>
          </div>
        </div>
        <div class="form-field">
          <input
            type="text"
            class="form-field__input"
            required
            formControlName="lastname"
            aria-label="last name"
          />
          <span class="form-field__label">Last Name</span>

          <div *ngIf="!lastname.valid && (lastname.dirty || lastname.touched)">
            <div class="error-msg" [hidden]="!lastname.errors.pattern">
              Only characters are allowed
            </div>
            <div class="error-msg" [hidden]="!lastname.errors.maxLength">
              Max length allowed is
              {{ lastname.errors.maxlength?.requiredLength }}
            </div>
            <div class="error-msg" [hidden]="!lastname.errors.required">
              Last Name is required
            </div>
          </div>
        </div>
        <div class="form-field">
          <input
            type="email"
            class="form-field__input"
            required
            formControlName="email"
            aria-label="email"
          />
          <span class="form-field__label">Email</span>
          <div *ngIf="!email?.valid && (email?.dirty || email?.touched)">
            <div class="error-msg" [hidden]="!email.errors.required">
              Email is required
            </div>
            <div class="error-msg" [hidden]="!email.errors.email">
              Please enter correct email
            </div>
          </div>
        </div>
        <div class="form-field">
          <input
            type="password"
            class="form-field__input"
            required
            formControlName="password"
            aria-label="password"
          />
          <span class="form-field__label">Password</span>
          <div
            *ngIf="!password?.valid && (password?.dirty || password?.touched)"
          >
            <div class="error-msg" [hidden]="!password.errors.required">
              password Name is required
            </div>

            <div class="error-msg" [hidden]="!password.errors.pattern">
              Minimum six characters, at least one letter, one number and one
              special character:
            </div>
          </div>
        </div>
        <div class="form-field">
          <input
            type="password"
            class="form-field__input"
            required
            formControlName="confirmPassword"
            aria-label="confirmPassword"
          />
          <span class="form-field__label">Confirm Password</span>
          <div
            *ngIf="
              !confirmPassword?.valid &&
              (confirmPassword?.dirty || confirmPassword?.touched)
            "
          >
            <div
              class="error-msg"
              [hidden]="!confirmPassword.errors.required"
            >
              Confirm password is required
            </div>
            <div
              class="error-msg"
              [hidden]="!confirmPassword.errors.minlength"
            >
              Min Length is 6
            </div>
            <div
              class="error-msg"
              [hidden]="!confirmPassword.errors.confirmedValidator"
            >
              Password and Confirm Password must be match.
            </div>
          </div>
        </div>
        <div>
          <button type="submit" class="btn submit-btn">Signup</button>
        </div>
      </form>
    </div>
  </div>
</section>
