.item{
    display:flex;
    margin:10px 0;
    box-shadow:0px 4px 4px -2px #000000;
    padding:8px 0px;
    height:180px;
    justify-content:center;
    align-items: center;
}
.name {
    font-size: 24px;
    font-weight: bold;
    margin-block-start: 4px;
    margin-block-end: 4px;
}
.description{
    margin-block-start: 4px;
    margin-block-end: 4px;
    text-align:center;
}
.details{
    display:flex; 
    flex:1;
    flex-direction:column;
     justify-content:center;
     align-items:center;
}
.image{
    width:30%;
}
.button{
    background:rgb(204, 0, 82);
    padding:0px 8px;
    min-width:100px;
    height:40px;
    border:none;
    color:#fff;
}

@media screen and (max-width:1199px){
    .item{
        height:auto
    }
    .image{
        width:30%;
    }
    .name {
        font-size: 20px;
    }

}
