
$gs-23:#FFFFFF;
$gs-22:#FCFCFC;
$gs-21:#FAFAFA;
$gs-20:#F7F7F7;
$gs-19:#F5F5F5;
$gs-18:#F2F2F2;
$gs-17:#F0F0F0;
$gs-16:#EDEDED;
$gs-15:#EBEBEB;
$gs-14:#EBEBEB;
$gs-13:#DBDBDB;
$gs-12:#CCCCCC;	
$gs-11:#BABABA;	
$gs-10:#A8A8A8;
$gs-9:#999999;	
$gs-8:#878787;
$gs-7:#787878;
$gs-6:#666666;
$gs-5:#575757;	
$gs-4:#454545;
$gs-3:#333333;
$gs-2:#212121;
$gs-1:#000000;
$color-theme:#D10157;
$color-error:#dc3545;
$color-secondary:darken(#3CBDC9,18%);
$color-success:#28a745;
$color-btn-primary:#007BFE;
