
/*  Extra large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    .cart-container .cart{
        padding: 10px 13px !important;
    }
}

/*  Medium device tablet */
@media only screen and (max-width: 991px) {
    .cart-container .cart{
        padding: 9px !important;
    }
    .list-container .span-3-of-12 {
		width: 50%; 
    }
    .list-container .categories{
        text-align: center;
    }
    .list-container .list-body{
        width: 75%;
    }
    .col {
        margin: 1% 0 1% 0 !important;
    }
    .list-container .list-item{
        height: 274px !important;
    }
    .list-container .list-item figure{
        width: 50% !important;
        margin-top:15px !important;
        float: left !important;
    }
    .list-container .list-item .fig-caption{
        font-size: 65%;
        float: left !important;
        width: 49%;
        height: 65%;
    }
    .list-container .list-item .mrp{
        display: none !important;
    }
    .list-container .list-item .mini-mrp{
        display: inline !important;
    }
    .list-container .list-item .buy-now{
       display: block !important;
       width: 100% !important;
    }
}

/* 
// small devices (phone, upto 767px) */
@media only screen and (max-width: 767px) {
	body{
        font-size:18px !important;
    }
    .main-navigation nav{
        left:39% !important;
    }
    .header-wrapper .span-2-of-12{
        width:21% !important;
    }
    .header-wrapper .span-1-of-12{
        width:4% !important;
    }
    .header-wrapper .signin-register{
        top:-11px !important;
    }

    .login-wrapper .span-1-of-4 {
		width: 100%; 
	}
    .list-container .list-item{
        height: 192px !important;
    }
    .cart-container .main-header{
        background-color: $color-white !important;
        color: #000 !important;
        margin-top: 30px;
        font-size: 130% !important;
        @include box-shadow(3px -1px 1px #ccc);
    }
    .cart-container .cart{
        padding: 6px 3px !important;
    }
    .cart-container .card-container{
        height: 530px !important;
    }
    .logo img{
        height: 73px !important;
    }
    .list-container .list-item .mrp{
        display: none !important;
    }
    .list-container .list-item .mini-mrp{
        display: inline !important;
    }
    .list-container .categories{
        display: none;
    }
    .list-container .span-10-of-12 {
		width: 100%;
    }
    .list-container .min-category{
        display: block !important;
    }
    .list-container .list-item .buy-now{
        width: 97% !important;
        padding: 15px 20px !important;
        margin: 30px 0 !important;
    }
    .list-container footer{
        width: 50% !important;
        position: relative !important;
        bottom: 0 !important;
        float: left;
    }
    .list-container figure{
        height: 100% !important;
    }
    .list-container figure  img{
        height: 80% !important;
    }

    .list-container .span-3-of-12{
        width: 100% !important;
    }
    .list-container .list-item .fig-caption{
        height: auto;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) {
    .list-container .span-3-of-12 {
		width: 100%;
	}

}
