<header class="row d-flex justify-content-center">
  <div class="header-content d-flex">
    <a routerLink="/" aria-label="Homepage" class="link-logo">
      <img
        srcset="assets/images/logo.png, assets/images/logo_2x.png 2x"
        src="assets/images/logo.png"
        alt=""
        width="150px"
      />
    </a>

    <div class="d-flex flex-grow-1 flex-column">
      <div class="flex-grow-1 pb-sm-2">
        <a [href]="skipLinkPath" class="skip-block"> Skip to main content </a>

        <div class="d-none d-sm-block float-right">
          <a routerLink="/user/login">SignIn</a>
          <a routerLink="/user/register" class="ml-2">Register</a>
        </div>
      </div>

      <div class="d-flex justify-content-end justify-content-sm-between">
        <nav class="d-none d-sm-flex">
          <ul>
            <li>
              <a routerLink="/home">Home</a>
            </li>
            <li>
              <a routerLink="/products">Products</a>
            </li>
          </ul>
        </nav>

        <!-- TODO: Optimize: SR to read upon adding / removing -->
        <button
          class="btn-cart"
          [attr.aria-label]="'cart - ' + cartService.totalItems + ' items'"
        >
          <span class="icon-cart"></span>
          <span class="ml-2"> {{ cartService.totalItems }} items</span>
        </button>
      </div>
    </div>
  </div>
</header>
