@import "variables.scss";
.cart-wrapper{
    background: $grey;
    padding: 0 150px;
    @media (max-width: $breakpoint-small-phone),(max-width: $breakpoint-small-phone){
        padding: 0 ;
    }
    .my-cart{
        background: black;
        color: $white;
        padding: 10px;
    }
    .item-wrapper{
        min-height: 100px;
        margin-top: 10px;
        background: $white;
    }
    .item-img{
        width: 15%;
        .img-cart{
            width: 100%;
            height: 90px;
        }
    }
    .item-details{
        width: 83%;
        padding-left: 10px;
        @media (max-width: $breakpoint-phone){
            width: 82%;
        }
    }
    .items{
        margin: 20px;
        width: 70%;
        @media (max-width: $breakpoint-phone){
            width: 50%;
        }
    }
    .item-button{
        margin-top: 17px;
    }
    .item-total{
        margin-top: 45px;
        margin-right: 15px;
    }
    .btn{
        background: $accent;
        color: $white;
        border-radius: 15px;
        border: $accent;
    }
    input {
        border: none;
        text-align: center;
        width: 40px;
    }
    .product-offer{
        margin-top: 10px;
        background: $white;
        min-height: 60px;
        padding: 5px;
        .offer-image{
            float: left;
            width: 30%;
            @media (max-width: $breakpoint-phone){
                img{
                    width: 80%;
                }
            }
        }
        .offer-heading{
            float: left;
            width: 70%;
            margin-top: 15px;
        }
    }
    .checkout{
        margin-top: 60px;
        min-height: 100px;
        background: $white;
        padding: 10px;
        .btn-checkout{
            background: $accent;
            color: $white;
            width: 100%;
            border: $accent;
            height: 40px;
            padding: 13px;
            border-radius: 6px;
            margin-top: 18px;
            cursor: pointer;
        }
    }
    .font-color{
        color: $white;
    }
    .cart-exception{
        background: $white;
        min-height: 350px;
        text-align: center;
        font-size: 27px;
        padding-top: 20%;
        .helper-text{
            font-size: 19px;
            margin-top: 10px;
            color: #847777;
        }
        .btn-start{
            background: $accent;
            color: $white;
            width: 100%;
            border: $accent;
            height: 40px;
            padding: 13px;
            border-radius: 6px;
            cursor: pointer;
            text-align: center;
            margin-top: 39%;
        }
    }
}