@import "variables.scss";
.header-wrapper{
  padding: 5px 90px;
  .logo{
    width: 25%;
    .logo-img{
      width: 100%;
    }
  }
  .navigation{
    width: 50%;
    padding: 10px;
  }
}