@import "variables.scss";
.banner-wrapper{
    padding: 5px 140px 0 140px;
    @media (max-width: $breakpoint-phone),(max-width: $breakpoint-small-phone),(max-width: $breakpoint-small-phone) {
        padding: 0px;
    }
    .image-width{
        width: 100%;
        height:180px;
    }
    .home-slider{
        .home-slider-offers{
            position: relative;
        }
    }
    .dots{
        position: absolute;
        text-align: center;
        width: 100%;
        bottom: 12px;
        z-index: 5;
    }
    .dot {
        cursor: pointer;
        height: 6px;
        width: 6px;
        margin: 0 8px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        &.active,
        &:hover {
          background-color: #717171;
        }
    }
    .prev,.next{
        cursor: pointer;
        position: absolute;
        top: 42%;
        width: auto;
        padding: 5px;
        color:$white;
        transition: 0.6s ease;
        background-color: rgba(0, 0, 0, 0.2);
        text-transform: uppercase;
    }
    .next{
        right: 8px;
    }
    .category-section{
        min-height: 150px;
        padding: 10px;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            left: 50%;
            top: 0px;
            width: 60%;
            height: 5px;
            background: $dark-grey;
            border-radius: 290px / 8px;
            transform: translate(-50%, -50%);
        }
    }
    .category{
        float: left;
        width: 30%;
        .category-image{
            width: 100%;
            height: 120px;
        }
    }
    .category-desc{
        float: right;
        font: 400 12px Dosis;
        margin-top: 30px;
        text-align: center;
        width: 70%;
    }
    .category-heading{
        font: 800 16px dosis;
    }
    .category-text{
        margin-top: 15px;
    }
    .button-align{
        margin-top: 15px;
    }
    .category-button{
        background: $accent;
        border: $accent;
        color: $white;
        cursor: pointer;
        padding: 7px;
    }
    .filter{
        color: $white;
    }
    section:nth-child(even){
        .category{
            float: right;
        }
        .category-desc{
            float: left;
        }
    }
}
  