.disp-inline-block {
  display: inline-block; }

.position-rel {
  position: relative; }

.position-abs {
  position: absolute; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.banner-wrapper {
  padding: 5px 140px 0 140px; }
  .banner-wrapper .image-width {
    width: 100%;
    height: 180px; }
  .banner-wrapper .home-slider .home-slider-offers {
    position: relative; }
  .banner-wrapper .dots {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 12px;
    z-index: 5; }
  .banner-wrapper .dot {
    cursor: pointer;
    height: 6px;
    width: 6px;
    margin: 0 8px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease; }
    .banner-wrapper .dot.active, .banner-wrapper .dot:hover {
      background-color: #717171; }
  .banner-wrapper .prev, .banner-wrapper .next {
    cursor: pointer;
    position: absolute;
    top: 42%;
    width: auto;
    padding: 5px;
    color: white;
    transition: 0.6s ease;
    background-color: rgba(0, 0, 0, 0.2);
    text-transform: uppercase; }
  .banner-wrapper .next {
    right: 8px; }
  .banner-wrapper .category-section {
    min-height: 150px;
    padding: 10px;
    position: relative; }
    .banner-wrapper .category-section:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 0px;
      width: 60%;
      height: 5px;
      background: #eeeeee;
      border-radius: 290px / 8px;
      transform: translate(-50%, -50%); }
  .banner-wrapper .category {
    float: left;
    width: 30%; }
    .banner-wrapper .category .category-image {
      width: 100%;
      height: 120px; }
  .banner-wrapper .category-desc {
    float: right;
    margin-top: 30px;
    text-align: center;
    width: 70%; }
  .banner-wrapper .category-heading {
    font: 800 16px dosis; }
  .banner-wrapper .category-text {
    margin-top: 15px; }
  .banner-wrapper .button-align {
    margin-top: 15px; }
  .banner-wrapper .category-button {
    background: #d10157;
    border: #d10157;
    color: white;
    cursor: pointer;
    padding: 7px; }
  .banner-wrapper .filter {
    color: white; }
  .banner-wrapper section:nth-child(even) .category {
    float: right; }
  .banner-wrapper section:nth-child(even) .category-desc {
    float: left; }
