.logo,
.logo img {
  margin: 3px;
  display: inline-block;
  width: 10vw;
  height: auto;
  margin-right: 10vw;
  z-index: 1; }

.sub-nav {
  margin: 0 2% 0 auto;
  float: right; }
  .sub-nav .icon {
    display: none; }
  .sub-nav li {
    display: inline-block;
    margin-left: 5px; }
    .sub-nav li .sub-nav-item {
      font-size: 12px;
      color: #6b6b6b;
      text-decoration: none; }

.main-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
  width: 50vw;
  flex-direction: row;
  align-items: center; }
  .main-nav .cart-icon-container {
    background-color: rgba(238, 238, 238, 0.867);
    text-align: left;
    padding-left: 0; }
    .main-nav .cart-icon-container .cart-icon {
      display: inline-block;
      height: 20px;
      width: auto;
      fill: #d10157; }
  .main-nav a {
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    color: #6b6b6b;
    font-size: 12px; }
  .main-nav a:hover {
    color: #718daa; }

nav {
  padding-top: 0.5em;
  background-color: #fff;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75); }

@media (max-width: 768px) {
  .clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both; }
  .logo,
  .logo img {
    margin: 3px;
    display: inline-block;
    width: 15vw;
    height: auto;
    margin-right: 10vw;
    z-index: 1; }
  .main-nav {
    float: right; }
    .main-nav a {
      padding: 5px 5px; }
  .main-nav li:not(:nth-last-child(1)) {
    display: none; }
  .sub-nav .icon {
    float: right;
    display: block;
    margin-left: 5px; }
    .sub-nav .icon img {
      height: 1.5em; }
  .main-nav.responsive:not(a) {
    width: 100%;
    display: block; }
  .main-nav.responsive li {
    float: none;
    display: block;
    width: 100%;
    text-align: left; } }

@media (max-width: 480px) {
  .logo,
  .logo img {
    margin: 0;
    display: inline-block;
    width: 15vw;
    height: auto;
    margin-right: 10vw;
    z-index: 1; } }

.row-fix {
  margin: 0px !important; }

.login-text {
  align-items: center;
  transform: translateY(25%); }

.form-input {
  margin: 40px 0;
  width: 100%; }
  .form-input label {
    position: relative;
    display: block;
    width: 100%;
    min-height: 50px; }
  .form-input .placeholder {
    position: absolute;
    display: block;
    top: 25.5px;
    z-index: 2;
    color: #d10157;
    font-size: 16px;
    transition: all 200ms ease-in-out;
    width: 100%;
    cursor: text; }
  .form-input input {
    position: absolute;
    top: 15px;
    z-index: 1;
    width: 100%;
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid #eeeeee;
    transition: border-color 200ms ease-in-out;
    outline: none;
    padding: 0;
    margin: 0; }
  .form-input input {
    height: 35px; }
  .form-input input:focus,
  .form-input input,
  .form-input textarea:focus,
  .form-input textarea {
    border-bottom: 2px solid #d10157; }
    .form-input input:focus + .placeholder,
    .form-input input + .placeholder,
    .form-input textarea:focus + .placeholder,
    .form-input textarea + .placeholder {
      top: 0;
      cursor: inherit;
      font-size: 14px;
      color: #d10157; }

.form-button-large {
  background-color: #d10157;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  width: 100%; }

@media (max-width: 768px) {
  .login-container {
    display: flex;
    flex-direction: column; }
  .login-text {
    flex: 50%;
    align-items: center;
    transform: translateY(25%); }
  .login-form {
    flex: 50%; } }

@media (max-width: 600px) {
  .login-container {
    display: flex;
    flex-direction: column; }
  .login-text {
    flex: 50%;
    align-items: center;
    transform: translateY(25%); }
  .login-form {
    flex: 50%; } }

@media (max-width: 480px) {
  .login-container {
    display: flex;
    flex-direction: column; }
  .login-text {
    flex: 50%;
    align-items: center;
    transform: translateY(25%); }
  .login-form {
    flex: 50%; } }

footer {
  margin-top: 20px;
  background: rgba(238, 238, 238, 0.867);
  color: #6b6b6b;
  display: block;
  margin-bottom: -50%;
  width: 100%;
  text-align: center; }
