@import "variables.scss";
.categories-wrapper{
    background: $grey;
    padding-top: 15px;
    padding-bottom: 15px;
    float: left;
    width: 25%;
}
.product-wrapper{
    float: right;
    width: 75%;
    margin-top: 20px;
}
.category-name{
    font-size: 12px;
    padding: 14px;
    border-bottom: 1px solid $darker-grey;
    color: $darker-grey;
    cursor: pointer;
    text-decoration: none;
}
.product-name{
    overflow: hidden;
    font-size: 12px;
    height: 34px;
}
.product{
    width: 20%;
    float: left;
    min-height: 330px;
    margin: 15px;
    border-bottom: 1px dashed;
}
.product-image{
    margin-top: 15px;
    .pro-img{
        width: 100%;
    }
}
.product-description{
    background: $grey;
    font-size: 11px;
    padding: 5px;
    height: 88px;
    overflow: hidden;
    margin-top: 5px;
}
.pricing-purchasing{
    margin-top: 5px;
    .pricing{
        font-size: 12px;
    }
    .purchasing{
        background-color: $accent;
        color: #fff;
        width: 40%;
        font-size: 10px;
        padding: 0px;
        .smaller-device{
            display: none;
        }
    }
}
.categories-wrapper-phone{
    display: none;
}
@media (max-width: $breakpoint-phone) {
    .product{
        width: 40%;
        min-height: 200px;
    }
    .product-name{
        font-size: 14px;
        height: 40px;
    }
    .product-image{
        .pro-img{
            width: 50%;
            float: left;
        }
    }
    .product-description{
        width: 50%;
        float: right;
    }
    .pricing-purchasing{
        .pricing{
            display: none;
        }
        .purchasing{
            width: 100%;
            .smaller-device{
                display: block;
            }
        }
    }
}
@media (max-width: $breakpoint-small-phone),(max-width: $breakpoint-small-phone){
    .categories-wrapper{
        display: none;
    }
    .product-wrapper{
        float: left;
        width: 100%;
    }
    .product{
        width: 90%;
    }
    .categories-wrapper-phone{
        display: block;
        background-color: $accent;
        color: #fff;
        .category-phone{
            padding: 10px;
        }
        .w3-dropdown-content{
            background: $accent;
            min-width: 94%;
            top: 131px;
            right: 15px;
        }
        .category-name{
            color: #fff;
        }
    }
}