
$small: 480px;
$medium: 768px;
$large: 1024px;
$xlarge: 1200px;

.sign-up {
    width: 100%;
    display: flex;
   margin:auto;
    justify-content: center;
    flex-flow:row wrap;
    gap: 5%;
    
   
  } .title {
    align-self: center;
  }

   
  @media screen and (max-width: $small)and (max-device-width: 768px)  {
    
    .sign-up {
      display:flex;
      
      align-items: center;
      margin-top: 10%;
      padding:10%;
      width:100%;
      flex-direction: column;
    }
  }