<div class="row">
    <div class="col-md-5">
        <div class="signin-text">
            <h2>SignUp</h2>
            <p>We do not share your personal details with anyone</p>
        </div>
    </div>
    <div class="col">
        <form>
            <div class="form-group">
                <label for="First Name" class="signin-info"><b>First Name</b></label><br>
                <input type="text" placeholder="First Name" name="text" id="text" required>
            </div>
            <div class="form-group">
                <label for="Last Name" class="signin-info"><b>Last Name</b></label><br>
                <input type="text" placeholder="Last Name" name="text" id="text" required>
            </div>    


            <div class="form-group">
                <label for="email" class="signin-info"><b>Email</b></label><br>
                <input type="text" placeholder="Email" name="email" id="email" required>
            </div>
            <div class="form-group">
                <label for="psw" class="signin-info"><b>Password</b></label><br>
                <input type="password" placeholder="Password" name="psw" id="psw" required>
            </div>

            <div class="form-group">
                <label for="psw" class="signin-info"><b>Confirm Password</b></label><br>
                <input type="password" placeholder="Confirm Password" name="psw" id="psw" required>
            </div>
   
        <button type="submit" class="login-btn">SignUp</button>
</form>
</div>