<section>
  <div class="row">
    <div class="container">
      <div class="left-section">
        <h1>Signup</h1>
        <p>We do not share your personal details with anyone</p>
      </div>
      <div class="right-section">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <div class="floating-label">
              <input
                class="floating-input"
                type="email"
                formControlName="email"
                placeholder=" "
                aria-label="Email input field"
              />
              <span class="highlight"></span>
              <label for="email" aria-label="Email input label">Email</label>
            </div>
          </div>
          <div class="form-group">
            <div class="floating-label">
              <input
                class="floating-input"
                type="text"
                formControlName="firstName"
                placeholder=" "
                aria-label="First Name Input field"
              />
              <span class="highlight"></span>
              <label for="firstName" aria-label="first name label"
                >First Name</label
              >
            </div>
          </div>
          <div class="form-group">
            <div class="floating-label">
              <input
                class="floating-input"
                type="text"
                formControlName="lastName"
                placeholder=" "
                aria-label="Last Name Input field"
              />
              <span class="highlight"></span>
              <label for="lastName" aria-label="last name label"
                >Last Name</label
              >
            </div>
          </div>
          <div class="form-group">
            <div class="floating-label">
              <input
                class="floating-input"
                type="password"
                formControlName="password"
                placeholder=" "
                aria-label="Password Input field"
              />
              <span class="highlight"></span>
              <label for="password" aria-label="password label">Password</label>
            </div>
          </div>
          <div class="form-group">
            <div class="floating-label">
              <input
                class="floating-input"
                type="password"
                formControlName="confirmPassword"
                placeholder=" "
                aria-label="Confirm Password Input field"
              />
              <span class="highlight"></span>
              <label for="confirmPassword" aria-label="confirm password label"
                >Confirm Password</label
              >
            </div>
          </div>
          <input
            [disabled]="!registerForm.valid"
            type="submit"
            value="Signup"
          />
        </form>
      </div>
    </div>
  </div>
</section>
