.item-btn {
    display: block;
    float: right;
    background-color: rgb(197, 29, 85);
    color: #fff;
    font-size: 10px;
    padding: 5px 20px
}

.product-image {
    width: 200px;
    height: auto;
    padding-left: 50px;
}

.product-desc {
    font-size: 12px;    
}