@use "common";

header {
    grid-area: header;
    padding: 1rem 0;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  

    >.container {
        display: flex;
        align-items: flex-end;
        @include common.container(lg);

        img {
            height: 80px;
        }
    

        >nav {
            flex: 1;
        }

        >section {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            >button {
                display: flex;
                align-items: center;
                margin-top: 1rem;

                svg {
                    height: 24px;
                    width: 24px;
                }
            }
        }
    }
}