.content-container {
    /*header height + footer height = 90px + 50px = 140px*/
    min-height: calc(100vh - 140px);

    @media (max-width: 768px) {
        /*header height + footer height = 90px + 35px = 125px*/
        min-height: calc(100vh - 125px);
    }

    @media (max-width: 767.98px) {
        /*header height + footer height = 55px + 35px = 90px*/
        min-height: calc(100vh - 90px);
    }

    &.products-view {
        .wrapper-content-container {
            @media (max-width: 768px) {
                max-width: 100%;
                padding: 0;
            }
        }
    }
}