html,
body {
  padding: 0;
  margin: 0;
  font-family: Dosis;
  max-width: 1600px;
}

a,
button,
p {
  font-family: Dosis;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  margin: 40px 0;
}
