
@font-face {
  font-family: 'rubik';
  src: url('../public/fonts/rubik/Rubik-Light.ttf');
}

html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: 'rubik';
}

html {
  font-size: 72.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@media (max-width: 75em) {
  html{
      font-size: 62.5%;
  }
}




