.container {
  display: grid;
  grid-template-areas: "pg-header" "pg-content" "pg-footer";

  .mainContent {
    grid-area: pg-content;
    margin: 0 5em;
  }
}

/* Mobile, Tablet and Smaller Desktop */
@media (max-width: 1120px) {
  .container {
    .mainContent {
      margin: 0;
    }
  }
}
