.container {
  display: grid;
  grid-template-areas: "pg-header pg-header" "pg-nav pg-content" "pg-footer pg-footer";
  grid-template-columns: 3fr 9fr;
  grid-template-rows: auto 10fr auto;
  height: 100vh;

  .filter {
    grid-area: pg-nav;
    display: flex;
    flex-direction: column;
    margin-left: 5em;
    background-color: var(--color-gray);

    a {
      text-decoration: none;
      color: var(--color-black);
      padding: 1em;
      border-bottom: 1px solid var(--color-black);
    }
  }

  .mainContent {
    grid-area: pg-content;
    margin-right: 5em;
  }

  /* Mobile, Tablet and Smaller Desktop */
  @media (max-width: 1120px) {
    .filter {
      margin-left: 0;
    }
    .mainContent {
      margin-right: 0;
    }
  }
}

/* Mobile */
@media (max-width: 700px) {
  .container {
    grid-template-areas: "pg-header" "pg-nav" "pg-content" "pg-footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 10fr auto;

    .filter {
      background-color: white;
    }
  }
}
