@import "variables";
@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");

@import "header";
@import "content";
@import "footer";
@import "login";

*,
*::before,
*::after {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btnCrimsonPink {
  background-color: $crimson-pink;
  color: white;
  border-radius: 0;
  font-size: 14px;
  min-height: 36px;

  &:hover {
    background-color: rgba(208, 1, 85, 0.7);
    color: white;
  }
}

.info-title {
  font-size: 24px;
  font-weight: 700;
}

.info-desc {
  font-size: 14px;
}

.form-floating {
  .form-control {
    border-width: 0;
    border-bottom-width: 2px;
    border-radius: 0;
    border-color: $text-field-border;

    &:focus {
      outline: none;
      box-shadow: none;
      border-bottom-width: 2px;
      border-bottom-color: $text-field-border-focus;
    }

    &+label {
      color: $font-light-gray;
      font-weight: 500;
      font-size: 16px;
    }

    &:focus+label {
      color: $font-cyan;
    }
  }
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}