.xl-button {
  padding: 15px;
  background-color: #d00156;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.sm-button {
  padding: 10px 30px;
  background-color: #d00156;
  color: white;
  border: none;
  font-size: 12px;
  cursor: pointer;
}
