.button {
  background-color: var(--btn-bg-primary);
  border: none;
  border-radius: 2px;
  color: var(--btn-text-primary);
  cursor: pointer;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  height: auto;
  padding: 10px 10px;
  transition: 300ms ease all;
  width: 100%;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }
  &.cartButton {
    background-color: var(--btn-bg-secondary);
  }
  &:hover {
    filter: brightness(80%);
  }
}
