header {
    height: 100px;
}

nav {
    display: flex;
    padding: 10px 0 0 0;
    height: 100%;
    background: #fff;
    box-shadow: 0px 1px 10px 5px #eeeeee;
    .main-nav {
        display: flex;
        justify-content: space-between;
        width: 50%;
        padding: 0 0 0 190px;
        .logo {
            width: 190px;
            height: 80px;
        }
        .page-nav {
            list-style: none;
            display: flex;
            align-items: flex-end;
            margin-bottom: 10px;
            li {
                padding: 10px;
                a {
                    text-decoration: none;
                    color: #6f5d5b;
                    font-size: 80%;
                    font-weight: 700;
                }
            }
        }
    }
    .action-nav {
        width: 50%;
        text-align:right;
        padding-right: 190px;
        position: relative;
        .cart-box {
            display: flex;
            align-items: center;
            background: #eeeeee;
            right: 190px;
            width: 150px;
            position: absolute;
            text-align: left;
            padding: 0 0 0 10px;
            height: 65px;
            span {
                padding: 0 0 0 10px;
                font-size: 80%;
                font-weight: 600;
            }
        }
        .cart-link {
            &:visited, &:link {
                color: #bf2957;
                text-decoration: none;
                font-size: 150%;
            }
        }
        &-list {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            list-style-type: none;
            margin-bottom: 30px;
            margin: -15px 0 15px 0;
            li {
                padding-left: 25px;
                a {
                    text-decoration: none;
                    color: #6f5d5b;
                    font-size: 70%;
                    font-weight: 600;
                }
            }
        }
    }
}