.sidebaritem {
  padding: 1rem;
  border-bottom: 1px solid grey;
  cursor: pointer;
}
.sidebaritem:hover {
  background: rgb(201, 200, 200);
}
.selectedsidebar {
  background: rgb(201, 200, 200);
}
.sidedropdown {
  display: none;
}
@media screen and (min-width: 600px) {
}

@media screen and (min-width: 768px) {
}
@media screen and (max-width: 600px) {
  .Sidebar {
    display: none;
  }
  .sidedropdown {
    display: block;
  }
}
