$media: (xs: 320px,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  2xl: 1536px,
  3xl: 1920px,
);

@mixin bp($breakpoint) {

  @each $breakpoints,
  $size in $media {
    @if $breakpoint==$breakpoints {
      @media screen and (max-width: $size) {
        @content;
      }
    }
  }
}