.productList-container {
  margin: 0 10%;
  display: flex;
  .categories-container {
    // padding: 20px;
    background-color: #eaeaea;
    width: 20%;
  }
  .products-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    // padding: 10px;
    margin: 20px;
    justify-content: space-between;
  }
}
