
<div class="container">
<section class="cart-container" *ngIf=" cartItem != null && cartItem.length> 0; else empty">
    <div class="wrap-text">
    <h1>My Cart <span> ( {{totalItem}} item) </span></h1>
    <ul>
        <li  *ngFor="let data of cartItem">
            <div class="row">
                <div class="span-1-of-3">
                <img [src]="data?.imageURL" alt="{{data?.name}}">
            </div>
            <div class="span-2-of-3">
                    <h4>{{data?.name}}</h4>
                    <a href="javascript:void(0)" class="btn" (click)="removeItem(data)">-</a>
                    <span class="quantity-class">{{data?.quantity}}</span>
                    <a href="javascript:void(0)" class="btn" (click)="addItem(data)">+</a>
                    <span>
                        * {{data?.price}}
                    </span>
            </div>
            <div class="span-1-of-3">
                RS {{data?.quantity * data?.price}}
            </div></div>
        </li>
    </ul>
    <aside class="tag-line">
        <img
          src="../../../assets/images/lowest-price.png"
          alt="Banner displaying, You wont find it cheaper anywhere"
        />
        <p>You wont find it cheaper anywhere</p>
      </aside>
    </div>
    <div class="cart-footer">
    <p>Promo code can be apply on payment page</p>
    <button class="btn checkout-btn" type="button " routerLink="/home">Proceed to Checkout
        <span>
            {{totalPrice}} >
        </span>
    </button>
    
</div>
</section>

<ng-template #empty>
    <section>
    <div class="empty-cart">
       <h3>No Items in your cart</h3> 
       <p> Your favourite items are just a click away</p> 
    
      
    </div>
    <button class="btn" type="button" routerLink="/home">Start Shopping</button>
    </section> 
    </ng-template>
</div>
