
@import './variable';
.empty-cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 78vh;  
}

button {
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1% 0;
    margin-bottom: 0.2rem;
    width: 100%;
}

.cart-footer >.checkout-btn {
    text-align: left;
    padding: 1.2% 1%;
    margin-bottom: 0.2rem;
    width: 100%;
    span {
        float: right;
    }
}

.cart-container {
    .row {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      
    }

    .span-1-of-3 {
        width: 10%;
    }
    .span-2-of-3 {
        width: 80%;
        padding: 0.1rem 1rem;
        h4 {
            margin-bottom: 1rem;  
        }
    }
  
}

img {
    width:100%
}

.quantity-class {
    margin: 0 0.9rem;
}

h1 {
    -webkit-box-shadow: 0 0.2rem 0.6rem $secondarycolor;
     box-shadow: 0 0.2rem 0.6rem $secondarycolor;
    padding: 0.8rem;
    margin-bottom: 1rem;
    span {
        font-weight: normal;
        font-size: 80%;
    }
}

.tag-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 2rem;
    -webkit-box-shadow: 0 .4rem .6rem .1rem $secondarycolor;
     box-shadow: 0 .4rem .6rem .1rem $secondarycolor;
    margin: 1rem 0rem;
        img {
            width: 9rem;
        }
        p {
             padding-left: 1rem;
        }
  }

  .cart-footer {
    //   position: fixed;
    //   bottom: 0;
    //   width: 100%;
    -webkit-box-shadow: 0 0.4rem 0.6rem 0.1rem $secondarycolor;
            box-shadow: 0 0.4rem 0.6rem 0.1rem $secondarycolor;
      p {
          text-align: center;
      }
  }

  .wrap-text {
      height: 72vh;
  }
