@import "../../styles/mixins.scss";

.signinform-container{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  button{
    margin-top: 3rem;
  }

  p{
    margin: 1rem 0;
    a{
      color: blue;
      font-weight: 700;
      &:hover{
        text-decoration: underline;
      }
    }
  }


  @include onDesktop(){
    .MuiTextField-root{
    }
    button{
      margin-top: 3rem;
      height: 3rem;
      font-size: 1.2rem;
    }
  }


  @include onTab(){
  }
}