<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sabka Bazar Grocery Store - Buy Groceries Online</title>
    <meta name="description"
        content="India's biggest online store for Mobiles, Fashion (Clothes/Shoes), Electronics, Home Appliances, Books, Home, Furniture, Grocery, Jewelry, Sporting goods, Beauty & Personal Care and more!">
    <meta name="keywords"
        content="Online Shopping in India,online Shopping store,Online Shopping Site,Buy Online,Shop Online,Online Shopping, Sabka Bazar">
</head>

<body>
    {{> ./partials/header }}
    <main id="content">
        <div class="container">
            <h1 class="page-title">Welcome</h1>
            <section id="home-slider"></section>
            <section class="catagories" id="home-category"></section>
        </div>
    </main>
    <footer>
        {{> ./partials/footer }}
    </footer>
</body>

</html>