    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-color: #fff;
        color: #000;
        font-family: 'Dosis', 'Arial', 'sans-serif';
        font-weight: 300;
        font-size: 18px;
        text-rendering: optimizeLegibility;
    }
    
    ul {
        display: flex;
        list-style: none;
    }
    
    .row {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        max-width: 1140px;
        align-items: center;
        /* justify-content: center; */
    }
    
    header {
        width: 100%;
        nav {
            border-bottom: 1px solid #a79a9a;
        }
        .row {
            ul>li {
                margin-left: 20px;
                a {
                    text-decoration: none;
                }
            }
            .logo {
                flex: 0;
                height: 70px;
                width: auto;
            }
            .main-nav {
                flex: 1;
                display: flex;
                align-items: center;
                margin-left: 11%;
                margin-top: 3%;
            }
            .super-header {
                flex: 0;
                font-size: 14px;
                .cart-section {
                    margin-top: 10px;
                    display: flex;
                    background-color: #eeeeee;
                    width: 100px;
                    align-items: center;
                    justify-content: center;
                    .img {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }
    
    .mySlides {
        display: none;
    }
    
    footer {
        background-color: #d0cccc;
        .footer {
            margin-left: 14%;
        }
    }
    
    .offer {
        width: 100%;
    }
    
    .slider_img {}
    
    .w3-button {
        color: #fff !important;
    }
    
    .w3-content {
        max-width: 1150px !important;
    }
    
    .category_fruits {
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        justify-items: center;
    }
    
    .fruits {
        width: 60%;
    }
    
    .left {
        flex: 1;
        align-items: center;
        justify-content: center;
    }
    
    .right {
        flex: 1;
        align-items: center;
        text-align: center;
        .heading {
            font-weight: 800;
            font-size: 1.3em;
        }
        .fruit_text {
            font-weight: 500;
            font-size: 1em;
            line-height: 50px;
        }
        .fruit_button {
            background: #bf2957;
            color: white;
            border-color: #bf2957;
            padding: 1%;
            font-weight: 500;
            font-size: 1em;
            /* line-height: 2%; */
        }
    }
    
    .category_bakery {
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        justify-items: center;
    }
    
    .bakery {
        width: 60%;
    }
    
    .right_bakery {
        flex: 1;
        text-align: center;
    }
    
    .left_bakery {
        flex: 1;
        text-align: center;
        .bakery_heading {
            font-weight: 800;
        }
        .bakery_text {
            font-weight: 500;
            font-size: 1em;
            padding: 1%;
        }
        .bakery_button {
            background: #bf2957;
            color: white;
            border-color: #bf2957;
            padding: 1%;
            font-weight: 500;
            font-size: 1em;
        }
    }
    
    section {
        padding: 33px 0px;
    }
    
    .category_beverages {
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        justify-items: center;
    }
    
    .beverages {
        width: 45%;
        margin-left: 6%;
    }
    
    .left_beverages {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .right_beverages {
        flex: 1;
        display: flex;
        align-items: center;
        .heading_beverages {
            font-weight: 800;
            font-size: 1.3em;
            margin-left: 13%;
        }
        .beverages_text {
            font-weight: 500;
            font-size: 1em;
            margin-left: -31%;
            padding: 1%;
        }
        .beverages_button>button {
            background: #bf2957;
            color: white;
            border-color: #bf2957;
            padding: 1%;
            font-weight: 500;
            font-size: 1em;
            /* line-height: 2%; */
            margin-left: 13%;
            margin-top: 2%;
        }
    }
    
    .category_baby {
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        justify-items: center;
    }
    
    .baby {
        width: 45%;
        margin-left: 6%;
    }
    
    .left_baby {
        flex: 1;
        align-items: center;
        justify-content: center;
    }
    
    .right_baby {
        flex: 1;
        align-items: center;
        .heading_baby {
            font-weight: 800;
            font-size: 1.3em;
            margin-left: 13%;
        }
        .text_baby {
            font-weight: 500;
            font-size: 1em;
            margin-left: 13px;
        }
        .button_baby>button {
            background: #bf2957;
            color: white;
            border-color: #bf2957;
            padding: 1%;
            font-weight: 500;
            font-size: 1em;
            /* line-height: 2%; */
            margin-top: 2%;
            margin-left: 13%;
        }
    }