* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color_white:#fff;
// Home page CSS
body {
    background-color: $color_white;
    color: #000;
    font-family: 'Dosis', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 18px;
    text-rendering: optimizeLegibility;
}

.header-nav {
    display: flex;
    list-style: none;
}

.row_header {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    align-items: center;
    /* justify-content: center; */
}

.row {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    text-align: center
    /* justify-content: center; */
}

.w3-transparent {
    background-color: #7f7f7f !important;
}

.w3-left,
.w3-right,
.w3-badge {
    cursor: pointer
}

.text {
    font-family: 'Dosis', 'Arial', 'sans-serif' !important;
    font-weight: 700 !important;
    font-size: 22px !important;
}

.w3-grey {
    background-color: #999999 !important;
    opacity: 0.6;
    font-weight: 400;
}

.w3-button:hover {
    color: white !important;
}

.hide {
    display: block;
}

.hide-menu {
    display: inline-block;
}

.w3-badge {
    height: 7px;
    width: 7px;
    padding: 3px;
    margin: 1%;
}

header {
    width: 100%;
    nav {
        -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .15);
        -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .15);
        box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .15);
    }
    .row_header {
        ul>li {
            margin-left: 20px;
            a {
                text-decoration: none;
                color: #787677;
                font-weight: 600;
            }
        }
        .logo {
            flex: 0;
            height: 70px;
            width: auto;
        }
        .main-nav {
            flex: 1;
            display: flex;
            align-items: center;
            margin-left: 11%;
            margin-top: 3%;
        }
        .super-header {
            flex: 0;
            font-size: 14px;
            .cart-section {
                margin-top: 10px;
                display: flex;
                background-color: #eeeeee;
                width: 100px;
                align-items: center;
                justify-content: center;
                .img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}

.show {
    display: none;
}

.offer {
    display: none;
    width: 100%;
}

.login_text {
    font-size: 16px;
    font-weight: 500;
    padding: 3%;
    font-family: 'Dosis', 'Arial', 'sans-serif';
    margin-left: 37%;
    text-align: left;
}

.login_heading {
    font-weight: 700;
    font-size: 30px;
    /* line-height: 50px; */
    padding: 3%;
    font-family: 'Dosis', 'Arial', 'sans-serif';
    margin-left: 37%;
    text-align: left;
}

footer {
    background-color: #eaeaea;
    .footer {
        margin-left: 13%;
        font-weight: 500;
        font-size: 16px;
        /* line-height: 50px; */
        padding: 1%;
        font-family: 'Dosis', 'Arial', 'sans-serif';
    }
}

.offer {
    width: 100%;
}

.w3-button {
    color: $color_white !important;
}

.w3-content {
    max-width: 1150px !important;
}

.category_fruits {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.fruits {
    width: 60%;
}

.heading {
    font-weight: 800;
    font-size: 1.3em;
}

.fruit_text {
    font-weight: 500;
    font-size: 15px;
    /* line-height: 50px; */
    padding: 2%;
}

.fruit_button {
    background: #bf2957;
    color: white;
    border-color: #bf2957;
    padding: 1%;
    font-weight: 500;
    font-size: 1em;
    /* line-height: 2%; */
}

.category_bakery {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.bakery {
    width: 60%;
}

.bakery_heading {
    font-weight: 800;
}

.bakery_text {
    font-weight: 500;
    font-size: 1em;
    padding: 1%;
}

.bakery_button {
    background: #bf2957;
    color: white;
    border-color: #bf2957;
    padding: 1%;
    font-weight: 500;
    font-size: 1em;
}

.section_1 {
    padding: 33px 0px;
    max-width: 1140px;
    margin: 0 auto;
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .15);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .15);
}

// Login  page Css
$primary: #6dccd3;
.login__form {
    padding: 20px 40px;
}

.signup__form {
    padding: 20px 40px;
}

form {
    display: none;
    max-width: 400px;
    margin: auto;
    display: block;
    transition: .3s;
    position: relative;
    &.up {
        transition: translateY(-180px);
    }
}

h1 {
    color: $primary;
    font-family: 'Dosis', 'Arial', 'sans-serif';
}

.btn {
    background: $color_white;
    padding: 5px;
    width: 100%;
    height: 35px;
    border: 1px solid #bf2957;
    margin-top: 40px;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0 50px #bf2957 inset;
    color: $color_white;
}

.form-group {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    color: #aeaaaa;
    &+& {
        margin-top: 30px;
    }
    .form-label {
        position: absolute;
        left: 0;
        top: 5px;
        transition: .3s;
    }
    .form-control {
        width: 100%;
        position: relative;
        height: 35px;
        background: none;
        border: none;
        padding: 5px 0;
        transition: .3s;
        border-bottom: 1px solid #aeaaaa;
        color: #555;
        &:invalid {
            outline: none;
        }
        &:focus,
        &:valid {
            outline: none;
            box-shadow: 0 1px $primary;
            border-color: $primary;
            +.form-label {
                font-weight: 500;
                font-size: 16px;
                color: $primary;
                -o-transform: translateY(-20px);
                -ms-transform: translateY(-20px);
                -moz-transform: translateY(-20px);
                -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
            }
        }
    }
}

//plp page css