<!-- <div class="modal-header" role="dialog" aria-labelledby="cartTitle">
  <p class="modal-title" id="cartTitle">My Cart</p>
  <button
    class="close"
    aria-label="Close"
    (click)="resetCart(); modal.dismiss('Cross click')"
    aria-label="Close Cart Popup"
  >
    &times;
  </button>
</div>

<div class="modal-body">
  <div class="cart-body">
    <p class="no-items main-heading" aria-level="1" role="heading">
      No items in your cart
    </p>
    <p>You favourite items are just a click away</p>
  </div>
</div>

<div class="modal-footer">
  <section class="footer-section">
    <button
      type="button"
      class="btn action-btn"
      data-dismiss="modal"
      (click)="startShopping(); modal.close('Save click')"
      aria-label="Start Shopping"
    >
      Start Shopping
    </button>
  </section>
</div> -->

<div class="modal-header" role="dialog" aria-labelledby="cartTitle">
  <p class="modal-title" id="cartTitle">My Cart
      <span *ngIf="cartList.length >0">({{cartList.length}}) item</span>
  </p>
  <button class="close" aria-label="Close" (click)="resetCart();modal.dismiss('Cross click')"
      aria-label="Close Cart Popup">&times;</button>
</div>

<div class="modal-body" *ngIf="!cartList.length; else displayItems">
  <div class="cart-body">
      <p class="no-items main-heading" aria-level="1" role="heading">No items in your cart</p>
      <p>You favourite items are just a click away</p>
  </div>
</div>

<ng-template #displayItems>
  <div class="card mb-3">
      <div class="row no-gutters" *ngFor="let product of cartList; let i = index">
          <div class="col-md-2 col-sm-4 cart-image">
              <img src="assets/{{product.imageURL}}" class="card-img" alt="{{product.name}}" title="{{product.name}}">
          </div>
          <div class="col-md-10 col-sm-8 cart-description">
              <div class="card-body">
                  <p class="card-title" aria-level="1" role="heading">{{product.name}}</p>
                  <div>
                      <i  class="fa fa-minus-square icon-fa icon-action" (click)="removeProductFromCart(product)"
                          aria-label="increase product unit"></i>
                      <span>{{product.count}}</span>
                      <i  class="fa fa-plus-square icon-fa icon-action" (click)="addProductsToCart(product)"
                          aria-label="decrease product unit"></i>
                      <span class="item-price">X &nbsp; &nbsp;{{product.price | currency: 'INR'}}</span>
                      <span class="item-total-price">{{product.productPrice | currency: 'INR'}}</span>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="cart-offer">
      <figure class="offer-img">
          <img class="offer-image" src="assets/static/images/lowest-price.png" alt="lowest-price" />
      </figure>
      <p class="offer-text">You won't find it cheaper anywhere</p>
  </div>
</ng-template>

<div class="modal-footer">
  <section *ngIf="!cartList.length; else checkout" class="footer-section">
      <button type="button" class="common-btn" data-dismiss="modal" (click)="resetCart();modal.close('Save click')"
          aria-label="Start Shopping">Start
          Shopping</button>
  </section>
  <ng-template #checkout>
      <p>Promo code can be applied on payment page</p>
      <button type="button" class="common-btn action-btn" (click)="resetCart();modal.close('Save click')" data-dismiss="modal"
          aria-label="Proceed to Checkout Rs.  /-">
          <span class="checkout-text">Proceed to Checkout </span>
          <span class="checkout-price">Rs.{{ totalAmount }} </span>
      </button>
  </ng-template>
</div> 
