  <div class="modal-header" role="dialog" aria-labelledby="cartTitle">
    <p class="modal-title" id="cartTitle">My Cart
        <!-- <span *ngIf="cartList.length >0">(0 item)</span> -->
    </p>
    <button class="close" aria-label="Close" (click)="resetCart();modal.dismiss('Cross click')"
        aria-label="Close Cart Popup">&times;</button>
</div>

<div class="modal-body" >
    <div class="cart-body">
        <p class="no-items main-heading" aria-level="1" role="heading">No items in your cart</p>
        <p>You favourite items are just a click away</p>
    </div>
</div>



<div class="modal-footer">
    <section class="footer-section">
        <button type="button" class="btn action-btn" data-dismiss="modal" (click)="startShopping();modal.close('Save click')"
            aria-label="Start Shopping">Start
            Shopping</button>
    </section>
</div>  

<!-- <div class="card mb-3">
    <div class="cart-header">
      <p class="title" id="cartTitle">
        My Cart
        <span class="count"
          >(0 item)</span
        >
      </p>
    </div>
    <div class="row product">
        <div class="cart-body">
            <p class="no-items main-heading" aria-level="1" role="heading">No items in your cart</p>
            <p>You favourite items are just a click away</p>
        </div>
    </div>
  
    <div class="cart-offer">
      <figure class="offer-img">
        <img
          class="offer-image"
          src="assets/static/images/lowest-price.png"
          alt="lowest-price"
        />
      </figure>
      <p class="offer-text">You won't find it cheaper anywhere</p>
    </div>
  </div>
  
  <div class="card-footer cart-footer">
    <button type="button" class="btn action-btn" data-dismiss="modal" (click)="startShopping()"
            aria-label="Start Shopping">Start
            Shopping</button>
  </div> -->
  