.login-section{
	@include padding(0 0 20 0);
	.login-text {
		padding:2% 0% 0% 5%;
		h1{
			@include margin(20 0 0 0);
		}
		p{
			@include fontstyle(.7 600);
			@include margin(20 0 0 0);
		}
	}
	.login-form{
		input[type="submit"] {
			@include margin(20 0 0 0);
			width:65%;
			height: 40px;
			background: color('btn');
			color: color('white');
			border: none;
		}
		
	}
}
