<section class="row login-section">
		<div class="col span-1-of-2 login-text">
			 {{> atoms/a-header text="Login"}}
			 {{> atoms/a-desc text="Get access to your Orders, Wishlist and Recommendations"}}
		</div>
		<div class="col span-1-of-2">
			<form class="login-form">
			  {{> molecules/m-forminput  type="email" name="email" placeholder="Email" labelText="Email"}}
			  {{> molecules/m-forminput type="password" name="password" placeholder="Password"  labelText="Password"}}
			  {{> atoms/a-button class="login-btn" btntext="Login"}}
			</form>
		</div>
</section>

