@import url('https://fonts.googleapis.com/css?family=Dosis:400,600,700');
@import "../../../src/sass/variables";
@import "../../components/atoms/a-button";

.login-section{
	padding: 3%;
}

.login-text {
	padding: 2%;
	@import "../../components/atoms/a-header";
	@import "../../components/atoms/a-desc";
	/*h1{
		font-weight: 700;
    	letter-spacing: -1px;
	}*/
	/*p{
		font-weight: 600;
	    font-size: 70%;
	    margin-top: 20px;
	}*/
}
.login-form{
	input, .login-btn{
		width:65%;
	}
	@import "../../components/molecules/m-forminput";
	/*.input-cls{
		border: none;
		width:100%;
		border-bottom: solid 2px $blueColor;
	}
	label{
		margin-top: 1%;
		font-weight: 600;
    	font-size: 11px;
    	color:$blueColor;
	}*/
	.login-btn {
		height: 40px;

	}
	
}
