<section class="row login-section">
		<div class="col span-1-of-2 login-text">
			<!--<h1>Login</h1>-->
			 {{> atoms/a-header text="Login"}}
			 {{> atoms/a-desc text="Get access to your Orders, Wishlist and Recommendations"}}
			<!--<p></p>-->
		</div>
		<div class="col span-1-of-2">
			<form class="login-form">
			  <!--<div class="input-area">-->
			  {{> molecules/m-forminput name="email" placeholder="Email" labelText="Email"}}
				 <!-- <label for="email">Email</label><br>
				  <input type="email" name="email" placeholder="Email" class="input-cls"><br><br>
			  </div>-->
			  {{> molecules/m-forminput name="password" placeholder="Password"  labelText="Password"}}
			  <!--<div class="input-area">
			  	<label for="password">Password</label><br>
			  	<input type="password" name="password" placeholder="Password" class="input-cls"><br><br>
			  </div>-->
			  {{> atoms/a-button class="login-btn"}}
			 <!-- <button type="button" class="login-btn">Login</button>-->
			</form>
		</div>
</section>

