@import url('https://fonts.googleapis.com/css?family=Dosis:400,600,700');
@import "../../../src/sass/variables";
@import "../../../src/sass/common";
@import "../../components/atoms/a-header";
@import "../../components/atoms/a-desc";
@import "../../components/molecules/m-forminput";
@import "../../components/atoms/a-button";
.login-section{
	@include padding(0 0 20 0);
	.login-text {
		padding:2% 0% 0% 5%;
		h1{
			@include margin(20 0 0 0);
		}
	}
	.login-form{
		.login-btn{
			width:65%;
		}
		.login-btn {
			height: 40px;
			@include margin(20 0 0 0);

		}
		
	}
}
