.login-container {
  display: flex;
  gap: 4rem;
}

@media only screen and (max-width: 576px) {
  .login-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
}
