<header>
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="logo-wrapper pr-5">
        <img src="assets/images/logo.png" alt="Logo" class="img-fluid logo" />
      </div>
      <nav class="d-none d-md-inline-block pl-5 pb-2">
        <a routerLink="/home" class="px-2">Home</a>
        <a routerLink="/products" class="px-2">Products</a>
      </nav>
      <div class="d-flex justify-content-end pr-0">
        <div class="d-flex flex-column align-items-end">
          <div class="d-none d-md-block">
            <a routerLink="/" class="login">Login</a>
            <a routerLink="/register" class="register">Register</a>
          </div>
          <div class="d-flex cart mt-md-2">
              <img src="assets/images/cart.svg" alt="Cart">
              <div class="quantity">{{ cartQuantity }} items</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
