.sliderimg {
    width: 100%;
    height: 500px;
    object-fit: cover
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner img {
    width: 100%;
    height: 180px;
}

.slide-arrow {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    border: none;
    padding: 0.5rem;

}