<section>
  <div class="row">
    <div class="siderbar tablet desktop">
      <app-sidebar [categories]="categories"></app-sidebar>
    </div>
    <div class="sidebar mobile">
      <select aria-label="product category select dropdown" [ngModel]="defaultCategory" (change)="onCategoryChange($event)">
        <option aria-label="show all products" value="">Select Category</option>
        <option aria-label="product category name" [value]="category.id" *ngFor="let category of categories">
          {{ category.name }}
        </option>
      </select>
    </div>
    <div class="content">
      <app-product-item
        *ngFor="let product of products"
        class="product-item"
        [product]="product"
      ></app-product-item>
    </div>
    <div class="clearfix"></div>
  </div>
</section>
