
 *,*::before , *::after{
    box-sizing: border-box;
}

body {
   background-color: map-get($site_colors, primary-color-white);
   margin: 0;
   font-family: $font_style;
   @include fontSize(15px);
   color: map-get($site_colors, secondary-color-black);
}
.clearfix::before, .clearfix::after {
    content: "";
    clear: both;
    display: block;
}
.container {
    width: 90%;
    margin: 0 auto;
    // @include media-xl-screen{
    //     width: 80%;
    // }
    @include media-lg-screen {
        width: $body-width;
        max-width: 1024px;
    }
    @include media-md-screen {
        width: $body-width;
        max-width: 100%;
    }
    @include media-sm-screen {
        width: $body-width;
        max-width: 100%;
    }
   
}

// .container__homepage{
//     width:80%
// }
.accessibility__hidden {
    display: none;
}

.skip__to__content {
    padding: 1em;
    position: absolute;
    top: -40px;
    left: 1em;
    z-index: 1000;
    color: white;
    &:focus {
        position: absolute;
        top: 0;
        background: map-get($site_colors, secondary-color-black);
      }
  }
  
 

.error{
    text-align: center;
    background-color: map-get($site_colors,  box-grey-color);
    &__heading{
    font-size: 20px;
    }
}
