/******************* LinkButtonComponent *****************************/
@import '../../Styles/variable.scss';
@import '../../Styles/color-variable.scss';

$BUTTON_PADDING: 15px;

.link-button {
    // border: 1px solid $APP_BLACK;
    text-decoration: none;
    background-color: $CRIMSON_RED;
    width: 100%;
    min-height: $MEDIUM_HEIGHT;
    padding: $BUTTON_PADDING;
    font-size: $MEDIUM_FONT_SIZE;
    color: $WHITE;
    display: inline-block;
}
