@import "../../styles/Fonts.scss";
@import "../../styles/Colors.scss";

.cartContainer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
}
.cartDialog {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.cartDialog > div {
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 350px;
  width: 50%;
  border-radius: 20px;
  padding: 2rem;
}

.cartMain {
  position: absolute;
  background-color: $grey;
  right: 200px;
  height: 400px;
  top: 126px;
  width: 350px;
}
.deleteButton {
  cursor: pointer;
}
.cartMain {
  header {
    display: flex;
    background-color: $darkblue;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    color: $white;
    font-weight: 600;
    padding: 0 20px;
    font-size: 1.2rem;
  }
}

@media (max-width: 690px) {
  .cartMain {
    margin: auto;
    margin-top: 20%;
    position: unset;
  }
}
