.Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23%;
    margin-right: 10px;
    border-bottom: 2px dotted #eaeaea;
    padding-bottom: 5px;
    justify-content: space-between;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);

    header{
        width: 100%;
        height: 100px;
        display: flex;
        align-items: flex-start;
        h3{
            color: #000000;
        }
    }
}
.AddToCartMobileButton{
    display: none;
}
.SecondaryContainer{
    img{
width: 80%;
object-fit: contain;
    }
   
}
.Description{
    background-color: #eaeaea;
    padding: 14px;
 height: 6rem;
 overflow: hidden;
   font-weight: bold;
   text-overflow: ellipsis;

}
.MainButtonContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    .Mrp{
      width: 100%;
      font-size: 1.2rem;
      font-weight: 700;
    } 
}
.AddToCartButton,.AddToCartButton:visited{
    cursor: pointer;
    background: #c33761;
  border: none;
  color: white;
  font-size: 1.3rem;
  padding: 0.3rem;
  width: inherit;
  
}
.AddToCartButton:hover,
.AddToCartButton:active,
.AddToCartButton:focus{
    background: #df1350;
}


@media (max-width: 961px) {
    .Container{
        width: 47%;
    }
    .AddToCartButton{
        display: none;
    }
    .AddToCartMobileButton{
        display: block;
        cursor: pointer;
        background: #c33761;
      border: none;
      color: white;
      font-size: 1.3rem;
      padding: 0.3rem;
      width: inherit;
    }
    .Mrp{
        display: none;
    }
}

@media (max-width: 600px) {
    .Container{
        width: 100% !important;

        header{
            height: 80px;
            font-size: 1.3rem;
        }
    }
    .SecondaryContainer{
        display: flex;
        align-items: center;
        img{
            width: 50%;
            object-fit: contain;
        }
    }
    .Mrp{
        display: none;
    }
    .Description{
        font-size: 1.2rem;
       max-height: 8rem;
       text-overflow: ellipsis;
    }
    .AddToCartButton{
        display: none;
    }
    .AddToCartMobileButton{
        display: block;
        cursor: pointer;
        background: #c33761;
      border: none;
      color: white;
      font-size: 1.3rem;
      padding: 0.3rem;
      width: inherit;
    }
  
}