<div class="container">
  <div class="row">
    <div class="col-6 LoginRegText">
      <h1>Signup</h1>
      <h2>We do not share your personal details with anyone.</h2>
    </div>
    <div class="col-6">
      <form [formGroup]="registrationForm" (submit)="submitRegistrationForm()">
        <div class="form-group">
          <label for="firstName" class="bmd-label-floating">First Name</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            formControlName="firstName"
          />
        </div>
        <div
          *ngIf="
            (registrationForm.get('firstName').touched ||
              registrationForm.get('firstName').dirty) &&
            registrationForm.get('firstName').invalid
          "
          class="error-msg"
        >
          {{
            registrationForm.get("firstName")?.errors.required
              ? validationMessages.firstName.required
              : validationMessages.firstName.pattern
          }}
        </div>
        <div class="form-group">
          <label for="lastName" class="bmd-label-floating">last Name</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            formControlName="lastName"
          />
        </div>
        <div
        *ngIf="
          (registrationForm.get('lastName').touched ||
            registrationForm.get('lastName').dirty) &&
          registrationForm.get('lastName').invalid
        "
        class="error-msg"
      >
        {{
          registrationForm.get("lastName")?.errors.required
            ? validationMessages.lastName.required
            : validationMessages.lastName.pattern
        }}
      </div>
        <div class="form-group">
          <label for="email" class="bmd-label-floating">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
          />
        </div>
        <div
        *ngIf="
          (registrationForm.get('email').touched ||
            registrationForm.get('email').dirty) &&
          registrationForm.get('email').invalid
        "
        class="error-msg"
      >
        {{
          registrationForm.get("email")?.errors.required
            ? validationMessages.email.required
            : validationMessages.email.pattern
        }}
      </div>
        <div class="form-group">
          <label for="password" class="bmd-label-floating">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
          />
        </div>
        <div
        *ngIf="
          (registrationForm.get('password').touched ||
            registrationForm.get('password').dirty) &&
          registrationForm.get('password').invalid
        "
        class="error-msg"
      >
        {{
          registrationForm.get("password")?.errors.required
            ? validationMessages.password.required
            : validationMessages.password.pattern
        }}
      </div>
        <div class="form-group">
          <label for="confirmPassword" class="bmd-label-floating"
            >Confirm Password</label
          >
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            formControlName="confirmPassword"
          />
        </div>
        <div
        *ngIf="
          (registrationForm.get('confirmPassword').touched ||
            registrationForm.get('confirmPassword').dirty) &&
          registrationForm.get('confirmPassword').invalid
        "
        class="error-msg"
      >
        {{
          registrationForm.get("confirmPassword")?.errors.required
            ? validationMessages.confirmPassword.required
            : validationMessages.confirmPassword.compare
        }}
      </div>

        <button type="submit" class="btn btn-danger btn-raised">Signup</button>
      </form>
    </div>
  </div>
</div>
