.product_list_container {
  display: flex;
  margin-top: 10px !important;
  position: relative;
  margin-bottom: 30px !important;
  word-break: break-word;
  & .sidebar {
    width: 22%;
  }

  & .products {
    display: flex;
    flex-wrap: wrap;
    width: 78%;

    & .card_container {
      width: 25%;
      // border: 1px solid #eeeeee;
    }
  }
}

.modal_container {
  & .modal_wrapper {
    & .cart-container {
      width: 100%;

      & .cart-card {
        & .cart-header {
          margin-top: 0px;
          background: #000;
          color: #eeeeee;
        }
        & .cart-body {
          height: calc(100vh - 198px);
          overflow-y: scroll;
          overflow-x: hidden;
          // font-size: 12px;

          & .cart-item {
            & .cart-item-info {
              & .cart-item-calculation {
                font-size: 12px;

                & .btn-rounded {
                  height: 20px;
                  width: 20px;
                }
              }
            }
          }

          & .cart-banner {
            padding: 5px;
            display: flex;
            border-radius: 2px;
            align-items: center;
            justify-content: center;
            margin: 5px 7px;
            font-size: 10px;
            background: #fff;
          }
        }

        & .cart-footer {
          margin-top: 0px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  /* For tablet phones: */
  .product_list_container {
    & .products {
      width: 70%;

      & .card_container {
        width: 50%;
        // border: 1px solid #eeeeee;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  /* For mobile phones: */
  .product_list_container {
    flex-direction: column;

    & .select {
      position: fixed;
      top: 72px;
    }

    & .products {
      flex-direction: column;
      width: 100%;

      & .card_container {
        width: 100%;
        // border: 1px solid #eeeeee;
      }
    }
  }
}
