<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Login Page">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type='text/css' href="/resources/css/main.css" />
    <link rel="stylesheet" type='text/css' href="/resources/css/home.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type='text/css' href='https://fonts.googleapis.com/css?family=Dosis:400,600,700'
        rel='stylesheet' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    
    <title>Shopping Site</title>
</head>

<body>
    <header>
        <div class="header_wrapper">
            <div class="header_logo">
                <img src="/resources/images/logo.png" alt="Shpping Site logo">
            </div>
            <div class="header_nav">
                <nav>
                    <div class="header_nav_one">
                        <span><a class="btn" href="">Home</a></span>
                        <span><a class="btn" href="plp.html">Products</a></span>
                    </div>
                    <div class="header_nav_two">
                        <div>
                            <span><a class="btn" href="signIn.html">Login</a></span>
                            <span><a class="btn" href="signUp.html">Register</a></span>
                        </div>
                        <div class="header_nav_two_child">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <div class="home_container">
        <section class="caraousel_sec">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div id="carousel-inner" class="carousel-inner" role="listbox"></div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </section> 

        <section class="fruits_sec">
            <div class="fruits_sec_l">
                adadadahkahdkiahbkjdbajdgaju
            </div>
            <div class="fruits_sec_r">
                <h4>fasfasfasd</h4>
                <p>sfsgfsf</p>
                <a class="btn" href="#">Explore fruit-and-veg</a>
            </div>
        </section>   
        <section class="bakery_sec">
            <div class="bakery_sec_l"></div>
            <div class="bakery_sec_r"></div>
        </section>
        <section class="beverages_sec">
            <div class="beverages_sec_l"></div>
            <div class="beverages_sec_r"></div>
        </section>
        <section class="beauty_sec">
            <div class="beauty_sec_l"></div>
            <div class="beauty_sec_r"></div>
        </section>
        <section class="babycare_sec">
            <div class="babycare_sec_l"></div>
            <div class="babycare_sec_r"></div>
        </section>
    </div>
    <footer>
        <div class="footer_wrapper">
            Copyright &copy; 2011-2019 Sabka Bazaar Grocery Supplies Pvt Ltd
        </div>
    </footer>

    <script src="/vendors/js/jquery.min.js"></script>
    <script src="/resources/js/home.js"></script>    
    <script src="/vendors/js/bootstrap.min.js"></script>
</body>

</html>