
    <section>
        <div class="login_sect">
            <div class="login_sect_l">
                <h2>Login</h2>
                <p>Get access to your Orders, Wishlist and Recommendations</p>
            </div>
            <div class="login_sect_r">
                <form>
                    <input type="email" id="login_email" name="email" placeholder="Email"
                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" required>
                    <label for="email">Email</label>

                    <input type="password" id="login_password" name="password" placeholder="Password"
                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required>
                    <label for="password">Password</label>

                    <input type="button" value="Login" onclick="login()">
            </div>
            </form>
        </div>
        </div>
    </section>