<div class="login-wrapper">
    <div class="login-details float-left">
        <h2>Login</h2>
        <p class="login-text">Get access to your Orders, Wishlist, and Recommendations</p>
    </div>
    <div class="login-form float-right">
        <form action="/" method="get">
            <div class="form-input">
                <label>
                    <input type="email" name="email" id="email" required>
                    <span class="placeholder">E-mail</span>
                </label>
            </div>
            <div class="form-input">
                <label>
                    <input type="password" id="password" name="password" required>
                    <span class="placeholder">Password</span>
                </label>
            </div>
            <input type="submit" value="Login" class="form-button-large">
        </form>
    </div>
</div>