<div class="row row-fix">
    <div class="login-text col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h2>Login</h2>
        <p>Get access to your Orders, Wishlist, and Recommendations</p>
    </div>
    <div class="login-form col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <form action="/">
            <div class="form-input">
                <label>
                    <input type="email" name="email" id="email" required>
                    <span class="placeholder">E-mail</span>
                </label>
            </div>
            <div class="form-input">
                <label>
                        <input type="password" id="password" name="password" required>
                        <span class="placeholder">Password</span>
                </label>
            </div>
            <input type="submit" value="Login" class="form-button-large">
        </form>
    </div>
</div>