<div class="user-form">
    <section>
        <div class="container">
            <div class="user-form__form">
                <div class="flex-container">
                    <div class="user-form__formText">
                        <h2 tabindex="0">login</h2>
                        <p tabindex="0">Get access to your Orders , Wishlists and
                            Recommendations </p>
                    </div>
                    <div class="user-form__formSet">
                        <form name="login_form" method="post" autocomplete="off">
                            {{#each loginLabel}}
                            <div class="fieldset">
                                <input type="{{type}}" class="form__input" name="email"
                                    id="email" required tabindex="0">
                                <label for="email" tabindex="0">{{label}}</label>
                            </div>
                            {{/each}}
                         
                            <div class="fieldset">
                                <button type="submit" class="btn btn--full_width" tabindex="0">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>