<div class="login">
    <section>
        <div class="container">
            <div class="login__form">
                <div class="flex_box">
                    <div class="form_text">
                        <h2 tabindex="0">Login</h2>
                        <p tabindex="0">Get access to your Orders , Wishlists and
                            Recommendations </p>
                    </div>
                    <div class="form_set">
                        <form autocomplete="off">
                            <div class="fieldset">
                                <input type="email" class="form-control"
                                    id="email" required>
                                <span class="border_bottom"></span>
                                <label for="email">Email</label>
                            </div>
                            <div class="fieldset">

                                <input type="password" class="form-control"
                                    id="pwd" required>
                                <span class="border_bottom"></span>
                                <label for="pwd">Password</label>
                            </div>
                            <div class="fieldset">
                                <button type="submit" class="btn full__width">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>