<main class="login_sect">
    <aside class="login_sect_l">
        <h2>Login</h2>
        <p>Get access to your Orders, Wishlist and Recommendations</p>
    </aside>
    <section class="login_sect_r">
        <form id="login_form">
            <input type="email" id="login_email" name="email" placeholder="Email" onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Email'">
            <label for="email">Email</label>

            <input type="password" id="login_password" name="password" placeholder="Password"
                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
            <label for="password">Password</label>

            <input type="submit" value="Login" onclick="login()">
        </form>
    </section>
    </div>
</main>