<div class="login-wrapper">
    <div class="login-details float-left">
        <h2>Signup</h2>
        <p class="login-text">We do not share your personal details with anyone.</p>
    </div>
    <div class="login-form float-right">
        <form action="/" method="get">
            <div class="form-input">
                <label>
                    <input type="text"  required>
                    <span class="placeholder">First Name</span>
                </label>
            </div>
            <div class="form-input">
                    <label>
                        <input type="text" required>
                        <span class="placeholder">Last Name</span>
                    </label>
                </div>
            <div class="form-input">
                <label>
                    <input type="email" required>
                    <span class="placeholder">E-mail</span>
                </label>
            </div>
            <div class="form-input">
                <label>
                        <input type="password" minlength="6" pattern="\w{6,}" required>
                        <span class="placeholder">Password</span>
                </label>
            </div>
            <div class="form-input">
                    <label>
                        <input type="password" required>
                        <span class="placeholder">Confirm Password</span>
                    </label>
                </div>
            <input type="submit" value="Signup" class="form-button-large">
        </form>
    </div>
</div>