	<section class="row register-section">
		<div class="col span-1-of-2 register-text">
			<h1>Sign Up</h1>
			<p>We do not share your personal details with anyone.
		</div>
		<div class="col span-1-of-2">
			<form class="register-form">
			  <div class="input-area">
				  <label for="first">First Name</label><br>
				  <input type="text" name="first" placeholder="First Name" class="input-cls"><br><br>
			  </div>
			  <div class="input-area">
			  	<label for="last">Last Name</label><br>
			  	<input type="text" name="last" placeholder="Last Name" class="input-cls"><br><br>
			  </div>
			  <div class="input-area">
				  <label for="email">Email</label><br>
				  <input type="email" name="email" placeholder="Email" class="input-cls"><br><br>
			  </div>
			  <div class="input-area">
			  	<label for="password">Password</label><br>
			  	<input type="password" name="password" placeholder="Password" class="input-cls"><br><br>
			  </div>
			  <div class="input-area">
				  <label for="passw2">Confirm Password</label><br>
				  <input type="passw2" name="passw2" placeholder="Confirm Password" class="input-cls"><br><br>
			  </div>
			  <button type="button" class="register-btn">Signup</button>
			</form>
		</div>
	</section>
