
    <section>
        <div class="register_sect">
            <div class="register_sect_l">
                <h2>Login</h2>
                <p>Get access to your Orders, Wishlist and Recommendations</p>
            </div>
            <div class="register_sect_r">
                <form id="registration_form">
                    <input type="text" id="fname" name="fname" placeholder="First Name" onfocus="this.placeholder = ''"
                        onblur="this.placeholder = 'First Name'">
                    <label for="fname">First Name</label>

                    <input type="text" id="lname" name="lname" placeholder="Last Name" onfocus="this.placeholder = ''"
                        onblur="this.placeholder = 'Last Name'">
                    <label for="lname">Last Name</label>

                    <input type="email" id="register_email" name="email" placeholder="Email"
                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
                    <label for="email">Email</label>

                    <input type="password" id="register_password" name="password" placeholder="Password"
                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
                    <label for="password">Password</label>

                    <input type="password" id="cpassword" name="cpassword" placeholder="Confirm Password"
                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm Password'">
                    <label for="password">Confirm Password</label>

                    <input type="submit" value="Signup" onclick="register()">
                </form>
            </div>
        </div>
    </section>