<article class="custom_product-category-container" *ngFor="let category of categories; let i=index">
    <ng-container *ngIf="i%2==0">
        <div>
            <h2 tabindex="0">{{category.name}}</h2>
            <p tabindex="0">{{category.description}}</p>
            <button type="button" class="custom_btn custom_btn-dark-pink"
                (click)="goToProductsPage(category.id)">Explore
                {{category.key | titlecase}}</button>
        </div>
        <figure>
            <img src="{{category.imageUrl}}" alt="{{category.name}}" />
        </figure>
    </ng-container>
    <ng-container *ngIf="i%2!==0">
        <figure>
            <img src="{{category.imageUrl}}" alt="{{category.name}}" />
        </figure>
        <div>
            <h2 tabindex="0">{{category.name}}</h2>
            <p tabindex="0">{{category.description}}</p>
            <button type="button" class="custom_btn custom_btn-dark-pink"
                (click)="goToProductsPage(category.id)">Explore
                {{category.key | titlecase}}</button>
        </div>
    </ng-container>
</article>