h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 10px 0;
}

html,
body {
  font-family: "Dosis", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.container-width {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.border-shadow {
  padding-bottom: 50px;
  position: relative;
  margin-bottom: 20px;
  margin-top: 15px;
}

.border-shadow:after {
  content: "";
  box-shadow: 0 7px 7px -5px #000;
  width: 500px;
  height: 14px;
  position: absolute;
  transform: capitalize;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
button {
  cursor: pointer;
}
@media only screen and (max-width: 1024px) {
  .left-section {
    width: 33% !important;
  }
  .right-Section {
    width: 65% !important;
  }
  .loginCard,
  .loginCard .form,
  .loginCard form {
    width: 100% !important;
  }
}
