<section class="category">
  <div class="sub__category" *ngFor="let category of allCategories">
    <div class="category__img">
      <img
        class="img"
        src="{{ './../../../assets/' + category?.imageUrl }}"
        alt="category"
      />
    </div>
    <div class="btn">
      <p class="category__name">{{ category?.name }}</p>
      <p class="category__desc">{{ category?.description }}</p>
      <button class="btn__navigate" type="button" (click)="navigateToExplore()">
        Explore {{ category?.name }}
      </button>
    </div>
  </div>
</section>
