@import './../../sass/variables';
@import './../../sass/mixins';

.form-control-input{
    border:none;
    border-bottom: 2px solid $color-grey-dark;
}

.form-control-input:focus{
    color: #495057;
    background-color: #fff;
    border-bottom: 2px solid #80bdff;
    outline: 0;
}


.login-info{
    display: flex;
    justify-content: flex-end;
    padding: 2rem;

    @include responsive(mobile){
       justify-content: flex-start;
       padding: 2rem 1rem;
    }
}

.login-heading >*{
    padding : 1rem 0rem;
}

input.ng-invalid.ng-touched{
    border-bottom: 2px solid $color-alert;
}
