/*
* this are the available color palette
*/
$btnPrimaryBg: #0084f8;
$btnPrimaryText: #ffffff;

/*
* Available gradient i the application
*/

$warning: rgba(87, 72, 2, 0.5);
$error: rgba(173, 24, 24, 0.5);
$success: rgba(6, 87, 2, 0.5);
$info: rgba(25, 38, 94, 0.5);

/*
* Validation error
*/

$validationerror: red;
