@import './../../sass/variables';
@import './../../sass/mixins';

.cart-items{
    background-color: $color-medium-light;
}

.cart-item-image{
    width : 6rem;
    height: 6rem
}

.image-card{
    display: flex;
    margin-bottom: .5rem;
    padding: .2rem;
}

.button-subtract, .button-add{
    width : 2rem;
    height: 2rem;
    border : none;
    border-radius: 100%;
    color : $color-white;
    background-color: $color-primary;
}

.cart-item-image{
    display:flex;
}

.cart-item-details {
    padding: .5rem;
    flex:1;
}

.cart-item-addition {
  margin-top : 1rem;
  >*{
    margin-right: 1rem;
  }
}

.product-quantity,.unit-price,.total-price{
    font-size: 1.2rem;
    font-weight: 600;
}

.total-price{
    float:right;
}

.header-card{
    display: flex;
    align-items: baseline;
    position: relative;
    background-color: black;
    color: white;
}

.shoppincart-heading{
    flex:1;
}

.shopping-cart-close{
    font-size: 2rem;
    cursor: pointer;
}

.lowest-price-icon{
    width : 13rem;
    height : 3rem
}

.checkout-card{
    position: absolute;
    width: 100%;
    top: 100%;
    transform: translateY(-100%);
}

.scrollable-items{
    height: 65vh;
    overflow-y: auto;

    @include responsive(large-tabs){
        height: 70vh;
    }

    @include responsive(mobile){
        height: 80vh;
    }

    @media screen and (max-height:440px){
        height: 50vh
    }
}

.promo-paragraph{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}
 // Empty Cart
.no-items-card{
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.empty-cart{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.empty-cart-description{
   font-size: 1.1rem;
   font-weight: 600;
   height: 80%;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.no-items{
    font-size: 1.4rem;
    font-weight: 800;
}

.cart-footer{
    text-align: center;
}

.start-button{
    width : 85%;
}







