.content{
    width:80%;
    margin:auto;
    position:relative;
    // background-color: $cart-background;
  }

  @media screen and (max-width:1199px){
      .content{
          width: 100%;
      }
  }