@import "../../../styles/Colors.scss";
.categoryContainer {
  display: flex;
  justify-content: space-between;
  height: 280px;
  align-items: center;
  border-bottom: solid 0.5px $grey;
  margin: 30px;
}
.info {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
