<div class="carousel-wrapper" role="banner" aria-label="Banner of Home Page">
  <carousel #carousel="carousel">
    <ng-container
      *ngFor="let item of (banners$ | async)?.banners; let i = index"
    >
      <ng-container *carouselItem>
        <div class="item" title="Carousel Item {{ i }}">
          <img
            [src]="item.bannerImageUrl"
            [alt]="item.bannerImageAlt"
            [title]="item.bannerImageAlt"
          />
        </div>
      </ng-container>
    </ng-container>
  </carousel>

  <div style="margin-top: 1em">
    <a
      (click)="carousel.next()"
      role="button"
      aria-label="Go to Next Item"
      class="btn-next"
      >Next</a
    >
    <a
      (click)="carousel.prev()"
      role="button"
      aria-label="Go to Previous Item"
      class="btn-prev"
      >Prev</a
    >
  </div>
</div>

<ul
  class="categories"
  role="banner"
  aria-label="List of Categories Available in Store"
>
  <li *ngFor="let category of (categories$ | async)?.categories">
    <section class="category">
      <div class="left">
        <img
          [src]="category?.imageUrl"
          [alt]="category?.description"
          [title]="category?.description"
        />
      </div>
      <div class="right">
        <h3 [innerHtml]="category.name" class="name"></h3>
        <div [innerHtml]="category.description" class="desc"></div>
        <a
          routerLink="/products"
          [queryParams]="{ categoryId: category?.id }"
          queryParamsHandling="merge"
        >
          <button class="btn-explore">Explore {{ category.key }}</button>
        </a>
      </div>
    </section>
  </li>
</ul>
