@import '../../../../styles.scss';

nav{
    display: flex;
    flex-direction: row;
    box-shadow: 0px 5px 10px -6px $color-black;  
    justify-content: space-between;
    align-items: center;
    div {
        display: flex;
        flex-direction: row;
        position: absolute;
        border: 1px solid $color-grey;
        background-color: $color-white;
        padding: 5px;
        top: 5%;
        left: 5%;
        z-index: 100000;
    }
    a {
        text-decoration: none;
        padding: 10px;
    }
}