@import '../../../../styles.scss';

nav{
    display: flex;
    flex-direction: row;
    box-shadow: 0px 5px 10px -6px $color-black;  
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    background: $color-white;
    z-index: 999;
    .mobile-menu {
        display: none;
        flex-direction: row;
        position: absolute;
        border: 1px solid $color-grey;
        background-color: $color-white;
        padding: 10px;
        top: 80%;
        left: 5%;
        z-index: 100000;
    }
    .login-menu, .page-menu {
        display: none;
    }
    
    a {
        text-decoration: none;
        padding: 10px;
    }
}

@media (min-width: 768px) {
    nav {
        .login-menu {
            display: block;
            position: absolute;
            right: 0;
            top: 0%;
        }
        .page-menu {
            display: block;
            position: absolute;
            left: 32%;
        }
        a {
            color: black;
            font-weight: 600;
        }
    }
}

@media (min-width: 1024px) {
    nav {
        justify-content: space-around;
        .mobile-menu {
            display: none;
        }
        .login-menu {
            display: block;
            position: absolute;
            right: 20%;
            top: 0%;
        }
        .page-menu {
            display: block;
            position: absolute;
            left: 32%;
        }
    
        a {
            color: black;
            font-weight: 600;
        }
    }
    
}