.loginDes{
    height:3em;
    font-size:1.2em;
}
.loginDes>*{
    height: 2em;
    margin: 10% 0% 0% 10%;
}
.loginDes>header{
    font-weight:bolder;
    font-size:1.5em;
    margin-top: 0;
}

  input[type="text"],input[type="password"] {
    box-sizing: border-box;
    width: 100%;
    height: calc(4em + 1px);
    margin: 0 0 1em;
    padding: 0.5em;
    border:0px;
    border-bottom: 1px solid #ccc;
    background: #fff;
    resize: none;
    outline: none;
  }
  
  input[type="text"][required]:focus,
  input[type="password"][required]:focus {
    border-color: #00bafa;
  }
  input[type="text"][required]:focus + label[placeholder]:before, 
  input[type="password"][required]:focus + label[placeholder]:before {
    color: #00bafa;
  }
  input[type="text"][required]:focus + label[placeholder]:before,
  input[type="text"][required]:valid + label[placeholder]:before,
  input[type="password"][required]:focus + label[placeholder]:before,
  input[type="password"][required]:valid + label[placeholder]:before {
    transition-duration: .2s;
    transform: translate(0, -1.5em) scale(0.9, 0.9);
  }
  
  input[type="text"][required]:invalid + label[placeholder][alt]:before,
  input[type="password"][required]:invalid + label[placeholder][alt]:before {
    content: attr(alt);
  }
  
  input[type="text"][required] + label[placeholder],
  input[type="password"][required] + label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: 1em;
    margin-top: calc(-3em - 2px);
    margin-bottom: calc((3em - 1em) + 2px);
  }
  
  input[type="text"][required] + label[placeholder]:before,
  input[type="password"][required] + label[placeholder]:before {
    content: attr(placeholder);
    display: inline-block;
    padding: 0 2px;
    color: #898989;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    background-image: linear-gradient(to bottom, #fff, #fff);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .loginform{
      margin-top: 5%;
  }
  .loginform>*{
      width: 90% !important;
  }
  .loginform>button{
    padding: 1em;
  }