<section>
  <div class="row">
    <div class="container">
      <div class="left-section">
        <h1 aria-label="Login">Login</h1>
        <p
          aria-label="description"
          aria-describedat="Get access to your Orders. Whishlist and Recommendations"
        >
          Get access to your Orders. Whishlist and Recommendations
        </p>
      </div>
      <div class="right-section">
        <form
          aria-label="Login Form"
          #loginForm="ngForm"
          (ngSubmit)="onSubmit(loginForm)"
        >
          <div class="form-group">
            <mat-form-field class="mat-form-field">
              <mat-label aria-label="Email Label">Email</mat-label>
              <input
                matInput
                required
                name="email"
                aria-label="Email Input field"
                email
                ngModel
                placeholder="test@test.com"
              />
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="mat-form-field">
              <mat-label aria-label="password label">Password</mat-label>
              <input
                matInput
                required
                aria-label="Password input field"
                type="password"
                name="password"
                ngModel
                placeholder="Must be atleast 8 char"
              />
            </mat-form-field>
          </div>
          <input
            aria-label="Submit Login Form"
            [disabled]="!loginForm.valid"
            type="submit"
            value="Login"
          />
        </form>
      </div>
    </div>
  </div>
</section>
