@use "../common/base";

.item {
	width: 80%;
	margin: auto;
	border-bottom: base.$gray-color;
	box-shadow: 0 8px 6px -6px rgba(138, 142, 143, 0.5);
	text-align: center;
	font-size: 1em;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 2em;
	img {
		width: 30vw;
		height: 10rem;
		grid-column: 1/2;
	}
	section {
		grid-column: 2/-1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		button {
			margin-bottom: 1rem;
			box-shadow: 0 0.1em 0.1em rgb(216, 210, 210);
			background-color: base.$pink-color;
			color: white;
			padding: 0.2em 0.5em;
			border: none;
		}
	}
}

.categories-items :nth-child(even) {
	img {
		order: 1;
		grid-column: 3/-1;
	}
	section {
		grid-column: 1/3;
	}
}

@media screen and (max-width: 520px) {
	.item {
		font-size: 0.6em;
		img {
			width: 8em;
			height: 7em;
		}
		h1 {
			font-size: 0.8em;
		}
		p {
			font-size: 0.6em;
		}
		button: {
			font-size: 0.5em;
		}
	}
}
