.shadow {
    // width: 100px;
    // margin: 0 auto;
    // height: 100px;
    //   background-color: #f5f5f5;
    display: flex;
      align-items: center;
      justify-content: center;
    // margin: 40px;
    margin-bottom: 25px;
    margin-top: 25px;
    &.bottom {
        box-shadow: 0px 15px 10px -15px #111;    
      }
}