.control-dots li{
    background:black !important;
}
.categoryCard{
    display: flex;
    justify-content: space-between;
    height: 250px;
    align-items: center;
    border-bottom: solid 0.5px lightgray;
   
}

.shadow{
    box-shadow: black 0 0 10px 1px;
    border-radius: 50%;
}

.info{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}


.categoryCard img{
   width: 300px;
}

@media (max-width:690px){

    .categoryCard img{
        width: 200px;
     }
     .categoryCard{

        height: 300px;
     }

  }