{{> header}}
<main class='py-2'>
    <section class='container p-3'>
        <div class='columns m-0 is-justify-content-center'>
            <div class='column is-5'>
                <h1 class="title is-size-2">
                    Signup
                </h1>
                <h4 class="is-size-6">
                    We do not share your personal details with anyone.
                </h4>
            </div>
            <div class='column is-5'>
                <form aria-label="singup form">
                    <div class='field'>
                        <label class='label'>First Name</label>
                        <div class='control'>
                            <input
                                class='input'
                                type='text'
                                name="firstname"
                                placeholder='First Name'
                            />
                        </div>
                    </div>

                    <div class='field'>
                        <label class='label'>Last Name</label>
                        <div class='control'>
                            <input
                                class='input'
                                type='text'
                                name="lastname"
                                placeholder='Last Name'
                            />
                        </div>
                    </div>

                    <div class='field'>
                        <label class='label'>Email</label>
                        <div class='control'>
                            <input
                                class='input'
                                type='email'
                                name="email"
                                placeholder='Email'
                            />
                        </div>
                    </div>
                     <div class='field'>
                        <label class='label'>Password</label>
                        <div class='control'>
                            <input
                                class='input'
                                type='password'
                                name="password"
                                placeholder='Password'
                            />
                        </div>
                    </div>
                     <div class='field'>
                        <label class='label'>Confirm Password</label>
                        <div class='control'>
                            <input
                                class='input'
                                type='password'
                                name="confirmpassword"
                                placeholder='Confirm Password'
                            />
                        </div>
                    </div>
                    <div class='field'>
                        <div class='control'>
                            <button class='button is-primary '>Signup</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
{{> footer}}
{{#renderSection 'styles'}}
    <!--webpack_style_placeholder-->
{{/renderSection}}
{{#renderSection 'scripts'}}
    <!--webpack_script_placeholder-->
{{/renderSection}}