@import "../common/color.scss";

.cart-item {
  margin: 5px 0;
  align-items: center;
  //   border: 2px solid green;
  background-color: $font-primary;
  display: flex;
  width: 100%;
  min-height: 80px;
  height: 80px;
  padding: 5px;
  .cart-image {
    display: flex;
    height: 100%;
    margin-right: 5px;

    img {
      height: 100%;
      width: 80px;
      object-fit: contain;
    }
  }

  .cart-item-description {
    flex-grow: 1;

    .item-name {
      font-size: 0.7rem;
      margin: 10px;
      flex-wrap: wrap;
    }

    .item-bar {
      display: flex;
      justify-content: space-evenly;
      p {
        font-size: 0.8rem;
        font-weight: bold;
      }

      .button-item {
        display: flex;
        justify-content: center;
        align-items: center;
        .fa-minus-circle,
        .fa-times,
        .fa-plus-circle {
          font-size: 1.2rem;
          width: 100%;
          height: 100%;
          color: $text-primary;
          cursor: pointer;
        }
      }
    }
  }

  .item-total {
    width: 50px;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
      font-size: 1.1rem;
    }
  }
}
