@import "../../../styles/mixins.scss";

.header-wrapper {
	display: flex;
	justify-content: space-between;
  padding:0.25rem 1rem;
  align-items: center;
  box-shadow: 0px 2px 11px -4px rgba(0,0,0,0.31);
  background: #ffffff;


  .header-container{
    display: flex;
    align-items: center;
    a {
      img {
        width: 4.5rem;
        height: 2.25rem;
        object-fit: cover;
      }
    }
    
    .nav-container{
      display: none;
    }
  }


  @include onDesktop(){

    padding:0.25rem 2rem;

    .header-container{
      .nav-container{
        display: flex;
        margin: 0 4.5rem;
        a{
          display: flex;
          margin-right: 1.5rem;
          svg{
            width: 1.25rem;
            height: 1.25rem;
           
          }
        }
      }
    }
  }
}
