@import "../utilities/variables";

footer {

  position: fixed;
  bottom: 0;
  left: 0;
  height: 2rem;
  width: 100%;
  font-size: 12px;
  word-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $light-grey;
}
