<section>
<div class="slideshow-container">

    <div class="mySlides fade" *ngFor="let data of bannerData">
      <!-- <div class="numbertext">1 / 3</div> -->
      <img [src]="data.bannerImageUrl" style="width:100%" [alt]="data.bannerImageAlt">
      <a class="prev" (click)="changeSlide(-1)" aria-label="previous banner">prev</a>
      <a class="next" (click)="changeSlide(1)" aria-label="next banner">next</a>
    </div>
    </div>
    <br>
    
    <div style="text-align:center" >
      <span class="dot" *ngFor="let data of bannerData; let i = index"
      (click)="slideatDot(i + 1)"
      attr.aria-label="slide to carousel image {{i+1}}"></span> 
     
    </div>
</section>


    <section>
        <ng-container  *ngFor="let data of categoryData" >
            <div *ngIf="data.enabled" class="category-section">
            <div class="span-32">
                <img [src]="data.imageUrl" alt="{{data.name}}">
            </div>
            <div class="span-64">
                <h3>{{data.name}}</h3>
                <p>
                    {{data.description}}
                </p>
                <a href="javascript:void(0)" class="btn" [routerLink]="['/products',  {id :  data.id}]"   >Explore {{data.name}}</a>
            </div>
        </div>
        </ng-container>
    </section>
  