        <div class="row product-row">
          <div
            class="card col-lg-3 col-md-6 col-sm-12 product-card"
            *ngFor="let product of products"
          >
            <div class="card-body product-body">
              <h5 class="card-title product-title">{{ product?.name }}</h5>
              <div class="inner-body">
                <img
                  class="card-img-top product-img small-screen"
                  src="{{ product?.imageURL }}"
                  alt="{{ product?.name }}"
                />
                <p class="card-text product-description small-screen">
                  {{ product?.description | slice:0:130}}
                </p>
              </div>
              <div class="product-footer">
                <div class="big-screen">
                  <h2 class="product-price">
                    MRP {{ product?.price | currency: "Rs.":"symbol":"1.0-0" }}
                  </h2>
                  <button
                    (click)="buyProduct(product)"
                    class="btn btn-danger btn-raised product-buy"
                  >
                    Buy Now
                  </button>
                </div>
                <div class="small-screen">
                  <button
                    (click)="buyProduct(product)"
                    class="btn btn-danger btn-raised product-buy"
                  >
                    Buy Now @
                    {{ product?.price | currency: "Rs.":"symbol":"1.0-0" }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
    
  