
<!-- <h1>product list</h1> -->
 <div class="row" *ngFor="let row of filterCategory">
    <div class="inner-row" *ngFor="let p of row">
      <div class="col-4">
        <div class="name">
          <h1>{{ p.name }}</h1>
        </div>

        <div class="productImage">
          <img src="{{ p.imageURL }}" />
        </div>
        <div class="description">
          <p>{{ p.description }}</p>
        </div>

        <div class="price">
          <h2>MRP Rs.{{ p.price }}</h2>
        </div>
        <div class="price">
          <button
            type="submit"
            class="btn btn-danger btn-raised"
            id="{{ p.id }}"
          >
            Buy Now
          </button>
        </div>
      </div>
    </div>
  </div> 