@import "../../../assets/scss/color.scss";
.col-2 {
  background-color: rgb(252, 245, 245);
  margin-left: 3%;
  margin-right: 2%;
}

.col-10 {
  max-width: 70%;
  padding: 10px 0px;
}

.product-card {
  width: 13rem;
  height: 410px;
  border-bottom: 1px dotted $grey;
  .product-body {
    .product-title {
      font-size: 1rem;
      font-weight: 700;
      height: 5rem;
    }
    .product-img {
      margin-bottom: 1rem;
    }
    .product-description {
      height: 5rem;
      background-color: $grey;
      font-size: 0.7rem;
      padding: 8px 7px;
      overflow: hidden;
    }
    .product-footer {
      margin-bottom: 3rem;
      display: flex;
      .product-price {
        font-size: 12px;
        width: 50%;
        padding-top: 10px;
      }
      .product-buy {
        font-size: 12px;
        float: right;
        background-color: $mergenta;
      }
    }
  }
}
