
<!-- <h1>product list</h1> -->
 <div class="row" *ngFor="let row of filterCategory">
    <div class="inner-row" *ngFor="let product of row">
      <div class="col-4">
        <div class="name">
          <h1>{{ product.name }}</h1>
        </div>

        <div class="productImage">
          <img src="{{ product.imageURL }}" />
        </div>
        <div class="description">
          <p>{{ product.description }}</p>
        </div>

        <div class="price">
          <h2>MRP Rs.{{ product.price }}</h2>
        </div>
        <div class="price">
          <button
           (click) ="buyProduct(product)"
            class="btn btn-danger btn-raised"
            id="{{ product.id }}"
          >
            Buy Now
          </button>
        </div>
      </div>
    </div>
  </div> 