@import "../../../public/index.scss";

.cart {
  margin: 12rem 0 0 0;
  min-height: calc(100vh - 7rem);
  position: relative;

  &__header {
    font-size: 1.8rem;
    font-weight: 600;

    margin: 6em 0 1.5em 0;
    padding: 1em 2em;

    background-color: rgb(230, 219, 212);
  }

  &__details {
    max-width: 100rem;
    min-width: 70rem;
    margin: 0 auto;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
  }

  &__lowest-price-banner {
    width: 90%;
    margin: 2rem auto;
  }

  &__checkout {
    font-size: 2.5rem;
    text-align: center;
    box-shadow: 0 -8px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 1.5rem 0;
    border: 1px solid aqua;

    position: absolute;
    bottom: 0rem;
    left: 0;
    z-index: 1;
    background-color: #fff;

    & > button {
      margin: 1em auto 0 auto;
      padding: 1em 1.5em;
      min-width: 40rem;
      border-radius: 4px;
      border: none;

      background-color: $primary-color;
      color: #fff;

      display: flex;
      justify-content: space-between;
    }
  }
}
