<div class="cart-popup d-none">
    <div class="cart-header">
        {{> cartHeaderSection}}
    </div>
    <div class="cart-content">
        {{> cartContentSection}}
    </div>

    <div class="cart-footer">
        {{> cartFooterSection}}
    </div>
</div>