<header class="header-container">
  <div class="container">
    <div class="d-flex">
      <div class="align-self-center">
        <a
          class="logo-link"
          href="#"
          aria-label="Click logo to navigate to Home screen"
          title="Home"
        >
          <img
            alt="Sabka Bazaar brand logo - Click to navigate to home page"
            src="../../static/images/logo.png"
            id="logo-img"
          />
        </a>
      </div>
      <nav class="nav-bar">
        <ul class="nav">
          <li class="nav-item">
            <a
              class="nav-link active"
              href="#"
              aria-label="Navigate to Home screen"
              title="Home"
            >Home</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="#"
              aria-label="Navigate to Products screen"
              title="Products"
            >Products</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="right-actions">
      <div>
        <a
          class="auth-link me-3"
          href="#"
          aria-label="Click to SignIn"
          title="SignIn"
        >SignIn</a>
        <a
          class="auth-link"
          href="#"
          aria-label="Click to Register"
          title="Register"
        >Register</a>
      </div>
      <div>
        <button
          type="button"
          class="btn cart-button"
          aria-label="Click to view items in the cart"
          title="View Cart"
        >
          <img
            alt="Cart Icon"
            src="../../static/images/cart-crimson-pink.svg"
          />
          <div>0 items</div>
        </button>
      </div>
    </div>
  </div>
</header>