<section>
  <div class="row login-container">
    <div class="col-md-auto">
      <h1 class="info-title">Login</h1>
      <p class="info-desc">Get access to your Orders, Wishlist and Recommendations</p>
    </div>
    <div class="col-md-5 login-form-section">
      <form id="loginForm">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="txtEmail" name="txtEmail" placeholder="name@example.com">
          <label for="txtEmail">Email address</label>
        </div>
        <div class="form-floating mb-5">
          <input type="password" class="form-control" id="txtPassword" name="txtPassword" placeholder="Password">
          <label for="txtPassword">Password</label>
        </div>

        <button class="btn btnCrimsonPink w-100" type="submit">Login</button>
      </form>
    </div>
  </div>

</section>