@import '../../../styles/global';

.categories-filter-data-wrap {
  li {
    cursor: pointer;
    border-bottom: 1px solid $black-color;
    span {
      display: block;
      font-size: 1rem;
      color: $black-color;
      padding: 10px;
    }
  }
}

.is-active {
  border-left: 2px solid $pink-color;
}

.mobile-collapse-categories-filter {
  display: none;
}

@media only screen and (max-width: $mobile-max-width) {
  .categories-filter-wrap {
    display: none;
  }
  .mobile-collapse-categories-filter {
    display: block;
    .collapse-header {
      cursor: pointer;
      background: $grey-color;
      color: $black-color;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $black-color;
      font-size: 1rem;
      font-weight: 500;
      padding: 10px;
    }
    .active-header {
      background: $pink-color;
      color: $white-color;
      border-bottom: 1px solid $pink-color;
    }
  }
}
