$primary-color001: #b30444;
$primary-color002: #2f2e2e;
$primary-color003: #e7e3e3;
$primary-color004: #03afa8;
$primary-color005: rgba(0, 0, 0, 0.2);
$primary-color006: #545454;
$primary-color007: rgba(100, 100, 100, 0.5);
$primary-color008: rgba(50, 50, 50, 0.3);
$primary-color009: rgba(0, 0, 0, 0.4);
$primary-color010: #1e1d1d;

$primary-white: #fff;
$primary-black: #000;
