/* CART */
$cart-height: 60px
.cart
  +clearfix
  background-color: #EEEEEE
  width: 135px
  height: $cart-height
  margin-left: 1040px
  margin-top: 50px

  i
    margin-left: 10px
    margin-top: $cart-height  - 40
    color: $theme-primary

  .cart-value
    font-size: 16px
    font-weight: bold
    margin-left: 10px
