<div class="row category-block">
			<div class="col span-1-of-3 img-block">
				 {{> atoms/a-img class="category-img"}}
			</div>
			<div class="col span-2-of-3 desc-block textCenter">
				<h2 class="category-title marginTop5">{{title}}</h2>
				<p class="category-desc marginTop5">{{description}}</p>
				{{> atoms/a-button class="category-btn marginTop5" }}
			</div>
</div>