@import url('https://fonts.googleapis.com/css?family=Dosis:400,600,700');
@import "../../../src/sass/variables";
@import "../../../src/sass/common";
.category-block{
  @include padding(30 0);
  box-shadow: 0 14px 6px -7px #eeeeee;
  min-height: 150px;
  position: relative;
	.img-block{
	  text-align: center;
	  @import "../atoms/a-img";
	  @media screen and (min-width: $tab) {
	  	.category-img{
		 height:auto;
		}
      }
	}

	.desc-block{
		@include textCenter;
		@media screen and (min-width: $tab) {
    		    position: absolute;
	    		top: 50%;
	    		width: 50%;
	    		left: 50%;
	    		transform: translateY(-50%);

	  	}
		 @import "../atoms/a-button";
	    .category-title{
			 font-weight: 700;
		     font-size: .7rem;
		     
		      @media screen and (min-width: $lap) {
    			font-size: 1rem;
   			  }
		}

		.category-desc{
			font-size: .6rem;
			 @include margin(5 0 0 0);
			  @media screen and (min-width: $tab) {
    			 @include margin(10 0 0 0);
    			 
   			  }
			 @media screen and (min-width: $lap) {
    			font-size: .8rem;

   			  }
		}

		.category-btn{
			@include padding(10);
			@include margin(10 0 0 0);
			@media screen and (min-width: $tab) {
    			 @include margin(20 0 0 0);
    			 
   			  }
		    font-size: .5rem;
    		line-height: 1.5;
    		
		}
	}
}
.category-block:nth-child(even){
	.img-block{
		float: right;

	}
	.desc-block{
		@include textCenter;
		@media screen and (min-width: $tab) {
		    position: absolute;
    		top: 50%;
    		width: 50%;
    		left: 0%;
    		transform: translateY(-50%);
  		}
  	}
}
