<div class="row category-block">
			<div class="col span-1-of-4 img-block">
				 {{> atoms/a-img class="category-img"}}
			</div>
			<div class="col span-3-of-4 desc-block">
				<h2 class="category-title">{{title}}</h2>
				<p class="category-desc ">{{description}}</p>
				{{> atoms/a-button class="category-btn" }}
			</div>
</div>