<div class="row category">
	<div class="col span-1-of-4 category__img">
		 {{> atoms/a-img class="category-img"}}
	</div>
	<div class="col span-3-of-4 category__desc text-center">
		<h2 class="category__title">{{title}}</h2>
		<p class="category__detail ">{{description}}</p>
		{{> atoms/a-button class="category-btn" }}
	</div>
</div>