<div class="row category">
	<div class="col span-1-of-4 category__img">
		 {{> atoms/a-img}}
	</div>
	<div class="col span-3-of-4 category__desc">
		<h2>{{title}}</h2>
		<p>{{description}}</p>
		{{> atoms/a-link}}
	</div>
</div>