@import url('https://fonts.googleapis.com/css?family=Dosis:400,600,700');
@import "../../../src/sass/variables";
@import "../../../src/sass/common";

@mixin show-lg{
		@media screen and (min-width:$lap) {
			display: block;
		}
}
@mixin hide-lg{
		@media screen and (min-width:$lap) {
			display: none;
		}
}

.product{
		@include padding(5);
		clear:left;
		@media screen and (min-width: $tab) {
			width: 49.2%;
			 clear: none;
			 float: left;
		}
		@media screen and (min-width:$lap) {
			width:23.8%;
			clear: none;
			float: left;
		}
		.name {
			font-size:.6rem;
			font-weight: 600;
			height: 40px;
			@include padding(5);
		}
		.img-holder{
			.img-ctr{
				width:49.2%;
				text-align: center;
				@media screen and (min-width:$lap) {
					width:100%;
					 clear: none;
					 float: left;
				}
				
				img{
					height: 110px;
						width: auto;
					@media screen and (min-width:$lap) {
					 clear: none;
					 float: left;
					}
				}
			}
			.desc-ctr{
				width:49.2%;
				
				@media screen and (min-width:$lap) {
					width:100%;
				}
				
				.desc,.price,.btn-buy{
				font-size:.5rem;
				}
				.btn-buy{
					@include padding(5);
				}
				.desc{
					@include padding(5);
					background: color('grey');
					@media screen and (min-width:$tab) {
						height: 80px;
					}
					overflow: hidden;
				}
				
					.btn-box{
						display: flex;
						display: block;
						 @import "../atoms/a-button";
						@include padding(10 0 0 0);
						@media screen and (min-width:$tab) {
							display: none;

						}
						@media screen and (min-width:$lap) {
							width:100%;
							display: block;
						}
				
						.price-ctr {
							width:50%;
							float: left;
							display: none;
							@include padding(5);
							font-size:.6rem;
							@include show-lg;
								
						}
						.btn-ctr{
							width:100%;
							float: left;
							.lg-screen{
								display:none; 
							}
							@media screen and (min-width:$lap) {
							width:50%;
								.lg-screen{
									display:none; 
									@include show-lg;
								}
								.md-screen{
									display:block; 
									@include hide-lg;
								}
							}

						}

					}

			}
			.desc-ctr-pad{
				width:100%
			}
		}

		.btn-box-pad{
					clear: left;
					display: none;
					 @import "../atoms/a-button";
					@include padding(10 0 0 0);
					@media screen and (min-width:$tab) {
						width:100%;
						display: block;
					}
					@media screen and (min-width:$lap) {
						display: none;
					}
					.btn-buy{
						@include padding(5);
						width:100%;
					}

		}
}