.container {
  display: flex;
}

.container--center-center {
  justify-content: center;
  align-items: center;
  align-content: center;
}

.container__row {
  flex-direction: row;
}
.container__column {
  flex-direction: column;
}
.container__row--reverse {
  flex-direction: row-reverse;
}
