.container {
  display: flex;
}

.container--center-center {
  justify-content: center;
  align-items: center;
  align-content: center;
}

.container--row {
  flex-direction: row;
}
.container--column {
  flex-direction: column;
}
