
/*  Extra large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    .cart-container .cart{
        padding: 10px 13px !important;
    }
}

/*  Large devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .cart-container .cart{
        padding: 10px 13px !important;
    }
}

/* 
// Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	body{
        font-size:18px !important;
    }
    .cart-container .cart{
        padding: 7px 13px !important;
    }
    .logo img{
        height: 73px !important;
    }
    .list-container .list-item .buy-now{
        display: block !important;
        width: 100% !important;
    }
    .list-container .list-item .mrp{
        display: none !important;
    }
    .list-container .list-item .mini-mrp{
        display: inline !important;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) {
    .cart-container .cart{
        padding: 3px 13px !important;
    }

}


/* custom */

@media only screen and (max-width:  690px) {
    .cart-container .cart{
        padding: 0 13px !important;
    }
    .logo img{
        height: 73px !important;
    }
    .cart img{
        height: 25px !important;
    }
}




// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px)  ... 

// Medium devices (tablets, 768px and up)
@media (min-width: 768px)  ... 

// Large devices (desktops, 992px and up)
@media (min-width: 992px)  ... 

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px)