<header>
    <app-cart (cartClosed)="closeCart()"></app-cart>
    <div class="clearfix header-container">
        <div class="header-wrapper clearfix row">
            <div class="col span-1-of-12 lg-visible left-empty"></div>
            <div class="col span-3-of-12 text-right logo-container margin-0">
                <figure class="logo ">
                    <img class="header-img" src="../../../../assets/images/logo.png" alt="App logo">
                </figure>
            </div>
            
            <div class="main-navigation col span-5-of-12">
                <nav id="main-nav" class="navbar" aria-label="Main">
                    <ul>
                        <li class="pull-left padding-5"><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
                        <li class="pull-left padding-5"><a class="margin-left-15" [routerLink]="['/product-list']" routerLinkActive="active">Products</a></li>
                    </ul>
                </nav>
            </div>
            <div class="cart-container col span-4-of-12 margin-0">
                <div class="card-and-signup">
                    <div class="sigin-register clearfix">
                        <nav id="signup-signin-nav" aria-label="Secondary Navigation">
                            <ul class="secondary-nav">
                                <li class="pull-left "> <a [routerLink]="['/login']" routerLinkActive="active">Signin</a></li>
                                <li class="pull-left margin-left-10"><a [routerLink]="['/signup']" routerLinkActive="active">Register</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="disp-inline menu  padding-10 cursor-pointer">
                        <div role="button" id="mini-menu-btn" (click)="onMenuClick()" class="mini-main-menu" aria-label="Main menu button">
                            <div class="line"></div>
                            <div class="line margin-top-4"></div>
                            <div class="line margin-top-4"></div>
                            <div class="line margin-top-4"></div>
                        </div>
                        <ul role="navigation" id="mini-menu-navigation">
                            <li (click)="onMenuClick()"><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
                            <li (click)="onMenuClick()"><a [routerLink]="['/product-list']" routerLinkActive="active">Products</a></li>
                            <li (click)="onMenuClick()"><a [routerLink]="['/login']" routerLinkActive="active">Signin</a></li>
                            <li (click)="onMenuClick()"><a [routerLink]="['/signup']" routerLinkActive="active">Register</a></li>
                        </ul>
                    </div>
                    <button aria-label="Cart button" class="cart clearfix cursor-pointer" (click)="toggleCart()">
                        <img class="pull-left cart-img" src="../../../../assets/images/cart.svg" alt="Cart logo">
                        <p  class="pull-left cart-items margin-top-5 margin-left-5">0 items</p>
                    </button>
                </div>
            </div>
            <div class="col span-1-of-12 lg-visible"></div>
            
        </div>
    </div>
</header>
