@import "../../../../styles.scss";

nav {
    max-height: 20%;
    .logo {
        width: 150px;
    }
    .leftnav {
        margin-top: 50px;
        margin-left: 70px;
    }
    .rightnav {
        margin-left: 500px;
    }
    .leftnav,
    .rightnav {
        list-style: none;
    }
    .navbar-collapse {
        position: absolute;
        right: 500px;
        bottom: 0px;
        flex-basis: 100%;
        flex-grow: 1;
    }
    .active {
        background-color: $color-pink;
        color: $color-gray;
    }
    .active-cart {
        background-color: $color-gray;
        color: $color-black;
    }
}

.container {
    position: relative;
    .logout {
        position: absolute;
        right: 20px;
        bottom: 30px;
        .welcome {
            position: absolute;
            top: 8px;
            right: 95px;
            width: 120px;
            color: $color-pink;
            font-weight: bold;
        }
        .logout-btn{
            color: $color-pink;
        }
        .logout-btn:hover{
            background-color: $color-pink;
            color: white;
        }
    }
    .cart-container {
        position: absolute;
        right: -2px;
        bottom: -12px;
        .cart {
            width: 100px;
            display: inline-block;
            .cart-link {
                background-color: $color-gray;
            }
            .cart-logo {
                color: pink;
                width: 20px;
            }
        }
    }
}
