$radii-xs: 7px;
$radii-sm: 9px;
$radii-md: 12px;
$radii-base: 14px;
$radii-lg: 14px;
$radii-xl: 18px;
$radii-2xl: 24px;
$radii-3xl: 32px;
$radii-squared: 33%;
$radii-rounded: 50%;
$radii-pill: 9999px;
