$space-0: 0rem;
$space-xs: 0.5rem;
$space-sm: 0.75rem;
$space-md: 1rem;
$space-lg: 1.25rem;
$space-xl: 2.25rem;

$space-min: min-content;
$space-max: max-content;
$space-fit: fit-content;

$space-screen: 100vw;
$space-full: 100%;
