@import "./../../../config";

.categorySidebar {
  width: 25%;
  min-width: 160px;
  display: flex;
  background-color: $secondary-color;
  flex-direction: column;
  margin: 0;
  padding-left: 2px;
}

@media (max-width: 1024px) {
  .categorySidebar {
    width: 20%;
    min-width: 190px;
  }
}
