.sign-in {
    padding-top: 60px;

    .text-align-top {
        padding-top: 40px;
    }

    .form-control {
        &:focus {
            box-shadow: none;
        }
    }

    .login-btn {
        border: 0;
        color: #fff;
        font-size: 14px;
        padding: 10px 20px;
        width: 100%;
        background: #bf2957;
    }

    .form-group {

        input:focus+label>span,
        input:valid+label>span,
        input[type="email"]:not(:placeholder-shown)+label>span {
            top: -55px;
            font-size: 15px;
            color: #49cdda;
        }

        input {
            font-size: 15px;
            font-weight: 300;
            padding-left: 0;
            border-radius: 0px;
            margin: 0;
            border: none;
            width: 100%;
            border-bottom: 1px solid #ccc;
            background: rgba(0, 0, 0, 0);
            transition: padding-top 0.2s ease, margin-top 0.2s ease;
            overflow-x: hidden;

            &::-webkit-input-placeholder,
            &::-ms-input-placeholder,
            &:-ms-input-placeholder,
            &::-moz-placeholder,
            &:-moz-placeholder,
            &::placeholder {
                color: transparent;
                opacity: 1;
            }
        }

        input+label>span {
            font-weight: 300;
            margin: 0;
            position: absolute;
            color: #8f8f8f;
            font-size: 15px;
            top: -35px;
            left: 0px;
            z-index: -1;
            -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
            transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
        }

        input:focus,
        input:valid {
            padding-top: 5px;
        }
    }
}

.form-group input+label,
textarea.question+label {
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: 400px;
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
    height: 0px;
}

.form-group input:valid+label,
textarea.question:valid+label {
    border-color: green;
}