header{
    box-shadow: 0px 0 5px 1px lightgrey;
    clip-path: inset(0px 0px -5px 1px);
}

.header-left > img{
    width: 160px;
}

footer{
    background-color: #eaeaea;
}

.cart-button{
    position: absolute;
    bottom: 0;
}

.banner-button {
    border: none;
    padding: 4px 16px;
    background-color: #d80454;
    color: white;
  }

.header-center ul{
    list-style: none;
    position: absolute;
    bottom: 0;
}
.header-center ul>li{
    display: inline-block;
    margin: 4px 8px;
}

.carousel > a {
    height: fit-content;
    position: absolute;
    top: 50%;
    padding: 1px 8px;
    transform: translate(0px, -50%);
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
}

footer{
    /* position: fixed; */
    /* bottom: 0; */
}
main{
    min-height: 78vh;
}
footer span{
    position: relative;
    left: 18%;
    text-align: center;
}

.category-image{
    width: 200px;
}

.effect1{
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  }
  
.visually-hidden {
    display: none;
}

.description  {
    height: 60px;
    overflow: hidden;
}

.category-dropdown{
    background: rgb(216, 4, 84);
    color: white;
    border: none;
    padding: 0.25rem;
}

.cart-content-modal{
    position: fixed;
    right: 0;
    width: 40%;
    top: 84px;
    height:calc(100% - 84px);
}

.cart-modal-header{
    background-color: black;
    color: white;
}

.form-group{
    position: relative;
    margin: 45px 0;
}

.form-input {
    background: none;
    background-color: white;
    color: grey;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
    margin: 25px 0;
}

.form-input::placeholder{
    font-size: 12px;
}

.form-input-label{
    top: -14px;
    font-size: 12px;
    color: cyan;
    position: absolute;
}

.form-input:focus {
    outline: none;
    border-bottom: 1px solid cyan;

  }

.form-input :focus ~ .form-input-label {
    top: -14px;
    font-size: 12px;
    color: black;
    display: block;
  }

  .form-input-label > .shrink{
    top: -14px;
    font-size: 12px;
    color: black;
  }

  .auth-button{
    background-color: #d80454;
    border: 0;
    padding:8px;
    color: white;
    font-weight: 600;
  }

  .auth-form{
    width: 25vw;
  }

@media only screen and (min-width: 601px) and (max-device-width: 820px) {

    header{
        height: 69px;
    }

    .backdrop-container{
        margin-top: 69px;
    }

    .cart-content-modal{
        width: 100%;
        top: 69px;
        height:calc(100% - 69px);
    }

    .header-left > img{
        width: 126px;
    }

    .description  {
        height: 124px;
        overflow: hidden;
    }

    .product{
        margin: 0;
    }
    .product-container{
        width: 100vw;
    }


}

@media only screen and (max-width: 600px){

    .header {
        height: 44px;
    }
    .header-left > img{
        width: 80px;
    }

    .backdrop-container{
        margin-top: 45px;
    }

    .cart-content-modal{
        width: 100%;
        top: 44px;
        height:calc(100% - 44px);
    }

    .cart-button{
        height: -webkit-fill-available;
    }

    footer span{
       left: 0%;
    }

    .category-image-container{
        width: fit-content;
    }

    .category-image{
        width: 120px;
        float: right;
    }

    .carousel > a {
        padding: 1px 2px;
    }

    h3{
        font-size: small;
    }

    p{
        font-size: x-small;
    }
    button{
        font-size: x-small;
    }

    .description{   
        height: 50%;
    }

    .price-button{
        position: absolute;
        right: 1rem;
        bottom: 27px;
        height: 40px;
        width: 45%;
    }
}