@import '../../styles/global';

.footer-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: $grey-color;
  padding: 10px 0px;
  p {
    font-weight: 800;
    margin: auto 0;
  }
}

@media only screen and (max-width: $mobile-max-width) {
  .footer-wrap p {
    font-size: 0.8rem;
    text-align: center;
  }
}
