@import "/styles/variables";

@mixin carousel-button {
  display: none;

  @media screen and (min-width: $mobile-breakpoint) {
    display: block;
    position: absolute;
    top: 50%;
    text-transform: uppercase;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.8);
    color: $button-text-color;
    border: 0;
    font-size: $small-font-size;
    padding: 0.4rem;
    cursor: pointer;
    transform: translateY(-50%);

    &:hover {
      background-color: rgba(0, 0, 0, 1);
    }
    &:disabled {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

.carousel {
  margin-top: 1rem;
  position: relative;
  box-shadow: 0px 30px 20px -30px rgba(161, 159, 159, 1);

  &__container {
    display: flex;
    align-items: center;
    height: 25vw;
    position: relative;

    @media screen and (min-width: $mobile-breakpoint) {
      height: 12rem;
    }

    @media screen and (min-width: $tablet-breakpoint) {
      height: 16rem;
    }

    &__slide {
      opacity: 0;
      transition: 1s ease;
      transform: scale(0.98);
      height: 100%;
      width: 100%;
      position: absolute;
      &__image {
        object-fit: fill;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
      }
    }
  }

  &__left-button {
    @include carousel-button();
    left: 0%;
  }

  &__right-button {
    @include carousel-button();
    right: 0%;
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transform: translateY(0);
    &__dot-button{
      border: none;
      background-color: #fff;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 10px;
      padding-right: 10px;
    }

    &__dots {
      border: 0;
      border-radius: 50%;
      width: 0.5rem;
      height: 0.5rem;
      background-color: #9e9d9d;
      margin: 0 0.5rem;
      

      @media screen and (min-width: $mobile-breakpoint) {
        margin: 0 1rem;
        width: 0.4rem;
        height: 0.4rem;
      }

      &:hover {
        transform: scale(1.2);
        transition: 0.2s ease;
      }
    }
  }
}

.active {
  opacity: 1;
  transition: 1s;
  transform: scale(1);
}

.dots-active {
  background-color: #5c5c5c;
  transform: scale(1.1);
}
.carousel__container__slide__image {
  object-fit: fill;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}
.image-wrapper {
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 150px;
  object-fit: contain;
}
