@import '../../../styles/global';

.categories-filter-data-wrap {
  ul {
    margin: 0px;
    li {
      cursor: pointer;
      border-bottom: 1px solid $black-color;
      span {
        font-size: 1rem;
        font-weight: normal;
        padding-left: 5px;
        text-decoration: none;
        color: $black-color;
        font-weight: normal;
        display: block;
        padding: 10px;
      }
    }
  }
}

.is-active {
  border-left: 2px solid $pink-color;
}

@media only screen and (max-width: $mobile-max-width) {
  .page-wrap {
    padding-top: 85px;
  }
}
