@import "/client/components/styles/variables";
@import "/client/components/styles/mq-mixin";

nav {
  padding-left: 20px;
  width: 300px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    height: 100%;
    margin-left: 30px;
  }
  li {
    margin-right: 30px;
    font-weight: 600;
  }
  a {
    text-decoration: none;
    color: $font-secondary-color;
  }
  @include mq(desktop) {
    ul {
      margin-left: 100px;
    }
  }
}

.linkActive {
  color: $pimary_bg_color;
}
