<div class="row">
    <div class="col-md-5">
        <div class="signin-text">
            <h2>Login</h2>
            <p>Get access to your Orders, Whislist and Recommendations</p>
        </div>
    </div>
    <div class="col">
        <form>
        <div class="form-group">
            <label for="email" class="signin-info"><b>Email</b></label><br>
            <input type="text" placeholder="Email" name="email" id="email" required>
        </div>
        <div class="form-group">
            <label for="psw" class="signin-info"><b>Password</b></label><br>
            <input type="password" placeholder="Password" name="psw" id="psw" required>
        </div>
   
        <button type="submit" class="login-btn">Login</button>
</form>
</div>