@import "/client/components/styles/variables";
@import "/client/components/styles/mq-mixin";

.header_logo {
  width: 100px;
  margin: 5px 0px;
  margin-left: 10px;

  // mobile screens
  @include mq(tab) {
    width: 180px;
    height: 80px;
  }
}
