.product.container {
    display: flex;
    width: 75vw;
    margin: 0 auto;
    flex: 1;
}
.mobile {
    display: none;
}
.btn-cta {
    background: #d00256;
    cursor: pointer;
    border: none;
    padding: 5px;
    margin: 0 auto;
    color: #fff;
    font-size: small;
}
.product-cards-container {
    flex: 0 0 75%;
}
.product-category {
    flex: 0 0 25%;
    background: #eeeeee;
    ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        li {
            color: #909090;
            font-size: small;
            padding: 10px 20px;
            cursor: pointer;
            border-bottom: 1px solid #909090;
        }
    }
}
.product-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
