.cart_Box {
  position: relative;
  max-width: 770px;
  width: 100%;
  margin: 0px auto;
  background-color: #eee;
  padding: 30px 0px 0; }
  .cart_Box h3 {
    font-size: 21px;
    border-top: #e6e6e6;
    padding: 14px 25px;
    background-color: #fff; }
    .cart_Box h3 span {
      font-size: 20px;
      font-weight: 300;
      margin-left: 5px; }
  .cart_Box ul,
  .cart_Box li {
    display: block; }
  .cart_Box .items {
    background-color: #fff;
    padding: 10px;
    display: table;
    width: 100%; }
    .cart_Box .items > div {
      display: table-cell;
      vertical-align: middle; }
    .cart_Box .items .img_wrap {
      width: 95px;
      max-width: 95px; }
    .cart_Box .items .detail_wrap {
      width: calc(100% - 95px);
      padding-left: 10px; }
  .cart_Box h5 {
    font-weight: bold;
    font-size: 18px; }
  .cart_Box .detail_wrap {
    font-weight: 600; }
    .cart_Box .detail_wrap button {
      border-radius: 4px;
      line-height: 23px;
      font-weight: bold;
      font-size: 20px;
      padding: 0px 11px 4px;
      display: inline-block; }
    .cart_Box .detail_wrap input {
      border: none;
      text-align: center;
      width: 45px; }
    .cart_Box .detail_wrap .price {
      position: relative;
      margin-left: 10px;
      padding-left: 20px; }
      .cart_Box .detail_wrap .price:after, .cart_Box .detail_wrap .price:before {
        content: "";
        position: absolute;
        background-color: #000;
        left: 0;
        top: 50%;
        transform: translateY(-50%); }
      .cart_Box .detail_wrap .price:before {
        height: 2px;
        width: 10px;
        transform: rotate(45deg); }
      .cart_Box .detail_wrap .price:after {
        width: 2px;
        height: 10px;
        transform: rotate(45deg);
        left: 4px;
        top: 6px; }
    .cart_Box .detail_wrap .total_price {
      float: right; }
  .cart_Box .batch {
    background-color: #fff;
    width: calc(100% - 20px);
    margin: 15px auto;
    padding: 15px;
    border-radius: 4px;
    display: table; }
    .cart_Box .batch > div {
      display: table-cell;
      vertical-align: middle; }
      .cart_Box .batch > div:first-child {
        width: 120px; }
      .cart_Box .batch > div:last-child {
        width: calc(100% - 120px); }
    .cart_Box .batch p {
      padding-left: 20px; }
  .cart_Box .checkout {
    background-color: #fff;
    padding: 15px 10px;
    margin-top: 300px; }
    .cart_Box .checkout p {
      text-align: center;
      margin-bottom: 15px;
      font-size: 20px; }
    .cart_Box .checkout .btn {
      text-align: left;
      border-radius: 4px;
      font-weight: 600;
      font-size: 22px; }
      .cart_Box .checkout .btn span {
        float: right;
        position: relative; }
        .cart_Box .checkout .btn span:after {
          content: "";
          width: 8px;
          height: 8px;
          border-right: 2px solid #fff;
          border-top: 2px solid #fff;
          display: inline-block;
          transform: rotate(45deg);
          margin-left: 9px; }
  .cart_Box .full_width {
    width: 100%; }

.onhover_Cart {
  display: block; }
  .onhover_Cart .cart_Box {
    padding: 0px 0; }
    .onhover_Cart .cart_Box h3 {
      font-size: 26px;
      background-color: #000;
      color: #fff;
      padding: 26px 30px; }
    .onhover_Cart .cart_Box h5 {
      font-size: 22px;
      font-weight: bold; }
    .onhover_Cart .cart_Box .items {
      padding: 10px 36px; }
    .onhover_Cart .cart_Box .detail_wrap .price:after {
      top: 9px; }
    .onhover_Cart .cart_Box .detail_wrap span {
      font-size: 20px; }
    .onhover_Cart .cart_Box .batch p {
      padding-left: 20px; }
