.cart-shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .3);
    top: 0;
}

.cart-parent {
    width: 100%;
    position: relative;
    z-index: 10000;
    /* margin-top: -1rem; */
}

/*
For small screen, change width to 1000%
*/
.cart-parent .cart-area {
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10001;
}

.cart-container {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    position: relative;
    background-color: #ededed;    
}

.cart-parent .cart-area .cart-header {

    margin: 0;
    padding: 1.2rem;
    background: #1d2123;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid black;
    width: 100%;
    /*drop inset shadow from top and bottom*/
}

.cart-parent .cart-area .cart-header .close-icon {
    font-weight: bold;
    cursor: pointer;
}

.cart-parent .cart-area .cart-header .close-icon:hover {
    color: rgba(255, 255, 255, .8);
}

.cart-parent .cart-area .cart-header .close-icon:active {
    color: white;
    font-size: .8rem;
}

.cart-parent .cart-area .cart-items {
    display: flex;
    flex-flow: column nowrap;
    max-height: 100%;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

.cart-parent .cart-area .cart-items .cart-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: .5rem 1rem;
    background-color: white;
    margin: 1rem 0 .5rem;
}

.cart-item .left {
    width: 100px;
}

.cart-item .left img {
    width: 100%;
    padding: .5rem;
}

.cart-item .right {
    padding: 1rem 0;
    width: 100%;
}

.cart-items .cart-item .right .name {
    font-weight: bold;
    padding-bottom: .5rem;
}

.cart-items .cart-item .right .item-action {
    display: flex;
    justify-content: space-between;
}

.cart-items .cart-item .right .item-action .icon {
    padding: 3px 8px;
    font-size: 1.3rem;
    background-color: var(--accent-bg-clr);
    color: var(--accent-text-clr);
    border-radius: 50%;
    cursor: pointer;
    margin-right: 1rem;
}

.qty {
    margin-right: 1rem;
}

.cart-items .cart-item .right .item-action .action {
    padding-top: .5rem;
}

.cart-items .cart-item .right .item-action .action .into {
    margin: 0 1rem;
}

.cart-items .cart-item .right .item-action .price {
    text-align: right;
    padding-top: 1rem;
}
.start-shoping{
    background-color: white;
    padding: .7rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
}
.start-shoping .button{
    display: block;
}

.cart-parent .cart-area .tag {
    padding: 1rem;
}

.cart-parent .cart-area .tag .item {
    display: flex;
    background-color: white;
    align-items: center;
}

.cart-parent .cart-area .tag img {
    width: 100px;
    padding: .5rem;
    margin-right: 1rem;
}

.cart-parent .cart-area .tag .txt {
    padding: 1rem;
}

.cart-parent .cart-area .checkout,
.cart-parent .cart-area .start-shopping {
    background-color: white;
    padding: .7rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.start-shoping .button {
    width: 100%;
    justify-content: center!important;
}
.cart-parent .cart-area .checkout {
    border-top: 1px solid #cecece;
}

.cart-parent .cart-area .checkout .info {
    text-align: center;
    margin-bottom: .5rem;
}

.cart-parent .cart-area .button {
    background-color: var(--accent-bg-clr);
    color: var(--accent-text-clr);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: .2rem;
    cursor: pointer;
}

.cart-parent .cart-area .checkout .button .cart-amount .caret {
    padding-left: .7rem;
}
.cart-items[items="empty"]+ .tag,
.cart-items[items="empty"]+ .tag + .start-shoping + .checkout{
    display: none;
}

.cart-items[items="empty"]+ .tag + .start-shoping{
    display: flex;
}
.cart-items[items="empty"]{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 80%;
}
.cart-items .empty-message{
    text-align: center;
    display: none;
}
.cart-items[items="empty"]>.empty-message{
    display: block;
}

.prefix-rs{
    margin-left: 2rem;
}
.prefix-rs::before{
    content: "Rs. ";   
    width: 2rem;
    right: 1.5rem;
}
@media screen and (max-width:1024px){
    .cart-parent .cart-area {
        box-sizing: border-box;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 10001;
    }
    .cart-parent .cart-area .cart-header{
        background-color: white;
        color: black;
        border-top: 2px solid gray;
	}
    .cart-items .cart-item .right .item-action .icon {
		padding: .1rem 1.3rem;
		border-radius:7rem;
	}
}