header {
    box-shadow: 0px 1px 5px 2px rgba(117,111,111,0.64);
-webkit-box-shadow: 0px 1px 5px 2px rgba(117,111,111,0.64);
-moz-box-shadow: 0px 1px 5px 2px rgba(117,111,111,0.64);
position: sticky;
z-index: 9;
    top: 0;
    background: #fff;
}
header .container {
    display: flex;
    position: relative;
}

.header--left {
    display: flex;
    flex: 0 20%;
}
.header--right {
    display: flex;
    justify-content: space-between;
    flex: 0 80%;
}
.header--right > div {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
nav {
    display: flex;
    align-items: flex-end;
}
.nav__list {
    display: flex;
}
.nav__list > li{
    padding-bottom: 10px;
    margin: 0 20px;
    color: #4f4d4d;
}
.nav__list > li.active{
    border-bottom: 4px solid rgb(191,41,87);
}

.link__bottom__tItems {
    display: block;
    padding: 10px;
    background: url('../images/cart.svg') 2px center no-repeat #ccc;
}
.link__bottom__tItems > span{
    margin-left: 30px;
}
.minicart{
    position: absolute;
    display: none;
    z-index: 3;
    width: 500px;
    height: 100vh;
    top: 95px;
    right: 0;
    background: rgb(234,234,234);;
}
.minicart__header {
    padding: 10px;
    background: #000;
    color:#fff;
    display: flex;
    justify-content: space-between;
}
.minicart__item {
    background: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.minicart__item__details {
    display: flex;
}
.minicart__item__details > div {
    display: flex;
    margin-left: 15px;
    flex-direction: column;
    justify-content: center;
}
.minicart__item__tQut, .minicart__item__unitP {
    display: inline-block;
    margin: 0 15px;
}
.minicart__item__tPrice{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.minicart__footer{
    background: #fff;
    padding: 20px;
}

@media only screen and (min-width: 320px) and (max-width: 1023px) {
    .minicart{
        width: 100%;
        height: auto;
    }
    .minicart__header{
        background: #ccc;
    }
}
@media only screen and (min-width: 320px) and (max-width: 699px) {
    header .container{
        justify-content: space-between;
    }
    nav, .link__top{
        display: none;
    }
    .header--right, .header--left{
        display: block;
        flex: none;
    }
    .header__logo img{
        width: 100px;
    }
    .minicart{
        top:53px;
    }
}
