/*Define Variables*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

svg.-fill-primary {
  fill: #d00155;
}

svg.icon {
  width: 32px;
  height: 32px;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #565656;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#MainContent {
  margin-top: 1rem;
  max-width: 1024px;
  margin: 1rem auto 0 auto;
  padding-top: 75px;
}

.-hidden {
  display: none;
}

.-header-block {
  box-shadow: 0px 0px 5px 0px #565656;
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
}

.-header-block .-header {
  max-width: 1024px;
  margin: 0 auto;
  padding-bottom: 0;
}

.-header-block .-header .-logo {
  width: 150px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: inherit;
  margin: 0 0.5rem;
}

nav .-main-nav {
  align-items: center;
  font-size: 14px;
  margin-left: 12%;
}

#Main {
  width: 100%;
  height: 100%;
}

.-flex {
  display: flex;
  flex-wrap: wrap;
}

.-flex.-middle-aligned {
  justify-content: center;
  align-items: center;
}

.-margin-half-bottom {
  margin-bottom: 0.5rem;
}

.-margin-half-horizontal {
  margin: 0.5rem 0;
}

.-margin-two-bottom {
  margin-bottom: 2rem;
}

.-flex.-right-aligned {
  justify-content: flex-end;
}

.-flex.-nowrap {
  flex-wrap: nowrap;
}

.-flex > .-flex-column,
.-flex > .-flex-row {
  flex: 0 0 auto;
}

.-flex-column.-resize,
.-flex-row.-resize {
  flex: 1 1 auto;
}

.-flex.-top-to-bottom {
  flex-direction: column;
}

.-flex.-left-to-right {
  flex-direction: row;
}

.-padding-half {
  padding: 0.5rem;
}

.-padding-one {
  padding: 1rem;
}

.primary-button {
  background-color: #d00155;
  color: #ffffff;
  padding: 0.5rem 1rem;
}

.-main-page-container {
  flex: 1 1 auto;
  height: 100%;
}

.-main-page-container .-cart-button {
  background-color: #ececec;
  color: #000000;
}

.-main-page-container .-cart-button a {
  align-items: center;
}

.-main-page-container .-cart-link {
  padding: 0rem 1rem;
  margin: 0;
}

.-main-page-container .-cart-link svg {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
}

.-main-page-container .-footer {
  background-color: #ececec;
  color: #000000;
}

.-main-page-container .-footer-copy {
  max-width: 1024px;
  margin: 0 auto;
}

.-main-page-container .-site-nav {
  margin-top: 0.5rem;
}

.-main-content[data-page="Home"] .-categories {
  padding: 0;
}

.-main-content[data-page="Home"] .-categories .-item-container.-item-odd {
  flex-direction: row-reverse;
}

.-main-content[data-page="Home"]
  .-categories
  .-item-container.-item-odd
  .-item-image-container {
  justify-content: flex-end;
}

.-main-content[data-page="Home"]
  .-categories
  .-item-container.-item-even
  .-item-image-container {
  justify-content: flex-start;
}

.-main-content[data-page="Home"] .-categories .-item-container {
  box-shadow: 0px 5px 5px -5px;
  padding: 2.5rem 1rem;
}

.-main-content[data-page="Home"]
  .-categories
  .-item-container
  .-item-image-container {
  width: 25%;
  max-width: 250px;
}
