$font-stack: Courier New, sans-serif;
$gray-color: rgb(221, 218, 218);
$pink-color: #d00256;
$sky-blue: #50dae2;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: "Courier New", Courier, monospace;
}
