.card{
    width:300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-height{
    height:15rem;
}

.desc-height{
    height:10vh
}

.name-height{
    height: 5vh
}