$background-grey: #808080;
$background-black: #000;
$light-grey: #eaeaea;
$cart-image: "/static/images/cart.svg";
$background: #fff;
$theme: #d00155;
$theme2: #50dae2;
$success: #508823;
$warning: #f58823;
