@import "./variable";

li {
  padding: 0.7rem 0 0.7rem 1.5rem;
  box-shadow: 0 0.08rem 0.3rem 0px $hedernav;

  a {
    color: $blackcolor;
  }
}

.active {
  background-color: $primarycolor;
  a {
    color: $bgcolor;
  }
}

.normal {
  background-color: inherit;
}

.dropdown_select {
  width: 100%;
  font-size: 1rem;
  padding: 0.8rem 3rem;
  border: none;
  background-color: $primarycolor;
  color: white;
}

option {
  max-width: 50%;
  background-color: white;
  color: black;
}

section {
  display: flex;
  aside {
    width: 22%;
    background: #ccc;
  }
  article {
    width: 78%;
  }
  @media only screen and (max-width: $mobile) {
    width: 100%;
    flex-wrap: wrap;
    article {
      width: 100%;
    }
    aside {
      display: none;
    }
  }
}

.category-dropdown {
  display: none;
  padding: 1rem;
  @media only screen and (max-width: $mobile) {
    flex-direction: row;
    display: block;
  }
}
