#cart-modal{
    border-radius: 25px;
    header{
        display: flex;
        justify-content: space-between;
        background-color: #000;
        color: #fff;
        .btn-link{
            color:white;
        }
        .btn-link:hover{
            text-decoration: none;
        }
    }
    .cart-body{
        overflow-y: auto;
    }
}