/* The Modal (background) */
@import "variables";
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: rgb(206, 206, 206);
  margin: 15vh 10vw auto auto; /* 15% from the top and centered */
  
  width: 30%; /* Could be more or less, depending on screen size */
  height:100%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 2px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.cart-header{
  background-color: #000;
  padding: 0.75em;
  p{
    margin-top:0;
    color: #fff;
    display: block;

  }
}
.modal-content{
  
  .item{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #fff;
    margin:4px 0;
    padding: 2px;
    .item-image{
      flex:1;
      max-width:25%;
      display: inline-block;
      img{
        max-width:100%;
        height:auto;
      }
    }
    .item-details{
      max-width:75%;
      display: inline-block;
      flex:4;
      .cart-edit-btn{
        display: inline;
        
        svg{
          
          height: 1em;
          width: auto;
          fill: $accent;
        }

      }
    }
  }

  .offer-banner{
    background-color: #fff; 
    text-align: center;
    padding:1px;
    p{
      margin:0;
    }
  }
  .checkout-container{
    bottom:0;
    top:auto;
    width:100%;
    background-color: #fff;
    .promo-banner{
      text-align: center;
      font-size: 80%;
      padding: 2px;
      p{
        margin:0;
      }
    }
      .checkout-button{
      margin:0 2%;
      
      border-radius: 4px;
      background-color: $accent; 
      border: none;
      color: white;
      position: relative;
      width:96%;
      text-decoration: none;
      display: inline-block;
      padding : 10px;
      text-align: center;
      height:3em;
      }
  }
}


@media (max-width: $breakpoint-tablet-potrait) {
    
}
@media (max-width: $breakpoint-phone) {
  .modal-content {
    
    margin: auto auto; /* 15% from the top and centered */
    
    width: 100%; /* Could be more or less, depending on screen size */
    height:100%;
  }
   
}
@media (max-width: $breakpoint-small-phone) {
  
}
@media (max-width: $breakpoint-smaller-phone) {
    
}