$backgroundColor: #ecf0f1;

.product-box {
    -webkit-box-shadow: 8px 0 6px -8px rgb(90, 90, 90);
    -moz-box-shadow: 8px 0 6px -8px rgb(90, 90, 90);
    box-shadow: 8px 0 6px -8px rgb(90, 90, 90);
}

.product-box:nth-child(4n) {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.categories-pane {
    background-color: $backgroundColor;
    .categories-row {
        .individual-category {
            border-bottom: 2px solid rgb(112, 108, 108);
            a:link {
                color: rgba(0, 0, 0, 0.5);
                text-decoration: none;
                transition: color 0.2s;
            }
            a:hover,
            a:active,
            a:visited {
                color: #000;
            }
        }
    }
}

.product-description {
    background-color: $backgroundColor;
    height: 100px;
    overflow: hidden;
}

h4 {
    height: 110px;
}

.body-container{
    position: relative;
    overflow-y:hidden;
}

.black-opacity{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    z-index: 300;
}

.sample-modal{
    position: absolute;
    top: 100px;
    right: 10px;
    height: 80vh;
    width: 600px;
    background-color: white;
    z-index: 400;
}

#cart-modal{
    display: none;
}