//colors
$white-color: #ffffff;
$dark-grey-color: #676666;
$grey-color: #ece8e8;
$black-color: #000000;
$pink-color: #d10256;
$green-color: #50dae2;

//responsivness width
$mobile-max-width: 425px;
$tab-max-width: 768px;
