$accent: #cc30ac;
$grey : rgba(238, 238, 238, 0.867);
$dark-grey : rgba(165, 165, 165, 0.867);


$breakpoint-tablet-potrait: 900px;
$breakpoint-phone: 680px;
$breakpoint-small-phone: 600px;
$breakpoint-smaller-phone: 480px;