//colors
$white-color: #ffffff;
$black-color: #000000;
$light-black-color: #999999;
$dark-grey-color: #eaeaea;
$grey-color: #f0f0f0;
$pink-color: #bf2957;

//screen size
$tab: 575px;
$desktop: 770px;

//font-size
$extra-small-font: 8px;
$small-font: 12px;
$medium-font: 16px;
$semi-large-font: 18px;
$large-font: 20px;
$extra-large-font: 24px;

//padding
$text-padding: 10px 0;
$ctr-padding: 10px;
$large-ctr-padding: 15px;
$small-vert-padding: 8px 10px;
$large-vert-padding: 18px 10px;

//margin
$m: 10px;
$ms: 5px;
$mm: 15px;
$ml: 20px;
