//colors
$white-color: #ffffff;
$black-color: #000000;
$light-black-color: #999999;
$dark-grey-color: #eaeaea;
$grey-color: #f0f0f0;
$pink-color: #bf2957;
$blue-color: #50dae2;

//screen size
$tab: 575px;
$desktop: 770px;

//sizes
$extra-small: 0.5rem;
$semi-small: 0.8rem;
$small: 1rem;
$medium: 1.5rem;
$semi-large: 1.8rem;
$large: 2rem;
$extra-large: 4rem;

//font-size
$extra-small-font: 1rem;
$small-font: 1.2rem;
$medium-font: 1.6rem;
$semi-large-font: 1.8rem;
$large-font: 2rem;
$extra-large-font: 2.4rem;

//heights
$small-height: 10rem;
$medium-height: 15rem;
$large-height: 20rem;
