//colors
$white-color: #ffffff;
$black-color: #000000;
$dark-grey-color: #eaeaea;
$grey-color: #f0f0f0;
$pink-color: #bf2957;

//screen size
$tab: 575px;
$desktop: 770px;

//font-size
$small-font: 12px;

//padding
$padding: 10px 0;
