
@import "navbar";
@import "home";
@import "variables";
@import "cart";
@import "plp";
@import "login";

@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700");

* {
	box-sizing: border-box;
}
body {
	font-family: 'Raleway', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}

.row{
    max-width: 1140px;
    margin: 10px auto 10px;   
}

footer{
    background: #888888;
    color: #fff;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
