
@import "navbar";
@import "home";
@import "variables";
@import "cart";
@import "plp";
@import "forms";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");

* {
	box-sizing: border-box;
}
body {
	font-family: 'Lato', sans-serif;
	line-height: 1.6;
	margin: 0;
    min-height: 100%;
    
}
a{
    text-decoration: none;
}

.row{
    max-width: 90vw;
    margin: 10px auto 10px;   
}

footer{
    background: #888888;
    color: #fff;
    display: block;
    margin-bottom: -50%;
    width: 100%;
    text-align: center;
}
