@import 'products';
@import 'cart';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dosis", sans-serif;
}

.navbar {
    color: #000;
    -webkit-box-shadow: 0 10px 6px -8px rgb(90, 90, 90);
    -moz-box-shadow: 0 10px 6px -8px rgb(90, 90, 90);
    box-shadow: 0 10px 6px -8px rgb(167, 161, 161);
}

.category-item {
    display: flex;
    justify-content: space-around;
    padding: 2% 0;
    -webkit-box-shadow: 0 8px 6px -8px rgb(90, 90, 90);
    -moz-box-shadow: 0 8px 6px -8px rgb(90, 90, 90);
    box-shadow: 0 8px 6px -8px rgb(90, 90, 90);
}

.flexbox {
    display: flex;
}

@mixin flexbox-justify-center {
    justify-content: center;
}

@mixin flexbox-align-center {
    align-items: center;
}

.flexbox-vertical {
    @extend .flexbox;
    flex-direction: column;
}

.flexbox-vertical-center {
    @extend.flexbox-vertical;
    @include flexbox-justify-center();
}

.flexbox-vertical-horizontal-center {
    @extend.flexbox-vertical;
    @include flexbox-justify-center();
    @include flexbox-align-center();
}

.flexbox-space-between{
    @extend .flexbox;
    justify-content: space-between;
}

.icon{
    color: #bd2130;
}

.total-in-cart{
    font-size: 70%;
}


