@import '../mixin.scss';

.product__container {
    width: 100%;
    display: block;
    padding-left: 10px;
    grid-template-columns: repeat(1, 1fr);

    @include for-tablet-portrait-up {
        width: 68%;
        display: grid;
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    @include for-desktop-up {
        grid-template-columns: repeat(4, 1fr);
        margin: 20px;
    }
}