// Primary colors
$color-primary-background: #ce0e55;
$color-primary-background-dark: #808080;
$color-primary-background-light: #eeeeee;
$color-primary-text: #1ad1e3;
$color-primary-text-dark: #333333;
$color-primary-text-medium: #b0b0b0;
$color-primary-text-light: #f5f5f5;
$color-primary-text-error: #ff0000;
$color-primary-black: #1f1f1f;
$color-primary-white: #ffffff;
$color-primary-border-dark: #dbdbdb;
$color-primary-border-light: #dcdcdc;
$color-primary-box-shadow-dark: #f3f3f3;
$color-primary-box-shadow-light: #cfcfcf;