@import "./../../../../colors.scss";
@import "./../../../../config.scss";

.main-page {
    padding: 5rem var(--padding-horizontal);
}

footer {
    padding: 1rem var(--padding-horizontal);
    background: $primary-color-gray-d;
    color: black;
}
