.footer {
  margin-top: 100px;
  bottom: 0;
  width: 100%;
  height: 3.125rem;
  text-align: center;
  background-color: $background-color-footer;
  p {
    color: $dark-color-footer;
    padding-top: 15px;
    text-align: center;
  }
}

@media only screen and (max-width: 600px){
.footer-home{
  width: 500px;
}
}

