.checkout-item {
  width: 100%;
  display: flex;
  min-height: 100px;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  font-size: 20px;
  align-items: center;
}

.name,
.arrow-quantity,
.price {
  width: 23%;
}
.arrow-left,
.arrow-right {
  cursor: pointer;
}

.remove-button {
  padding-left: 12px;
  cursor: pointer;
}

.checkout-item .image-container {
  width: 23%;
}

.checkout-item .image-container img {
  width: 50%;
  height: 50%;
}
