.products-container {
  display: grid;
  grid-template-columns: 1.1fr 3fr;
}
.product-categories {
  background-color: #eaeaea;
}

.category {
  margin-left: 1rem;
  font-size: 1.6rem;
  padding: 1.3rem;
  text-align: nter;
  border-bottom: 1px solid #ccc;
}
