.products
    display: flex
    flex-wrap: wrap
    padding: 20px

app-product-card
    display: flex
    width: 25%

@media only screen and (max-width: 768px)
    app-product-card
        width: 50%

@media only screen and (max-width: 480px)
    app-product-card
        width: 100%