.input {
  border: none;
  border-bottom: 2px solid lightgray;
}
.label {
  position: absolute;
  left: 0;
  right: 0;
  bottom: auto;
  color: #50dae3;
  pointer-events: none;
}

input:hover,
input:focus {
  border: none;
  border-bottom: 2px solid #44daff;
  outline: none;
}

input:focus ~ .label {
  top: -30px;
}

.movedLabel {
  top: -30px;
}

.buttonBackground {
  background-color: #e72369;
}
