@import '../../styles/global';

.login-main {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  .login-text-wrap {
    flex-basis: 40%;
  }
  .login-form-wrap {
    flex-basis: 40%;
  }
}

.login-text-main {
  margin: 0 auto;
  display: table;
  h2,
  p {
    font-weight: 800;
  }
  p {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: $tab-max-width) {
  .login-text-main {
    h2 {
      font-size: 1rem;
    }
    p {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (max-width: $mobile-max-width) {
  .login-text-main {
    h2,
    p {
      text-align: center;
    }
  }
  .login-main {
    display: block;
  }
}
