.products-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  padding: 10px 10px;

  &__cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.card {
  flex-basis: 24%;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  border-bottom: 2px dotted #ccc;
  margin-left: 5px;
  padding: 10px;
  box-shadow: 2px 0px 5px #ccc;

  h2 {
    font-size: $font-med;
    height: 70px;
    overflow: hidden;
  }

  &__subtitle {
    background-color: #ccc;
    font-size: $font-xsm;
    padding: 5px;
    height: 82px;
    overflow: hidden;
  }
}

.pd-0 {
  padding: 0;
}

.mobile-show {
  display: none;
}

select#sub-menu {
  width: 100%;
  height: 55px;
  color: $white;
  margin: 15px 0;
  padding: 13px;
  border: none;
  appearance: none;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png)
    no-repeat right $brightRed;
  background-position-x: 95%;
}
select#sub-menu,
select#sub-menu > option {
  font-size: $font-med;
  line-height: 28px;
}
select#sub-menu,
select#sub-menu > option {
  font-size: $font-med;
  line-height: 28px;
}

@media screen and (min-width: 767px) and (max-width: 961px) {
  .card {
    flex-basis: 48%;
    &__subtitle {
      display: inline-block;
      height: 126px;
      width: 50%;
    }
  }
  .products-container {
    &__cta {
      span {
        display: none;
      }
      button {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .card {
    flex-basis: 100%;

    h2 {
      height: 50px;
    }

    img {
      width: 49%;
      height: 11.25rem;
      object-fit: fill;
    }

    &__subtitle {
      display: inline-block;
      position: absolute;
      top: 28%;
      width: 49%;
    }
  }

  .products-container {
    width: 100%;
    &__cta {
      display: inline-block;
      position: absolute;
      top: 70%;
      width: 49%;
      button {
        width: 100%;
      }
    }
  }

  .mobile-show {
    display: inline;
  }
  .desktop-show {
    display: none;
  }
}
