.homePage-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.homePage-carousel-container {
  display: flex;
  justify-content: center;
}
.homePage-carousel {
  width: 80%;
}
.homePage-categories-container {
  padding: 0 10%;
  :nth-child(even) {
    flex-direction: row-reverse;
  }
}
.homePage-category-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.homePage-category-image-box {
  width: 40%;
}
.homePage-category-image {
  width: 90%;
  height: 200px;
  object-fit: contain;
}
.homePage-category-content-box {
  width: 70%;
  text-align: center;
}
.category-content-heading {
  font-size: 28px;
  font-weight: 800;
}
.category-contnent-description {
  margin-top: 20px;
  font-size: 16px;
}
.category-contnent-button {
  margin-top: 30px;
}

// .faded-border {
//   border-bottom-width: 50%;
//   margin: auto;
//   margin-top: 20px;
//   margin-bottom: 20px;
//   border-bottom: 5px solid rgb(182, 179, 179);
//   border-left: 120px solid transparent;
//   border-right: 120px solid transparent;
//   box-shadow: 0 10px 7px -8px rgba(93, 92, 92, 0.35);
// }
