@import "../../maxin.scss";

.homePage-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.homePage-categories-container {
  padding: 0;
  @include for-tablet-portrait-up {
    padding: 0 10%;
  }
}

// .homePage-category-container::after {
//   content: "";
//   position: absolute;
//   left: 0;
//   bottom: 0;
//   width: 100%;
//   height: 4px;
//   -webkit-border-radius: 50%;
//   border-radius: 50%;
//   -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
//   -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
//   box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
//   z-index: -1;
//   background-color: red;
// }
