<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>

<body>
    <div class="cart-container">
        <header>
            <nav class="navigation-container">
                <a href="../index.html"><img class="logo" src="../static/images/logo.png" alt="Sabka Bazaar logo"></a>
                <div class="cart">
                    <img class="cart-icon" src="../static/images/cart.svg" alt="Shopping cart icon">
                    <span class="cart-item">0 items</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="cart-icon" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
                <section>
                    <h1>No items in your cart</h1>
                    <p>Your favorite items are just one click away.</p>
                </section>
                <button class="button">
                    Proceed to checkout
                </button>
            </div>
        </main>
        <footer>
            <p>Copyright &#169; 2011-2018 Sabka Bazaar Grocery Supplies Pvt Ltd</p>
        </footer>
    </div>
</body>

</html>