<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sabka Bazaar</title>

    <script src="app-bundle.js"></script>
</head>

<body>
    <div class="homepage">
        <header>
            <nav class="navigation-container">
                <a href="#"><img class="logo" src="static/images/logo.png" alt="Sabka Bazaar logo"></a>
                <a class="cart" href="view/cart.html">
                    <img class="cart-icon" src="static/images/cart.svg" alt="Shopping cart icon">
                    <span class="cart-item">0 items</span>
                </a>
            </nav>
        </header>
        <main>
            <section class="carousel">
                <img class="carousel-image" src="static/images/offers/offer5.jpg" alt="Offers Carousal">
                <div class="dots">
                    <button class="dot" onclick="loadCarousal(1)">&nbsp;</button>
                    <button class="dot" onclick="loadCarousal(2)">&nbsp;</button>
                    <button class="dot" onclick="loadCarousal(3)">&nbsp;</button>
                    <button class="dot" onclick="loadCarousal(4)">&nbsp;</button>
                    <button class="dot" onclick="loadCarousal(5)">&nbsp;</button>
                </div>
            </section>

            <section class="products-container">
            </section>

        </main>
        <footer>
            <p>Copyright &#169; 2011-2018 Sabka Bazaar Grocery Supplies Pvt Ltd</p>
        </footer>
    </div>
</body>

</html>