<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <div class="login-container">
        <header>
            <nav class="navigation-container">
                <a href="../index.html"><img class="logo" src="../static/images/logo.png" alt="Sabka Bazaar logo"></a>
                <a class="cart" href="../view/cart.html">
                    <img class="cart-icon" src="../static/images/cart.svg" alt="Shopping cart icon">
                    <span class="cart-item">0 items</span>
                </a>
            </nav>
        </header>
        <main>
            <div class="container">
    
                <section class="login-section">
                    <h1 class="login-title">Login</h1>
                    <p class="login-description">Get access to your Orders, Wishlist and Recommandations
                    </p>
                </section>
                <section class="login-data">
                    <input class="input-field" type="email" name="email" placeholder="Email" required>
                    <input class="input-field" type="password" name="password" placeholder="Password" required>
                    <button class="button">Login</button>
                </section>
            </div>
        </main>
        <footer>
            <p>Copyright &#169; 2011-2018 Sabka Bazaar Grocery Supplies Pvt Ltd</p>
        </footer>
    </div>
</body>

</html>