<!DOCTYPE html>
<html>
    <title>SABKA BAZAAR HOME</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">

    <style>
           
            </style>

    <body>

        <header>
                <div class="container flex" id="navbar">
                    <nav>
                        <div class="row">
                            <img src="assets/images/logo.png" alt=" logo" class="logo">
                            <ul class="main-nav bottom-xs xs-hide">
                                <li><a href="index.html" class="">Home</a></li>
                                <li><a href="plp.html" class=""> Products</a></li>
                            </ul>
                          </div>
                    </nav>
                
                    <div class="header-right">
                        <a href="sign-in.html" class="xs-hide"> SignIn</a>
                        <a href="sign-up.html" class="xs-hide"> Register</a>
    
                        <div class="cart">
                          <a href="cart.html" id="myBtn" class="got-to-cart"> <img src="./assets/images/cart.svg" alt=""> </a>
                            <span class="xs-show item-in-cart"> 0</span>
                            <span class="xs-hide">0 item</span>
                            <div id="hamburger-icon">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
    
                            <ul class="main-nav js--main-nav bottom-xs" id="mobile-nav">
                                <li><a href="index.html" class="">Home</a></li>
                                <li><a href="plp.html" class=""> Products</a></li>
                                <li><a href="sign-in.html" class=""> Signin</a></li>
                                <li><a href="sign-up.html" class=""> Signup</a></li>
    
                            </ul>
    
                            <div id="myModal" class="modal tooltip">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <span class="close">&times;</span>
                                      <h2>My cart</h2>
                                  </div>
                                  <div class="modal-body">
                                      <h2>No item in your cart</h2>
                                      <p>Your favourite items are just a click away</p>
                                  </div>
                                  <div class="modal-footer">
                                      <button>Start Shopping</button>
                                  </div>
                              </div>
                          </div>     

                        </div>
                    </div>
                </div>
            </header>

        <section class="plp-section">
            <div class="container " >
               
                
                <div class="wrapper">
                    
                        <div class="custom-select mt-15 xs-show" >
                                <select>
                                  <option value="0">Fruits & Vegetables</option>
                                  <option value="1">Bakery cakes & dairy</option>
                                  <option value="2">Beverages</option>
                                  <option value="3">Beauty & hygiene</option>
                                  <option value="4">Baby care</option>
                                 
                                </select>
                              </div>

                      <nav class="plp-nav">
                    
                          
                        <ul class="xs-hide">
                          <li><a class="active"> Fruits & Vegetables </a></li>
                          <li><a>Bakery cakes & dairy</a></li>
                          <li><a>Beverages</a></li>
                          <li><a>Beauty & hygiene</a></li>
                          <li><a>Baby care</a></li>
                        </ul>
                    
                      </nav>
                    
                      <main class="mt-20 mb-20">
                    
                        <div class="flex-grid">
                          <div class="plp-list">
                              <h2>Fresho Kiwi - Green, 3 pcs</h2>
                                
                                <div class="product">

                                    <img src="assets/images/products/fruit-n-veg/kiwi-green.jpg" alt="" >

                                    <div class="product-info">
                                        <p class="aside">Kiwis are oval shaped with a brownish outer skin. The flesh is bright green and juicy
                                        with tiny. edible black seeds. </p>

                                        <div class="product-mrp ">
                                            <span class="xs-hide sm-hide">MRP Rs. 89</span>
                                            <button>Buy Now<span class="xs-show sm-show"> @ MRP Rs87</span></button>
                                        </div> 

                                    </div>  

                                </div> 

                          </div>
                          <div class="plp-list">
                                <h2>Apple - Washingtonm, Regular 4 pcs</h2>

                                <div class="product">
                            <img src="assets/images/products/fruit-n-veg/apple.jpg" alt="" >
                            
                                
                            <div class="prodct-info">
                                <p class="aside">Kiwis are oval shaped with a brownish outer skin. The flesh is bright green and juicy
                                  with tiny. edible black seeds. </p>
                                  <div class="product-mrp ">
                                        <span class="xs-hide sm-hide">MRP Rs. 89</span>
                                        <button>Buy Now<span class="xs-show sm-show"> @ MRP Rs87</span></button>
                                    </div> 
                              </div> 
                            </div>
                          </div>
                          <div class="plp-list">
                                <h2>Fresho Pomegrante Peeled, 500 gm- Green, 3 pcs</h2>

                                <div class="product">
                            <img src="assets/images/products/fruit-n-veg/pomegrante.jpg" alt="" >
                           
                                
                            <div class="prodct-info">
                                <p class="aside">Kiwis are oval shaped with a brownish outer skin. The flesh is bright green and juicy
                                  with tiny. edible black seeds. </p>
                                  <div class="product-mrp ">
                                        <span class="xs-hide sm-hide">MRP Rs. 89</span>
                                        <button>Buy Now<span class="xs-show sm-show"> @ MRP Rs87</span></button>
                                    </div>  
                              </div> 
                          </div>
                            </div>
                            <div class="plp-list">
                                    <h2>Capsicum - Green, 1 kg</h2>

                                    <div class="product">
                                <img src="assets/images/products/fruit-n-veg/capsicum-green.jpg" alt="" >
                            
                                
                                <div class="prodct-info">
                                    <p class="aside">Kiwis are oval shaped with a brownish outer skin. The flesh is bright green and juicy
                                    with tiny. edible black seeds. </p>
                                    <div class="product-mrp ">
                                            <span class="xs-hide sm-hide">MRP Rs. 89</span>
                                            <button>Buy Now<span class="xs-show sm-show"> @ MRP Rs87</span></button>
                                        </div> 
                                </div> 
                            </div>
                            </div>
                            <div class="plp-list">
                              <h2>Tomato - Local, Organacally Grown, 500 gm</h2>
                        
                              <div class="product">
                              <img src="assets/images/products/fruit-n-veg/capsicum-green.jpg" alt="" >
                              <div class="prodct-info">
                                    <p class="aside">Kiwis are oval shaped with a brownish outer skin. The flesh is bright green and juicy
                                    with tiny. edible black seeds. </p>
                                    <div class="product-mrp ">
                                        <span class="xs-hide sm-hide">MRP Rs. 89</span>
                                        <button>Buy Now<span class="xs-show sm-show"> @ MRP Rs87</span></button>
                                    </div>  
                                </div>  
                              </div>
                            </div>          

                            <div class="plp-list">
                              <h2>Sandwich Bread - White Chemical Free, 400 gm</h2>
                              <div class="product">
                                <img src="assets/images/products/bakery-cakes-dairy/bread.jpg" alt="" >
                                <div class="prodct-info">
                                  <p>Kiwis are oval shaped with a brownish outer skin. The flesh is bright green and juicy
                                  with tiny. edible black seeds. </p>
                                  <div class="product-mrp ">
                                      <span class="xs-hide sm-hide">MRP Rs. 89</span>
                                      <button>Buy Now<span class="xs-show sm-show"> @ MRP Rs87</span></button>
                                  </div> 
                                </div>    
                              </div>
                            </div>

                            <div class="plp-list">
                              <h2>Organi Fresh Paneer, 200gm</h2>
                              <div class="product">
                                <img src="assets/images/products/bakery-cakes-dairy/paneer.jpg" alt="" >
                                <div class="prodct-info">
                                  <p>Kiwis are oval shaped with a brownish outer skin. The flesh is bright green and juicy
                                  with tiny. edible black seeds. </p>
                                  <div class="product-mrp ">
                                      <span class="xs-hide sm-hide">MRP Rs. 98</span>
                                      <button>Buy Now<span class="xs-show sm-show"> @ MRP Rs.98</span></button>
                                  </div> 
                                </div>    
                              </div>
                            </div>

                            <div class="plp-list">
                              <h2>Epigamia Green Yogurt - Blueberry, 90gm cup</h2>
                              <div class="product">
                                <img src="assets/images/products/bakery-cakes-dairy/yogurt-red.jpg" alt="" >
                                <div class="prodct-info">
                                  <p>Kiwis are oval shaped with a brownish outer skin. The flesh is bright green and juicy
                                  with tiny. edible black seeds. </p>
                                  <div class="product-mrp ">
                                      <span class="xs-hide sm-hide">MRP Rs. 40</span>
                                      <button>Buy Now<span class="xs-show sm-show"> @ MRP Rs.40</span></button>
                                  </div> 
                                </div>    
                              </div>
                            </div>

                            <div class="plp-list">
                              <h2>Epigamia Green Yogurt - Straberry, 90gm </h2>
                              <div class="product">
                                <img src="assets/images/products/bakery-cakes-dairy/paneer.jpg" alt="" >
                                <div class="prodct-info">
                                  <p>Kiwis are oval shaped with a brownish outer skin. The flesh is bright green and juicy
                                  with tiny. edible black seeds. </p>
                                  <div class="product-mrp ">
                                      <span class="xs-hide sm-hide">MRP Rs. 40</span>
                                      <button>Buy Now<span class="xs-show sm-show"> @ MRP Rs.40</span></button>
                                  </div> 
                                </div>    
                              </div>
                            </div>

                            <div class="plp-list">
                              <h2>Tata Tea Gold Leaf Tea, 500gm</h2>
                              <div class="product">
                                <img src="assets/images/products/beverages/tata-tea.jpg" alt="" >
                                <div class="prodct-info">
                                  <p>Kiwis are oval shaped with a brownish outer skin. The flesh is bright green and juicy
                                  with tiny. edible black seeds. </p>
                                  <div class="product-mrp ">
                                      <span class="xs-hide sm-hide">MRP Rs. 165</span>
                                      <button>Buy Now<span class="xs-show sm-show"> @ MRP Rs.165</span></button>
                                  </div> 
                                </div>    
                              </div>
                            </div>

                            <div class="plp-list">
                              <h2>Red Label Tea, 500gm Carton</h2>
                              <div class="product">
                                <img src="assets/images/products/beverages/red-label.jpg" alt="" >
                                <div class="prodct-info">
                                  <p>Kiwis are oval shaped with a brownish outer skin. The flesh is bright green and juicy
                                  with tiny. edible black seeds. </p>
                                  <div class="product-mrp ">
                                      <span class="xs-hide sm-hide">MRP Rs. 205</span>
                                      <button>Buy Now<span class="xs-show sm-show"> @ MRP Rs.205</span></button>
                                  </div> 
                                </div>    
                              </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </section>
        <footer>
                <div class="footer-copy">
                    <div class="container">
                    
                        <p>Copyright &copy; 2011-2018 Sabka Bazaar Grocery Supplies Pvt. Ltd.</p>
                    </div>
                </div>
         </footer>
    </body>
</html>
