@import "../../styles/colors.scss";

.container {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 720px) {
        flex-direction: row;
        width: 80%;
        margin: auto;
        & > * {
            flex: 1;
        }
    }
}

.loginIntro {
    text-align: center;
    font-weight: 600;
    margin-bottom: 40px;
    @media screen and (min-width: 720px) {
        text-align: left;
        & > h1 {
            font-size: 30px;
            margin-bottom: 0;
        }
    }
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginButton {
    background-color: $button-primary;
    border: none;
    color: white;
    padding: 10px;
    width: 90%;
}

.input {
    border: none;
    border-bottom: inset $input-border 2px;
    width: 100%;
    font-size: 16px;

    &:focus {
        outline: none;
        border-bottom: inset $input-border-active 2px;
    }
}

.inputLabel {
    width: 90%;
    margin: 20px 0;
    position: relative;
}

.placeholder {
    position: absolute;
    top: 0;
    left: 0;
    transition: top 0.3s ease, color 0.3s ease;
}

input:valid + .placeholder,
input:focus + .placeholder {
    top: -24px;
    color: $input-border-active;
}
