<header>
    <div class="skip">
        <a href="#content">Skip to main content</a>
    </div>
    <div class="container">
        <nav class="navbar">
            <div class="navbar__logo">
                <a href="/index.html">
                    <img src="../images/logo.png" alt="logo - home page" width="190" height="86">
                </a>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__menu--item">
                    <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
                </li>
                <li class="navbar__menu--item">
                    <a class="nav-link" href="/products.html">Products</a>
                </li>
            </ul>
            <div class="navbar__cart_area dropdown">
                <button class="navbar__cart dropbtn" id="s-cart-btn" aria-expanded="false" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" aria-hidden="true"
                        class="bi bi-cart-fill" viewBox="0 0 16 16">
                        <path
                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                    </svg>
                    <span id="cart_item"></span>&nbsp;items
                </button>
                <div class="dropdown-content cart_area" id="header_cart">
                    <div class="cart_area__header">
                        <h2>My Cart ($<span id="cart_total_amount"></span>)</h2>
                        <div>
                            <button type="button" class="btn-danger cart_area__clear">Clear</button>
                            <button type="button" class="btn-danger cart_area__close">Close</button>
                        </div>
                    </div>
                    <div id="cart_area_body"></div>
                </div>
            </div>
        </nav>
    </div>
</header>