<header>
    <div class="container">
        <nav class="navbar">
            <div class="navbar__logo">
                <a href="/index.html">
                    <img src="../images/logo.png" alt="logo - home page" width="190" height="86">
                </a>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__menu--item">
                    <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
                </li>
                <li class="navbar__menu--item">
                    <a class="nav-link" href="/products.html">Products</a>
                </li>
            </ul>
            <div class="navbar__cart_area dropdown">
                <button class="navbar__cart dropbtn" id="s-cart-btn" aria-expanded="false" type="button">
                    <img src="../images/cart.svg" alt="Cart" width="20" height="20" tabindex="-1">
                    0 items
                </button>
                <div class="dropdown-content cart_area">
                    <div class="cart_area__header">
                        <h2>My Cart</h2>
                        <button type="button" class="btn-danger cart_area__close">Close</button>
                    </div>
                    <ul>
                        <li class="cart_area__product">
                            <div class="cart_area__image">
                                <img src="../images/products/baby/baby-dove.jpg" alt="product 1" width="90"
                                    loading="lazy">
                            </div>
                            <div class="cart_area__details">
                                <div class="np-x d-flex">
                                    <div>
                                        <h3 class="cart_area__name">Product Name</h3>
                                        <span class="cart_area__price">$25.99</span>
                                    </div>
                                    <button type="button" class="btn-danger cart_area__btn-action"
                                        aria-label="Remove Product">X</button>
                                </div>
                                <div class="cart_area__actions">
                                    <button type="button" class="btn-danger cart_area__btn-action"
                                        aria-label="Decrease Quantity">-</button>
                                    <div>1</div>
                                    <button type="button" class="btn-danger cart_area__btn-action"
                                        aria-label="Increase Quantity">+</button>
                                    <span class="cart_area__total-price">$100.00</span>
                                </div>
                            </div>
                        </li>
                        <li class="cart_area__product">
                            <div class="cart_area__image">
                                <img src="../images/products/baby/baby-dove.jpg" alt="product 1" width="90"
                                    loading="lazy">
                            </div>
                            <div class="cart_area__details">
                                <div class="np-x d-flex">
                                    <div>
                                        <h3 class="cart_area__name">Product Name</h3>
                                        <span class="cart_area__price">$25.99</span>
                                    </div>
                                    <button type="button" class="btn-danger cart_area__btn-action"
                                        aria-label="Remove Product">X</button>
                                </div>
                                <div class="cart_area__actions">
                                    <button type="button" class="btn-danger cart_area__btn-action"
                                        aria-label="Decrease Quantity">-</button>
                                    <div>1</div>
                                    <button type="button" class="btn-danger cart_area__btn-action"
                                        aria-label="Increase Quantity">+</button>
                                    <span class="cart_area__total-price">$100.00</span>
                                </div>
                            </div>
                        </li>
                        <li class="cart_area__product">
                            <div class="cart_area__image">
                                <img src="../images/products/baby/baby-dove.jpg" alt="product 1" width="90"
                                    loading="lazy">
                            </div>
                            <div class="cart_area__details">
                                <div class="np-x d-flex">
                                    <div>
                                        <h3 class="cart_area__name">Product Name</h3>
                                        <span class="cart_area__price">$25.99</span>
                                    </div>
                                    <button type="button" class="btn-danger cart_area__btn-action"
                                        aria-label="Remove Product">X</button>
                                </div>
                                <div class="cart_area__actions">
                                    <button type="button" class="btn-danger cart_area__btn-action"
                                        aria-label="Decrease Quantity">-</button>
                                    <div>1</div>
                                    <button type="button" class="btn-danger cart_area__btn-action"
                                        aria-label="Increase Quantity">+</button>
                                    <span class="cart_area__total-price">$100.00</span>
                                </div>
                            </div>
                        </li>
                        <li class="cart_area__product">
                            <div class="cart_area__image">
                                <img src="../images/products/baby/baby-dove.jpg" alt="product 1" width="90"
                                    loading="lazy">
                            </div>
                            <div class="cart_area__details">
                                <div class="np-x d-flex">
                                    <div>
                                        <h3 class="cart_area__name">Product Name</h3>
                                        <span class="cart_area__price">$25.99</span>
                                    </div>
                                    <button type="button" class="btn-danger cart_area__btn-action"
                                        aria-label="Remove Product">X</button>
                                </div>
                                <div class="cart_area__actions">
                                    <button type="button" class="btn-danger cart_area__btn-action"
                                        aria-label="Decrease Quantity">-</button>
                                    <div>1</div>
                                    <button type="button" class="btn-danger cart_area__btn-action"
                                        aria-label="Increase Quantity">+</button>
                                    <span class="cart_area__total-price">$100.00</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="cart_area__checkout">
                        <a href="#">Checkout</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>