.carousel-indicators li {
  background-color: #00000066 !important;
  border: none !important; }

.carousel-indicators .active {
  width: 15px !important;
  height: 15px !important; }

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
  color: black !important; }

.carousel-control .left, .carousel-control .right {
  background: none !important; }
