.carousel-indicators li {
  background-color: #00000066 !important;
  border: none !important; }

.carousel-indicators .active {
  width: 15px !important;
  height: 15px !important; }

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
  color: black !important; }

.carousel-control .left, .carousel-control .right {
  background: none !important; }

.caraousel_sec,
.fruits_sec,
.bakery_sec,
.beverages_sec,
.beauty_sec,
.babycare_sec {
  margin-bottom: 20px; }
  .caraousel_sec::after,
  .fruits_sec::after,
  .bakery_sec::after,
  .beverages_sec::after,
  .beauty_sec::after,
  .babycare_sec::after {
    content: "";
    display: block;
    border: 1px solid #cdcdcd6e;
    margin: 0 30%;
    box-shadow: 0 2px 2px #cdcdcd6e;
    clear: both; }

.fruits_sec_r {
  width: 50%;
  overflow: hidden; }

.fruits_sec_l {
  width: 50%;
  overflow: hidden;
  float: left; }
