* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", "Arial", sans-serif; }
  * a {
    text-decoration: none; }

.page_nav_link:link {
  display: inline-block;
  font-weight: 300;
  color: black; }

.page_nav_link:visited {
  display: inline-block;
  font-weight: 300;
  color: black; }

.header_wrapper {
  padding: 2px 40px;
  border-bottom: 2px solid #cdcdcdcd;
  width: 100%; }
  .header_wrapper .header_logo {
    width: 15%;
    display: inline-block; }
  .header_wrapper .header_nav {
    width: 75%;
    display: inline-block;
    font-size: 12px; }
    .header_wrapper .header_nav .header_nav_one {
      width: 50%;
      float: left;
      padding-top: 25px; }
    .header_wrapper .header_nav .header_nav_two {
      width: 50%;
      float: left;
      text-align: right;
      margin-bottom: -6px; }
      .header_wrapper .header_nav .header_nav_two .my-cart-btn {
        background: #cdcdcdcd;
        text-align: center;
        width: 15%;
        height: 30px;
        float: right;
        padding-top: 5px;
        margin-top: 5px; }
        .header_wrapper .header_nav .header_nav_two .my-cart-btn .fa-shopping-cart {
          color: #cf0153; }

.footer_wrapper {
  background: #cdcdcdcd;
  height: 30px;
  padding-left: 10%;
  padding-top: 6px;
  font-size: 10px; }

input[type="submit"] {
  color: #fff;
  background: #d10157;
  width: 50%;
  border: none;
  height: 35px;
  margin-top: 30px; }

.login_sect {
  padding: 30px; }
  .login_sect .login_sect_l {
    width: 50%;
    overflow: hidden;
    float: left; }
    .login_sect .login_sect_l p {
      font-size: 12px;
      margin-top: 15px; }
  .login_sect .login_sect_r {
    width: 50%;
    overflow: hidden; }
    .login_sect .login_sect_r label {
      position: absolute;
      opacity: 0;
      display: block; }

input[type="text"],
input[type="email"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #cdcdcdcd;
  width: 50%;
  margin-top: 30px; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    border-bottom: 1px solid #2fb9c6;
    outline: none; }
  input[type="text"]:focus + label,
  input[type="email"]:focus + label,
  input[type="password"]:focus + label {
    position: absolute;
    opacity: 1;
    display: block;
    color: #2fb9c6;
    font-size: 12px; }

.register_sect {
  padding: 30px; }
  .register_sect .register_sect_l {
    width: 50%;
    overflow: hidden;
    float: left; }
    .register_sect .register_sect_l p {
      font-size: 12px;
      margin-top: 15px; }
  .register_sect .register_sect_r {
    width: 50%;
    overflow: hidden; }
    .register_sect .register_sect_r label {
      position: absolute;
      opacity: 0;
      display: block; }

.btn {
  color: #fff;
  border: #bf2957;
  background-color: #bf2957;
  display: inline-block;
  padding: 10px; }

footer {
  clear: both; }
