.footer-wrapper {
  background: #cdcdcd;
  padding: 10px;
  text-align: center;
  clear: both; }

.header-wrapper {
  display: flex;
  align-items: flex-end;
  border-bottom: 2px solid #cdcdcd; }
  .header-wrapper * {
    display: inline-block; }
  .header-wrapper img {
    margin-left: 40px; }

.cart-btn {
  cursor: pointer;
  display: block;
  background: #cdcdcd;
  height: 30px;
  padding: 5px; }
  .cart-btn .fa-shopping-cart {
    color: #cf0153; }

.leftnav {
  width: 70%; }
  .leftnav ul {
    padding: 0 0 15px 40px; }

.rightnav ul {
  padding-bottom: 15px; }

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .header-wrapper img {
    margin-left: unset; } }

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .header-wrapper img {
    margin-left: unset; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  * a {
    text-decoration: none;
    cursor: pointer; }

body {
  font-size: 12px; }

.form-content {
  padding: 8% 10%; }
  .form-content .left-content {
    width: 50%;
    overflow: hidden;
    float: left; }
  .form-content .right-content {
    width: 50%;
    overflow: hidden; }
    .form-content .right-content label {
      opacity: 0;
      position: absolute; }

.submit {
  color: #fff;
  background: #d10157;
  width: 50%;
  border: none;
  height: 35px;
  margin-top: 30px; }

input[type="text"],
input[type="email"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #cdcdcd;
  width: 50%;
  height: 40px; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    border-bottom: 1px solid #2fb9c6;
    outline: none; }

.btn {
  cursor: pointer;
  color: #fff;
  border: #bf2957;
  background: #bf2957;
  display: inline-block;
  padding: 10px; }

.error {
  color: red;
  height: 10px;
  margin: 5px 0px; }
