* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", "Arial", sans-serif; }
  * a {
    text-decoration: none; }

body {
  font-size: 12px; }

header {
  padding: 2px 40px;
  border-bottom: 2px solid #cdcdcdcd; }
  header .header_nav {
    width: 80%;
    display: inline-block;
    margin-bottom: -6px; }
    header .header_nav a:link, header .header_nav a:visited {
      display: inline-block;
      font-weight: 300;
      color: black; }
    header .header_nav .header_nav_one {
      float: left;
      padding-top: 25px; }
    header .header_nav .header_nav_two {
      float: right; }
      header .header_nav .header_nav_two .cart-btn {
        cursor: pointer;
        background: #cdcdcdcd;
        text-align: center;
        height: 30px;
        padding-top: 5px;
        margin-top: 5px; }
        header .header_nav .header_nav_two .cart-btn .fa-shopping-cart {
          color: #cf0153; }

footer {
  background: #cdcdcdcd;
  padding: 10px;
  text-align: center;
  clear: both; }

.form_content {
  padding: 30px; }
  .form_content .left_content {
    width: 50%;
    overflow: hidden;
    float: left; }
  .form_content .right_content {
    width: 50%;
    overflow: hidden; }
    .form_content .right_content label {
      position: absolute;
      opacity: 0;
      display: block; }

input[type="submit"] {
  color: #fff;
  background: #d10157;
  width: 50%;
  border: none;
  height: 35px;
  margin-top: 30px; }

input[type="text"],
input[type="email"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #cdcdcdcd;
  width: 50%;
  margin-top: 30px; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    border-bottom: 1px solid #2fb9c6;
    outline: none; }
  input[type="text"]:focus + label,
  input[type="email"]:focus + label,
  input[type="password"]:focus + label {
    position: absolute;
    opacity: 1;
    display: block;
    color: #2fb9c6; }

.btn {
  cursor: pointer;
  color: #fff;
  border: #bf2957;
  background-color: #bf2957;
  display: inline-block;
  padding: 10px; }
