.overlay {
  display: none;
  /* Hidden by default */
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); }
  .overlay .overlay_content {
    background-color: #eaeaea;
    margin: auto;
    width: 70%; }
    .overlay .overlay_content .overlay_header {
      background: #000;
      color: #fff;
      padding: 20px; }
      .overlay .overlay_content .overlay_header .fa-close {
        float: right; }
    .overlay .overlay_content .mycart_section {
      margin: 20px 0px;
      height: 400px;
      overflow-y: auto; }
      .overlay .overlay_content .mycart_section .mycart_items {
        padding: 15px;
        background: #fff;
        height: 100px; }
        .overlay .overlay_content .mycart_section .mycart_items img {
          float: left; }
        .overlay .overlay_content .mycart_section .mycart_items .item_cal {
          float: left;
          margin-left: 10px;
          width: 85%; }
          .overlay .overlay_content .mycart_section .mycart_items .item_cal div {
            padding: 10px 0 0 0; }
            .overlay .overlay_content .mycart_section .mycart_items .item_cal div .fa-minus,
            .overlay .overlay_content .mycart_section .mycart_items .item_cal div .fa-plus {
              border-radius: 20%;
              width: 20px;
              background: #bf2957;
              text-align: center;
              padding: 2px;
              color: #fff; }
            .overlay .overlay_content .mycart_section .mycart_items .item_cal div span {
              margin: 0 3px; }
            .overlay .overlay_content .mycart_section .mycart_items .item_cal div .total_amt {
              float: right; }
      .overlay .overlay_content .mycart_section .mycart-caption {
        padding: 10px;
        background: #fff;
        margin: 10px;
        height: 95px; }
        .overlay .overlay_content .mycart_section .mycart-caption img {
          float: left; }
        .overlay .overlay_content .mycart_section .mycart-caption p {
          text-align: center;
          margin: 15px; }
    .overlay .overlay_content .overlay_footer {
      padding: 15px;
      background: #fff; }
      .overlay .overlay_content .overlay_footer p {
        margin-bottom: 10px;
        text-align: center; }
      .overlay .overlay_content .overlay_footer a {
        width: 100%; }
        .overlay .overlay_content .overlay_footer a p {
          float: right; }

/* overlay Content */
