@charset "UTF-8";
.flex {
  display: flex; }

.flex-row {
  display: flex;
  flex: 1; }

.flex-column {
  display: flex;
  flex: 1;
  flex-direction: column; }

.flex-row-reverse {
  display: flex;
  flex: 1;
  flex-direction: row-reverse; }

.flex-column-reverse {
  display: flex;
  flex: 1;
  flex-direction: column-reverse; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  color: black; }

a {
  color: black;
  text-decoration: none; }

html,
body {
  margin: 0 auto;
  font-family: 'Dosis';
  font-weight: 600;
  box-sizing: border-box; }

.btn {
  background: #d10157;
  border: 0;
  padding: 10px;
  color: white;
  font-family: 'Dosis';
  text-align: center; }

.nav {
  display: flex;
  height: 96px;
  box-shadow: 0 8px 6px -3px #eeeeee; }
  @media only screen and (min-width: 1024px) {
    .nav {
      padding: 0 10vw; } }
  .nav__logo {
    margin-left: 1vw;
    width: 29vw;
    padding: 9.5px 0; }
    @media only screen and (min-width: 480px) {
      .nav__logo {
        margin-left: 0;
        width: 16vw; } }
  .nav__bar {
    display: flex;
    flex: 1;
    list-style: none;
    margin-left: 7vw;
    padding: 9.5px 0; }
    .nav__bar--link {
      display: flex;
      flex-direction: column-reverse;
      margin-left: 2vw;
      display: none; }
      @media only screen and (min-width: 480px) {
        .nav__bar--link {
          display: flex; } }
      .nav__bar--link a {
        color: #736a6d; }
  .nav__end {
    display: flex;
    flex-direction: column;
    width: 29vw; }
    @media only screen and (min-width: 480px) {
      .nav__end {
        width: 12vw; } }
    .nav__end-register-box {
      display: flex;
      flex-direction: row-reverse;
      height: 34%;
      display: none; }
      @media only screen and (min-width: 480px) {
        .nav__end-register-box {
          display: flex; } }
      .nav__end-register-box--link {
        font-size: 0.7rem;
        margin-left: 1.5vw; }
    .nav__end-cart {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      background-color: #eeeeee; }
      .nav__end-cart--logo {
        height: 35.52px;
        fill: #d10157; }

.menu-toggle {
  display: block;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  align-self: center; }
  @media only screen and (min-width: 480px) {
    .menu-toggle {
      display: none; } }
  .menu-toggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none; }
    .menu-toggle input:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #232323; }
    .menu-toggle input:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2); }
    .menu-toggle input:checked ~ span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -1px); }
    .menu-toggle input:checked ~ ul {
      display: block;
      transform: translate(-150%, 0); }
  .menu-toggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
    .menu-toggle span:first-child {
      transform-origin: 0% 0%; }
    .menu-toggle span:nth-last-child(2) {
      transform-origin: 0% 100%; }

.menu {
  display: none;
  position: absolute;
  width: 300px;
  margin: -63px 0 0 300px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
  .menu--link {
    transition: color 0.3s ease; }
    .menu--link:hover {
      color: tomato; }
  .menu li {
    padding: 10px 0;
    font-size: 22px; }

main {
  margin-top: 10px; }
  @media only screen and (min-width: 1024px) {
    main {
      padding: 0 10vw; } }

footer {
  padding: 10px 0;
  text-align: center;
  background-color: #eaeaea; }
  @media only screen and (min-width: 1024px) {
    footer {
      padding: 0 10vw; } }
  @media only screen and (min-width: 1024px) {
    footer {
      text-align: left; } }

.category-list {
  width: 25%;
  padding: 3px 12px 3px 12px;
  background-color: #eaeaea;
  margin-top: -10px;
  display: none; }
  @media only screen and (min-width: 480px) {
    .category-list {
      display: block; } }
  .category-list__name {
    font-size: 1rem;
    padding: 12px 0 12px 10px;
    color: #959595;
    border-bottom: 1px solid #cecccc; }

.product-list {
  width: 75%;
  padding: 0; }
  @media only screen and (min-width: 480px) {
    .product-list {
      padding: 5px; } }
  .product-list .product-list-row {
    display: flex;
    width: 100%;
    flex-wrap: wrap; }

.product-card {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  border-bottom: 1px dashed #d0d0d0;
  box-shadow: 10px 0 5px -13px #888; }
  @media only screen and (min-width: 480px) {
    .product-card {
      width: 50%; } }
  @media only screen and (min-width: 1024px) {
    .product-card {
      width: 25%; } }
  .product-card__name {
    font-size: 1rem;
    height: 4rem; }
  .product-card__detail {
    display: flex;
    flex: 1; }
    @media only screen and (min-width: 1024px) {
      .product-card__detail {
        display: flex;
        flex: 1;
        flex-direction: column; }
        .product-card__detail--img {
          width: 100%;
          height: auto; } }
    .product-card__detail--img {
      width: 50%;
      height: 5.5rem; }
    .product-card__detail--description {
      background-color: #f0f0f0;
      font-size: 0.8rem;
      padding: 5px;
      height: 5.5rem;
      overflow: hidden; }
  .product-card__buy {
    height: 40px;
    margin-top: 20px; }
    .product-card__buy--price {
      align-items: center;
      display: none; }
      @media only screen and (min-width: 1024px) {
        .product-card__buy--price {
          display: flex; } }
    .product-card__buy--btn {
      justify-content: center; }
    .product-card__buy--sm-txt {
      color: white; }
      @media only screen and (min-width: 1024px) {
        .product-card__buy--sm-txt {
          display: none; } }

.mob-category-list-container {
  position: relative; }
  .mob-category-list-container:after {
    position: absolute;
    content: 'ï¹€';
    color: white;
    width: 10px;
    height: 10px;
    top: 9px;
    right: 20px;
    pointer-events: none; }
  .mob-category-list-container .mob-category-list {
    width: 100%;
    position: relative;
    background: #d10157;
    color: white;
    border: 0;
    padding: 10px;
    -webkit-appearance: none;
    appearance: none; }
    @media only screen and (min-width: 480px) {
      .mob-category-list-container .mob-category-list {
        display: none; } }
