@import url('https://fonts.googleapis.com/css?family=Dosis:400,500,600,700,800,900');
@import '../../styles/global';

* {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Dosis';
}

.page-wrap {
  @extend parentElement;
  overflow: hidden;
  min-height: calc(100vh - 44px);
  padding-top: 100px;
}

button {
  &:disabled {
    opacity: 0.5;
  }
}

@media only screen and (max-width: $tab-max-width) {
  .page-wrap {
    padding-top: 100px;
  }
  .container {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (max-width: $mobile-max-width) {
  .page-wrap {
    padding-top: 80px;
  }
}

.container-wrap {
  position: relative;
}
