@mixin modal-content {
  margin-left: 18%;
  width: 63%;
}

@mixin form-left-text {
  font-size: 16px;
  font-weight: 500;
  padding: 3%;
  font-family: $primary-font;
  margin-left: 37%;
  text-align: left;
}

@mixin form-text-heading {
  font-weight: 700;
  font-size: 30px;
  padding: 3%;
  font-family: $primary-font;
  margin-left: 37%;
  text-align: left;
}

@mixin form-btn {
  background: $color-white;
  padding: 5px;
  width: 100%;
  height: 35px;
  border: 1px solid $color-red;
  margin-top: 40px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 50px $color-red inset;
  color: $color-white;
}

@mixin div-row {
  @include flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
}

@mixin flex {
  display: flex;
}

@mixin flex-row {
  @include flex;
  flex: 1;
}

@mixin flex-column {
  @include flex;
  flex: 1;
  flex-direction: column;
}

@mixin flex-row-reverse {
  @include flex;
  flex-direction: row-reverse;
}

@mixin flex-column-reverse {
  @include flex;
  flex-direction: column-reverse;
}

@mixin break-point($point) {
  @if $point==tablet {
    @media only screen and (min-width: 480px) {
      @content;
    }
  }

  @else if $point==desktop {
    @media only screen and (min-width: 1024px) {
      @content;
    }
  }
}

@mixin app-header-padding-changes {
  @include break-point(desktop) {
    padding-left: $app-padding-horizontal;
    padding-right: $app-padding-horizontal;
  }
}