
$border-shadow-color: rgba(66, 43, 43, 0.2);
$des-background-color: #dee0df;
$white-color: #ffffff;
$btn-background: #a13b3b;


.border-radius-4 {
    border-radius: 4px;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
}
 
.product-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .card {
        min-width: 200px;
        margin: 0.5rem;
        padding: 1rem;
        min-height: 100%;
        width: 20%;
        @extend .border-radius-4;
        box-shadow: $border-shadow-color 0px 2px 8px 0px;
        border-bottom: 1px dashed $border-shadow-color;
        .product-des {
            padding: 0.5rem;
            background-color: $des-background-color;
            font-weight: 500;
            @extend .border-radius-4;         
        }
        h4 {
            margin-top: 0px;
        } 
        .word-break {
            word-break: break-word;
        }
        img {
            max-height: 50%;
            width: 100%;
        }
        .buynow-btn {
            width: 100%;
        }
     }
}

button {
    font-size: 20px;
    color: $white-color;
    margin-top: 5px;
    padding: 0.5rem;
    background: $btn-background;
    text-decoration: none;
    border: none;
}
button:hover {
    opacity: 0.9;
    cursor: pointer;
}

.no-item-found {
    margin: 2rem;
    padding: 2rem;
    text-align: center;
}

.content-body {
    display: flex;
    min-height: calc(100vh - 120px);
    width: 100%;
    .left-section {
        min-width: 150px;
        width: 15%;
        min-height: 100%;
        padding-left: 0.5rem;
        background: $des-background-color;
        box-shadow: $border-shadow-color 0px -10px 8px 0px;
        .category-btn {
            background: transparent;
            color: black;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            width: 100%;
            padding: 1rem;
            border-bottom: 1px solid black;
            outline: none;
        }
        .category-btn:hover {
            opacity: 0.6;
        }
    }
    .right-section {
        width: 85%;
    }
}

.category-banner {
    display: flex;
    margin: 1rem;
    padding: 1rem;
    box-shadow: $border-shadow-color 0px 2px 8px 0px;
    align-items: center;
    justify-content: space-between;
    img {
        width: 100%;
        text-align: center;
    }
    .image-section {
        width: 40%;
        text-align: center;
    }
    .category-details {
        width: 60%;
        text-align: center;
        .category-name {
            margin: 10px;
        }
        .category-des {
            margin: 10px; 
        }
        .category-btn {
            margin: 10px;
        }
    }
}

.main-header {
    height: 70px;
    position: sticky;
    top: 0px;
    background: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.signin-container {
    display: flex;
    margin: 1rem;
    padding: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    .column {
        width: 35%;
        padding: 1rem;
    }
    input {
        width: 100%;
        border: none;
        border-bottom: 2px solid black;
        outline: none;
        margin-bottom: 30px;
        height: 50px;
    }
    input:focus {
        border-bottom: 2px solid blue;
    }
    button {
        width: 80%;
    }
    form {
        text-align: center;
    }
    .error-block {
        font-size: 18px;
        color: red;
    }
}

.display-none {
    display: none;
}

.no-item {
    .container {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: center;
        height: calc(100vh - 130px);
        h2 {
            margin-bottom: 5px;
        }
    }
    text-align: center;
    button {
        width: 100%;
        max-width: 200px;
    }
}

.cart-container {
    padding: 1rem 0;
    background-color: $des-background-color;
    height: calc(100vh - 150px);
    overflow-y: scroll;
    .display-flex {
        display: flex;
        align-items: center;
        box-shadow: $border-shadow-color 0px 5px 15px;
        background-color: white;
        h3 {
            padding-left: 10px;
        }
        .sub-flex {
            display: flex;
            align-items: center;
            height: 100%;
            h4 {
                margin-bottom: 5px;
                margin-top: 5px;
            }
            button {
                height: 20px;
                width: 20px;
                padding: 0px;
                margin: 0;
                text-align: center;
            }
            span {
                margin: 0 10px;
            }
        }
    }
    .product-details {
        margin-top: 20px;
        padding: 10px;
        height: 80px;
        justify-content: space-between;
        img {
            height: 100%;
            margin-right: 10px;
        }
    }
}

.cart-footer {
    text-align: center;
    div {
        padding: 0.5rem;
    }
    button {
        width: 100%;
        max-width: 400px;
    }
    span {
        margin: 0px 10px;
    }
}

@media only screen and (max-width: 600px) {
    .signin-container {
        .column {
            width: 100%;
        }
        text-align: center;
    }
}
