@import './../sass/variables';
@import './../sass/mixins';

.modal-backdrop{
    height: 100vh;
    width: 100vw;
    z-index: 100;
    overflow: hidden;
    background-color:  $color-grey-overlay;
    position: fixed;
    top:0%;
    left:0;
}

.modal-content{
    position: absolute;
    min-width : 480px;
    max-width: 100%;
    height: 90vh;
    background-color: $color-white;
    z-index: 1000;
    top:10%;
    left:50%;
    //transform:translate(-50%,-50%);
    overflow: hidden;
    @include responsive(large-tabs){
        transform:translateX(-50%);
    }

    @include responsive(mobile){
        min-width: 100%;
        height: 100vh;
        top:0%
    }
}