@import '../../../../styles.scss';

article {
    border-bottom: 1px solid $color-grey;
    border-style: dashed;
    padding: 5px;
    h4 {
        font-weight: bolder;
    }
}
.product-card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    align-content: center;
    figure {
        flex-basis: 100%;
        img {
            width: 250px;
        }
    }
    .product-card-content{
        padding: 5px;
        background-color: #eaeaea;
        margin-bottom: 40%;
    }
}

@media (min-width: 768px) {
    :host {
        margin:20px 0;
        article {
            flex-basis: 50%;
            // box-shadow: 1px 0px 1px $color-light-grey;
        }
        button {
            width: 100%;
        }
    }
}

@media (min-width: 1024px) {
    article {
        // border-style: dashed;
        h4 {
            height: 110px;
            font-weight: normal;
        }
    }
    :host {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        article {
            flex-basis: 20%;
            box-shadow: 1px 0px 1px $color-light-grey;
        }
        button {
            width: 100%;
        }
    }
    .product-card-body {
        flex-direction: column;
        align-items: center;
        figure {
            img {
                width: 210px;
            }
        }
        .product-card-content {
            margin-bottom: 10px;
            height: 100px;
            overflow: auto;
        }
    }
}