.item {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 24rem;
    box-shadow: 0.2rem 0.2rem 0.5rem grey;
    column-gap: 1.6rem;
    margin-top: 1.6rem;
  }
  
  .item-inverse {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 24rem;
    box-shadow: 0.2rem 0.2rem 0.5rem grey;
    column-gap: 1.6rem;
    margin-top: 1.6rem;
  }
  
  .item-description {
    text-align: center;
    padding: 1rem;
  }
  
  .button {
    background-color: #bf2957;
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 0.8rem 1.4rem;
    border-radius: 1rem;
    margin-top: 1.6rem;
    /* Only necessary for .btn */
    border: none;
    cursor: pointer;
    margin-top: 1.6rem;
  }
  