@import './../../sass/variables';

.side-navigation{
    &-item{
        font-size: 1.4rem;
        padding: 1.2rem 2rem;
        border-bottom: 1px solid $color-grey-medium;
    }

    &-link{
        color : $color-grey-dark;
        font-weight: 600;
    }
}


.active-category{
    background-color: $color-primary;
    .side-navigation-link{
        color:white;
    }
}