.cart {
  position: relative;
  padding: 0 10rem;
  height: 100vh;
  width: 100wh;
  background-color: rgba($color: $black, $alpha: 0.8);
  z-index: 100;
  padding-top: 90px;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  @include responsiveMobile() {
    padding: 0 0rem;
  }
  @include responsiveTablet() {
    padding: 0 0rem;
  }
  .cart-wrapper {
    width: 50%;
    height: 100%;
    @include responsiveMobile() {
      width: 100%;
    }
    @include responsiveTablet() {
      width: 100%;
    }
    .cart-inner {
      width: 100%;
      height: 100%;
      background-color: $gray;
      position: relative;
      .cart-header {
        @include flexBetween;
        background-color: $black;
        padding: 2rem 2rem;
        color: $white;
        button {
          background-color: transparent;
          border: none;
          color: $white;
          font-size: 1.5rem;
          cursor: pointer;
        }
      }
      .cart-body {
        padding: 0 1rem;
        padding-top: 1rem;
        padding-bottom: 15rem;
        height: 100%;
        overflow: auto;
        .cart-item {
          @include flexBetween;
          padding: 1rem 1rem;
          margin-bottom: 1rem;
          .cart-item-left {
            display: flex;
          }
          background-color: $white;
          .cart-image {
            height: 100px;
            width: 100px;
            margin-right: 1rem;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
          .cart-item-content {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 60%;
            h2 {
              font-size: 1rem;
            }
          }
          .quantity-container {
            display: flex;
            justify-content: flex-start;
            .quantity {
              display: flex;
              margin-right: 1rem;
              & :first-child,
              :last-child {
                @include flexCenter;
                border: none;
                background-color: $primary;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                color: $white;
                cursor: pointer;
              }
              .quantity-value {
                padding: 0 0.5rem;
              }
            }
          }
        }
      }
      .empty-cart {
        @include flexCenter;
        flex-direction: column;
        height: 100%;
        h2 {
          margin-bottom: 1rem;
        }
        button {
          @include primaryButton;
        }
      }
      .promotion {
        padding: 1rem 1rem;
        background-color: $white;
        img {
          margin-right: 2rem;
        }
        @include flexCenter;
        justify-content: flex-start;
      }
      .cart-footer {
        padding: 1rem 1rem;
        background-color: $white;
        position: absolute;
        bottom: 0;
        width: 100%;
        border-top: 1px solid $gray;
        text-align: center;
        .cart-footer-title {
          margin-bottom: 1rem;
        }
        button {
          width: 100%;
          padding: 2rem 0;
          @include primaryButton;
          @include flexBetween;
        }
        button.centered {
          justify-content: center;
        }
      }
    }
  }
}
