
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
 }
 
 @keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
 }
 @-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}

}