.sidebar-container {
  display: none;
}

.dropdown-container {
  width: 100%;
  box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.2);
}

.dropdown {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: 0;
  background-color: #d00156;
  color: white;
  font-weight: 600;
  border-right: 16px solid transparent;
}

.sidebar-container {
  background-color: #eaeaea;
  padding: 0;
  padding-left: 10px;
}

.sidebar-items {
  padding: 1.5rem 0;
  border-bottom: 1px solid #d0d0d0;
  border-left: 1.5rem solid transparent;
  font-weight: 600;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .dropdown {
    display: none;
  }

  .sidebar-container {
    display: block;
  }
}
