@import "../../Assets/style/basestyle.scss";
.counter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1.375rem;
  .btn-round {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 15%;
    background-color: $base-icon-color;
    color: #fff;
    font-size: 1.2rem;
    padding-bottom: 5px;
  }
  .count {
    width: auto;
  }
}
@media screen and (max-width: 768px) {
  .counter-container {
    justify-content: flex-start;
    width: auto;
    .btn-round {
      width: 2.5rem;
    }
    .count {
      padding: 0 10%;
    }
  }
}