<div class="row">
  <div style="width: 500px">
    <div class="container">
      <div class="header">
        <h3>My Cart(0 Item)</h3>
        <span class="close">X</span>
      </div>
      <div class="content">
        <div class="cart-item">
          <div class="left-section">
            <img
              src="../../assets/static/images/products/fruit-n-veg/apple.jpg"
            />
          </div>
          <div class="right-section">
            <h4>Apple - Washington, Regular, 3 pcs</h4>
            <div class="detail">
              <div class="quantity">
                <span class="minus circle">-</span>
                <span class="count">1</span>
                <span class="circle">+</span>
                <span class="multiplier"> x </span>
                <span class="per-piece-price">Rs.187</span>
              </div>
              <h3 class="total">Rs.187</h3>
            </div>
          </div>
        </div>
        <div class="lowest-price">
          <img src="../../assets/static/images/lowest-price.png" />
          <div class="lowest-price-txt">You won't find it cheaper anywhere</div>
        </div>
      </div>
      <div class="footer">
        <div class="promo-code">Promo code can be appplied on payment page</div>
        <a href="#" class="checkout">
          <span> Proceed to Checkout</span>
          <span> Rs.187</span>
        </a>
      </div>
    </div>
  </div>
</div>
