@import '../../styles/abstract/variables';
@import '../../styles/abstract/mixin';

.cart-container{
    position: fixed;
    width:400px;
    height: 100%;
    visibility: hidden;
    top: 12%;
    right:0;
    z-index: 10;
    main{
        height: 537px;
        position: relative;
    }
    @include bg-opacity(#f5f5f5);
    .card-panel{
        @include bg-opacity($color-white);
        padding: 15px;
        position: relative;
        figure{
            height: 50px;
            img{
                height: 100%;
                width: auto;
            }
        }
    }
    .total-price{
        position: absolute;
        right: 10px;
        bottom:28%;
        @include font-size(80%);
    }
    .offer{
        padding: 10px;
        @include bg-opacity($color-white);
        p{
            @include font-size(70%);
        }
        figure{
            height: 35px;
            img{
                height: 100%;
                width:auto;
            }
        }
    }
    .main-header{ 
        background-color: $color-white;
        color: $color-black;
        margin-top: 30px;
        padding: 15px 20px;
        @include box-shadow(0px -1px 0px 0px #ccc);
        h1{
            @include font-size(90%);
        } 
    }
    .card-container{
        overflow: auto;
        height: 77%;
    }
    .no-item-exception{
        position: relative;
        top:40%;
    }
    .cart-values{
        .sign{
            position: relative;
            bottom: 3px;
        }
        .price{
            @include font-size(65%);
            color: $color-black;
        }
        .plus,.minus{
            height: 16px;
            width: 16px;
            border-radius: 100%;
            display: inline-block;
            @include bg-opacity($btn-color);
            color: $color-white;
            cursor: pointer;
            @include font-size(73%);
        }
    }
    .cart-footer{
        @include bg-opacity($color-white);
        position: absolute;
        width: 100%;
        bottom: 12%;
    }
    .cart-btn{
        border-radius: 3px;
        cursor: pointer;
        width: 100%;
        border: none;
        color: $color-white;
        padding: 15px;
        @include font-size(80%);
        @include bg-opacity($btn-color);
    }

    @include small-screen{
        .main-header{
            @include bg-opacity($color-black);
            color: $color-white;
            margin-top: 0;
        }
    }
    @include large-screen{
        right: 10%;
    }
}
