$back_color: #eaeaea;
$primary_color: #d00155;
$secondary-color: #50dae2;
$white_color: #fff;
$black_color: #000;
$grey-color: grey;

:export {
  primary_color: $primary_color;
  back_color: $back_color;
  white_color: $white_color;
}
