.section-login {
    display: flex;
    justify-content: center;
    .login-info {
        line-height: 2.25rem;
        flex: 0 0 30%;
        p {
            font-size: 70%;
            font-weight: 600;
        }
    }
    .login-action {
        flex: 0 0 25%;
        .login-form {
            .login-inputs {
                width: 100%;
            }
        }
        .field-row {
            margin-bottom: 1rem;
            width: 12rem;
        }

        .btn-login,
        .btn-login:active,
        .btn-login:focus {
            font-size: 90%;
            display: block;
            line-height:2rem;
            margin: 2rem 0 0 0;
            width: 100%;
            outline: none;
            border: none;
            cursor: pointer;
        }
    }
}
