@import '../../styles/global';

.product-wrap {
  margin: 24px 14px 4px;
  padding-bottom: 14px;
  border-bottom: 2px dashed $grey-color;
  .product-header {
    font-size: 16px;
    line-height: 20px;
    font-weight: 800;
    min-height: 40px;
    max-height: 60px;
  }
  .product-detail-wrap {
    display: flex;
    justify-content: space-between;
    .product-image {
      width: 50%;
      padding: 4px;
      img {
        width: 100%;
      }
    }
    .product-description-wrap {
      width: 50%;
      margin-bottom: 40px;
      .product-description {
        height: fit-content;
        padding: 5px;
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;
        background: $grey-color;
        margin-bottom: 8px;
      }
      .product-price-wrap {
        position: absolute;
        width: 42%;
        bottom: 14px;
        button {
          background: $pink-color;
          color: $white-color;
          border: 0;
          width: 100%;
          height: 40px;
          font-size: 14px;
          font-weight: 500;
        }
      }
      .desktop-product-price-wrap {
        display: none;
        position: absolute;
        bottom: 16px;
        width: 78%;
        justify-content: space-between;
        align-items: center;
        .desktop-product-price {
          width: 50%;
          font-size: 10px;
        }
        button {
          background: $pink-color;
          color: $white-color;
          border: 0;
          width: 50%;
          height: 30px;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
}

@media only screen and (min-width: $mobile-max-width) {
  .product-wrap {
    height: 90%;
    margin: 40px 0 0 20px;
    padding-bottom: 8px;
    .product-header {
      min-height: 60px;
    }
    .product-detail-wrap {
      .product-description-wrap {
        .product-description {
          min-height: 120px;
        }
        .product-price-wrap {
          width: 83%;
          margin-left: -42%;
          bottom: 8px;
        }
      }
    }
  }
}

@media only screen and (min-width: $tab-max-width) {
  .product-wrap {
    .product-header {
      min-height: 80px;
      max-height: 80px;
    }
    .product-detail-wrap {
      display: block;
      .product-image {
        width: 100%;
      }
      .product-description-wrap {
        width: 100%;
        margin-bottom: 50px;
        .product-price-wrap {
          display: none;
        }
        .desktop-product-price-wrap {
          display: flex;
        }
      }
    }
  }
}
