.main
    display: flex
    justify-content: center
    align-items: center

.loginText
    display: flex
    flex-direction: column
    width: 50%
    justify-content: space-around
    margin-right: 10px
.email
    margin: 30px 0 10px
.password
    margin-top: 40px
    margin-bottom: 10px