<app-header></app-header>

<div class="owl-item">
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let banner of allBanners">
      <ng-template carouselSlide [id]="banner.id">
        <img
          src="{{ './../../../assets/' + banner?.bannerImageUrl }}"
          [alt]="banner?.bannerImageAlt"
        />
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>

<app-category></app-category>
<!-- 
<section class="category">
  <div class="sub__category" *ngFor="let category of allCategories">
    <div class="category__img">
      <img
        class="img"
        src="{{ './../../../assets/' + category?.imageUrl }}"
        alt="category"
      />
    </div>
    <div class="btn">
      <p class="category__name">{{ category?.name }}</p>
      <p class="category__desc">{{ category?.description }}</p>
      <button class="btn__navigate" type="button" (click)="navigateToExplore()">
        Explore {{ category?.name }}
      </button>
    </div>
  </div>
</section> -->
