.login-container {
  display: flex;
  margin-top: 5vh;

  .login-text {
    display: flex;
    width: 40vw;
    justify-content: flex-end;
    margin-top: 5vh;
    padding: 3vh;
  }

  .input-box {
    margin-left: 5vw;
    margin-top: 0vh;
    position: relative;
  }
}

@media (max-width: 425px) {
  .login-container {
    display: flex;
    flex-direction: column;

    .login-text {
      display: flex;
      width: 80vw;
    }
  }
}
