<main>
<section>
{{> organisms/o-carousel  banners =banners}}
</section>
<section class="categories-section">
			{{#each categories as |value key|}}
			 {{> molecules/m-banner  imageUrl=value.imageUrl title=value.name description=value.description labelText="Email" btntext=(concat 'Explore ' value.key) class="category__type" key="category" value=value.id }}
			{{/each}}
</section>
</main>	