<main>
<section>
{{> organisms/o-carousel  banners =banners}}
</section>
<section class="categories-section">
			{{#each categories as |value key|}}
			 {{> molecules/m-banner  imageUrl=value.imageUrl title=value.name description=value.description labelText="Email"  hypertext=(concat 'Explore ' value.key) href=(concat '/products/' value.id) alt=value.name}}
			{{/each}}
</section>
</main>	