
<div class="login">
    <div class="row">
        <div class="col col-lg-6 col-md-4 col-sm-4 col-0 loginHeader">
            <h3>SignUp</h3>
            <p>We do not share your personal details with anyone</p>
    
        </div>
        <div class="col col-lg-6 col-md-8 col-sm-8 col-12 loginForm">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <span class="error" *ngIf="userExist">Email id alreay exist</span>
                <div class="form-group">
                    <input type="text"  placeholder="First Name" formControlName="firstName"  [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                    <div *ngIf="submitted && f.firstName.errors" class="error">
                        <div *ngIf="f.firstName.errors.required" >First Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Last Name" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                    <div *ngIf="submitted && f.lastName.errors" class="error">
                        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="email" placeholder="Email" formControlName="userEmail"  [ngClass]="{ 'is-invalid': submitted && f.userEmail.errors }" />
                    <div *ngIf="submitted && f.userEmail.errors" class="error">
                        <div *ngIf="f.userEmail.errors.required" >Email is required</div>
                        <div *ngIf="f.userEmail.errors.pattern">Please provide valid email</div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="error">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password"  placeholder="Confirm Password" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                    <div *ngIf="submitted && f.confirmPassword.errors" class="error">
                        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                    </div>
                </div>
                <div class="error" *ngIf="registerForm.errors?.mismatch && (registerForm.controls['confirmPassword'].dirty || registerForm.controls['confirmPassword'].touched)">
                    Passwords don't match.
                  </div>
                
                <div class="form-group">
                    <button  type="submit" >SignUp</button>
                </div>
            </form>
    </div>
    
</div>