<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,600,700" rel="stylesheet" type="text/css">
    <link type="text/css" rel="stylesheet" href="./../css/stylesheets/style.css">
    <title>SABKA BAZAAR</title>
</head>

<body>
    <header>
        <nav>
            <div class="row-container clearfix">
                <img src="img/logo_2x.png" alt="sabka-bazaar logo" class="logo">

                <div class="hero__cart">
                    <span class="hero__cart__box">
                        <a href="/Cart">
                            <img src="img/cart.svg" alt="cart" class="cart">
                            <p>0</p><p>items</p>
                        </a>
                        <a class="icon" onclick="myFunction()">
                            <i class="fa fa-bars"></i>
                        </a>
                    </span>
                </div>
                <div class="hero__link__box mobile-nav" id="mobileNav">
                        <ul class="main-nav">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="product-list.html">Products</a></li>
                        </ul>
                        <ul class="cart-nav">
                            <li><a href="login.html">Login</a></li>
                            <li><a href="register.html">Register</a></li>
                        </ul>
                    </div>
            </div>
        </nav>
    </header>
        <!-- <section> -->
            <div class="cart__container">
                <div class="cart__content">
                    <h2>My Cart</h2><span>(0 item)</span>
                </div>
                <div class="cart__content__item">
                    <figure>
                    <img src="./../images/products/fruit-n-veg/apple.jpg" alt="fruits" class="items">
                </figure>
                    <div class="cart__content__items">
                        <h3>Apple - Washington, Reguler, 4pcs</h3>
                        <p>Rs 187</p>
                    </div>
                    <span>Rs 187</span>
                </div>
                <div class="cart__content__price">
                    <img src="./../images/lowest-price.png" alt="lowest price" class="lowest__price">
                    <span>You won't find it cheaper anywhere.</span>
                </div>
                <div class="cart__checkout__btn">
                        <p>Promto code can be applied on payment page.</p>
                    <button class="checkout__btn">
                        <span>Proceed to checkout</span>
                        <span>Rs. 187</span>
                    </button>
                </div>
            </div>
        <!-- </section> -->
    </body>
</html>