<!-- Page Content-->
        <div class="content-area">
            <section class="login-text-details">
                <h2>Login</h2>
                <p>Get access to your Orders, Wishlist and Recommendations</p>
            </section>
            <section class="login-form">
                <h2 class="mobile-view-title">Login</h2>
                <form action="" method="post">

                    <div class="form-container">
                        <label for="uname"><b>Email</b></label>
                        <input type="email" placeholder="" name="uname" required>

                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="" name="psw" required>

                        <button type="submit">Login</button>

                    </div>


                </form>
            </section>
        </div>
        <!-- Page Content-->