<div>
  <div class="card">
    <h4>Oops! The page you were looking for does not exist.</h4>
    <p>Please check the URL and refresh the page. If you think this is a mistake, please <a data-toggle="modal" data-target="#contactModal">contact me.</a>
  </div>
  <a href="/" class="btn btn-primary">
    ← Back to home
  </a>
</div>
