<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <title>SABKA BAZAAR</title>
</head>

<body>
    <header>
        <nav>
            <div class="row-container clearfix">
                <img src="img/logo_2x.png" alt="sabka-bazaar logo" class="logo">

                <div class="hero__cart">
                    <span class="hero__cart__box">
                        <a href="/Cart">
                            <img src="img/cart.svg" alt="cart" class="cart">
                            <p>0</p>
                            <p>items</p>
                        </a>
                        <a class="icon" onclick="myFunction()">
                            <i class="fa fa-bars"></i>
                        </a>
                    </span>
                </div>
                <div class="hero__link__box mobile-nav" id="mobileNav">
                    <ul class="main-nav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="product-list.html">Products</a></li>
                    </ul>
                    <ul class="cart-nav">
                        <li><a href="login.html">Login</a></li>
                        <li><a href="register.html">Register</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="product__list__section">
        <div class="product__list__container">
            <div class="product__list">
                <ul id="menu">
                    <input id="check01" type="checkbox" name="menu" />
                    <label for="check01">Product Menu</label>
                    <ul class="submenu">
                        <li><a href="#">Fruits & Vegetables</a></li>
                        <li><a href="#">Bakery Cakes & Dairy</a></li>
                        <li><a href="#">Beverages</a></li>
                        <li><a href="#">Beauty and Hygiene</a></li>
                        <li><a href="#">Baby Care</a></li>
                    </ul>
                </ul>
            </div>
            <div class="product__item__container">
                <div class="product__item__col">
                    <div class="product__list__item">
                        <h5>Fresh kiwi - Green 3 pcs</h5>
                        <div class="pl__list">
                            <figure>
                                <img src="img/products/fruit-n-veg/kiwi-green.jpg" alt="" class="pl__list__item">
                            </figure>
                            <p>kiwis are oval shape with a brownish outer skin. The flesh is bring green and juicy with
                                tiny. edible black seeds</p>
                            <div class="item__price">
                                <a href="#" class="btn">Buy Now<span>MRP Rs87</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="product__list__item">
                        <h5>Apple - Washington, Regular 4 pcs</h5>
                        <div class="pl__list">
                            <figure>
                                <img src="img/products/fruit-n-veg/apple.jpg" alt="" class="pl__list__item">
                            </figure>
                            <p>The bright red colored and heart shaped Washington apples are crunchy. juicy and slightly
                                sweet.
                                Washington Apples are a natural</p>


                            <div class="item__price">
                                <a href="#" class="btn">Buy Now<span>MRP Rs87</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="product__list__item">
                        <h5>Fresho Pomegranate - Peeled, 500 gm</h5>
                        <div class="pl__list">
                            <figure>
                                <img src="img/products/fruit-n-veg/pomegrante.jpg" alt="" class="pl__list__item">
                            </figure>
                            <p>Pomegranate variety has a glossy. vibrant and soft ruby-red skin. The inside of the fruit
                                is
                                divided into compartments by thin while</p>


                            <div class="item__price">
                                <a href="#" class="btn">Buy Now<span>MRP Rs87</span></a>
                            </div>

                        </div>
                    </div>
                    <div class="product__list__item">
                        <h5>Capsicum - Green, 1kg</h5>
                        <div class="pl__list">
                            <figure>
                                <img src="img/products/fruit-n-veg/capsicum-green.jpg" alt="" class="pl__list__item">
                            </figure>
                            <p>Leaving a moderately pungent taste on the tongue. Green capsicums, also known as green
                                peppers
                                are bell shaped, medium -sized fruit pods.</p>


                            <div class="item__price">
                                <a href="#" class="btn">Buy Now<span>MRP Rs87</span></a>
                            </div>

                        </div>
                    </div>
                    <div class="product__list__item">
                        <h5>Apple - Washington, Regular 4 pcs</h5>
                        <div class="pl__list">
                            <figure>
                                <img src="img/products/fruit-n-veg/apple.jpg" alt="" class="pl__list__item">
                            </figure>
                            <p>The bright red colored and heart shaped Washington apples are crunchy. juicy and slightly
                                sweet.
                                Washington Apples are a natural</p>


                            <div class="item__price">
                                <a href="#" class="btn">Buy Now<span>MRP Rs87</span></a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="product__item__col">
                    <div class="product__list__item">
                        <h5>Fresh kiwi - Green 3 pcs</h5>
                        <div class="pl__list">
                            <figure>
                                <img src="img/products/fruit-n-veg/kiwi-green.jpg" alt="" class="pl__list__item">
                            </figure>
                            <p>kiwis are oval shape with a brownish outer skin. The flesh is bring green and juicy with
                                tiny.
                                edible black seeds</p>


                            <div class="item__price">
                                <a href="#" class="btn">Buy Now<span>MRP Rs87</span></a>
                            </div>

                        </div>
                    </div>
                    <div class="product__list__item">
                        <h5>Fresh kiwi - Green 3 pcs</h5>
                        <div class="pl__list">
                            <figure>
                                <img src="img/products/fruit-n-veg/kiwi-green.jpg" alt="" class="pl__list__item">
                            </figure>
                            <p>kiwis are oval shape with a brownish outer skin. The flesh is bring green and juicy with
                                tiny. edible black seeds</p>


                            <div class="item__price">
                                <a href="#" class="btn">Buy Now<span>MRP Rs87</span></a>
                            </div>

                        </div>
                    </div>
                    <div class="product__list__item">
                        <h5>Apple - Washington, Regular 4 pcs</h5>
                        <div class="pl__list">
                            <figure>
                                <img src="img/products/fruit-n-veg/apple.jpg" alt="" class="pl__list__item">
                            </figure>
                            <p>The bright red colored and heart shaped Washington apples are crunchy. juicy and slightly
                                sweet.
                                Washington Apples are a natural</p>


                            <div class="item__price">
                                <a href="#" class="btn">Buy Now<span>MRP Rs87</span></a>
                            </div>

                        </div>
                    </div>
                    <div class="product__list__item">
                        <h5>Fresho Pomegranate - Peeled, 500 gm</h5>
                        <div class="pl__list">
                            <figure>
                                <img src="img/products/fruit-n-veg/pomegrante.jpg" alt="" class="pl__list__item">
                            </figure>
                            <p>Pomegranate variety has a glossy. vibrant and soft ruby-red skin. The inside of the fruit
                                is
                                divided into compartments by thin while</p>


                            <div class="item__price">
                                <a href="#" class="btn">Buy Now<span>MRP Rs87</span></a>
                            </div>

                        </div>
                    </div>
                    <div class="product__list__item">
                        <h5>Apple - Washington, Regular 4 pcs</h5>
                        <div class="pl__list">
                            <figure>
                                <img src="img/products/fruit-n-veg/apple.jpg" alt="" class="pl__list__item">
                            </figure>
                            <p>The bright red colored and heart shaped Washington apples are crunchy. juicy and slightly
                                sweet.
                                Washington Apples are a natural</p>


                            <div class="item__price">
                                <a href="#" class="btn">Buy Now<span>MRP Rs87</span></a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="product__item__col">
                    <div class="product__list__item">
                        <h5>Capsicum - Green, 1kg</h5>
                        <div class="pl__list">
                            <figure>
                                <img src="img/products/fruit-n-veg/capsicum-green.jpg" alt="" class="pl__list__item">
                            </figure>
                            <p>Leaving a moderately pungent taste on the tongue. Green capsicums, also known as green
                                peppers
                                are bell shaped, medium -sized fruit pods.</p>


                            <div class="item__price">
                                <a href="#" class="btn">Buy Now<span>MRP Rs87</span></a>
                            </div>

                        </div>
                    </div>
                    <div class="product__list__item">
                        <h5>Fresh kiwi - Green 3 pcs</h5>
                        <div class="pl__list">
                            <figure>
                                <img src="img/products/fruit-n-veg/kiwi-green.jpg" alt="" class="pl__list__item">
                            </figure>
                            <p>kiwis are oval shape with a brownish outer skin. The flesh is bring green and juicy with
                                tiny.
                                edible black seeds</p>


                            <div class="item__price">
                                <a href="#" class="btn">Buy Now<span>MRP Rs87</span></a>
                            </div>

                        </div>
                    </div>
                    <div class="product__list__item">
                        <h5>Fresh kiwi - Green 3 pcs</h5>
                        <div class="pl__list">
                            <figure>
                                <img src="img/products/fruit-n-veg/kiwi-green.jpg" alt="" class="pl__list__item">
                            </figure>
                            <p>kiwis are oval shape with a brownish outer skin. The flesh is bring green and juicy with
                                tiny.
                                edible black seeds</p>


                            <div class="item__price">
                                <a href="#" class="btn">Buy Now<span>MRP Rs87</span></a>
                            </div>

                        </div>
                    </div>
                    <div class="product__list__item">
                        <h5>Fresh kiwi - Green 3 pcs</h5>
                        <div class="pl__list">
                            <figure>
                                <img src="img/products/fruit-n-veg/kiwi-green.jpg" alt="" class="pl__list__item">
                            </figure>
                            <p>kiwis are oval shape with a brownish outer skin. The flesh is bring green and juicy with
                                tiny.
                                edible black seeds</p>


                            <div class="item__price">
                                <a href="#" class="btn">Buy Now<span>MRP Rs87</span></a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="product__item__col">
                    <div class="product__list__item">
                        <h5>Fresh kiwi - Green 3 pcs</h5>
                        <div class="pl__list">
                            <figure>
                                <img src="img/products/fruit-n-veg/kiwi-green.jpg" alt="" class="pl__list__item">
                            </figure>
                            <p>kiwis are oval shape with a brownish outer skin. The flesh is bring green and juicy with
                                tiny.
                                edible black seeds</p>


                            <div class="item__price">
                                <a href="#" class="btn">Buy Now<span>MRP Rs87</span></a>
                            </div>

                        </div>
                    </div>
                    <div class="product__list__item">
                        <h5>Fresh kiwi - Green 3 pcs</h5>
                        <div class="pl__list">
                            <figure>
                                <img src="img/products/fruit-n-veg/kiwi-green.jpg" alt="" class="pl__list__item">
                            </figure>
                            <p>kiwis are oval shape with a brownish outer skin. The flesh is bring green and juicy with
                                tiny. edible black seeds</p>


                            <div class="item__price">
                                <a href="#" class="btn">Buy Now<span>MRP Rs87</span></a>
                            </div>

                        </div>
                    </div>
                    <div class="product__list__item">
                        <h5>Apple - Washington, Regular 4 pcs</h5>
                        <div class="pl__list">
                            <figure>
                                <img src="img/products/fruit-n-veg/apple.jpg" alt="" class="pl__list__item">
                            </figure>
                            <p>The bright red colored and heart shaped Washington apples are crunchy. juicy and slightly
                                sweet.
                                Washington Apples are a natural</p>
                            <div class="item__price">
                                <a href="#" class="btn">Buy Now<span>MRP Rs87</span></a>
                            </div>

                        </div>
                    </div>
                    <div class="product__list__item">
                        <h5>Fresho Pomegranate - Peeled, 500 gm</h5>
                        <div class="pl__list">
                            <figure>
                                <img src="img/products/fruit-n-veg/pomegrante.jpg" alt="" class="pl__list__item">
                            </figure>

                            <p>Pomegranate variety has a glossy. vibrant and soft ruby-red skin. The inside of the fruit
                                is
                                divided into compartments by thin while</p>
                            <div class="item__price">
                                <a href="#" class="btn">Buy Now<span>MRP Rs87</span></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </section>
    <footer class="footer">
        <p>Copyright &copy; 2011-2018 Sabka Bazaar Grocery Supplies Pvt Ltd.</p>
    </footer>

    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
        function myFunction() {
            var x = document.getElementById("mobileNav");
            if (x.style.display === "none") {
                x.style.display = "inline";
            } else {
                x.style.display = "none";
            }
        }
    </script>
</body>

</html>