<div class="content-area">
            <section class="login-text-details">
                <h2>Signup</h2>
                <p>We do not share your personal details with anyone</p>
            </section>
            <section class="login-form">
                <h2 class="mobile-view-title">Signup</h2>
                <form action="/register/post" class="form" method="POST" novalidate>

                    <div class="form-group">
                        <label for="fname"><b>FirstName</b></label>
                        <input type="text" placeholder="" name="fname" class="form_input" required>
                    </div>
                    <div class="form-group">
                        <label for="lname"><b>LastName</b></label>
                        <input type="text" placeholder="" name="lname" class="form_input" required>
                    </div>
                    <div class="form-group">
                        <label for="email"><b>Email</b></label>
                        <input type="email" placeholder="" name="email" class="form_input" required>
                    </div>
                    <div class="form-group">
                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="" name="psw" class="form_input" required>
                    </div>
                    <div class="form-group">
                        <label for="psw-repeat"><b>Confirm Password</b></label>
                        <input type="password" placeholder="" name="psw-repeat"  class="form_input"required>
                    </div>
                    <div class="form-group">
                        <button type="submit">Signup</button>
                    </div>
                
                </form>
            </section>
        </div>