<div class="content-area">
            <section class="login-text-details">
                <h2>Signup</h2>
                <p>We do not share your personal details with anyone</p>
            </section>
            <section class="login-form">
                <h2 class="mobile-view-title">Signup</h2>
                <form action="" method="post">

                    <div class="form-container">
                        <label for="fname"><b>FirstName</b></label>
                        <input type="text" placeholder="" name="fname" required>

                        <label for="lname"><b>LastName</b></label>
                        <input type="text" placeholder="" name="email" required>

                        <label for="email"><b>Email</b></label>
                        <input type="email" placeholder="" name="lname" required>

                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="" name="psw" required>

                        <label for="psw-repeat"><b>Confirm Password</b></label>
                        <input type="password" placeholder="" name="psw-repeat" required>

                        <button type="submit">Signup</button>

                    </div>


                </form>
            </section>
        </div>