<header>
	<div class="container">
		<div class ="row">
			{{> ../atoms/a-logo}}
			{{> ../molecules/m-nav--primary}}
			<div class ="col col-xs-4 col-md-3 cart-container">
				<div class ="cart-block">
					{{> ../molecules/m-nav--secondary}}
					{{> ../molecules/m-cart}}
				</div>
			</div>
		</div>
	</div>
</header>