@import url(http://fonts.googleapis.com/css?family=Dosis:400,600,700);
body {
  font-family: Dosis; }

.header-area {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #ffffff;
  z-index: 1;
  border-bottom: 2px solid #c8c8;
  box-sizing: border-box; }
  .header-area .header-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between; }
    .header-area .header-center .header-left img {
      width: 120px; }
    .header-area .header-center .header-right {
      background: #c8c8;
      height: 35px;
      padding: 5px; }
      .header-area .header-center .header-right .cart-img img {
        width: 30px;
        margin-top: 5px; }
      .header-area .header-center .header-right .number-of-items {
        position: relative;
        top: -9px; }

.items-list {
  margin-top: 20px; }
  .items-list .category {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 16px 20px -9px #ddd;
    padding: 7px 0px; }
    .items-list .category .category-image img {
      width: 150px; }
    .items-list .category .category-details {
      margin-left: 10px; }
      .items-list .category .category-details .category-title {
        text-align: center;
        font-size: 16px;
        margin: 10px 0px; }
      .items-list .category .category-details .category-title-details {
        text-align: center;
        font-size: 12px;
        margin-block-start: 0px; }
      .items-list .category .category-details .category-button {
        display: block;
        margin: 0 auto;
        padding: 5px;
        background: #ec5454;
        color: #fff;
        border: #ec5454;
        cursor: pointer; }

/* CSS for Home page slider*/
.carousel {
  max-width: 1170px;
  position: relative;
  margin: 0 auto; }

.mySlides {
  max-width: 1170px; }

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none; }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center; }

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active,
.dot:hover {
  background-color: #717171; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px; }
  .myslides img {
    width: 50%; } }

/*CSS for Home page Slider ends*/
