/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@mixin responsive-for-ipad {
    @media all and (min-width: 768px) and (max-width: 1024px) {
        @content;
    }
}

@mixin responsive-for-ms-mobile {
    @media all and (min-width: 480px) and (max-width: 768px) {
        @content;
    }
}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen =  Max 480px
*/

@mixin responsive-for-sm-mobile {
    @media all and (max-width: 480px) {
        @content;
    }
}


/* 
  ##Convert px to rem
*/

@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

@mixin fontSize($size) {
    font-size: calculateRem($size);
}

@mixin float-label-container {
    display: block;
    position: relative;
}

@mixin float-label {
    label,
    >span {
        position: absolute;
        left: 0;
        top: 0;
        cursor: text;
        font-size: 75%;
        opacity: 1;
        transition: all .2s;
        @content;
    }
}

@mixin float-label-input {
    &::placeholder {
        opacity: 1;
        transition: all .2s;
    }
    &:placeholder-shown:not(:focus)::placeholder {
        opacity: 0;
    }
}

@mixin float-label-scaled {
    &:placeholder-shown:not(:focus)+* {
        font-size: 150%;
        opacity: .5;
        @content;
    }
}