body {
    font-family: Dosis;
}

@import url('https://fonts.googleapis.com/css?family=Dosis:400,600,700');
@import './mixins';
@import './reset.scss';
@import '../../views/common/components/organisms/header/header.scss';
@import '../../views/common/components/organisms/footer/footer.scss';
@import '../../views/features/home/home.scss';
@import '../../views/features/login/login.scss';
@import '../../views/features/register/register.scss';
@import '../../views/features/product/product.scss';
@import '../../views/common/components/organisms/mini-cart/modal-cart.scss';
@import '../../views/common/components/organisms/mini-cart/cart-actions';
@import '../../views/common/components/organisms/mini-cart/cart-footer';
@import '../../views/common/components/organisms/mini-cart/cart-items';