@import '../../../styles/global';

.cart-item-wrap {
  display: flex;
  min-height: 100px;
  .cart-image-wrap {
    img {
      width: 80px;
      height: 80px;
    }
  }
  .cart-item-details-wrap {
    width: 85%;
    h5 {
      margin-left: 10px;
      font-weight: 800;
    }
    .cart-item-price-wrap {
      font-size: 1.15rem;
      font-weight: 600;
      button {
        background: #bf2957;
        color: white;
        border: 0;
        border-radius: 4px;
        width: 30px;
        height: 25px;
        margin: 0 10px;
        svg {
          width: 0.7rem;
        }
      }
      span {
        margin-right: 5px;
      }
    }
    .price-wrap {
      float: right;
      margin-top: -25px;
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
}
