@import '../../../styles/global';

.cart-item-wrap {
  display: flex;
  background: $white-color;
  padding: $ctr-padding;
  margin: $m 0;
  .cart-image-wrap {
    width: 8%;
  }
  .cart-item-details-wrap {
    width: 92%;
    h5 {
      margin-left: $m;
      font-size: $small-font;
      font-weight: 800;
    }
    .cart-item-price-wrap {
      display: flex;
      align-items: center;
      font-size: $small-font;
      font-weight: 600;
      button {
        @extend button;
        width: fit-content;
        padding: 4px 6px;
        font-size: 6px;
        &:hover {
          padding: 3px 5px;
        }
      }
      span {
        margin-right: $m;
      }
    }
    .price-wrap {
      float: right;
      margin-top: -25px;
      font-size: $small-font;
      font-weight: 600;
    }
  }
}
