@import '../../mixin.scss';
.user-cart {
    display: flex;
    justify-content: center;
    background-color: lightgray;
    padding: 10px 0;
    cursor: pointer;
    float: right;
    width: 100%;

    @include for-tablet-portrait-up {
        width: 60%;
    }

    @include for-desktop-up {
        width: 80%;
    }

    & svg {
        width: 20%;
        margin-right: 5px;
        fill: rgb(164, 53, 71);
    }

    & span {
        font-size: 12px;
    }
}