.home-slider {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 15px 0 6px; }

.btn-slide--prev,
.btn-slide--next {
  display: none; }

.home-slider__offers {
  position: relative;
  margin: auto; }
  .home-slider__offers .dots {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: -30px;
    z-index: 5; }
  .home-slider__offers .dot {
    cursor: pointer;
    height: 6px;
    width: 6px;
    margin: 0 8px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease; }
    .home-slider__offers .dot.active, .home-slider__offers .dot:hover {
      background-color: #717171; }

.home section {
  position: relative;
  padding: 23px 0;
  margin-bottom: 20px;
  background-color: #fff; }
  .home section:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -33px;
    width: 60%;
    height: 5px;
    background: #fff;
    border-radius: 290px / 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
    z-index: -3;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .home section:nth-child(odd) .categories__image {
    order: 1; }

.categories {
  position: relative;
  align-items: center;
  background-color: #fff;
  z-index: 0; }
  .categories__image {
    flex: 0 1 40%; }
  .categories__description {
    text-align: center;
    flex: 0 1 60%;
    padding: 0; }
    .categories__description p {
      font-size: 14px;
      padding-bottom: 18px;
      line-height: 1.4; }

@media only screen and (min-width: 480px) {
  .home-slider__offers .btn-slide--prev, .home-slider__offers .btn-slide--next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 12px 16px;
    margin-top: -22px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    transition: 0.6s ease;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-color: rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    display: block; }
  .home-slider__offers .btn-slide--next {
    right: 0; }
  .home-slider__offers .dots {
    bottom: 10px; } }

@media only screen and (min-width: 1024px) {
  .categories__description p {
    font-size: 18px; } }
