.user-form__form {
  padding: 40px 0 20px;
  max-width: 900px;
  margin: 0 auto; }

.user-form__formText {
  padding: 0 0px 30px 0; }
  .user-form__formText p {
    font-weight: bold; }

.user-form__formSet {
  width: 100%;
  max-width: 480px; }

.user-form .flex-container {
  flex-wrap: wrap; }
  .user-form .flex-container > div {
    flex: 0 1 100%; }

@media only screen and (min-width: 480px) {
  .user-form__form {
    padding: 70px 0 20px; }
  .user-form .flex-container > div {
    flex: 0 1 50%; } }
