.product-List .flex-container {
  flex-wrap: wrap; }

.product-List__filter {
  background-color: #eaeaea;
  width: 100%;
  padding-left: 0;
  margin-top: 30px;
  margin-bottom: 30px; }
  .product-List__filter input {
    display: none; }
  .product-List__filter label {
    display: block;
    cursor: pointer;
    padding: 13px 15px;
    font-size: 17px;
    position: relative; }
    .product-List__filter label:after {
      content: "";
      position: absolute;
      right: 18px;
      top: 12px;
      height: 14px;
      width: 14px;
      border-left: 2px solid #fff;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      border-bottom: 2px solid #fff; }
  .product-List__filter .dropdown-content {
    width: 100%;
    height: 0px;
    overflow: hidden;
    list-style-type: none;
    transition: height 0.5s ease-out;
    display: block; }
    .product-List__filter .dropdown-content li {
      display: block;
      border-bottom: 1px solid #d3d3d3; }
      .product-List__filter .dropdown-content li a {
        color: #747474;
        padding: 13px 0 13px 25px;
        font-weight: 400;
        display: block; }
        .product-List__filter .dropdown-content li a:hover {
          color: #000; }

.product-List__lists {
  width: 100%;
  padding: 0px; }
  .product-List__lists ul li {
    padding: 0 5px 10px;
    margin-bottom: 30px;
    border-bottom: 1px dashed #ccc;
    background-color: #fff;
    position: relative; }

.product-List h4 {
  font-size: 19px; }

.product-List__filter input:checked ~ .dropdown-content {
  height: 235px;
  transition: height 0.5s ease-in; }

.prod-description {
  display: flex; }
  .prod-description > div {
    width: 50%;
    display: inline-block; }
  .prod-description__text p {
    background-color: #f0f0f0;
    padding: 10px 8px 8px;
    overflow: hidden;
    height: calc(100% - 61px);
    max-height: 10.5em; }
  .prod-description__text a {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font-size: 14px; }
    .prod-description__text a > span:before {
      content: "@"; }
    .prod-description__text a > span span {
      display: none; }

@media only screen and (min-width: 480px) {
  .product-List__lists ul li {
    flex: 0 1 49%;
    margin-right: 1%; }
    .product-List__lists ul li:after {
      content: "";
      position: absolute;
      right: -5px;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 1px;
      height: 65%;
      box-shadow: 0 5px 3px 2px #f9f9f9;
      background-color: #f9f9f9;
      border-radius: 50% 50% / 20px 20px; }
    .product-List__lists ul li:nth-child(even):after {
      display: none; }
  .product-List h4 {
    min-height: 80px; }
  .prod-description {
    padding-bottom: 56px;
    position: relative; }
    .prod-description__text p {
      height: 10.5em; }
    .prod-description__text a {
      position: absolute;
      left: 0;
      bottom: 0; } }

@media only screen and (min-width: 768px) {
  .product-List__filter {
    max-width: 195px;
    margin: 0; }
    .product-List__filter label {
      display: none; }
    .product-List__filter .dropdown-content {
      height: auto; }
  .product-List__lists {
    width: calc(100% - 195px);
    padding-left: 10px; }
    .product-List__lists ul li {
      margin-top: 35px; } }

@media only screen and (min-width: 1024px) {
  .product-List__filter {
    max-width: 225px; }
  .product-List__lists {
    width: calc(100% - 225px); }
    .product-List__lists ul li {
      flex: 0 1 24%;
      margin-right: 1%;
      margin-top: 35px; }
      .product-List__lists ul li:nth-child(even):after {
        display: block; }
      .product-List__lists ul li:nth-child(4):after {
        display: none; }
      .product-List__lists ul li h4 {
        min-height: 45px; }
      .product-List__lists ul li > div {
        display: grid;
        height: 100%; }
  .prod-description {
    padding-bottom: 0;
    align-items: end;
    display: grid; }
    .prod-description > div {
      width: 100%; }
    .prod-description__text p {
      height: 5.7em; }
    .prod-description__text a {
      position: static; }
      .prod-description__text a > span {
        position: absolute; }
        .prod-description__text a > span:before {
          display: none; }
        .prod-description__text a > span span {
          display: inline-block; }
    .prod-description .buy_now {
      position: relative;
      text-align: right;
      margin-top: 20px; }
      .prod-description .buy_now a {
        width: 55%;
        margin-top: 0; }
        .prod-description .buy_now a > span {
          left: 0;
          top: 50%;
          -webkit-transform: translateY(-50%);
                  transform: translateY(-50%);
          color: #000;
          font-size: 14px;
          pointer-events: none; } }

@media only screen and (min-width: 1200px) {
  .product-List__filter {
    max-width: 300px; }
  .product-List__lists {
    width: calc(100% - 300px); } }
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInByb2R1Y3QuY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0VBQ0UsZUFBZSxFQUFFOztBQUVuQjtFQUNFLHlCQUF5QjtFQUN6QixXQUFXO0VBQ1gsZUFBZTtFQUNmLGdCQUFnQjtFQUNoQixtQkFBbUIsRUFBRTtFQUNyQjtJQUNFLGFBQWEsRUFBRTtFQUNqQjtJQUNFLGNBQWM7SUFDZCxlQUFlO0lBQ2Ysa0JBQWtCO0lBQ2xCLGVBQWU7SUFDZixrQkFBa0IsRUFBRTtJQUNwQjtNQUNFLFdBQVc7TUFDWCxrQkFBa0I7TUFDbEIsV0FBVztNQUNYLFNBQVM7TUFDVCxZQUFZO01BQ1osV0FBVztNQUNYLDJCQUEyQjtNQUMzQixpQ0FBaUM7Y0FDekIseUJBQXlCO01BQ2pDLDZCQUE2QixFQUFFO0VBQ25DO0lBQ0UsV0FBVztJQUNYLFdBQVc7SUFDWCxnQkFBZ0I7SUFDaEIscUJBQXFCO0lBQ3JCLGdDQUFnQztJQUNoQyxjQUFjLEVBQUU7SUFDaEI7TUFDRSxjQUFjO01BQ2QsZ0NBQWdDLEVBQUU7TUFDbEM7UUFDRSxjQUFjO1FBQ2QseUJBQXlCO1FBQ3pCLGdCQUFnQjtRQUNoQixjQUFjLEVBQUU7UUFDaEI7VUFDRSxXQUFXLEVBQUU7O0FBRXZCO0VBQ0UsV0FBVztFQUNYLFlBQVksRUFBRTtFQUNkO0lBQ0UsbUJBQW1CO0lBQ25CLG1CQUFtQjtJQUNuQiw4QkFBOEI7SUFDOUIsc0JBQXNCO0lBQ3RCLGtCQUFrQixFQUFFOztBQUV4QjtFQUNFLGVBQWUsRUFBRTs7QUFFbkI7RUFDRSxhQUFhO0VBQ2IsK0JBQStCLEVBQUU7O0FBRW5DO0VBQ0UsYUFBYSxFQUFFO0VBQ2Y7SUFDRSxVQUFVO0lBQ1YscUJBQXFCLEVBQUU7RUFDekI7SUFDRSx5QkFBeUI7SUFDekIscUJBQXFCO0lBQ3JCLGdCQUFnQjtJQUNoQix5QkFBeUI7SUFDekIsa0JBQWtCLEVBQUU7RUFDdEI7SUFDRSxnQkFBZ0I7SUFDaEIsV0FBVztJQUNYLGtCQUFrQjtJQUNsQixlQUFlLEVBQUU7SUFDakI7TUFDRSxZQUFZLEVBQUU7SUFDaEI7TUFDRSxhQUFhLEVBQUU7O0FBRXJCO0VBQ0U7SUFDRSxhQUFhO0lBQ2IsZ0JBQWdCLEVBQUU7SUFDbEI7TUFDRSxXQUFXO01BQ1gsa0JBQWtCO01BQ2xCLFdBQVc7TUFDWCxRQUFRO01BQ1IsbUNBQW1DO2NBQzNCLDJCQUEyQjtNQUNuQyxVQUFVO01BQ1YsV0FBVztNQUNYLGlDQUFpQztNQUNqQyx5QkFBeUI7TUFDekIsa0NBQWtDLEVBQUU7SUFDdEM7TUFDRSxhQUFhLEVBQUU7RUFDbkI7SUFDRSxnQkFBZ0IsRUFBRTtFQUNwQjtJQUNFLG9CQUFvQjtJQUNwQixrQkFBa0IsRUFBRTtJQUNwQjtNQUNFLGNBQWMsRUFBRTtJQUNsQjtNQUNFLGtCQUFrQjtNQUNsQixPQUFPO01BQ1AsU0FBUyxFQUFFLEVBQUU7O0FBRW5CO0VBQ0U7SUFDRSxnQkFBZ0I7SUFDaEIsU0FBUyxFQUFFO0lBQ1g7TUFDRSxhQUFhLEVBQUU7SUFDakI7TUFDRSxZQUFZLEVBQUU7RUFDbEI7SUFDRSx5QkFBeUI7SUFDekIsa0JBQWtCLEVBQUU7SUFDcEI7TUFDRSxnQkFBZ0IsRUFBRSxFQUFFOztBQUUxQjtFQUNFO0lBQ0UsZ0JBQWdCLEVBQUU7RUFDcEI7SUFDRSx5QkFBeUIsRUFBRTtJQUMzQjtNQUNFLGFBQWE7TUFDYixnQkFBZ0I7TUFDaEIsZ0JBQWdCLEVBQUU7TUFDbEI7UUFDRSxjQUFjLEVBQUU7TUFDbEI7UUFDRSxhQUFhLEVBQUU7TUFDakI7UUFDRSxnQkFBZ0IsRUFBRTtNQUNwQjtRQUNFLGFBQWE7UUFDYixZQUFZLEVBQUU7RUFDcEI7SUFDRSxpQkFBaUI7SUFDakIsZ0JBQWdCO0lBQ2hCLGFBQWEsRUFBRTtJQUNmO01BQ0UsV0FBVyxFQUFFO0lBQ2Y7TUFDRSxhQUFhLEVBQUU7SUFDakI7TUFDRSxnQkFBZ0IsRUFBRTtNQUNsQjtRQUNFLGtCQUFrQixFQUFFO1FBQ3BCO1VBQ0UsYUFBYSxFQUFFO1FBQ2pCO1VBQ0UscUJBQXFCLEVBQUU7SUFDN0I7TUFDRSxrQkFBa0I7TUFDbEIsaUJBQWlCO01BQ2pCLGdCQUFnQixFQUFFO01BQ2xCO1FBQ0UsVUFBVTtRQUNWLGFBQWEsRUFBRTtRQUNmO1VBQ0UsT0FBTztVQUNQLFFBQVE7VUFDUixtQ0FBbUM7a0JBQzNCLDJCQUEyQjtVQUNuQyxXQUFXO1VBQ1gsZUFBZTtVQUNmLG9CQUFvQixFQUFFLEVBQUU7O0FBRWxDO0VBQ0U7SUFDRSxnQkFBZ0IsRUFBRTtFQUNwQjtJQUNFLHlCQUF5QixFQUFFLEVBQUUiLCJmaWxlIjoicHJvZHVjdC5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyIucHJvZHVjdC1MaXN0IC5mbGV4LWNvbnRhaW5lciB7XG4gIGZsZXgtd3JhcDogd3JhcDsgfVxuXG4ucHJvZHVjdC1MaXN0X19maWx0ZXIge1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAjZWFlYWVhO1xuICB3aWR0aDogMTAwJTtcbiAgcGFkZGluZy1sZWZ0OiAwO1xuICBtYXJnaW4tdG9wOiAzMHB4O1xuICBtYXJnaW4tYm90dG9tOiAzMHB4OyB9XG4gIC5wcm9kdWN0LUxpc3RfX2ZpbHRlciBpbnB1dCB7XG4gICAgZGlzcGxheTogbm9uZTsgfVxuICAucHJvZHVjdC1MaXN0X19maWx0ZXIgbGFiZWwge1xuICAgIGRpc3BsYXk6IGJsb2NrO1xuICAgIGN1cnNvcjogcG9pbnRlcjtcbiAgICBwYWRkaW5nOiAxM3B4IDE1cHg7XG4gICAgZm9udC1zaXplOiAxN3B4O1xuICAgIHBvc2l0aW9uOiByZWxhdGl2ZTsgfVxuICAgIC5wcm9kdWN0LUxpc3RfX2ZpbHRlciBsYWJlbDphZnRlciB7XG4gICAgICBjb250ZW50OiBcIlwiO1xuICAgICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgICAgcmlnaHQ6IDE4cHg7XG4gICAgICB0b3A6IDEycHg7XG4gICAgICBoZWlnaHQ6IDE0cHg7XG4gICAgICB3aWR0aDogMTRweDtcbiAgICAgIGJvcmRlci1sZWZ0OiAycHggc29saWQgI2ZmZjtcbiAgICAgIC13ZWJraXQtdHJhbnNmb3JtOiByb3RhdGUoLTQ1ZGVnKTtcbiAgICAgICAgICAgICAgdHJhbnNmb3JtOiByb3RhdGUoLTQ1ZGVnKTtcbiAgICAgIGJvcmRlci1ib3R0b206IDJweCBzb2xpZCAjZmZmOyB9XG4gIC5wcm9kdWN0LUxpc3RfX2ZpbHRlciAuZHJvcGRvd24tY29udGVudCB7XG4gICAgd2lkdGg6IDEwMCU7XG4gICAgaGVpZ2h0OiAwcHg7XG4gICAgb3ZlcmZsb3c6IGhpZGRlbjtcbiAgICBsaXN0LXN0eWxlLXR5cGU6IG5vbmU7XG4gICAgdHJhbnNpdGlvbjogaGVpZ2h0IDAuNXMgZWFzZS1vdXQ7XG4gICAgZGlzcGxheTogYmxvY2s7IH1cbiAgICAucHJvZHVjdC1MaXN0X19maWx0ZXIgLmRyb3Bkb3duLWNvbnRlbnQgbGkge1xuICAgICAgZGlzcGxheTogYmxvY2s7XG4gICAgICBib3JkZXItYm90dG9tOiAxcHggc29saWQgI2QzZDNkMzsgfVxuICAgICAgLnByb2R1Y3QtTGlzdF9fZmlsdGVyIC5kcm9wZG93bi1jb250ZW50IGxpIGEge1xuICAgICAgICBjb2xvcjogIzc0NzQ3NDtcbiAgICAgICAgcGFkZGluZzogMTNweCAwIDEzcHggMjVweDtcbiAgICAgICAgZm9udC13ZWlnaHQ6IDQwMDtcbiAgICAgICAgZGlzcGxheTogYmxvY2s7IH1cbiAgICAgICAgLnByb2R1Y3QtTGlzdF9fZmlsdGVyIC5kcm9wZG93bi1jb250ZW50IGxpIGE6aG92ZXIge1xuICAgICAgICAgIGNvbG9yOiAjMDAwOyB9XG5cbi5wcm9kdWN0LUxpc3RfX2xpc3RzIHtcbiAgd2lkdGg6IDEwMCU7XG4gIHBhZGRpbmc6IDBweDsgfVxuICAucHJvZHVjdC1MaXN0X19saXN0cyB1bCBsaSB7XG4gICAgcGFkZGluZzogMCA1cHggMTBweDtcbiAgICBtYXJnaW4tYm90dG9tOiAzMHB4O1xuICAgIGJvcmRlci1ib3R0b206IDFweCBkYXNoZWQgI2NjYztcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiAjZmZmO1xuICAgIHBvc2l0aW9uOiByZWxhdGl2ZTsgfVxuXG4ucHJvZHVjdC1MaXN0IGg0IHtcbiAgZm9udC1zaXplOiAxOXB4OyB9XG5cbi5wcm9kdWN0LUxpc3RfX2ZpbHRlciBpbnB1dDpjaGVja2VkIH4gLmRyb3Bkb3duLWNvbnRlbnQge1xuICBoZWlnaHQ6IDIzNXB4O1xuICB0cmFuc2l0aW9uOiBoZWlnaHQgMC41cyBlYXNlLWluOyB9XG5cbi5wcm9kLWRlc2NyaXB0aW9uIHtcbiAgZGlzcGxheTogZmxleDsgfVxuICAucHJvZC1kZXNjcmlwdGlvbiA+IGRpdiB7XG4gICAgd2lkdGg6IDUwJTtcbiAgICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7IH1cbiAgLnByb2QtZGVzY3JpcHRpb25fX3RleHQgcCB7XG4gICAgYmFja2dyb3VuZC1jb2xvcjogI2YwZjBmMDtcbiAgICBwYWRkaW5nOiAxMHB4IDhweCA4cHg7XG4gICAgb3ZlcmZsb3c6IGhpZGRlbjtcbiAgICBoZWlnaHQ6IGNhbGMoMTAwJSAtIDYxcHgpO1xuICAgIG1heC1oZWlnaHQ6IDEwLjVlbTsgfVxuICAucHJvZC1kZXNjcmlwdGlvbl9fdGV4dCBhIHtcbiAgICBtYXJnaW4tdG9wOiAyMHB4O1xuICAgIHdpZHRoOiAxMDAlO1xuICAgIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgICBmb250LXNpemU6IDE0cHg7IH1cbiAgICAucHJvZC1kZXNjcmlwdGlvbl9fdGV4dCBhID4gc3BhbjpiZWZvcmUge1xuICAgICAgY29udGVudDogXCJAXCI7IH1cbiAgICAucHJvZC1kZXNjcmlwdGlvbl9fdGV4dCBhID4gc3BhbiBzcGFuIHtcbiAgICAgIGRpc3BsYXk6IG5vbmU7IH1cblxuQG1lZGlhIG9ubHkgc2NyZWVuIGFuZCAobWluLXdpZHRoOiA0ODBweCkge1xuICAucHJvZHVjdC1MaXN0X19saXN0cyB1bCBsaSB7XG4gICAgZmxleDogMCAxIDQ5JTtcbiAgICBtYXJnaW4tcmlnaHQ6IDElOyB9XG4gICAgLnByb2R1Y3QtTGlzdF9fbGlzdHMgdWwgbGk6YWZ0ZXIge1xuICAgICAgY29udGVudDogXCJcIjtcbiAgICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICAgIHJpZ2h0OiAtNXB4O1xuICAgICAgdG9wOiA1MCU7XG4gICAgICAtd2Via2l0LXRyYW5zZm9ybTogdHJhbnNsYXRlWSgtNTAlKTtcbiAgICAgICAgICAgICAgdHJhbnNmb3JtOiB0cmFuc2xhdGVZKC01MCUpO1xuICAgICAgd2lkdGg6IDFweDtcbiAgICAgIGhlaWdodDogNjUlO1xuICAgICAgYm94LXNoYWRvdzogMCA1cHggM3B4IDJweCAjZjlmOWY5O1xuICAgICAgYmFja2dyb3VuZC1jb2xvcjogI2Y5ZjlmOTtcbiAgICAgIGJvcmRlci1yYWRpdXM6IDUwJSA1MCUgLyAyMHB4IDIwcHg7IH1cbiAgICAucHJvZHVjdC1MaXN0X19saXN0cyB1bCBsaTpudGgtY2hpbGQoZXZlbik6YWZ0ZXIge1xuICAgICAgZGlzcGxheTogbm9uZTsgfVxuICAucHJvZHVjdC1MaXN0IGg0IHtcbiAgICBtaW4taGVpZ2h0OiA4MHB4OyB9XG4gIC5wcm9kLWRlc2NyaXB0aW9uIHtcbiAgICBwYWRkaW5nLWJvdHRvbTogNTZweDtcbiAgICBwb3NpdGlvbjogcmVsYXRpdmU7IH1cbiAgICAucHJvZC1kZXNjcmlwdGlvbl9fdGV4dCBwIHtcbiAgICAgIGhlaWdodDogMTAuNWVtOyB9XG4gICAgLnByb2QtZGVzY3JpcHRpb25fX3RleHQgYSB7XG4gICAgICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gICAgICBsZWZ0OiAwO1xuICAgICAgYm90dG9tOiAwOyB9IH1cblxuQG1lZGlhIG9ubHkgc2NyZWVuIGFuZCAobWluLXdpZHRoOiA3NjhweCkge1xuICAucHJvZHVjdC1MaXN0X19maWx0ZXIge1xuICAgIG1heC13aWR0aDogMTk1cHg7XG4gICAgbWFyZ2luOiAwOyB9XG4gICAgLnByb2R1Y3QtTGlzdF9fZmlsdGVyIGxhYmVsIHtcbiAgICAgIGRpc3BsYXk6IG5vbmU7IH1cbiAgICAucHJvZHVjdC1MaXN0X19maWx0ZXIgLmRyb3Bkb3duLWNvbnRlbnQge1xuICAgICAgaGVpZ2h0OiBhdXRvOyB9XG4gIC5wcm9kdWN0LUxpc3RfX2xpc3RzIHtcbiAgICB3aWR0aDogY2FsYygxMDAlIC0gMTk1cHgpO1xuICAgIHBhZGRpbmctbGVmdDogMTBweDsgfVxuICAgIC5wcm9kdWN0LUxpc3RfX2xpc3RzIHVsIGxpIHtcbiAgICAgIG1hcmdpbi10b3A6IDM1cHg7IH0gfVxuXG5AbWVkaWEgb25seSBzY3JlZW4gYW5kIChtaW4td2lkdGg6IDEwMjRweCkge1xuICAucHJvZHVjdC1MaXN0X19maWx0ZXIge1xuICAgIG1heC13aWR0aDogMjI1cHg7IH1cbiAgLnByb2R1Y3QtTGlzdF9fbGlzdHMge1xuICAgIHdpZHRoOiBjYWxjKDEwMCUgLSAyMjVweCk7IH1cbiAgICAucHJvZHVjdC1MaXN0X19saXN0cyB1bCBsaSB7XG4gICAgICBmbGV4OiAwIDEgMjQlO1xuICAgICAgbWFyZ2luLXJpZ2h0OiAxJTtcbiAgICAgIG1hcmdpbi10b3A6IDM1cHg7IH1cbiAgICAgIC5wcm9kdWN0LUxpc3RfX2xpc3RzIHVsIGxpOm50aC1jaGlsZChldmVuKTphZnRlciB7XG4gICAgICAgIGRpc3BsYXk6IGJsb2NrOyB9XG4gICAgICAucHJvZHVjdC1MaXN0X19saXN0cyB1bCBsaTpudGgtY2hpbGQoNCk6YWZ0ZXIge1xuICAgICAgICBkaXNwbGF5OiBub25lOyB9XG4gICAgICAucHJvZHVjdC1MaXN0X19saXN0cyB1bCBsaSBoNCB7XG4gICAgICAgIG1pbi1oZWlnaHQ6IDQ1cHg7IH1cbiAgICAgIC5wcm9kdWN0LUxpc3RfX2xpc3RzIHVsIGxpID4gZGl2IHtcbiAgICAgICAgZGlzcGxheTogZ3JpZDtcbiAgICAgICAgaGVpZ2h0OiAxMDAlOyB9XG4gIC5wcm9kLWRlc2NyaXB0aW9uIHtcbiAgICBwYWRkaW5nLWJvdHRvbTogMDtcbiAgICBhbGlnbi1pdGVtczogZW5kO1xuICAgIGRpc3BsYXk6IGdyaWQ7IH1cbiAgICAucHJvZC1kZXNjcmlwdGlvbiA+IGRpdiB7XG4gICAgICB3aWR0aDogMTAwJTsgfVxuICAgIC5wcm9kLWRlc2NyaXB0aW9uX190ZXh0IHAge1xuICAgICAgaGVpZ2h0OiA1LjdlbTsgfVxuICAgIC5wcm9kLWRlc2NyaXB0aW9uX190ZXh0IGEge1xuICAgICAgcG9zaXRpb246IHN0YXRpYzsgfVxuICAgICAgLnByb2QtZGVzY3JpcHRpb25fX3RleHQgYSA+IHNwYW4ge1xuICAgICAgICBwb3NpdGlvbjogYWJzb2x1dGU7IH1cbiAgICAgICAgLnByb2QtZGVzY3JpcHRpb25fX3RleHQgYSA+IHNwYW46YmVmb3JlIHtcbiAgICAgICAgICBkaXNwbGF5OiBub25lOyB9XG4gICAgICAgIC5wcm9kLWRlc2NyaXB0aW9uX190ZXh0IGEgPiBzcGFuIHNwYW4ge1xuICAgICAgICAgIGRpc3BsYXk6IGlubGluZS1ibG9jazsgfVxuICAgIC5wcm9kLWRlc2NyaXB0aW9uIC5idXlfbm93IHtcbiAgICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcbiAgICAgIHRleHQtYWxpZ246IHJpZ2h0O1xuICAgICAgbWFyZ2luLXRvcDogMjBweDsgfVxuICAgICAgLnByb2QtZGVzY3JpcHRpb24gLmJ1eV9ub3cgYSB7XG4gICAgICAgIHdpZHRoOiA1NSU7XG4gICAgICAgIG1hcmdpbi10b3A6IDA7IH1cbiAgICAgICAgLnByb2QtZGVzY3JpcHRpb24gLmJ1eV9ub3cgYSA+IHNwYW4ge1xuICAgICAgICAgIGxlZnQ6IDA7XG4gICAgICAgICAgdG9wOiA1MCU7XG4gICAgICAgICAgLXdlYmtpdC10cmFuc2Zvcm06IHRyYW5zbGF0ZVkoLTUwJSk7XG4gICAgICAgICAgICAgICAgICB0cmFuc2Zvcm06IHRyYW5zbGF0ZVkoLTUwJSk7XG4gICAgICAgICAgY29sb3I6ICMwMDA7XG4gICAgICAgICAgZm9udC1zaXplOiAxNHB4O1xuICAgICAgICAgIHBvaW50ZXItZXZlbnRzOiBub25lOyB9IH1cblxuQG1lZGlhIG9ubHkgc2NyZWVuIGFuZCAobWluLXdpZHRoOiAxMjAwcHgpIHtcbiAgLnByb2R1Y3QtTGlzdF9fZmlsdGVyIHtcbiAgICBtYXgtd2lkdGg6IDMwMHB4OyB9XG4gIC5wcm9kdWN0LUxpc3RfX2xpc3RzIHtcbiAgICB3aWR0aDogY2FsYygxMDAlIC0gMzAwcHgpOyB9IH1cbiJdfQ== */