$color-white: #fff;
$color-lightblue: #6dccd3;
$color-red: #bf2957;
$color-black: #000;
$form-input-color: #aeaaaa;
$plp-item-bg-color: #dedede;
$primary-font: "Dosis", "Arial", "sans-serif";
$app-padding-horizontal: 10vw;
$app-font-weight: 600;
$app-btn-padding: 10px;
$header-height: 96px;
$main-margin-top: 10px;
