<section
    [ngStyle]="listofProductsInCart.length === 0 ? {'background-color': '#ffffff'} : {'background-color': '#e2e2e2'}">
    <ng-container *ngIf="listofProductsInCart.length === 0">
        <article class="cart-empty">
            <h2>No items in your cart</h2>
            <p>You favourite items are just a click away</p>
        </article>
        <button type="button" class="custom-btn custom-btn-dark-pink" (click)="goToHomePage()">Start Shopping</button>
    </ng-container>
    <ng-container *ngIf="listofProductsInCart.length !== 0">
        <div class="my-cart-item-count-container">
            <h2>My Cart</h2><label aria-live="polite">({{listofProductsInCart.length}} item)</label>
        </div>
        <div class="my-cart" *ngFor="let product of listofProductsInCart">
            <figure>
                <img src="assets{{product.imageURL}}" alt="{{product.name}}" title="{{product.name}}" />
            </figure>
            <article>
                <h2>{{product.name}}</h2>
                <div>
                    <i class="fas fa-plus-square" (click)="addProduct(product)"></i> 1 <i class="fas fa-minus-square"
                        (click)="removeProduct(product)"></i> X Rs. {{product.price}} /-
                    <p>Rs.{{product.price}}/-</p>
                </div>
            </article>
        </div>

        <div class="cart-offer-info">
            <figure>
                <img src="../../../../assets/static/images/lowest-price.png" alt="lowest-price" />
            </figure>
            <article>
                <p>You won't find it cheaper anywhere</p>
            </article>
        </div>

        <article class="cart-total-price">
            <p>Promo code can be applied on payment page
            <p>
                <button type="button" class="custom-btn custom-btn-dark-pink checkout-btn"
                    (click)="goToCheckoutPage()" aria-valuetext="Proceed to Checkout Rs. {{totalProductsPrice}} /-"><span>Proceed to Checkout</span> <span>Rs.
                        {{totalProductsPrice}}/- ></span></button>
        </article>
    </ng-container>

</section>