<section
    [ngStyle]="listofProductsInCart.length === 0 ? {'background-color': '#ffffff'} : {'background-color': '#e2e2e2'}">
    <ng-container *ngIf="listofProductsInCart.length === 0">
        <div class="cart-empty">
            <h3>No items in your cart</h3>
            <p>You favourite items are just a click away</p>
        </div>
        <button type="button" class="custom-btn custom-btn-dark-pink" (click)="goToHomePage()">Start Shopping</button>
    </ng-container>
    <ng-container *ngIf="listofProductsInCart.length !== 0">
        <div class="my-cart-item-count-container">
            <h3>My Cart</h3><span>({{listofProductsInCart.length}} item)</span>
        </div>
        <div class="my-cart" *ngFor="let product of listofProductsInCart">
            <figure>
                <img src="assets{{product.imageURL}}" alt="{{product.name}}" />
            </figure>
            <article>
                <h3>{{product.name}}</h3>
                <div>
                    <button type="button" (click)="removeProduct(product)" aria-label="decrease product quantity by one"><i class="fas fa-minus"
                            aria-hidden="true"></i></button>
                    <span>{{product.count}}</span> <button type="button" (click)="addProduct(product)" aria-label="increase product quantity by one"><i
                            class="fas fa-plus" aria-hidden="true"></i></button> <span>X</span>
                    <span>Rs. {{product.price}}</span>
                    <p>Rs.{{product.totalPrice}}</p>
                </div>
            </article>
        </div>

        <div class="cart-offer-info">
            <figure>
                <img src="../../../../assets/static/images/lowest-price.png" alt="lowest-price" />
            </figure>
            <article>
                <p>You won't find it cheaper anywhere</p>
            </article>
        </div>

        <article class="cart-total-price">
            <p>Promo code can be applied on payment page
            <p>
                <button type="button" class="custom-btn custom-btn-dark-pink checkout-btn" (click)="goToCheckoutPage()"
                    aria-valuetext="Proceed to Checkout"><span>Proceed to Checkout</span> <span>Rs.
                        {{totalProductsPrice}} ></span></button>
        </article>
    </ng-container>

</section>