<header class="page-header" hbs-id="header-container">
    {{{header}}}
</header>

<main class="main-page" hbs-id="main-container">
    {{{mainTemplate}}}
</main>
<footer hbs-id="footer-container">
    Copyright &copy; 2011-2018 Sabka Bazaar Grocery Supplies Pvt. Ltd.
</footer>