<link rel="stylesheet" type="text/css" href="./utils/fonts/icofont.min.css">
<link href="https://fonts.googleapis.com/css?family=Dosis:400,600,700" rel="stylesheet">
{{#data}}
	{{> ../../common/organisms/o-header}}
	<section class="container cart-container">
		{{> ../../common/molecules/m-cartDetail}}
		<div class="cart-lists-block">
			{{> ../../common/organisms/o-cart--product}}
		</div>
		{{> ../../common/molecules/m-offer}}
	</section>
	{{> ../../common/molecules/m-checkout}}
{{/data}}