.btn {
  height: 47px;
  padding: 0 15px;
  line-height: 47px;
  border-color: transparent;
  border-radius: 2px;
  cursor: pointer;
  @include responsive-for-ipad {
    height: 50px;
    line-height: 50px;
    width: 50%;
  }
  @include responsive-for-sm-mobile {
    border-radius: 0;
    margin-right: 7px;
    text-align: center;
    margin-bottom: 7px;
    width: 97%;
  }
}

.btn.goto-checkout .title {
  float: left;
}
.btn.goto-checkout .price {
  float: right;
}
.btn-block {
  width: 100%;
}
.btn-primary {
  background-color: #d10157;
  color: map-get($site_colors, body-color-white);
}
