.btn {
  @include height(49px);
    cursor: pointer;
    padding: 0 15px;
    line-height: 47px;
    border-color: transparent;
    border-radius: 2px;
    @include media-lg-screen {
      @include height(50px);
      line-height: 50px;
      width: 50%;
    }
    @include media-sm-screen {
      border-radius: 0;
      margin-right: 7px;
      text-align: center;
      margin-bottom: 7px;
      width: 97%;
      padding: 0 1px;
    }
  }
  
  .btn-block {
    width: 100%;
  }
  .btn-primary {
    background-color: map-get($site_colors, btn-pink-color);
    color: map-get($site_colors, primary-color-white);
  }

  .btn.goto-checkout .title {
    float: left;
  }
  .btn.goto-checkout .price {
    float: right;
  }
  