/*
* === SIDEBAR NAVIGATION SECTION ===
*/
  .sidebar-wrapper {
    float: left;
    background-color: map-get($site_colors, box-bg-color);
    width: 25%;
    height: 100%;
    @include responsive-for-sm-mobile {
      float: none;
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar-wrapper__category-action {
      background-color: #d10157;
      padding: 12px 15px;
      color: map-get($site_colors, body-color-white);
      display: none;
      @include responsive-for-sm-mobile {
        display: block;
        img {
          widows: 15px;
          height: 15px;
          float: right;
          font-size: 10px;
          margin-top: 4px;
          margin-right: 2px;
        }
      }
    }
    .sidebar-wrapper__category-items {
      @include responsive-for-sm-mobile {
        position: absolute;
        top: 100%;
        width: 100%;
        background-color: #eee;
        display: none;
      }
    }
    .sidebar-wrapper__category-items--menu-items {
      border-bottom: 2px solid #d3d3d3;
      cursor: pointer;
      &:hover {
        background-color: #666;
        color: white;
      }
      p {
        line-height: 25px;
        margin-left: 30px;
        margin: 0;
        padding: 15px 15px 15px 30px;
      } 
      &.active {
        background-color: #333;
        color: white;
      }
      
    }
  }

/*
* === PRODUCT LIST SECTION ===
*/

  .product-list-wrapper {
    float: right;
    width: 75%;
    background-color: map-get($site_colors, body-color-white);
    @include responsive-for-sm-mobile {
      width: 100%;
    }
    .product-list-wrapper__products {
      float: left;
      margin: 20px 20px;
      width: 20%;
      border-bottom: 2px dashed map-get($site_colors, box-bg-color);
      margin-bottom: 20px;
      @include responsive-for-ipad {
        width: 42%;
        padding-bottom: 15px;
      }
      @include responsive-for-ms-mobile {
        width: 42%;
      }
      @include responsive-for-sm-mobile {
        width: 100%;
        border: none;
        margin: 0;
        padding-left: 2%;
        height: 230px;
        float: left;
        border-bottom: 5px dashed map-get($site_colors, box-bg-color);
      }
      img {
        width: 100%;
        height: 170px;
        @include responsive-for-ipad {
          height: 109px;
          width: 40%;
          float: left;
          margin-right: 6px;
        }
        @include responsive-for-sm-mobile {
          height: 75%;
          width: 43%;
          float: left;
          padding-right: 7px;
        }
      }
      p {
        background-color: map-get($site_colors, box-bg-color);
        padding: 2px 5px;
        height: 120px;
        overflow: hidden;
        @include responsive-for-ipad {
          margin-top: 0;
          font-size: 13px;
          text-align: justify;
          padding-left: 2px;
        }
        @include responsive-for-sm-mobile {
          margin-top: 0;
          font-size: 13px;
          text-align: justify;
          margin-right: 7px;
        }
      }
      h3 {
        height: 55px;
        @include responsive-for-sm-mobile {
          height: 18px;
          font-size: 12px;
        }
      }
    }
    .product-list-wrapper__products--price-button {
      @include responsive-for-ipad {
        display: none;
      }
      @include responsive-for-sm-mobile {
        display: none;
      }
      .price {
        float: left;
        padding: 13px 6px;
      }
      button {
        float: right;
        margin-bottom: 5px;
      }
    }
    .product-list-wrapper__products--responsive-price-button {
      display: none;
      @include responsive-for-ipad {
        display: block;
        margin: 0;
      }
      @include responsive-for-sm-mobile {
        display: block;
        margin: 0;
        float: right;
        width: 57%;
      }
    }
    .product-list-wrapper__products--add-product-item {
      @include responsive-for-ipad {
        width: 100%;
      }
    }
  }
  .product-list-block {
    background-color: map-get($site_colors, box-bg-color);
    @include responsive-for-sm-mobile {
      margin-top: 10px;
    }
  }
  // .active {
  //   background-color: #333;
  //   color: white;
  // }