/* Products */
$form-elmnt-width: 300px
$page-height: 800px

$product-inner-width: 195px
.products
  height: $page-height
  .products-menu
    +span-columns(3)
    // font-family: Dosis
    height: 100%
    float: left
    background-color: #EAEAEA
    ul
      list-style-type: none
    li
      margin: 20px 0px 0px 10px
      border-bottom: 2px solid #D1D1D1
      border-spacing: 15px
      padding: 0px 0px 10px 20px
      font-weight: bold
      color: #6B6B6B
      font-size: 16px
      &:hover
        color: #AE254F

  .products-listing
    +span-columns(9)
    display: flex
    flex-wrap: wrap
    .product
      +span-columns(3)
      margin-top: 5%
      margin-bottom: 10%
      width: 30%
      height: auto
      background-color: transparent
      border-bottom: 1px dashed #D2D2D2
      // border: 1px solid #000
      h3
        font-size: 18px
        text-transform: none
        font-weight: bold
        margin-bottom: 50px

      img
        +span-columns(2)
        position: absolute
        margin: 0px 0px 0px 10px

      .description
        margin-top: 150%
        margin-left: 10%

        background-color: #F0F0F0
        p
          font-size: 12px
          font-weight: bold
          padding: 5px

      .purchase
        margin-top: 10%
        span
          float: left
          font-weight: bold
        #rupee-symbol
          font-size: 24px
          margin-top: 24px
        button
          float: right
          width: 95px
          height: 40px
