 $color-primary : rgb(218 21 117);
 $color-primary-dark : #ff008c96;
 $color-white : #ffffff;
 $color-grey-light : #f0f0f06e;
 $color-grey-medium : #d3cfcf6e;
 $color-grey-dark :#0d0d0d52;
 $color-grey-darker : #000000;
 $color-grey-overlay : rgba(0,0,0,.8)