@import "../../variables.module";
.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media only screen and (max-width: 767px) {
    align-items: unset;
    justify-content: unset;
    width: unset;
  }
  /*ipads portrait*/
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* Styles */
    align-items: unset;
    justify-content: unset;
    width: unset;
  }
  .modal-header {
    width: 30%;
    display: flex;
    background-color: $black_color;
    justify-content: space-between;
    padding-left: 10px;
    box-sizing: border-box;
    @media only screen and (max-width: 767px) {
      width: unset;
      background-color: $white_color;
    }
    /*ipads portrait*/
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      /* Styles */
      width: unset;
      background-color: $white_color;
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      width: 50%;
      background-color: $white_color;
    }
    p {
      color: $white_color;
      @media only screen and (max-width: 767px) {
        color: $black_color;
      }
      /*ipads portrait*/
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        /* Styles */
        color: $black_color;
      }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        color: $black_color;
      }
    }
    .close-btn {
      background-color: $black_color;
      color: $white_color;
      border-color: $black_color;
      @media only screen and (max-width: 767px) {
        color: $black_color;
        background-color: $white_color;
        border-color: $white_color;
      }
      /*ipads portrait*/
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        /* Styles */
        color: $black_color;
        background-color: $white_color;
        border-color: $white_color;
      }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        color: $black_color;
        background-color: $white_color;
        border-color: $white_color;
      }
    }
  }

  .modal-content {
    width: 30%;
    height: 60%;
    background-color: $back_color;
    padding-top: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*small phones*/
    @media only screen and (max-width: 767px) {
      width: unset;
      height: unset;
      flex-grow: 1;
    }
    /*ipads portrait*/
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      /* Styles */
      width: unset;
      height: unset;
      flex-grow: 1;
    }
    /* iPads (landscape) ----------- */
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      /* Styles */
      width: 50%;
      height: 70%;
    }
  }
}
