<div class="app-container">
  <app-header></app-header>
  <mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav
      #snav
      mode="over"
      fixedTopGap="18vh"
      class="side-nav"
      (click)="closeNav()"
    >
      <mat-nav-list
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link">Home</a>
      </mat-nav-list>
      <mat-nav-list
        routerLink="/products"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
      >
        <a class="nav-link">Products</a>
      </mat-nav-list>
      <ng-container *ngIf="!(user$ | async)?.user">
        <mat-nav-list
          class="nav-link"
          [routerLink]="['/auth', 'login']"
          [routerLinkActive]="['active']"
        >
          <a>SignIn</a>
        </mat-nav-list>
        <mat-nav-list
          class="nav-link"
          [routerLink]="['/auth', 'register']"
          [routerLinkActive]="['active']"
        >
          <a>Register</a>
        </mat-nav-list>
      </ng-container>

      <ng-container *ngIf="(user$ | async)?.user">
        <mat-nav-list>
          Hi there!! {{ (user$ | async)?.user?.email }}
        </mat-nav-list>
        <mat-nav-list class="logout-nav">
          Logout
          <i class="material-icons logout" (click)="logout()" title="Log out"
            >logout</i
          >
        </mat-nav-list>
      </ng-container>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="wrapper" role="main">
        <div class="content-body container">
          <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
