<div class="wrapper">
  <header>
    <div class="container common-padding">
      <div class="left">
        <a class="logo" routerLink="/">
          <img
            src="static/images/logo_2x.png"
            class="logo-image"
            alt="Sabka bazaar"
          />
        </a>
        <ul class="navbar">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/products"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="active"
              >Products</a
            >
          </li>
        </ul>
      </div>
      <div class="end-container">
        <ul class="navbar" *ngIf="!(user$ | async)?.user">
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/auth', 'login']"
              [routerLinkActive]="['active']"
              >SignIn</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/auth', 'register']"
              [routerLinkActive]="['active']"
              >Register</a
            >
          </li>
        </ul>
        <p *ngIf="(user$ | async)?.user" class="user-info">
          Hi there!! {{ (user$ | async)?.user?.displayName }}
          <i class="material-icons logout" (click)="logout()" title="Log out"
            >logout</i
          >
        </p>
        <button aria-label="cart" class="cart" (click)="openCart()">
          <img src="static/images/cart.svg" alt="cart" class="cart-logo" />
          <a data-target="#cartModal"
            >{{ (cart$ | async)?.products?.length || 0 }} items</a
          >
        </button>
      </div>
    </div>
  </header>
  <div class="content-body container">
    <router-outlet></router-outlet>
  </div>
  <footer>
    <div class="copyright common-padding container">
      CopyRight @ 2011-2021 Sabka Bazzar Grocery Supplies Pvt Ltd
    </div>
  </footer>
</div>
