

<div class="wrap container-fluid" style="margin-top: 3em;">
    <section>
        <div class="row">
            <div class="col-xs-7 login-text-box">
                <p class="login-heading">Login
                </p>
                <p class="login-text">Get access to your orders. Wishlist and
                    Recommendations.
                </p>
            </div>
            <div class="col-xs-5">
                <form class="login-form">
                    <div class="form-group">
                        <input required="required" class="form-control" />
                        <label class="form-label">Email
                        </label>
                    </div>
                    <div class="form-group">
                        <input id="password" type="password" required="required"
                            class="form-control" />
                        <label class="form-label">Password
                        </label>
                        <button class="login-btn">Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
<!-- The Modal -->
<div id="cart-modal-id" class="cart-modal">
    <!-- Modal content -->
    <div class="cart-modal-content">
        <!-- Modal header -->
        <div class="cart-modal-header">
            <span class="close">&times;
            </span>
            <h4>My Cart
            </h4>
        </div>
        <!-- Modal body -->
        <div class="cart-modal-body">
            <h4>No items in your cart
            </h4>
            <h6>Your Favourite items are just a click away
            </h6>
        </div>
        <!-- Modal footer-->
        <div class="cart-modal-footer">
            <button class="cart-modal-footer-text">Start Shopping
            </button>
        </div>
    </div>
</div>