@import "../../sassStyles/variable";

.cart-container {
  right: -2px;
  position: absolute;
  border: 1px solid $cart-border-color;
  display: flex;
  flex-direction: column;
  background-color: $cart-container-background;
  box-sizing: border-box;
  box-shadow: $box-shadow;

  &__section1 {
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $cart-section1-background;
    color: $cart-section1-color;
    margin-top: 10px;
  }

  &__section2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: $cart-section2-background;
    box-sizing: border-box;
    padding: 5px;
    box-shadow: $box-shadow;
    margin-top: 10px;

    &--align {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__section3 {
    position: absolute;
    bottom: 0;
    height: 90px;
    padding: 10px;
    background-color: $cart-section3-background;
    width: 100%;
    box-sizing: border-box;

    div {
      display: flex;
      justify-content: space-between;
      background-color: $cart-section3-div-background;
      color: $cart-section3-div-color;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      opacity: 0.9;
      border: 0;
      width: 100%;
      cursor: pointer;
      margin-top: 5px;
    }
  }

  &__innerSection1 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 10px;

    .increase-item,
    .decrease-item {
      background-color: $cart-section3-innerSection1-item;
      border-radius: 50%;
      padding: 3px;
      font-size: 10px;
    }

    &--size {
      font-size: 12px;
    }
  }

  &__innerSection2 {
    width: 20%;
    bottom: 10px;

    &--align {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .lowest-price {
    display: flex;
    flex-direction: row;
    background-color: $cart-section2-background;
    margin: 12px;
    padding: 5px;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
    box-sizing: border-box;
  }
}

.empty-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .cart-container {
    margin-top: 10px;
    width: 100vw;

    &__section1 {
      background-color: $cart-tablet-section1-background;
      color: $cart-tablet-section1-color;
      width: 100vw;
      margin-top: 20px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .cart-container {
    margin-top: 26px;
    width: 100vw;
  }
}

@media only screen and (min-width: 1025px) {
  .cart-container {
    margin-top: 10px;
    width: 35vw;
    height: 10vh;

    &__section1 {
      background-color: $cart-web-section1-background;
      color: $cart-web-section1-color;
      margin-top: 0px;
    }
  }
}
