.empty-cart {
    text-align: center;
    padding: 10rem 0rem;

    div {
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1.5rem;
        padding-bottom: 0rem;
        font-weight: bold;
        font-family: "Dosis", sans-serif;
    }

    p {
        margin: 0rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.cart {
    background-color: #ece9e9;
    text-align: center;
    width: 25rem;
    height: 27rem;
     margin-left: 51.5rem;

    .heading {
        padding: 0.8rem 0rem 0rem 1rem;
        margin-bottom: 2.5rem solid #ece9e9;
        text-align: start;
        background-color: #000;
        color: #fff;
        box-sizing: border-box;
        height: 3rem;
    }

    .shopping-button {
        background-color: #b92d56;
        color: #fff;
        border: none;
        margin-bottom: 1rem;
        width: inherit;
        height: 2rem;
        position: fixed;
        bottom: 3rem;
        right: 3.5rem;
    }

    .checkout-text {
        margin: 0rem 0rem 0.2rem 0rem;
    }

    .icon {
        float: right;
        margin: 0.4rem 1rem;
    }

    .cart-item-container {
        display: flex;
        height: 5rem;
        background: #fff;
        margin: 0.5rem 0rem;
    }

    .product-quantity-div {
        display: flex;
        margin: 0rem 1.0rem;
        justify-content: space-between;
    }

    .increment-icon {
        color: #b92d56;
        margin: 0.2rem 0.5rem;
    }

    .product-div {
        flex-grow: 3;
    }

    .product-name {
        font-size: 0.8rem;
        font-weight: bold;
        margin: 0rem 1.0rem;
        text-align: initial;
    }

    .product-details {
        flex-grow: 3;
    }

    .product-img {
        width: 4rem;
        height: 4rem;
        margin: 0.2rem;
    }

    .cart-item-row {
        display: flex;
        background: #fff;
        margin: 0.5rem;
        height: 3rem;
        padding: 0.2rem;
    }

    .lowest-price-img {
        height: 2.5rem;
        margin: 0rem 0.3rem;
    }

    .text {
        padding: 0.6rem 0rem;
        font-size: 0.8rem;
    }

    .checkout-button {
        display: flex;
        justify-content: space-between;
        background-color: #b92d56;
        color: #fff;
        border: none;
        width: inherit;
        height: 2rem;
    }

    .cart-footer {
        background: #fff;
        height: 4rem;
        position: fixed;
        bottom: 4.4rem;
        width: 25rem;
    }
}

@media screen and (max-width:480px) {
    .cart {
        margin: 0rem 0rem;
        background-color: #fff;
        width: 25.6rem;

        .shopping-button {
            right: 0rem;
        }

        .checkout-button {
            width: 25rem;
            padding: 0.3rem 0.7rem;
        }
        .cart-footer{
            bottom: 1.4rem;
        }
    }
}

@media screen and (min-width:480px) and (max-width:768px) {
    .cart {
        margin-left: 19.5rem;
        height: 56rem;
    }
}