.modalHeader{
    background: black;
    color:#fff;
}
.lowestPrice{
    display:flex;
    align-items: center;
    padding:8px;
}
.cartFooter{
    display:flex;
    align-items: center;
    padding:16px;
    justify-content: space-between; 
    background: #f50057;
    color:#fff;
}
.promoText{
    text-align: center;
    padding: 10px;
    /* border-top: 1px solid lightgrey; */
}
.footerContentText{
margin: 0px 20px 0px 20px!important;
}
.dialogContent{
    border-bottom: 1px solid lightgrey; 
}
.emptyCartFooter{
    display:flex;
    align-items: center;
    padding:16px;
    justify-content: center; 
    background: #f50057;
    color:#fff;
}
.MuiDialog-paperWidthSm{
    min-width: 460px!important;
    min-height: 600px!important;
}
.noCartDialogContent{
    align-items: center;
    display: flex;
    justify-content: center;
    /* border-bottom: 1px solid lightgrey;  */
}