.cart-modal {
  .empty-cart {
    flex-direction: column;
    justify-content: center;
    min-height: 50vh;
    background-color: var(--color-white);
    margin: -0.5rem;

    h4 {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }
  }

  .cart-title {
    span {
      font-weight: 500;
      font-size: 0.825rem;
    }
  }

  .cart-item-list {
    background-color: var(--color-white);
    padding: 1rem;
    margin: 0 -0.5rem;

    .cart-item {
      grid-template-columns: 1fr 3fr;
      align-items: center;
      margin-bottom: 0.5rem;

      .cart-item-image {
        max-width: 80px;
      }

      .cart-item-actions {
        align-items: center;
        gap: 1rem;
        margin-top: 0.5rem;

        .cart-item-button {
          width: 30px;
          height: 30px;
          padding: 0.25rem 0.5rem;
          border-radius: 50%;
        }

        .cart-item-total {
          margin-left: auto;
        }
      }
    }
  }

  .cart-banner {
    background-color: var(--color-white);
    align-items: center;
    padding: 0.5rem;
    margin-top: 1rem;

    img {
      max-width: 100px;
      margin-right: 2rem;
    }
  }
  .modal-footer {
    text-align: center;

    button {
      width: 100%;
      margin-top: 0.5rem;
    }
  }
}
