.nav-container {
  position: sticky;
  top: 0px;
  height: 100px;
  z-index: 10;
  width: 80%;
  margin: 0px auto;
  background-color: white;
  padding-top: 5px;
  box-shadow: 0px 15px 10px -15px #111;
  display: flex;
  justify-content: start;
  align-items: flex-end;
  .cart {
    display: flex;
    align-items: center;
    margin-right: 15px;
    background-color: rgb(240, 240, 240);
    .cart-image {
      width: 50px;
    }
    img {
      color: red;
    }
    .items-count {
      margin: 0px 10px;
    }
  }
  .nav-link-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
  }
  .nav-link-element {
    padding: 15px 10px;
    a {
      padding-right: 20px;
    }
  }
}

.cart-popup-body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  text-align: center;
}

.cart-body-item {
  min-height: 350px;
  margin-top: 12px;
  .cart-image {
    height: 70px;
    padding-right: 15px;
  }
}



.cart-banner {
  display: flex;
  align-items: center;
  margin-top: 12px;
  background-color: white;
  padding: 8px 12px;
  img {
    margin-right: 20px;
  }
}

@media (max-width: 720px) {
  .nav-container {
    width: 100%;
    padding-top: 0px;
    .nav-logo-image {
      height: 60px;
    }
    .nav-link-element {
      padding: 10px 5px;
      a {
        padding-right: 5px;
      }
    }
  }
  .cart-banner {
    img {
      width: 100px;
    }
  }
}
@media (max-width: 500px) {
  .nav-container {
    width: 100%;
    padding-top: 0px;
    height: 55px;
    .nav-logo-image {
      height: 45px;
    }
    .cart {
      margin-right: 0px;
    }
    .nav-link-items {
      justify-content: flex-end;
    }
    .nav-link-element {
      display: none;
    }
  }
}
