.bannerBody {
    margin-top: 15px;
}
@media (min-width: 1025px) {
    .bannerBody {
      max-width: 80%;
      padding: 0 15%;                             
    } 
    }
    .carousel {
        overflow-x: hidden;
    }
.carousel_viewport {
    // display: flex;
    box-shadow:0 6px 15px -4px rgba(0,0,0,0.7) ; 
    .item {
        display: flex;
        position: relative;
        .arrow {
            color:#e91e63;
            opacity: 0.5;
            text-decoration: none;
            font-size: 5em;
            position: absolute;
            top:25%;
            right:0px;
            &:nth-child(2){
                left:0px;
            }
            &:hover{
                opacity: 1;
            }
        } 
    }
    
}
  .categories {
      ul {
          li {
            // height:200px;
            width: 100%;
            margin: 0px 0px;
            // padding:20px;
            box-shadow:  0 6px 15px -4px rgba(0,0,0,0.7);
            display: flex;
            justify-content: space-around;
            &:nth-child(2n){
                flex-direction: row-reverse;
            }
            img {
                width:30%;
                padding: 10px;
            }
            section {
                padding: 10px;
                a {
                    button {
                        text-align: center;
                        padding:10px;
                        &:focus {
                            outline-color:#e91e63;
                        }
                    }
                }
               
            }
          }
      }
  }