<div class="content-area">
    <section class="signup-text-details">
        {{> components/atoms/a-header header="Signup"}}
        {{> components/atoms/a-paragraph para="We do not share your personal details with anyone"}}
    </section>
    <section class="signup-form">
        <h2 class="mobile-view-title">Signup</h2>
        <form name="form" class="form" action="/" onsubmit="return valid.validateRegister()">
            {{> components/molecules/m-input name="fname" placeholder="" label="FirstName" type="text" classname="error-fname"}}
            {{> components/molecules/m-input name="lname" placeholder="" label="LastName" type="text" classname="error-lname"}}
            {{> components/molecules/m-input name="email" placeholder="" label="Email" type="email" classname="error-email"}}
            {{> components/molecules/m-input name="psw" placeholder="" label="Password" type="password" classname="error-psw"}}
            {{> components/molecules/m-input name="psw-repeat" placeholder="" label="Confirm Password" type="password" classname="error-psw-repeat"}}
            {{> components/molecules/m-button name="Signup" type="submit"}}
        </form>
    </section>
</div>