@import '../../common/components/molecules/m-input.scss';
@import '../../common/components/molecules/m-button.scss';
@import '../../../styles/common/variables.scss';
.content-area {
    .signup-text-details {
        display: none;
    }
    .signup-form {
        padding: 40px;
        .mobile-view-title {
            margin-bottom: 40px;
        }
    }
}

@media screen and (min-width: $breakpoint-phone) {
    .content-area {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: 1170px;
        margin: 0 auto;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 34px;
        .signup-text-details {
            display: block;
            padding: 40px;
            width: 30%;
        }
        .signup-form {
            width: 25%;
            .mobile-view-title {
                display: none;
            }
        }
    }
}