.no-item-text {
    text-align: center;
  }
  .btn-close {
    background-color: black;
    border: black;
    &:after {
      position: absolute;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: #fff;
      font-size: 50px;
      content: "\d7";
      top: 24px;
      right: 18px;
    }
  }
  .btn-decrement {
    border-radius: 50%;
    margin: 0px 15px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #e83583;
    border: none;
    padding: 2px 5px 2px 5px;
    height: 30px;
    width: 30px;
  }
  .btn-increment {
    border-radius: 50%;
    margin: 0px 15px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #e83583;
    border: none;
    padding: 2px 5px 2px 5px;
    height: 30px;
    width: 30px;
  }
  .cart-main-cont {
    position: absolute;
    display: none;
    right: 0;
    top: 65px;
    background: #efefef;
    z-index: 3;
    .cart-container {
      position: relative;
      height: 81.5vh;
      width: 35vw;
      .checkout {
        position: absolute;
        padding: 15px;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
      }
      .checkout-button {
        background: #e83583;
        border: none;
        width: 100%;
        color: #fff;
        font-size: 1rem;
        padding: 15px;
      }
      .checkout-heading {
        margin: 0px 0px 15px 0px;
        text-align: center;
      }
      .header-container {
        background: #000;
        display: flex;
        justify-content: space-between;
        padding: 0px 15px;
        .heading {
          color: #fff;
        }
      }
      .cart_list {
        list-style: none;
        padding: 0px;
        margin-left: 0px;
        max-height: 62vh;
        overflow: auto;
        .quantity {
          font-size: 1rem;
        }
      }
      .cart_list-details {
        width: 100%;
      }
      .cart_list-item {
        background: #fff;
        display: flex;
        align-items: flex-start;
        margin-bottom: 10px;
      }
      .cart_list-item-total {
        font-size: 1rem;
        margin: 0px 15px 0px 0px;
        float: right;
      }
      .cart_list-name {
        font-size: 1.1rem;
        font-weight: 600;
        margin: 10px 0px;
        text-align: left;
      }
      .cart_list-price {
        font-size: 1rem;
        padding-left: 10px;
      }
      .cart_list-img {
        width: 80px;
        padding: 10px;
      }
    }
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .btn-close {
      background-color: black;
      border: black;
      &:after {
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 36px;
        content: "\d7";
        top: 18px;
        right: 18px;
      }
    }
    .cart-main-cont {
      position: fixed;
      display: none;
      right: 0;
      top: 10vh;
      bottom: 0;
      left: 0;
      background: #efefef;
      z-index: 3;
      .cart-container {
        position: relative;
        width: 100vw;
        height: 90vh;
        .checkout {
          position: absolute;
          padding: 15px;
          left: 0;
          right: 0;
          bottom: 0;
          background: #fff;
        }
        .checkout-button {
          background: #e83583;
          border: none;
          width: 100%;
          color: #fff;
          font-size: 1rem;
          padding: 15px;
        }
        .checkout-heading {
          margin: 0px 0px 15px 0px;
          text-align: center;
          font-size: 1rem;
        }
        .header-container {
          background: #000;
          display: flex;
          justify-content: space-between;
          padding: 0px 15px;
          .heading {
            color: #fff;
            font-size: 1.6rem;
          }
        }
        .cart_list {
          max-height: 71vh;
          overflow: auto;
          .quantity {
            font-size: 1rem;
            padding: 0px 15px;
          }
          .into-qty {
            font-size: 1rem;
            padding: 0px 5px;
          }
        }
        .cart_list-item {
          background: #fff;
          display: flex;
          align-items: flex-start;
          margin-bottom: 10px;
        }
        .cart_list-item-total {
          font-size: 1rem;
        }
        .cart_list-price {
          font-size: 1rem;
          padding: 0px 15px;
          padding-left: 10px;
        }
        .cart_list-img {
          padding: 10px;
        }
        .cart_list-name {
          font-size: 1rem;
          font-weight: 600;
          margin: 10px 0px;
          text-align: left;
          display: block;
        }
      }
    }
  }

  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
    .cart-main-cont {
      position: fixed;
      .cart-container {
        width: 100vw;
        height: 95vh;
      }
    }
  }