@import "/client/components/styles/variables";
@import "/client/components/styles/mq-mixin";

.selected_card {
  padding: 0 $side_margin;
  background: white;
  margin: 10px 0px;
  gap: 15px;
  > img + div > div {
    margin-bottom: 8px;
    &:first-child {
      font-weight: 600;
    }
  }
}
