@import '../../Variables.scss';

.cart {
    .modal-dialog {
        top: 0;
        height: 100%;
        margin: 0;
        @media only screen and (min-width: 768px) {
            top: 76px;
            height: calc(100% - 76px);
            margin-left: auto;
        }
    }

    .modal-header {
        background-color: $black;
        border-radius: 0;
        color: $white;

        .btn-close {
            opacity: 1;
        }
    }

    .modal-content {
        border-radius: 0;
        height: 100%;
    }

    .modal-body {
        padding: 20px 0 0 0;
    }

    .cart-grey-bg {
        background-color: $grey-2;
    }

    .modal-footer {
        background-color: $white;
    }

    .cart-adv {
        margin: 10px;

        .card-img {
            width: 122px;
            padding: 10px;
        }
    }

    .cart-product {
        padding: 20px;
        background-color: $white;

    }

    // opertor
    .product-operator-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 70%;
        align-items: center;

        @media only screen and (min-width: 992px) {
            width: 90%;

        }

        .product-operator {
            height: 18px;
            width: 18px;
            border-radius: 50%;
            background-color: rgba(186, 2, 79, 0.894);
            border: 0px;
            color: $white;
            position: relative;

            &::after {
                content: "-";
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &.plus::after {
                content: "+";
            }
        }

        .product-price {
            span {
                margin-right: 16px;
            }
        }

    }

    // footer
    .cart-checkout-btn {
        background-color: rgba(186, 2, 79, 0.894);
        color: $white;
        display: flex;
        justify-content: space-between;
        padding: 8px 16px;
        margin: 8px 8px;
        border: 0px;
        width: 100%;

        span {
            margin-left: 16px;
        }
    }

    .cart-footer-title {
        font-size: 14px;
        display: flex;
        justify-content: center;
    }
}