:export {
  secondaryColor: skyblue;
}

.filterDropdown {
  display: none;
}

@media screen and (max-width: 576px) {
  .filterDropdown {
    display: block;
  }
}

.filterDropdown .custom-dropdown {
  background-color: #ff38bd;
  border: none;
  margin-top: 15px;
  color: white;
}

.filterDropdown .custom-dropdown .Dropdown-arrow {
  border-color: #fff transparent transparent;
}

.product-component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

@media screen and (max-width: 576px) {
  .product-component {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.product-component .sideBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: lightgray;
  height: 90vh;
  padding: 20px 0px;
}

@media screen and (max-width: 576px) {
  .product-component .sideBar {
    display: none;
  }
}

.product-component .sideBar .sideBar-item {
  margin-left: 20px;
  border-bottom: 2px solid darkgray;
  padding: 10px 15px;
  cursor: pointer;
}

.product-component .sideBar .active {
  background-color: #ff38bd;
  color: white;
}

.product-component .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-item-component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
}

.product-item-component .product-item-container {
  width: 180px;
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-item-component .product-item-container h4 {
  height: 50px;
}

@media screen and (max-width: 960px) and (min-width: 577px) {
  .product-item-component .product-item-container {
    width: 48%;
    padding: 15px 0px;
  }
}

@media screen and (max-width: 576px) {
  .product-item-component .product-item-container {
    width: 100%;
    padding: 15px 0px;
  }
}

.product-item-component .product-item-container .product-item-details {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 960px) {
  .product-item-component .product-item-container .product-item-details {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 960px) {
  .product-item-component .product-item-container .product-item-details .catgImageContainer {
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
  }
}

.product-item-component .product-item-container .product-item-details img {
  width: 100%;
  height: -webkit-fill-available;
}

@media screen and (max-width: 960px) {
  .product-item-component .product-item-container .product-item-details img {
    height: 100%;
  }
}

.product-item-component .product-item-container .product-item-details .product-item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  margin-top: 10px;
}

@media screen and (max-width: 960px) {
  .product-item-component .product-item-container .product-item-details .product-item-info {
    margin-top: 0px;
    margin-left: 10px;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
}

.product-item-component .product-item-container .product-item-details .product-item-info .price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

@media screen and (max-width: 960px) {
  .product-item-component .product-item-container .product-item-details .product-item-info .price-container .mrp-price {
    display: none;
  }
}

.product-item-component .product-item-container .product-item-details .product-item-info .price-container button {
  background-color: #ff38bd;
  color: white;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 10px;
}

.product-item-component .product-item-container .product-item-details .product-item-info .price-container button .butt-span {
  display: none;
}

@media screen and (max-width: 960px) {
  .product-item-component .product-item-container .product-item-details .product-item-info .price-container button .butt-span {
    display: inline;
  }
}

@media screen and (max-width: 960px) {
  .product-item-component .product-item-container .product-item-details .product-item-info .price-container button {
    width: 100%;
  }
}

.product-item-component .product-item-container .product-item-details .product-item-info > span {
  background: lightgrey;
  padding: 5px;
  font-size: small;
}
/*# sourceMappingURL=products.css.map */