<section
    class='splide'
    aria-label='current month offers - independece day sell'
>
    <div class='splide__track'>
        <ul class='splide__list banner-container'>
            <li
                class='splide__slide is-flex is-justify-content-center is-align-items-center'
            >
                <img src='/assets/images/offers/offer1.jpg' alt='' />
            </li>
            <li
                class='splide__slide is-flex is-justify-content-center is-align-items-center'
            >
                <img src='/assets/images/offers/offer2.jpg' alt='' />
            </li>
            <li
                class='splide__slide is-flex is-justify-content-center is-align-items-center'
            >
                <img src='/assets/images/offers/offer3.jpg' alt='' />
            </li>
            <li
                class='splide__slide is-flex is-justify-content-center is-align-items-center'
            >
                <img src='/assets/images/offers/offer4.jpg' alt='' />
            </li>
            <li
                class='splide__slide is-flex is-justify-content-center is-align-items-center'
            >
                <img src='/assets/images/offers/offer5.jpg' alt='' />
            </li>
        </ul>
    </div>
</section>