<div class='mini-cart__item is-flex is-align-items-center'>
    <figure class='is-flex-grow-0'>
        <img src='{{imgSrc}}' />
    </figure>
    <div class='is-flex'>
        <h4 class='mini-cart__item-title'>
            Title
        </h4>
        <div class=''>
            <button class='button is-rounded is-primary'>-</button>
            <label class='mx-2'>1</label>
            <button class='button is-rounded is-primary'>+</button>
        </div>

    </div>
</div>