.indivdual_prodct_card_container{
    position: relative;
    width: 350px;
    height: 450px;
    padding: 10px;
    margin:10px;
    text-align:justify;
    -webkit-box-shadow: 3px 12px 38px -13px rgba(173,173,173,0.99);
-moz-box-shadow: 3px 12px 38px -13px rgba(173,173,173,0.99);
box-shadow: 3px 12px 38px -13px rgba(173,173,173,0.99);
.product_title{
    height: 50px;
}


    .product_img_description{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width:150px;
            height: 150px;
        }

            .product_descrptn{
                background-color:#F5F5F5;
                height: 160px;
                margin-top: 20px;
                padding: 10px;
                
            }
         

        
    }

    .buynow_btn{
        position: absolute;
        bottom: 15px;
        width: 95%;
        background-color: #c7555f;
        color: white;
        text-transform: capitalize;
    }

}

@media screen and (max-width: 480px) {
    .indivdual_prodct_card_container{
        height: auto;
        .product_title{
            height: auto;
        }
        .product_img_description{
            flex-direction: row;
            .product_descrptn{
                height: auto;
            }
       
        }
     .buynow_btn{
         width: 100%;
         position: static;
     }
    }

}

@media  (max-width: 481px) and (max-width: 768px) {
}