@import '../../Variables.scss';

header {
    box-shadow: 0px 1px 4px 1px $gray-3;

    .cart-btn {
        padding: 12px 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        border: 0px;
        font-size: 12px;
        width: 100%;

        img {
            margin-right: 10px;
        }
    }

    .nav-item {
        color: $black;
        padding: 5px;

        a {
            font-size: 12px;
        }
    }

    .page-nav {
        width: 38%;

        @media only screen and (min-width: 992px) {
            width: 51%;
        }

        .nav-item {
            font-size: 12px;
            font-weight: 600;
            padding: 0 20px;

            a {
                font-size: 14px;
                padding: 42px 0 0;
            }
        }
    }
}