@import "../../variables.module";

.button {
  padding: 10px;
  background-color: $primary_color;
  color: white;
  border: none;
  cursor: pointer;
}
.circular-btn {
  border-radius: 100%;
  padding: revert;
}
