<section class="custom-flex-container">
    <article>
        <h2>Signup</h2>
        <p>We do not share your personal details with anyone.</p>
    </article>
    <form class="bazar-signup-form">
        <div class="custom-form-group">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" class="custom-input"/>
        </div>
        <div class="custom-form-group">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" class="custom-input"/>
        </div>
        <div class="custom-form-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="custom-input"/>
        </div>
        <div class="custom-form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="custom-input"/>
        </div>
        <div class="custom-form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" class="custom-input"/>
        </div>
        <button type="submit" class="custom-btn btn-pink">Signup</button>
    </form>
</section>