section {
    justify-content: center;
    margin: 10px;
    article {
        line-height: 1.25;
    }
    .bazar-signup-form {
        margin-top: 20px;
        flex-basis: 20%;
    }
}

@media (min-width: 1024px) {
    section {
        justify-content: space-around;
        align-items: baseline;
        h2 {
            font-weight: bolder;
        }
        article {
            line-height: 3.25;
        }
        .bazar-signup-form {
            margin-top: 20px;
            flex-basis: 40%;
        }
    }
    button {
        width: 100%;
    }
}