.category-container {
  display: flex;
  flex-direction: column;

  h1 {
    font-weight: bold;
  }
}

.category-container .category:nth-of-type(odd) {
  img {
    order: -1;
  }
}

.category-container .category:nth-of-type(even) {
  img {
    order: 1;
  }
}

.category {
  display: flex;
  margin: 50px;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

  img {
    padding: 50px 0;
    width: 40%;
  }

  div {
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  .category {
    margin: 20px 5px;
  }

  .category-container {
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 18px;
    }
  }

  p {
    font-size: 14px;
  }
}
