@import "../../variables.module";
$category_text_color: #544361;
.categories-menu-container {
  background-color: $back_color;
  padding-bottom: 20px;
  padding-top: 120px;
  padding-left: 10px;
  box-sizing: border-box;
  .category-menu-item {
    p {
      border-bottom: 1px solid #c1b4b4;
      padding: 10px;
      color: $category_text_color;
      font-weight: 500;
      cursor: pointer;
    }
  }
}
