$grey: #eaeaea;

.homeContainer {
  width: 90%;
  margin: 10px auto 0px auto;
  > div {
    margin-bottom: 20px;
    box-shadow: 0 5px 10px -1px $grey;
  }
}

@media screen and (max-width: 991px) {
  .homeContainer {
    width: 100%;
  }
}
