@import '../../scss-variables/vairables.scss';

.body-section {
  width: 75vw;
  margin: 10px auto;
}
@media (min-width: $min-width1) and (max-width: $max-width1) {
  .body-section {
    width: auto;
  }
}

@media (min-width: $min-width1) and (max-width: $max-width1) and (orientation: landscape) {
  .body-section {
    width: auto;
  }
}

@media (min-width: $width4) and (max-width: $width3) {
  .body-section {
    width: auto;
  }
}
@media (min-width: $min-width) and (max-width: $max-width) {
  .body-section {
    width: auto;
  }
}