.categories{
    display: flex;
    position: relative;
    padding: 1rem;
}  

.categories::after{
    content:"";
    position:absolute;
    z-index:-1;
    bottom:0;
    width:100%;
    height:1.25rem;
    background:radial-gradient(ellipse at 50% -3%, rgba(0, 0, 0, 0.2), rgba(97, 97, 0, 0) 50%);
}

.categories:nth-child(even){
    flex-direction: row-reverse;
}

.category-fighure{
    width : 30%;
    padding: 1rem;
}

.category-description{
    flex:1;
    align-self: center;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    
}

.category-image{
    width:100%;
    height: 100%;
}

.category-heading{
   font-size: 1.5rem;
}

.category-para{
   font-size: 1rem;
   text-align: center;
}