<section class="card-board">
    <header>
        <h4 class="font-20">{{cardTitle}}</h4>
    </header>
    <figure>
        <img src="{{imageUrl}}" alt="{{imgAlt}}">
    </figure>
    <app-paragraph [type]="'p-card'" [desc]="cardDes" [title]="cardDes"></app-paragraph>
    <footer class="clearfix margin-top-15 footer">

        <app-paragraph [type]="'p-mrp'" [desc]="'MRP Rs.'+price"></app-paragraph>
        
        <!-- common button -->
        <app-common-button [buttonSize]="'large'"  [customStyles]="customStyles" (onBtnClick)="btnClicked()" [type]="'btn-app'" [title]="buttonText" [isTransitionRequired]="true"></app-common-button>
    </footer>
</section>