.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.products {
  width: 80%;
  min-height: 700px;
}

@media only screen and (max-width: 1024px) {
}
/*Mobile*/
@media only screen and (max-width: 767px) {
  .products {
    width: 100%;
  }
}
