@import "../../../common_mixin.scss";

.footer {
    background-color: #d3d3d3;
    padding: 10px;
    bottom: 2px;
    margin-top: 20px;
    text-align: center;
    @include phone {
        position: static;
    }
    p {
        font-size: 14px;
        margin: 0;
        padding: 0;
        @include phone {
            font-size: 10px;
        }
    }
}
