<section class="login-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-12 mt-4">
                <h4 class="fw-bold">Signup</h4>
                <p>We do not share your personal details with everyone.</p>
            </div>
            <div class="col-lg-5 col-sm-5 col-xs-12">
                <form action="#" class="login-form">
                    <div class="form-group">
                        <input type="text" class="form-control" name="firstName" id="firstName" required>
                        <label for="firstName" class="animated-label">First Name</label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="lastName" id="lastName" required>
                        <label for="lastName" class="animated-label">Last Name</label>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email" required>
                        <label for="email" class="animated-label">Email</label>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" id="password" required>
                        <label for="password" class="animated-label">Password</label>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" required>
                        <label for="confirmPassword" class="animated-label">Confirm Password</label>
                    </div>
                    <button type="submit" class="btn btn-bazar">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</section>