// @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&display=swap');

body {
    font-family: 'Dosis';
}

.btn-cls {
    background-color: #e80a79;
    color: white;
    font-size: 14px;
    padding: 8px 10px;
    border: none;
    display: inline-block;
}

