
.product_category{
    display: flex;
    margin-bottom: 3px;
    box-shadow: 5px 5px 5px gray;
    padding:  1rem  1rem ;
    padding-botton:4.8rem;
    gap: 8rem;
    
}



.home_container{
    position: relative;
    top:95px;
}

.product_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    
}
.category_description{
    max-width: 300px;
}

.product__image_container{
    height: 200px;
    width: 200px;
}
@media screen and (max-width:638px) {
    .product_category{
        gap: 5px;
        
    }
    .product__image_container{
        height: 150px;
        width: 150px;
    }   
}