.left-menu {
  background-color: lightgray;
  height: 100%;
  padding: 1rem 0 1rem 0;
  .main-container {
    .items {
      padding-left: 1.5rem;
      border-bottom: 1px solid #c4c4c4;
      height: 3rem;
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      color: rgb(121, 117, 117);
      cursor: pointer;

      &:hover {
        background-color: #1f1e1d;
        color: #fff;
      }
    }
    .selected-item {
      background-color: #1f1e1d;
      font-weight: 600;
      color: #fff;
    }
  }
}

@media only screen and (max-width: 600px) {
  .left-menu {
    display: none;
  }
}
