<section class="mini-cart" onclick="common.openShoppingCart()">
    <div class="mini-cart-info"><img src="static/images/cart.svg" width="20" alt="cart"><span id="cart-item-quantity">0</span> Items</div>
</section>