<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Sabka Bazar shopping">
    <title>Sabka Bazaar</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Dosis:400,600,700" async />
    <link rel="stylesheet" type="text/css" href="static/css/main.css" async>
</head>
<body>
    <header class="header">
       HEADER
    </header>
</body>
</html>