<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Sabka Bazar shopping">
    <title>Sabka Bazaar</title>
    <link rel="shortcut icon" href="static/images/favicon.gif" type="image/gif" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Dosis:400,600,700" async />
    <link rel="stylesheet" type="text/css" href="static/css/main.css" async>
</head>
<body>
    <header class="header">
        <section class="container clearfix">
            <a href="/" aria-label="Sabka Bazar">
                <div class="header__logo">
                    <img class="header__logo--img" srcset="static/images/logo.png, static/images/logo_2x.png" alt="logo">
                </div>
            </a>
            <nav class="header__left-navbar">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/product-list">Products</a></li>
                </ul>
            </nav>
            <div class="header__right-navbar">
                <ul class="clearfix">
                    <li><a href="/registration">Register</a></li>
                    <li><a href="/login">Signin</a></li>
                </ul>
                <% include ../common/header-cart %>
            </div>
        </section>
    </header>
    <main>