<section class="cart" id="cart">
    <div class="cart__header">
        <div class="cart__header--title">
            <h2>My Cart  <span id="cart-item-quantity-count" >(0</span>Items)</h2> 
           
        </div>
        <div class="cart__header--close" onclick="common.closeShoppingCart(event)" >
            <img src="static/images/cancel.png" alt="close">
        </div>                   
    </div>
    <!-- start cart list container -->
    <div class="items"></div>
    <div class="cart-button"></div>
    <!-- start cart list container -->
</section>