<section class="shopping-cart" id="shopping-cart">
    <div class="shopping-cart-header">
        <div class="cart-title">
            <h2>My Cart</h2>
        </div>
        <div class="close-icon" onclick="common.closeShoppingCart(event)">
            <img src="static/images/cancel.png" alt="close">
        </div>                   
    </div>
    <!-- start cart list container -->
    <div class="shopping-cart-items" id="shopping-cart-items"></div>
    <div class="shopping-cart-button"></div>
    <!-- start cart list container -->
</section>