<!-- Page Header-->
        <header>
            <div class="header-area">
                <div class="header-center">
                    <div class="header-left">
                        <img src="/static/images/logo.png" alt="website logo" />
                    </div>
                    <div class="header-middle">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/product">Products</a></li>
                        </ul>
                    </div>
                    <div class="header-right">
                        <div class="signup-details">
                            <a href="/login">SingIn</a>
                            <a href="/register">Register</a>
                        </div>
                        <div class="cart-details" id="shopping-cart">
                            <a href="/cart">
                                <span class="cart-img"><img src="/static/images/cart.svg" alt="shopping cart image" /></span>
                                {{!-- <span class="number-of-items">0 items</span> --}}
                                <span class="cart-count">{{item_counter}}</span> <span class="cart-count">Items</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Page Header Ends-->