<!-- Page Header-->
        <header>
            <div class="header-area">
                <div class="header-center">
                    <div class="header-left">
                        <img src="/static/images/logo.png" alt="website logo" />
                    </div>
                    <div class="header-middle">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/product">Products</a></li>
                        </ul>
                    </div>
                    <div class="header-right">
                        <div class="signup-details">
                            <a href="#">SingIn</a>
                            <a href="#">Register</a>
                        </div>
                        <div class="cart-details" id="shopping-cart">
                            <span class="cart-img"><img src="/static/images/cart.svg" alt="shopping cart image" /></span>
                            <span class="number-of-items">0 items</span>
                        </div>
                        <!--Modal for cart-->
                        <div id="myModal" class="modal">

                            <!-- Modal content -->
                            <div class="modal-content">
                                <div class="modal-header">

                                    <p>My Cart</p>
                                    <span class="close">&times;</span>
                                </div>
                                <div class="modal-content-area">
                                    <h2>No items in your cart</h2>
                                    <p>Your favourite items are just a click away.</p>
                                </div>
                                <div class="modal-footer">
                                    <span class="start-shop-button">Start Shopping</span>
                                    <!-- <span class="checkout">Proceed to checkout</span> -->
                                </div>
                            </div>

                        </div>
                        <!--Modal for cart Ends-->
                    </div>
                </div>
            </div>
        </header>
        <!-- Page Header Ends-->