.side-nav {
    font-size: 1.4rem;
    list-style: none;

    // @media only screen and (max-width: $bp-medium) {
    //     display: flex;
    //     margin: 0;
    // }
    @include respond(phone){
        display: none;
    }

    &__item {
        position: relative;

        &{
            margin-bottom: .5rem;
            border-bottom: 1px solid $color-light-grey-2;
            // @media only screen and (max-width: $bp-medium) {
            //     margin: 0;
            // }
        }

        // @media only screen and (max-width: $bp-medium) {
        //     flex: 1;
        // }
    }

    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: $color-primary-light;
        transform: scaleY(0);
        transition: transform .2s,
                    width .4s cubic-bezier(1,0,0,1) .2s,
                    background-color .1s;
    }

    &__item:hover::before,
    &__item--active::before {
        transform: scaleY(1);
        width: 100%;
    }

    &__item:active::before {
        background-color: $color-primary;
    }

    &__link:link,
    &__link:visited {
        color: $color-grey-dark;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        position: relative;
        z-index: 10;

        display: flex;
        align-items: center;

        // @media only screen and (max-width: $bp-medium) {
        //     justify-content: center;
        //     padding: 2rem;
        // }

        // @media only screen and (max-width: $bp-small) {
        //     flex-direction: column;
        //     padding: 1.5rem .5rem;
        // }
    }

    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor;

        // @media only screen and (max-width: $bp-small) {
        //     margin-right: 0;
        //     margin-bottom: .7rem;
        //     width: 1.5rem;
        //     height: 1.5rem;
        // }
    }
}

