@import "../../styles/variables";

.floating-input {
  border-width: 0;
  color: rgba(27, 27, 27, 0.8);
  border-bottom: 3px solid rgba(#2c3e50, 0.2);
  background-color: transparent;
  position: relative;
  width: 60%;

  @media screen and (max-width: $breakpoint-tablet) {
    width: 80%;
  }

  &::placeholder {
    color: transparent;
  }

  & + .floating-label {
    position: relative;
    top: 0;
    left: 0;
    user-select: none;
    line-height: 1;
    height: 2rem;

    transition: transform 0.25s, opacity 0.25s ease-in-out;
    transform: translateY(-70%) scale(1);
    transform-origin: 0;
    opacity: 0.7;
  }

  &:focus,
  &:not(:placeholder-shown) {
    outline: 0;
    box-shadow: none;
    border-color: #22bbd6;

    & + .floating-label {
      transform: translateY(-130%) scale(0.8);
      opacity: 1;
      color: #00a2be;
    }

    &:valid {
      border-color: rgba(#00a2be, 0.8);
    }

    &:invalid {
      border-color: rgba(#ff4757, 0.8);
    }
  }
}

.form-error {
  color: red;
  height: 2rem;
  font-size: $text-font-size;
  margin-bottom: 0.4rem;
  margin-top: 0.2rem;
}
