$site_colors: (
    body-color-white: #ffffff,
    box-bg-color: #eeeeee,
    text-color: #000000,
    footer-bg-color: #eaeaea,
    bullet-bg-color: #ccc,
    bullet-bg-color-active :#aaa

);

$font_style: Dosis, sans-serif;