@import "../../sass/_mainStyle";

.main-nav {
    margin-bottom: 0px !important;
  
    & li {
      display: $display1;
      margin-left: 10px;
      margin-right: 10px;

      & a:link, a:visited {
        padding: 8px 0;
        text-decoration: $display;
        font-size: 90%;
        border-bottom: 2px solid transparent;
        -webkit-transition: border-bottom 0.2s;
        transition: border-bottom 0.2s;
      }
  
      & a:hover, a:active {
        border-bottom: 2px solid $theme-color;
      }
    }
  }
  a {
    color: $color-black !important;
  }
  
  .nav1 {
    margin-top: 20px;
  }
  .header-right {
    margin-left: $margin;
  }
  
  .cart-icon {
    padding: 2px 20px 7px 20px;
    float: right;
    @include backgroundClr($color-gray);
    margin-top: 5px;
    border: none;
    cursor: pointer;
  }
  
  .cart-fa {
    padding: 10px;
    color: $theme-color;
  }
  
  .logo, .mobile-logo {
    @include htwd(60px, 100px);
  }

  @media only screen and (max-width: 600px) {
    .cart-icon {
      margin: 0px;
      float: right;
      padding: 12px 20px;
    }
    .main-nav {
      display: $display;
    }
  }