@import '../../styles/global';

header {
  @extend parentElement;
  background-color: $white-color;
}

header {
  .bg-light {
    background-color: $white-color !important;
    @extend headerBoxShadow;
  }
}

.logo-wrap {
  img {
    width: 50%;
  }
}

.navbar-toggler {
  position: absolute;
  top: 10px;
  width: 60%;
  margin: 0 20%;
}

.navbar-text .navbar-nav,
.navbar-nav {
  list-style: none;
  margin: 0 30%;
  li {
    width: 50%;
    border-top: 1px solid $dark-grey-color;
    a {
      color: $black-color;
      font-size: 12px;
      line-height: 16px;
      font-weight: 600;
      text-decoration: none;
    }
    &:hover {
      background: $grey-color;
    }
  }
}

.navbar-text {
  display: block;
  padding: 0;
}

.cart-header-wrap {
  background: $dark-grey-color;
  cursor: pointer;
  position: absolute;
  right: -18px;
  top: -8px;
  padding: 15px 30px 15px 10px;
  display: flex;
  align-items: center;
  svg {
    width: 30px;
    height: 30px;
    color: $pink-color;
    margin-right: 10px;
  }
  span {
    font-size: 16px;
    font-weight: 700;
  }
}

@media only screen and (min-width: $desktop-min-width) {
  .logo-wrap {
    img {
      width: 100%;
    }
  }
}

@media only screen and (min-width: $tab-max-width) {
  .logo-wrap {
    img {
      width: 75%;
    }
  }
  .navbar-text .navbar-nav,
  .navbar-nav {
    margin: 0 10%;
    li {
      width: 50px;
      border-top: none;
      margin-bottom: -25%;
      a {
        color: #666666;
        font-size: 14px;
        font-weight: 700;
      }
      &:hover {
        background: $white-color;
      }
    }
  }

  .navbar-text {
    margin-right: -4%;
    .navbar-nav {
      display: flex;
      li {
        width: 60px;
        margin-bottom: 60px;
        a {
          color: $black-color;
          font-weight: 900;
        }
      }
    }
  }

  .cart-header-wrap {
    top: 32px;
    padding: 16px 30px 16px 10px;
  }
}
