<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="header.css">
</head>
<body>
    <header>
        <div class="header-wrapper clearfix row">
            <section class="col span-1-of-12"></section>
            <section class="logo col span-2-of-12 text-right">
                <img class="header-img" src="../../../static/images/logo.png" alt="App logo">
            </section>
            <section class="main-navigation col span-6-of-12">
                <nav class="navbar">
                    <a class="font-14" href="#">Home</a>
                    <a class="font-14 margin-left-15" href="#">Products</a>
                </nav>
            </section>
            <section class="cart-container col span-2-of-12">
                <section class="card-and-signup">
                    <section class="sigin-register">
                            <nav>
                                <a class="font-12" href="#">Signin</a>
                                <a class="font-12" href="#">Register</a>
                            </nav>
                    </section>
                    <section class="cart clearfix margin-top-10">
                        <img class="pull-left" height="30px" width="30px" class="cart-img" src="../../../static/images/cart.svg" alt="Cart image">
                        <div class="pull-left cart-items margin-top-5">0 items</div>
                    </section>
                </section>
            </section>
            <section class="col span-1-of-12"></section>
        </div>
    </header>
</body>
</html>