.header {
  display: flex;
  align-items: center;
  min-height: 50px;
  -webkit-box-shadow: 0px 0px 0px 0 #00000005, 0px 0px 12px 0 #0000001f;
  -moz-box-shadow: 0px 0px 0px 0 #00000005, 0px 0px 12px 0 #0000001f;
  box-shadow: 0px 0px 0px 0 #00000005, 0px 0px 12px 0 #0000001f;

  & .container-fluid {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  & .logo_container {
    & .logo_avatar {
      height: 55px;
      width: auto;
      margin: 5px 0px;
    }
  }

  & .nav_container {
    display: flex;
    flex-direction: column;
    & .nav_primary {
      display: flex;
      justify-content: space-evenly;
      font-size: 14px;
      padding: 0;
      margin: 0;
      min-height: 25px;
      & a {
        text-decoration: none;
        color: #000;

        &:hover {
          color: #d10157;
        }

        &:visited {
          color: #000;
        }
      }
    }
    & .nav_secondary {
      min-height: 40px;
      display: flex;
      align-items: center;
      background-color: #00000012;
      padding: 5px 15px 5px 10px;
      & a {
        text-decoration: none;

        &:hover {
          color: #d10157;
        }

        &:visited {
          color: #000;
        }

        & .cart_logo_container {
          display: flex;
          align-items: center;
          & .cart_logo {
            height: 25px;
            width: 25px;
            margin-right: 10px;
          }
          & span {
            font-size: 22px;
          }
        }
      }
    }
  }
}
