@import '../../Colors.scss';

header {
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.14);
  position: sticky;
  top: 0;
  background: #ffffff;
  z-index: 10;
  .navigation {
    width: 75vw;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    .logo-img {
      margin-top: 15px;
      width: 140px;
      cursor: pointer;
    }
    > nav {
      margin-top: 20px;
      width: 100%;
    }
    .cart-login-container {
      position: relative;
    }
  }
  nav {
    display: inline-block;
    .list-h {
      padding: 0px;
    }
    .navLink {
      text-decoration: none;
      font-size: small;
      color: #000;
      padding-right: 7px;
    }
    .active {
      color: $primary_color;
      font-weight: 500;
    }
  }
}
.btn-cart {
  border: none;
  background: $primary_bg_color;
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px;
  cursor: pointer;
  .icon {
    width: 21px;
    margin: auto;
  }
  .text {
    font-size: small;
  }
}
.cart-login-container {
  nav {
    width: 100%;
  }
}
