<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sabka Bazar - The Grocery Store</title>
    <script src='../scripts/header.js'></script>
    <script src='../scripts/carousal.js'></script>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <style>
        body{
            margin : 0;
            padding : 0;
        }
    </style>
</head>
<body>
    <custom-header></custom-header>
    <custom-carousal></custom-carousal>
</body>
</html>