<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery Products - Sabka Bazar</title>
    <script defer src='https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js'></script>
    <link rel="stylesheet" href="../../dist/styles/products.css"/>
    <link rel="stylesheet" href="../../dist/styles/header.css"/>
    <link rel="stylesheet" href="../../dist/styles/modal.css"/>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <script defer src="../scripts/webComponents.js" type="module"></script>
    <script defer src="../scripts/productsView.js" type="module"></script>
</head>
<body>
    <custom-header></custom-header>
    <main class="home-container">
        <section class="navigation-bar">
            <nav class="nav-links-container">
                <ul class="nav-list"></ul>
            </nav>
        </section>
        <section class="products-container">
        </section>
    </main>
</body>
</html>