<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sabka Bazar - List of all the Grocery products from a wide range of categories like fruits and vegetables, baby care products, beauty and personal care products, bakery, cakes, dairy and much more. Shop Now!">
    <title>Grocery Products - Sabka Bazar</title>
    <link rel="stylesheet" href="../../dist/styles/products.css"/>
    <link rel="stylesheet" href="../../dist/styles/header.css"/>
    <link rel="stylesheet" href="../../dist/styles/modal.css"/>
    <link rel="stylesheet" href="../../dist/styles/footer.css"/>
    <script defer src="../../dist/products.js" type="module"></script>
    <script defer src="../../dist/common.js" type="module"></script>
    <script defer src='https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js'></script>
</head>
<body>
    <custom-header></custom-header>
    <main class="home-container">
        <section class="navigation-bar">
            <nav class="nav-links-container">
                <ul class="nav-list"></ul>
            </nav>
        </section>
        <section class="products-container">
        </section>
    </main>
    <custom-footer></custom-footer>
</body>
</html>