<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sabka Bazar - Register to shop from a wide range of Grocery products">
    <title>Register - Sabka Bazar</title>
    <link rel="stylesheet" href="../../dist/styles/login_register.css"/>
    <link rel="stylesheet" href="../../dist/styles/header.css"/>
    <link rel="stylesheet" href="../../dist/styles/modal.css"/>
    <link rel="stylesheet" href="../../dist/styles/footer.css"/>
    <script defer src="../../dist/loginRegister.js" type="module"></script>
    <script defer src="../../dist/common.js" type="module"></script>
    <script defer src='https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js'></script>
</head>
<body>
    <custom-header></custom-header>
    <custom-login-register register="true"></custom-login-register>
    <custom-footer></custom-footer>
</body>
</html>