// font family stack
@import url('https://fonts.googleapis.com/css?family=Dosis:400,600,700');
$font-family-dosis:'Dosis', sans-serif;

//primary color variables
$black:#000;
$white:#fff;
$secondaryCTA:#1f53a3;
$listColor:#909090;
$primaryCTA:linear-gradient(to right, #229fe8, #5256d0);
$tertiaryCTA:#e83583;
$success:#36b10a;
$fail:#ec243d;
$alert:#ffa200;

//font-text colors
$textColor1:#444444;
$textColor2:#989898;
$textColor3:#ababab;//placeholder is 0.5 of this color
$placeholder:rgba(152, 152, 152, .5);
