@import 'colors';

nav{
  font-family:$font-family-dosis;
  padding:0px 10px;
  margin-top:10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1411764705882353);
  .navigation{
    display: flex;
    justify-content: space-between;
    max-width:75vw;
    margin: 0 auto;
    .logo {
      &-container{
        width:120px;
      }
      &-img {
        width:100%;
      }
    }
    .navlinks-container{
      margin-top:15px;
      flex:1;
      .links{
        list-style: none;
        margin:0px;
        padding:0px;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
        text-align: left;
        li{
          display: inline-block;
          padding: 0px 15px;
        }
      }
    }
    .cart-login-container{
      width: 15vw;
      position: relative;
      .login-container{
        text-align: right;
        margin:0px 0px 5px 0px;
        .link{
          display: inline-block;
          margin : 0px 10px;
          font-size: 12px;
          cursor: pointer;
        }
      }
    }
  }
}
