@import 'colors';
.product{
  font-family: $font-family-dosis;
  &-cards{
    width: 21%;
    margin: 4px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.121569);
    border-radius: 2px;
  }
  &-name{
    font-size: 0.85rem;
    font-weight: 800;
    margin: 5px 0;
    height: 30px;
  }
  &-price{
    margin:10px 0px;
  }
  &-desc{
    background: rgba(152, 152, 152, 0.14901960784313725);
    font-size: 10px;
    padding: 7px;
    font-weight: 600;
    letter-spacing: 0.2px;
    height: 56px;
    overflow: hidden;
    line-height: 1.5;
  }
  &-img{
    width: 100%;
  }
  &-cta-container{
    display: flex;
    justify-content: space-between;
  }
}
