.carousel-container {
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2) !important;
    -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2) !important;
    -moz-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2) !important;
}