nav {
  box-shadow: 0 12.5px 10px rgba(0, 0, 0, 0.03),
    0 100px 80px rgba(0, 0, 0, 0.06);

  min-height: 60px;
  // width: 100vw;
 // margin: 12px auto 5px auto;

  //background: white;
  border-radius: 5px;
}

.logo {
  height: 50px;
  width: 100px;
  float: left;
}

.left-nav li,
.right-nav li {
  display: inline-block;
  margin: 30px 0 0 20px;
}

.left-nav {
  float: left;
  list-style: none;
}

.right-nav {
  float: right;
}
