nav {
  box-shadow: 0 12.5px 10px rgba(0, 0, 0, 0.03),
    0 100px 80px rgba(0, 0, 0, 0.06);

  min-height: 60px;
  border-radius: 5px;
}

.logo {
  height: 50px;
  width: 100px;
  float: left;
  margin: 0;
}

.left-nav li {
  display: inline-block;
  margin: 20px 0 0 0;
}

.left-nav {
  float: left;
  list-style: none;
}

.right-nav li {
  list-style: none;
  float: right;

  margin: 20px 0 0 0;
  a {
    margin: 10px;
  }
}

.cart-nav li {
  list-style: none;
  float: right;
  margin: 15px 0 0 0;
  a {
    margin: 10px;
  }
  img {
    height: 28px;
    float: right;
  }
}
