.sidebar {
  width: 20%;
  background-color: #eaeaea;
}

.sidebar ul {
  padding: 0;
  margin: 0;
}

.sidebar li {
  list-style: none;
}

.sidebar li:hover {
  color: rgb(21, 21, 21);
  font-size: 400;
}

.sidebar li div {
  cursor: pointer;
  border-bottom: 1px solid #9e9898;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
}

.sidebar .active {
  font-weight: 800;
}

.sidebar-mobile {
  display: none;
}

/* Extra small devices (phones, 320px to 480px) */
@media only screen and (min-width : 320px) and (max-width: 480px) {
  .sidebar {
    width: 0;
    display: none;
    flex-wrap: wrap;
  }

  .sidebar-mobile {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #B03758;
  }

  .sidebar-open {
    font-weight: 700;
    padding-right: 10px;
  }

  .sidebar-mobile-container {
    color: #fff;
    font-size: 21px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
  }

  .sidebar-mobile-content {
    background-color: #eaeaea;
  }

  .sidbar-hide {
    display: none;
  }

  .sidebar-mobile-content ul {
    padding: 0;
    margin: 0;
  }

  .sidebar-mobile-content li {
    list-style: none;
  }

  .sidebar-mobile-content li:hover {
    color: rgb(21, 21, 21);
    font-size: 400;
  }

  .sidebar-mobile-content li div {
    cursor: pointer;
    border-bottom: 1px solid #9e9898;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  .sidebar-selected-text {
    padding-left: 10px;
  }

  .sidebar-mobile-content .active {
    font-weight: 800;
  }

}
