$white-color: #fff;
$body-background: #ffffff0d;
$body-color: #555;
$black-color: #060606;
$grey-color: #eeeeee;
$light-grey-color: #d8d7d79e;
$explore-color: #bf2957;
$title-color: #010101;
$para-color: #343434;
$font-color: #6f5d5b;
$input-focus-color: #46c1cc;
$border-bottom-color: #0000006b;
