$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts" !default;

$font-family: 'Dosis', 'Arial', sans-serif;
$font-weight: 400;
$font-size: 1.25rem;

$default-width: 73%;

$icon-cart: "\e900";
$icon-plus: "\ea0a";
$icon-minus: "\ea0b";
$icon-cross: "\ea0f";

