.btn {
    height: 47px;
    padding: 0 15px;
    line-height: 47px;
    border-color: transparent;
    border-radius: 2px;
}

.btn.goto-checkout .title {
    float: left;
}
.btn.goto-checkout .price {
    float: right;
}