.content-section {
    display: flex;
    justify-content: space-between;
    position: relative;
    &__preview {
        width: 30%;
        &--image {
            width: 100%;
            margin: 0;
            overflow: hidden;
        }
    }
    &__details {
        display: flex;
        width: 70%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 35px;
        h1 {
            font-size: 100%;
            color: $black-color;
            font-weight: 700;
        }
        p {
            font-size: 75%;
            font-weight: 600;
            text-align: center;
        }
    }
    &:nth-of-type(2n) {
        flex-direction: row-reverse;
    }
}

hr {
    margin: 0 auto;
    border: 0;
    height: 5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.09), rgba(0, 0, 0, 0));
    &:last-of-type {
        height: 0px;
    }
}

