
.product__box {
	flex: 0 1 30%;
	img {
		width: $width;
	}
}
.product__content {
	text-align: center;
	flex: 1;
	p {
		line-height: 60px;
		font-size: 16px;
	}
	button {
		background-color: $color-primary;
		border: none;
		color: $color-secondary;
		padding: 12px 20px;
		font-size: 16px;
		margin: 4px 2px;
		cursor: $cursor;
		span {
			cursor: $cursor;
			display: inline-block;
			position: relative;
			transition: 0.5s;
			&:after {
				content: '\00bb';
				position: absolute;
				opacity: 0;
				top: 0;
				right: -20px;
				transition: 0.5s;
			}
		}
		&:hover {
			span {
				padding-right: 20px;
				&:after {
					opacity: 1;
					right: 0;
				}
			}
		}
	}
}
.product__list {
	ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		li {
			align-self: flex-end;
			padding: 12px 10px;
			border-bottom: $border-bottom;
			width: 95%;
			text-align: center;
			a {
				text-decoration: none;
				color: $color-tertairy;
			}
		}
	}
	flex: 0 0 30%;
	background-color: #e2d8d8;
	ul#menu {
		input {
			display: none;
		}
		label {
			display: none;
		}
	}
}
.product__list__section {
	padding: 0px;
}
.product__list__container {
	display: flex;
	@include max-width;
}
.product__item__col {
	flex: 25%;
	max-width: 25%;
}
.pl__list {
	border-bottom: $border-bottom;
}
.product__list__item {
	padding: 16px;
	flex: 0 0 25%;
	flex-direction: column;
	@include display-flex;
	p {
		padding: 12px;
		background: #e2d8d8;
		font-size: 12px;
		line-height: 16px;
		border-radius: 2px;
		min-height: 105px;
	}
	figure {
		img {
			width: $width;
			display: block;
			padding: 8px 0px;
		}
	}
	h5 {
		min-height: 45px;
	}
}
.product__item__container {
	display: flex;
	flex-wrap: wrap;
}