<div class="parent-overlay">
 <div class="bg-overlay"></div>

 <div class="overlay">
	 <div class="cart-header">
	 	{{>organisms/o-header}}
	 </div>
 	<div class="header padding15 marginTop15">My Cart(1 item)
 	<span class="close" onclick="closeCart()">x</span></div>
 	<div class="cart-box marginTop25">
 	</div>
 	<div class="row low-price">
 	<div class="low-price-row"><img src="/static/images/lowest-price.png"/><span class="anywhere">You won't find it cheaper anywhere</span></div>
 	</div>
 	<div class="footer">
 		 <p class="promo">Promo code can be applied on
            payment page</p>
            <button class="checkout-btn"><span class="checkout">Proceed to Checkout </span>
            <span id="totalprice" class="total"></span></button>
 	</div>
  </div>
 </div>

