<div class="parent-overlay">
 <div class="bg-overlay"></div>
 <div class="cart" id="overlay">
	 <div class="header">
	 	{{>organisms/o-header}}
	 </div>
 	<div class="cart__header">
	 	<span class="cart-head-count">My Cart(0 item)</span>
	 	<button class="close" id="close" onclick="closeCart()">x</button>
	</div>
 	<div class="cart__box">
	 	<div class="item__wrapper">
	 	</div>
	 	<div class="row cart__offer">
	 		<div class="offer__img"><img src="/static/images/lowest-price.png"/><span>You won't find it cheaper anywhere</span></div>
	 	</div>
 	</div>
 	<div class="cart__footer">
 		 <p class="promo">Promo code can be applied on
            payment page</p>
            <button class="checkout-btn checkout" id="checkout" onclick="closeCart()">
            	<span class="checkout" >Proceed to Checkout </span>
            	<span id="totalprice" class="total"></span></button>
            <button class="checkout-btn shopping" id="shopping" onclick="closeCart()" autofocus>Start shopping</button>
    </div>
 	</div>
 </div>

