<div class="carousal row">
		{{#each banners as |value key|}}
			<div class="carousal__img carousal__img--fade">
			 {{> atoms/a-img imageUrl=value.bannerImageUrl }}
			</div>
		{{/each}}
		<div class="carousal__nav">
			{{#each banners  as |value key|}}
				  <a class="dot cursor-link" onclick="carousel.currentSlide({{@index}});return false;" href=""></a> 
			{{/each}}
		</div>
	<a class="btn btn__prev cursor-link" onclick="carousel.plusSlides(-1);return false;" href="">Prev</a>
	<a class="btn btn__next cursor-link" onclick="carousel.plusSlides(1);return false;"  href="">Next</a>
</div>
