@import "../../../src/sass/variables";
@import "../../../src/sass/common";

header {
	border-bottom: solid 1px $bgColor;
	box-shadow: 1px 1px $shadowColor !important;
	position: relative;
	.nav-bar{
		position: relative;

	}

	.logo {
		height:auto;
		width:100%;
		float: left;
		margin: 10px 0px;
		@media screen and (min-width: $tab) {
			padding: 0% 2%;
			height: 70px;
			width: auto;
		}

	}

	@mixin nav-text {
		list-style-type: none;
		li {
			display: inline-block;
			margin-left: 10px;
			a {
				color:$navColor;
				text-decoration: none;
				font-weight: 600;
			}
		}
	}
	.main-nav {
		float: right;
		word-spacing: -2px;
		font-size:.45rem;
		@media screen and (min-width: $tab) {
			font-size:.6rem;
		}
		@include nav-text;
	}
	.home-nav {
		float: left;
		font-size:70%;
		margin-top:50px;
		margin-left:10%;
		@include nav-text;
	}
	.cart-header-box{
		background: $bgColor;
		position: absolute;
		right: 0;
		bottom: 0;
		
		padding: 1%;
		.cart {
			height: 35px;
			width: auto;

		}
		span {
				font-size: 70%;
				
			}
	}
}