@import "../../../src/sass/variables";
@import "../../../src/sass/common";
header {
	border-bottom: solid 1px color('primary');
	box-shadow: 1px color('shadow') !important;
	position: relative;
	.nav{
		position: relative;
		&__logo {
			@extend .float-left;
			@include padding(0 0 0 5);
			@include margin(10 0);
			height:auto;
			width:100%;
			cursor: pointer;
			@media screen and (min-width: $tab) {
				@include padding(0);
				height: 70px;
				width: auto;
			}
		}
		&__list {
			li {
				@include margin(0 0 0 10);
				display: inline-block;
				a{
					color:  color('nav');
					font-weight: 600;
				}
			}
		}

		&__list--home {
			@include margin(50 0 0 0);
			@include fontstyle(.70);
			@extend .float-left;
			display: none;
			margin-left:10%;
			@media screen and (min-width:$tab) {
	       		display: block;
	      	}
		}
		&__list--main{
			@include padding(5 0 0 0);
			@include fontstyle(.45);
			@extend .float-right;
			word-spacing: -2px;
			display: none;
			@media screen and (min-width: $tab) {
				@include fontstyle(.6);
				display: block;
			}
		}
		.cart-header-box{
		   	@include padding(5);
			background:  color('primary');
			position: absolute;
		    bottom: 0;
		    right: 25px;
	       	@media screen and (min-width:$tab) {
	       		@include padding(10);
	       		 right: 0px;
	      	}
			
			.cart-link{
				.cart-img {
					height: 35px;
					width: auto;
				}
				span {
					@include fontstyle(.7 600);
					color:  color('nav');
				}
			}
		
		}
		&__menu {
	    	@include padding(5);
		    @include fontstyle(1);
			position: absolute;
	    	bottom: 0;
	    	right: 0;
	    	width:25px;
	    	border: none;
		    background: color('white');
		    img{
		    	width:25px;
		    }
		    @media screen and (min-width:$tab) {
	       		display: none;
	      	}
		}
	}
	.nav__list-mob{
		background: color('primary');
		display: none;
	    li {
	    	@include padding(5 5 5 10);
	    	 border-bottom: solid 1px color('white');
	    	a{
	    		color:color('secondary');
	    	}
	    }
	}
}
