<header>
		<nav class="nav">
			<div>
			{{> atoms/a-img class="nav__logo float-left" imageUrl="/static/images/logo.png" alt="Sab ka Bazar" onclick="movetoHome('/')"}}</div>
			<div class="nav__menu">
			<div class="menu_blank"></div>
				<div class="menu__item menu__item--main">
					{{> atoms/a-link hypertext="Sign In" class="login" href="/login"}}
					{{> atoms/a-link hypertext="Register" href="/register"}}
				</div>
				<div  class="menu__item menu__item--home">
					{{> atoms/a-link hypertext="Home" href="/"}}
					{{> atoms/a-link hypertext="Products" class="products" href="/products"}}
				</div>
				<div class="cart__count">
						<a href="" onclick="showCart();return false;" class="float-left">
							{{> atoms/a-img imageUrl="/static/images/cart.svg" alt="Logo" class="cart-img"}}
							<span class="cartNumber float-right">{{cartItems}} items</span>
						</a>
				</div>
				<a class="nav__menu--mob" onclick="toggleMenu()">
							<i class="fa fa-bars" aria-hidden="true"></i>
				</a>
			</div>
		</nav>
		
		<ul class="row nav__list-mob">
			<li>{{> atoms/a-link hypertext="Home" href="/"}}</li>
			<li>{{> atoms/a-link hypertext="Products" href="/products"}}</li>
			<li>{{> atoms/a-link hypertext="Sign In" href="/login"}}</li>
			<li>{{> atoms/a-link hypertext="Register" href="/register"}}</li>
		</ul>
</header>
