<header>
		<nav>
			<div class="row nav-bar">
				<div class="col span-1-of-4">
				{{> atoms/a-img class="logo" imageUrl="/static/images/logo.png" alt="Sab ka Bazar"}}
				</div>
				<div class="col span-2-of-4">
					<ul class="home-nav">
						<li>{{> atoms/a-link hypertext="Home" href="/"}}</li>
						<li>{{> atoms/a-link hypertext="Products" href="/products"}}</li>
					</ul>
				</div>

				<div class="col span-1-of-4">
				<div>
					<ul class="main-nav">
						<li>{{> atoms/a-link hypertext="Sign In" href="/login"}}</li>
						<li>{{> atoms/a-link hypertext="Register" href="/register"}}</li>
					</ul>
				</div>
				<div class="cart-header-box"  onclick="showCart()">
				<button>
					<img src="/static/images/cart.svg" alt="Logo" class="cartNumber">
					<span class="cartNumber">{{cartItems}} items</span>
				</button>
				</div>
			    </div>

			 </div>   
			<div class="clear-all"></div>
		</nav>
</header>