<header>
		<nav class="row nav">
				<div class="col span-1-of-4">
				{{> atoms/a-img class="nav__logo" imageUrl="/static/images/logo.png" alt="Sab ka Bazar" onclick="movetoHome('/')"}}
				</div>
				<div class="col span-2-of-4">
					<ul class="nav__list nav__list--home">
						<li>{{> atoms/a-link hypertext="Home" href="/"}}</li>
						<li>{{> atoms/a-link hypertext="Products" href="/products"}}</li>
					</ul>
				</div>

				<div class="col span-1-of-4">
					<div>
						<ul class="nav__list nav__list--main">
							<li>{{> atoms/a-link hypertext="Sign In" href="/login"}}</li>
							<li>{{> atoms/a-link hypertext="Register" href="/register"}}</li>
						</ul>
					</div>
					<div class="cart-header-box">
						<a href="" onclick="showCart();return false;" class="cart-link">
							{{> atoms/a-img imageUrl="/static/images/cart.svg" alt="Logo" class="cart-img"}}
							<span class="cartNumber">{{cartItems}} items</span>
						</a>
					</div>
					<button class="nav__menu" onclick="toggleMenu()">
						<i class="fa fa-bars" aria-hidden="true"></i>
					</button>
			    </div>
		</nav>
		<div class="clear-all"></div>
		<ul class="row nav__list-mob">
			<li>{{> atoms/a-link hypertext="Home" href="/"}}</li>
			<li>{{> atoms/a-link hypertext="Products" href="/products"}}</li>
			<li>{{> atoms/a-link hypertext="Sign In" href="/login"}}</li>
			<li>{{> atoms/a-link hypertext="Register" href="/register"}}</li>
		</ul>
</header>
