<section class="container">
    <section class="row">
        <aside class="col-md-2 col-sm-2">
            <ng-container *ngFor="let category of productCategoriesList; let i=index">
                <div (click)="filterSelectedCategoryList(category.id, i)" class="side-bar"
                    [ngClass]="{'highlightCategory': selectedCatagoryIndex === i}">
                    <a>{{category.name}}</a>
                </div>
            </ng-container>
        </aside>

        <section class="col-md-10 col-sm-10">
            <app-product [products]="products" [filteredProducts]="filteredProducts"></app-product>
        </section>
    </section>
</section>