<main class="list-container">
    <div class="min-category">
        <button id="dropdown-btn" class="dropbtn cursor-pointer" (click)="onCategorySelect()">
            <p class="pull-left">{{selectedCategory}}</p>
            <p class="pull-right"><i class="arrow-down"></i></p>
        </button>
        <ul class="dropdown-content" id="js-dropdown-content">
            <li [ngClass]="{'active':(category.name==selectedCategory)}" class="cursor-pointer" (click)="getFilteredProducts(category)" *ngFor="let category of categoryList">{{category.name}}</li>
        </ul>

    </div>
    <div class="row">
        <div class="col span-2-of-12 tabs">
            <nav aria-label="Side tabs for Category" aria-labelledby="mainmenulabel">
                <ul class="categories margin-right-10">
                    <li class="category-item" [ngClass]="{'active':(selectedCategoryId==category.id)}"  (click)="getFilteredProducts(category)" *ngFor="let category of categoryList">
                        {{category.name}}
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col span-10-of-12 list-body">
            <p class="no-data-exception margin-top-20" *ngIf="!productList?.length && !productLoading">No Products found for <em>{{selectedCategory}}</em></p>
            <p class="loading margin-top-20" *ngIf="productLoading">Loading ...</p>
            <div class="padding-5 col span-3-of-12 margin-left-0" *ngFor="let product of productList">
                <section class="list-item">
                    <header>
                        <h4 class="font-20">{{product.name}}</h4>
                    </header>
                    <figure>
                        <img src="{{product.imageURL}}" alt="Product image">
                    </figure>
                    <p class="fig-caption margin-top-15" title="{{product.description}}">{{product.description}}</p>
                    <footer class="clearfix margin-top-15 footer">
                        <p class="mrp">MRP Rs.{{product.price}}</p>
                        <button class="buy-now pull-right">Buy Now<span class="mini-mrp">@Rs{{product.price}}</span></button>
                    </footer>
                </section>
            </div>
        </div>
    </div>
</main>
