.desciption {
  text-align: right;
}

img {
  width: 70% !important;
}

h1 {
  text-align: center;
}

h2 {
  padding-bottom: 25px;
}

.btn-danger {
  width: 50%;
}

.inner-container {
  border-bottom: 5px solid rgb(233, 221, 221);
  border-radius: 10%;
  margin: 0 15%;
}
