@import "../../../styles/variables";

@mixin carousel-button {
  display: none;

  @media screen and (min-width: $mobile-breakpoint) {
    display: block;
    position: absolute;
    top: 50%;
    text-transform: uppercase;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.4);
    color: $button-text-color;
    border: 0;
    font-size: $small-font-size;
    padding: 0.4rem;
    cursor: pointer;
    transform: translateY(-50%);

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}

.carousel {
  margin-top: 1rem;
  position: relative;
  box-shadow: 0px 30px 20px -30px rgba(161, 159, 159, 1);

  &__container {
    display: flex;
    align-items: center;
    height: 8rem;
    position: relative;

    @media screen and (min-width: $mobile-breakpoint) {
      height: 12rem;
    }

    @media screen and (min-width: $tablet-breakpoint) {
      height: 16rem;
    }

    &__slide {
      opacity: 0;
      transition: 1s ease;
      transform: scale(0.98);

      &__image {
        object-fit: fill;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
      }
    }
  }

  &__left-button {
    @include carousel-button();
    left: 0%;
  }

  &__right-button {
    @include carousel-button();
    right: 0%;
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transform: translateY(-200%);

    &__dots {
      border: 0;
      border-radius: 50%;
      width: 0.3rem;
      height: 0.3rem;
      background-color: #9e9d9d;
      margin: 0 0.5rem;
      padding: 0;

      @media screen and (min-width: $mobile-breakpoint) {
        margin: 0 1rem;
        width: 0.4rem;
        height: 0.4rem;
      }

      &:hover {
        transform: scale(1.2);
        transition: 0.2s ease;
      }
    }
  }
}

.active {
  opacity: 1;
  transition: 1s;
  transform: scale(1);
}

.dots-active {
  background-color: #5c5c5c;
  transform: scale(1.1);
}
