@import "./variable";

.slides-screen {
  display: none;
}

img {
  vertical-align: middle;
}

.slideshow-container {
  position: relative;
}

.dots {
  text-align: center;
}

.slides-screen {
  display: none;
  transition: opacity 1s ease-in-out;
  img {
    width: 100%;
    vertical-align: middle;
    object-fit: contain;
  }
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 0.8rem;
  margin-top: -2.2rem;
  color: $bgcolor;
  text-transform: uppercase;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.4);

  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.next {
  right: 0;
}
.prev {
  left: 0;
}

.dot {
  height: 0.6rem;
  width: 0.6rem;
  margin: 0 0.2rem;
  background-color: $secondarycolor;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: $hedernav;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}


