<div class="banner">
  <div id="carousel" class="carousel carousel-container">
    <div class="slides">
      <div  class='item slide' data-state="active">
        <img src='static/images/offers/offer1.jpg' alt='1' />
      </div>
      <div  class='item slide'>
        <img src='static/images/offers/offer2.jpg' alt='2' />
      </div>
      <div  class='item slide'>
        <img src='static/images/offers/offer3.jpg' alt='3' />
      </div>
      <div  class='item slide'>
        <img src='static/images/offers/offer4.jpg' alt='4' />
      </div>
      <div  class='item slide'>
        <img src='static/images/offers/offer5.jpg' alt='5' />
      </div>
    </div>
    <div class="indicators">
      <input class="indicator"  ="indicator" data-slide="1" data-state="active" checked type="radio" />
      <input class="indicator"  ="indicator" data-slide="2" type="radio" />
      <input class="indicator"  ="indicator" data-slide="3" type="radio" />
      <input class="indicator"  ="indicator" data-slide="4" type="radio" />
      <input class="indicator"  ="indicator" data-slide="5" type="radio" />
      
    </div>
  </div>
</div>
