<div class="wrapper">
  <!--Login Section-->
  <div class="cart-section">
    <div class="cart_header">
      <h3>My Cart</h3>
      <span>(1 item)</span>
    </div>
    <div class="cart_contents">
      <table class="cart_contents-table">
        <tr class="cart_contents-row">
          <td>
            <div class="cart_content-img-container">
              <div>image</div>
            </div>
          </td>
          <td>
            <div class="cart_content-descp">
              Item Name
            </div>
            <div>
              <button class="cart-btn cart-btn-decrement">-</button>
              <span>1</span>
              <button class="cart-btn cart-btn-increment">+</button>
              <span >asdasdasd</span>
            </div>
          </td>
          <td>
            <div class="cart_content-price">
              <span>price</span>
            </div>
          </td>
        </tr>
        <tr class="cart_contents-row">
          <td>
            <div class="cart_content-img-container">

            </div>
          </td>
          <td>
            <div class="cart_content-desc">
              Item Name
            </div>
            <div>
              <button class="cart-btn cart-btn-decrement">-</button>
              <span>1</span>
              <button class="cart-btn cart-btn-increment">+</button>
              <span >asdasdasd</span>
            </div>
          </td>
          <td>
            <div class="cart_content-price">
              <span>price</span>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="cart_coupon-panel">
      <div>coupon Image</div>
      <div>Coupon Description</div>
    </div>
  </div>
</div>
