<!-- header starts -->
<header>
  <nav>
    <div class='navigation'>
      <div class='logo-container'>
        <img class='logo-img' src='static/images/logo.png' alt='logo image' />
      </div>
      <div class='navlinks-container'>
        <ul class='links'>
          <li>
            Home
          </li>
          <li>
            Products
          </li>
        </ul>
      </div>
      <div class='cart-login-container'>
        <div class='login-container'>
          <p class='link-block'>
            <span class='link'>
              Signup
            </span>
            <span class='login'>
              Login
            </span>
          </p>
        </div>
        <div class ='cart'>
          <img src='static/images/cart.svg' alt='cart image' class ='cart-img' />
          <p class ='cart-text'>0 Items</p>
        </div>
      </div>
    </div>
  </nav>
</header>
<!-- headers ends -->
