<!-- header starts -->
<header>
  <nav>
    <div class='navigation'>
      <div class='logo-container'>
        <img class='logo-img' src='static/images/logo.png' alt='logo image' />
      </div>
      <div class='navlinks-container'>
        <ul class='links'>
          <a href='index.html'>
            <li>
              Home
            </li>
          </a>
          <a href='products.html'>
            <li>
              Products
            </li>
          </a>
        </ul>
      </div>
      <div class='cart-login-container'>
        <div class='login-container'>
          <span class='link'>
            <a href='signup.html'>
              Signup
            </a>
          </span>
          <span class='login'>
            <a href='login.html'>
              Login
            </a>
          </span>
        </div>
        <button class ='btn-cart'>
          <img src='static/images/cart.svg' alt='cart image' class ='icon' id='outside'/>
          <span class ='text' id="cart-items" >0 Items</span>
        </button>
        <div id="desktop-cart">
          {{> cart}}
        </div>
      </div>
    </div>
  </nav>
</header>
<!-- headers ends -->
