<!-- header starts -->
<header role="banner">
  <nav role="navigation">
    <div class='navigation'>
      <div class='logo-container'>
        <a href='index.html'>
          <img class='logo-img' src='static/images/logo.png' alt='logo image' />
        </a>
      </div>
      <div class='navlinks-container'>
        <ul class='links' role="navigation">
          <li>
            <a href='index.html'>
              Home
            </a>
          </li>
          <li>
            <a href='products.html'>
              Products
            </a>
          </li>
        </ul>
      </div>
      <div class='cart-login-container'>
        <div class='login-container'>
          <span class='link'>
            <a href='signup.html'>
              Signup
            </a>
          </span>
          <span class='login'>
            <a href='login.html'>
              Login
            </a>
          </span>
        </div>
        <button class ='btn-cart'>
          <img src='static/images/cart.svg' alt='cart image' class ='icon' id='outside'/>
          <span class ='text' id="cart-items" >0 Items</span>
        </button>
        <div id="desktop-cart" class="cart-main-cont">
          {{> cart}}
        </div>
      </div>
    </div>
  </nav>
</header>
<!-- headers ends -->
