
<div class="login-section">
    <div class="login-section_info">
        <h2 class="login-section-heading">Login</h2>
        <span class="login-section-desc">Get Access to your Orders. Wishlist and Recommendations</span>
    </div>
    <form action="#" method="psot" autocomplete="off" class="login-section_form">
        <div class="form_group">
            <input type="email" required="required" name="email" placeholder=" " />
            <span class="form_group-highlight"></span>
            <span class="form_group-bar"></span>
            <label class="label-helper" >Email</label>
        </div>
        <div class="form_group">
            <input type="password" required="required" name="password" placeholder=" " />
            <span class="form_group-highlight"></span>
            <span class="form_group-bar"></span>
            <label class="label-helper" >Password</label>
        </div>
        <div class="login-section_btn-container">
            <input type="button" class="login-btn" name="" value="Login" />
        </div>
    </form>
</div>
