<div class="login-section">
   <div class="login-section_info">
      <h1 class="login-section-heading" role="heading">Login</h1>
      <span class="login-section-desc">Get Access to your Orders. Wishlist and Recommendations</span>
   </div>
   <div class="login-section_formGroup">
      <form
      action="index.html"
      method="post"
      autocomplete="off"
      role='form'
      class="login-section_form"
      aria-label="Login form"
      >
         <div class="field">
            <input
               aria-required="true"
               aria-labelledby="email"
               type="email"
               name="email"
               id="email"
               placeholder="steve@sabkabazaar.com"
               pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
               title="Invalid email address"
               required>
            <label
               for="email"
               id="email">
            Email *
            </label>
         </div>
         <div class="field">
            <input
               aria-required="true"
               aria-labelledby="password"
               type="password"
               name="password"
               id="password"
               placeholder="***"
               required
               >
            <label
               for="password"
               id="password">Password *
            </label>
         </div>
         <div class="login-section_btn-container">
            <input type="submit" role class="login-btn" name="" value="Login" />
         </div>
      </form>
   </div>
</div>
