<div class='product-category'>
    <ul>
        <li>Fruits &amp; Vegetables</li>
        <li>Bakery Cakes and Dairy</li>
        <li>Beverages</li>
        <li>Beuaty and Hygiene</li>
        <li>Baby Care</li>
    </ul>
</div>
