<div class="signup-section">
    <div class="signup-section_info">
      <!-- remove h2 -->

      <h1 class="login-section-heading">Signup</h1>
      <p class="login-section-desc">We do nto share your personal details anywhere.</p>
    </div>
    <form action="#" method="post" autocomplete="off" class="signup-section_form">
      <div class="form_group">
        <input type="text" required="required" name="firstname" placeholder=" " />
        <!-- SPAN to be removed  -->
        <span class="form_group-highlight"></span>
        <span class="form_group-bar"></span>
        <label>FirstName</label>
      </div>

      <div class="form_group">
        <input type="text" required="required" name="Lastname" placeholder=" " />
        <span class="form_group-highlight"></span>
        <span class="form_group-bar"></span>
        <label>LastName</label>
      </div>

      <div class="form_group">
        <input type="email" required="required" name="email" placeholder=" " />
        <span class="form_group-highlight"></span>
        <span class="form_group-bar"></span>
        <label>Email</label>
      </div>

      <div class="form_group">
        <input type="password" required="required" name="password" placeholder=" " />
        <span class="form_group-highlight"></span>
        <span class="form_group-bar"></span>
        <label>Password</label>
      </div>

      <div class="form_group">
        <input type="password" required="required" name="confirmpassword" placeholder=" " />
        <span class="form_group-highlight"></span>
        <span class="form_group-bar"></span>
        <label>Confirm Password</label>
      </div>

      <div class="signup-section_btn-container">
        <input type="button" class="signup-btn" name="" value="SignUp" />
      </div>
    </form>
  </div>
