@import "../../variables.scss";

.carousel {
    position: relative;

    .carouselWrapper {
        display: flex;
        align-items: center;
        height: 11rem;
        position: relative;
        margin: 0;
        padding: 0;
        overflow: hidden;
        margin-left: 1.8rem;

        @media (min-width: 481px) {
            height: 15rem;
        }

        @media (min-width: 769px) {
            height: 18.5rem;
        }

        @media (min-width: 1024px) {
            height: 24.5rem;
        }
    
        .carouselItem {
            list-style: none;
            transition: transform 1300ms ease-in;
            display: block;
            opacity: 0;

            @media (min-width: 769px) {
                margin-top: 1.4rem;
            }
    
            @media (min-width: 1024px) {
                margin-top: 1.4rem;
            }

            &.selected {
                opacity: 1;
                transition: 1300ms;
                transform: scale(1);
                width: 100%;
            }
    
            img {
                background-repeat: no-repeat;
                background-size: contain;
                height: 100%;
                width: 100%;
                max-width: 100%;
                max-height: 100%;
            }

            a {
                display: block;
            }
        }
    }
    
    .arrowRight,
    .arrowLeft {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        text-align: center;
        background: transparent;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 5rem;
        height: 2.5rem;
        transition: opacity .1s ease-in;
        border: none;
        cursor: pointer;
        background-color: $black;
        opacity: 0.6;
        color: $white;

        path {
            fill: $background-gray;
        }
    }

    .arrowRight {
        right: 0;
        left: auto;
    }
    
    .pagination {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        z-index: 3;

        .dot {
            border: none;
            background-color: $color-gray;
            opacity: 0.6;
            height: 0.5rem;
            width: 0.5rem;
            border-radius: 50%;
            cursor: pointer;
            margin: 0 1rem;
            padding: 0;

            &.selected {
                opacity: 0.9;
            }

        }
    }
}
