@import "/client/components/styles/variables";

.cart_container {
  display: grid;
  grid-template-rows: 62vh auto;
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
.empty_card {
  grid-template-rows: 68vh auto;
}
.card_content {
  overflow: auto;
  background: $bg-secondary-color;
  .cheap_offer {
    margin: 10px;
    background-color: white;
    padding: 5px 10px;
    border-radius: 2px;
    img {
      margin-right: 20px;
    }
  }
}

.checkout {
  padding: 0 $side_margin;
  border-top: 1px solid #d6d6d6;
  > div {
    text-align: center;
    padding: 10px;
  }
}
