<section class="custom-flex-container">
    <article>
        <h2>Login</h2>
        <p>Get access to your Orders, Wishlist and Recommendations</p>
    </article>
    <form class="bazar-login-form">
        <div class="custom-form-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="custom-input" />
        </div>
        <div class="custom-form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="custom-input" />
        </div>
        <button type="submit" class="custom-btn btn-pink">Login</button>
    </form>
</section>