<section class="custom-flex-container">
    <article>
        <h2>Login</h2>
        <p>Get access to your Orders, Wishlist and Recommendations</p>
    </article>
    <form class="bazar-login-form" #loginForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="custom-form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="custom-input" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required ngModel #email="ngModel" />
            <div class="custom-error" *ngIf="email.touched && !email.valid">
                <div *ngIf="email.errors?.required">Please enter email.</div>
                <div *ngIf="email.errors?.pattern">Please enter email in correct format</div>
            </div>
        </div>
        <div class="custom-form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="custom-input" required ngModel
                #password="ngModel"
                pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$" />
            <div class="custom-error" *ngIf="password.touched && !password.valid">
                <div *ngIf="password.errors?.required">Please enter password.</div>
                <div *ngIf="password.errors?.minlength">Minimum 6 characters required</div>
                <div *ngIf="password.errors?.pattern">Please enter alphanumeric password without spaces</div>
            </div>
        </div>
        <button type="submit" class="custom-btn btn-pink" [disabled]="!loginForm.valid">Login</button>
    </form>
</section>