
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sabka Bazaar for all your daily needs">
    <meta charset="utf-8">
    <title>Sabka Bazaar</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <header id='header'></header>
    <main>
       <div id='bannerList' class='bannerContainer'></div>
       <div id='categoriesList' class='containerCategory'></div>
    </main>
    <footer id='footer' class='footer_style'></footer>
    <script type="module" src="../scripts/getHeader.js"></script>
    <script type="module" src="../scripts/getBanners.js"></script>
    <script type="module" src="../scripts/getCategories.js"></script>
    <script type='module' src='../scripts/cart.js'></script>
    <script type="module" src="../scripts/getFooter.js"></script>
</body>
</html>