<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="shortcut icon" href="#" />
  </head>
  <body>
    <header id="header"></header>
    <main class="main_login">
      <div class="login_container">
        <div class="text_div">
          <h2>Login</h2>
          <h5>Get access to your Wishlist, Orders and Recommendations.</h5>
        </div>
        <div class="text_div">
          <form name='login' class="login_form">
            <label name='email' class="form_label" for="email">Email</label>
            <input class="form_input" type="email" id="email" name="email" />
            <label name='password' class="form_label" for="password">Password</label>
            <input
              class="form_input"
              type="password"
              id="password"
              name="password"
            />
            <button class="login_button">Login</button>
          </form>
        </div>
      </div>
    </main>
    <footer id="footer" class="footer_style"></footer>
    <script type="module" src="../scripts/getHeader.js"></script>
    <script type="module" src="../scripts/getFooter.js"></script>
  </body>
</html>
