<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>Product List</title>
    <link rel="shortcut icon" href="#" />
  </head>
  <body>
    <header id="header"></header>
    <main class='main_container'>
      <div class='main_div'>
        <nav class='nav_div'>
          <ul id="product_navigation" class='product_navigation'></ul>
        </nav>
        <div id="product_container" class='products_container'></div>
      </div>
    </main>
    <footer id="footer" class="footer_style"></footer>
    <script type="module" src="../scripts/getHeader.js"></script>
    <script type="module" src="../scripts/getProductList.js"></script>
    <script type='module' src='../scripts/cart.js'></script>
    <script type="module" src="../scripts/getFooter.js"></script>
  </body>
</html>
