// font colors
$primary-black: #000000;
$primary-grey: hsla(0, 0%, 80%, 0.51);

$secondary-color: #efefef;
$white-color: #ffffff;
$pink-color: #e83583;
$light-blue: #00ffe7;
$border-color: #ccc;

// responsive size
$min-width: 320px;
$max-width: 480px;
$min-width1: 768px;
$max-width1: 1024px;
$width1: 743px;
$width2: 1115px;
$width3: 767px;
$width4: 481px;
$nat-width: 620px;
$stand-heigth: 640px;
$minWidth: 1680px;
$maxWidth: 1200px;

// width size
$stand-width: 100%;
$small-width: 20vw;
$sev-width: 70%;
$thr-width: 30%;

// font sizes
$primary-font-size: 1rem;

// button
$button-bg-color: #ce0e55;

// form label
$lbl-primary-color: #1ad1e3;
$lbl-secondary-color: grey;
