@import "@/styles/settings.scss";

.btn {
  outline: none;
  border: none;
  margin: 0;
  padding: 8px;
  height: auto;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;

  &--primary {
    background-color: $color-primary;
    color: $color-white;
  }
  &--secondary {
    background-color: $color-secondary;
    color: $color-white;
  }
  &--transparent {
    background-color: transparent;
    color: $color-dark;
    padding: 0;
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
  }
  &:hover {
    opacity: 0.8;
  }
}
