<head>
    <title>Error Page</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css" async>
</head>
<% include ../common/header %>
<div class="error">
<h2 class="error__heading">Cannot find page</h2>
<a href="http://localhost:3000">Go to Home Page</a>
</div>