<head>
    <link rel="canonical" href="http://localhost:3000" />
</head>
<% include ../common/header %>
    <div class="container clearfix">
        <h1 class="accessibility__hidden">HomePage</h1>
        <!-- start carousel container -->
        <div class="carousel product-block">
            <div class="carousel__wrapper"></div>
        </div>
        <!-- end carousel container -->
        <!-- start horizontal and horizontal-reverse card container -->
        <div class="product-wrapper"></div>
        <!-- end horizontal and horizontal-reverse card containe -->
    </div>
<% include ../common/footer %>

