<% include ../common/header %>
    <!-- Home content starts here -->
    <div class="container clearfix">
        <div class="carousel product-block">
            <div class="carousel__wrapper"></div>
        </div>
        <div class="product-wrapper"></div>
    </div>
    <!-- Home content ends here -->
<% include ../common/footer %>