<% include ../common/header %>
    <!-- Home content starts here -->
    <div class="container clearfix">
        <div class="banner my-slider bottom-shadow">
            <div class="slide-wrapper"></div>
        </div>
        <div class="product--list"></div>
    </div>
    <!-- Home content ends here -->
<% include ../common/footer %>