<% include ../common/header %>
<!-- start login container -->
<div class="container clearfix">
    <div class="login-block clearfix" id="login-area">
        <div class="login-block__info">
            <h1>Login</h1>
            <p>Get access to your orders. Whishlist and Recommendations</p>
        </div>
        <section class="login-block__form">
            <form  action="/" class="input-form login-form" method="get" novalidate>
                <div class="input-form__form-group">
                    <input type="email" class="input-form__form-group--form-control" id="email" onfocusout="common.validationForLabel('email')">
                    <label class="input-form__form-group--form-label">Email</label>
                    <p class="input-form__form-group--error-message"></p>
                </div>
                <div class="input-form__form-group">
                    <input type="password" class="input-form__form-group--form-control" id="password" onfocusout="common.validationForLabel('password')">
                    <label class="input-form__form-group--form-label">Password</label>
                    <p class="input-form__form-group--error-message"></p>
                </div>
                <button type="submit" class="btn btn-block btn-primary" id="login-btn" aria-label="Login">Login</button>
            </form>
        </section>
    </div>
</div>
<!-- end login container -->
<% include ../common/footer %>