<% include ../common/header %>
<!-- Login content starts here -->
<div class="container clearfix">
    <div class="login-area clearfix" id="login-area">
        <div class="login-info">
            <h1>Login</h1>
            <p>Get access to your orders. Whishlist and Recommendations</p>
        </div>
        <div class="login-form">
            <form  action="/" class="floating-input-form l-Form" novalidate method="get" >
                <div class="form-group">
                    <input type="email" class="form-control" id="email" onfocusout="common.validationForLabel('email')">
                    <label class="form-label">Email</label>
                    <p class="error-message"></p>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" onfocusout="common.validationForLabel('password')">
                    <label class="form-label">Password</label>
                    <p class="error-message"></p>
                </div>
                <button type="submit" class="btn btn-block btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>
<!-- Login content ends here -->
<% include ../common/footer %>