<% include ../common/header %>
<!-- start main container for product page -->
<div class="container clearfix product-list-wrapper">
  <!-- start sidebar container -->
  <div class="sidebar-navigation">
    <div class="category-action">
      <span class="show-category-for-responsive">Fruits &amp; Vegetables </span>
      <img src="static/images/down-arrow.svg" alt="arrow" />
    </div>
    <div class="category-items"></div>
  </div>
  <!-- end sidebar container -->
  <!-- start product list container -->
  <div class="product-section"></div>
  <!-- end product list container -->
</div>
<!-- end main container for product page -->
<% include ../common/footer %>
