<% include ../common/header %>
<!-- start main container for product page -->
<div class="container clearfix product-list-block">
  <!-- start sidebar container -->
  <div class="sidebar-wrapper">
    <div class="sidebar-wrapper__category-action">
      <span class="sidebar-wrapper__category-action--for-responsive">Fruits &amp; Vegetables </span>
      <img src="static/images/down-arrow.svg" alt="arrow" />
    </div>
    <div class="sidebar-wrapper__category-items"></div>
  </div>
  <!-- end sidebar container -->
  <!-- start product list container -->
  <div class="product-list-wrapper"></div>
  <!-- end product list container -->
</div>
<!-- end main container for product page -->
<% include ../common/footer %>
