<% include ../common/header %>
<!-- start registration container -->
<div class="container">
    <div class="registration clearfix">
        <div class="registration__info">
            <h1>Signup</h1>
            <p>We do not share your personal details with anyone.</p>
        </div>
        <div class="registration__form">
            <form action="/" class="form" novalidate method="POST">
                <div class="form__group">
                    <input 
                        type="text" 
                        class="form__control" 
                        name="firstName" 
                        id="firstName" required
                    >
                    <label for="firstName" class="form__label" aria-label="FirstName">First Name</label>
                    <p class="form__error"></p>
                </div>
                <div class="form__group">
                    <input 
                        type="text" 
                        class="form__control" 
                        name="lastName" 
                        id="lastName" required
                    >
                    <label for="lastName" class="form__label" aria-label="LastName">Last Name</label>
                    <p class="form__error"></p>
                </div>
                <div class="form__group">
                    <input 
                        type="email" 
                        class="form__control" 
                        name="email" 
                        id="email" required
                    >
                    <label for="email" class="form__label" aria-label="Email">Email</label>
                    <p class="form__error"></p>
                </div>
                <div class="form__group">
                    <input 
                        type="password" 
                        class="form__control" 
                        name="password" 
                        id="password" required
                    >
                    <label for="password" class="form__label" aria-label="Password">Password</label>
                    <p class="form__error"></p>
                </div>
                <div class="form__group">
                    <input 
                        type="password" 
                        class="form__control" 
                        name="confirmPassword" 
                        id="confirmPassword" required
                    >
                    <label for="confirmPassword" class="form__label" aria-label="Password">Confirm Password</label>
                    <p class="form__error"></p>
                </div>
                <button type="submit" class="btn btn-block btn-primary" aria-label="Signup">Signup</button>
            </form>
        </div>
    </div>
</div>
<!-- end registration container -->
<% include ../common/footer %>