<% include ../common/header %>
<!-- Index content starts here -->
<div class="container">
    <div class="registration clearfix">
        <div class="registration__registration-info">
            <h1>Signup</h1>
            <p>We do not share your personal details with anyone.</p>
        </div>
        <div class="registration__registration-form">
            <form action="/" class="input-form" novalidate method="get">
                <div class="input-form__form-group">
                    <input type="text" class="input-form__form-group--form-control" name="firstName" id="firstName">
                    <label class="input-form__form-group--form-label">First Name</label>
                    <p class="input-form__form-group--error-message"></p>
                </div>
                <div class="input-form__form-group">
                    <input type="text" class="input-form__form-group--form-control" name="lastName" id="lastName">
                    <label class="input-form__form-group--form-label">Last Name</label>
                    <p class="input-form__form-group--error-message"></p>
                </div>
                <div class="input-form__form-group">
                    <input type="email" class="input-form__form-group--form-control" name="email" id="email">
                    <label class="input-form__form-group--form-label">Email</label>
                    <p class="input-form__form-group--error-message"></p>
                </div>
                <div class="input-form__form-group">
                    <input type="password" class="input-form__form-group--form-control" name="password" id="password">
                    <label class="input-form__form-group--form-label">Password</label>
                    <p class="input-form__form-group--error-message"></p>
                </div>
                <div class="input-form__form-group">
                    <input type="password" class="input-form__form-group--form-control" name="confirmPassword" id="confirmPassword">
                    <label class="input-form__form-group--form-label">Confirm Password</label>
                    <p class="input-form__form-group--error-message"></p>
                </div>
                <button type="submit" class="btn btn-block btn-primary" id="registration-btn" aria-label="Signup">Signup</button>
            </form>
        </div>
    </div>
</div>
<!-- Index content ends here -->
<% include ../common/footer %>