<main class="login-wrapper margin-top-20">
    <div class="row register-body">
        <div class="col span-1-of-4"></div>
        <section class="col span-1-of-4 text-center">
            <header>
                <h1 class="text-left form-heading">Signup</h1>
                <h5 class="text-left form-desc margin-top-20">We do not share your personal details with anyone</h5>
            </header>
        </section>
        <div class="col span-1-of-4 text-center">
                <form class="login-form">
                    <div class="text-left">
                        <label class="font-12" for="firstname">First Name</label>
                    </div>
                    <div class="text-left">
                        <input id="firstname" type="text" name="firstname">
                    </div>
                    
                    <div class="text-left margin-top-20">
                        <label class="field-label" for="lastname">Last Name</label>
                    </div>
                    <div class="text-left">
                        <input id="lastname" type="text" name="lastname">
                    </div>
                    <div class="text-left margin-top-20">
                        <label class="field-label" for="email">Email</label>
                    </div>
                    <div class="text-left">
                        <input id="email" type="email" name="email">
                    </div>
                    
                    <div class="text-left margin-top-20">
                        <label class="field-label"  for="password">Password</label>
                    </div>
                    <div class="text-left">
                        <input id="password" type="password" name="password">
                    </div>

                    <div class="text-left margin-top-20">
                        <label class="field-label"  for="confirmPassword">Confirm Password</label>
                    </div>
                    <div class="text-left">
                        <input id="confirmPassword" type="password" name="password">
                    </div>
                    <button class="cursor-pointer block-btn padding-10">Signup</button>
                </form> 
        </div>
        <div class="col span-1-of-4"></div>
    </div> 
</main>
