.basic-btn-color {
  background: #D10157;
  color: #ffffff; }

.clear-all {
  clear: both; }

.padding5 {
  padding: 5px  !important; }

.padding10 {
  padding: 10px; }

.paddingTop10 {
  padding-top: 10px; }

.padding15 {
  padding: 15px; }

.marginTop5 {
  margin-top: 5px; }

.marginTop15 {
  margin-top: 15px; }

.marginTop25 {
  margin-top: 25px; }

.marginTop50 {
  margin-top: 50px; }

.fontDecorate {
  font-size: 12px; }

.paddingLeft5 {
  padding-left: 5px; }

.textCenter {
  text-align: center; }

/*
@mixin padding($padding) {
    @if length($padding) == 1 {
        padding: $padding+px;
        //padding: $padding/10+rem;
    }
    @if length($padding) == 2 {
        padding: nth($padding, 1)+px nth($padding, 2)+px;
        //padding: nth($padding, 1)*0.1+rem nth($padding, 2)*0.1+rem;
    }
    @if length($padding) == 3 {
        padding: nth($padding, 1)+px nth($padding, 2)+px nth($padding, 3)+px;
       // padding: nth($padding, 1)*0.1+rem nth($padding, 2)*0.1+rem nth($padding, 3)*0.1+rem;
    }
    @if length($padding) == 4 {
        padding: nth($padding, 1)+px nth($padding, 2)+px nth($padding, 3)+px nth($padding, 4)+px;
       // padding: nth($padding, 1)*0.1+rem nth($padding, 2)*0.1+rem nth($padding, 3)*0.1+rem nth($padding, 4)*0.1+rem;
    }
}
*/
.parent-overlay {
  font-size: 14px;
  display: none; }
  .parent-overlay .bg-overlay {
    position: fixed;
    background: #A9A9A9;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: .9; }
  .parent-overlay .overlay {
    position: fixed;
    width: 100%;
    background: #eeeeee;
    height: 100%;
    z-index: 200;
    overflow: auto; }
    .parent-overlay .overlay .footer {
      width: 100%; }
    @media screen and (min-width: 992px) {
      .parent-overlay .overlay {
        top: 10%;
        width: 30%;
        left: 50%;
        height: 600px;
        overflow: auto; }
        .parent-overlay .overlay .cart-header {
          display: none; }
        .parent-overlay .overlay .footer {
          width: 30%; } }
    .parent-overlay .overlay .header {
      background: #ffffff;
      color: #000000;
      font-size: 15px;
      font-weight: 700;
      height: 50px; }
      @media screen and (min-width: 992px) {
        .parent-overlay .overlay .header {
          background: #000000;
          color: #ffffff; } }
      .parent-overlay .overlay .header .close {
        float: right; }
    .parent-overlay .overlay .cart-box {
      background: #ffffff; }
      .parent-overlay .overlay .cart-box .cart-item img {
        width: 60%;
        height: auto; }
      .parent-overlay .overlay .cart-box .cart-item .label {
        font-size: 14px;
        font-weight: 700;
        margin-top: 20px; }
      .parent-overlay .overlay .cart-box .cart-item .dot {
        width: 20px;
        height: 20px;
        background-color: #D10157;
        border-radius: 50%;
        display: inline-block;
        text-align: center; }
      .parent-overlay .overlay .cart-box .cart-item .price-ctr {
        padding-top: 10px;
        float: right;
        text-align: right;
        padding-right: 20px; }
    .parent-overlay .overlay .low-price {
      padding: 10px; }
      .parent-overlay .overlay .low-price .low-price-row {
        padding: 10px;
        background: white; }
        .parent-overlay .overlay .low-price .low-price-row img {
          height: 30px; }
        .parent-overlay .overlay .low-price .low-price-row .anywhere {
          font-size: 12px;
          margin-left: 15px; }
    .parent-overlay .overlay .footer {
      background: #ffffff;
      padding: 10px;
      position: fixed;
      bottom: 0px; }
      .parent-overlay .overlay .footer .promo {
        font-size: 12px;
        text-align: center; }
      .parent-overlay .overlay .footer .checkout-btn {
        height: 40px;
        padding: 10px;
        background: #D10157;
        color: #ffffff;
        width: 100%;
        margin-top: 10px; }
        .parent-overlay .overlay .footer .checkout-btn .checkout {
          float: left; }
        .parent-overlay .overlay .footer .checkout-btn .total {
          float: right; }
