.header-container{
  position: fixed;
  width: 100%;
  top:0px;
  left:0px;
  z-index: 99;
  background: white;
  height: 80px;
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 70px;
  padding-right: 70px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.sabka-bazaar-img{
  height: 100%;
  width: auto;
}

.link{
  color: grey;
  text-decoration: none;
}

.cart-menu-section{
  background: #dcdcdc;
  padding: 10px;
  padding-right: 15px;
  margin-top: 20px;
}

.loginPanel p{
  font-size: 13px;
  color: black;
}

.item-count{
  white-space: nowrap;
}
