* {
  box-sizing: border-box;
  font-size: 62.5%;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
    flex-wrap: wrap;
}
body {
  margin: 0;
  padding: 0;
}
$font-default: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, sans-serif;
$font-bold: "HelveticaNeue-Medium", "Helvetica Neue Medium";
$color: #d10157;
header {
  width: 100%;
  height:auto;
  
  position:fixed;
  top:0;
  z-index: 10;
  background-color:rgb(255, 250, 250);

  
}
// NAVIGATION
.navbar {
 
  margin-bottom: 3rem;
  display: flex;
  z-index: 10;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 4%;
  padding-bottom:0;
  margin-bottom:0;
  font-size: 1.7rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  .main-nav {
    display: flex;
    align-items: center;
  }
  .main-nav a {
    display: inline-block;
    color: #4b4a4a;
    font-size: 1.8rem;
  }
  #home {
    margin-right: 2.5rem;
  }
  .side-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
  }
  .menu-wrap {
    // position: absolute;
    // top:.9%;
    // right:4%;
    margin-bottom: 0.1rem;
    margin-top: -.4rem;
  }
  .menu-wrap a,
  span {
    display: inline-block;
    color: #4b4a4a;
    margin-left: 0.5rem;
  }
  .menu-wrap a{
    font-size: 1.2rem;

  }
  .cart-icon span{
    font-size:1.7rem;
  }
  .cart-icon i {
    color: $color;
    font-size: 2.5rem;
  }
  .side-nav {
  }
  .cart-icon {
    font-size: 1.7rem;
    color: #4b4a4a;
    margin-bottom: -1.7rem;
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;

    height: 4rem;
    width: 10rem;

    border-radius: 0.3rem;
    z-index: -10;
  }
}
// Navigation end
// Home start

main{
  margin-top: 10rem;
}
.slideshow-container {
  max-width: 100%;
  position: relative;
  // margin-bottom: -.5rem;
  
}

.mySlides {
display: none;
width:100%;
height:60%;
   
}

.prev,
.next {
  width:5rem;
   height:4rem;
   position:absolute;
   top:20%;
   background-color: rgba(87, 86, 86, 0.466);
   color:white;
   font-size: 1.6rem;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: background-color 1s;
}

.next {
  right:0;
    border-radius: 3px ;
}

.prev {
  left: 0;
  border-radius: 3px ;
}

.prev:hover,
.next:hover {
  color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.8)
}



.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color .6s ease
}

.active,
.dot:hover {
  background-color: #717171
}
// shadow
.little-shadow{
 position:absolute;
 width:80%;
 height:3rem;
 background: radial-gradient(at 60% 0, rgba(0, 0, 0, 0.2), transparent 50%);
//  margin-top:1rem;
}

///Categories
.Categories{
    width:100%;
    position: relative;
    padding:1rem 2rem;

  .category{
    display:flex;
    padding:1rem 2rem;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    // -webkit-box-shadow: 0px 16px 11px -12px #000000; 
    box-shadow: 0px 16px 11px -14px rgba(0,0,0,0.71);
    .product-image{
    flex:2 30%;
  

    }
   .product-des{
    flex:1 60%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
  
  
      h3{
        font-size:2.4rem;
        
      }
      p{
        font-size:1.4rem;
        flex-shrink: 1;
  
      }
      button{
        background-color: $color;
        border:none;
        // width:15rem;
        padding:1rem;
        color:white;
        height: 3.5rem;
        font-size: 1.4rem;
  
      }
  }
  }
  
  // .product-image img{
  //   width:100%;
  //   height:100%
  // }
  
  .category:nth-child(2n-1){
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
  }
  

}
footer{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(207, 203, 203, 0.39);
  font-size: 1.4rem;
}


@media screen and (max-width: 576px) {
  .navbar {
    padding: 0.4rem 0 0.4rem 4%;
    .menu-item{
      display:none;
    }
  }
  .prev,.next
  {
     width:2rem;
     height:1rem;
     font-size: .7rem;
  }
}
@media screen and (max-width: 480px) {
  body {
     .menu-item {
      display: none;
    }
  }
}
@media screen and (max-width: 281px) {
  body {
    .main-nav a img {
      width: 60%;
      height: 60%;
    }
  }

}

