@import url("https://fonts.googleapis.com/css?family=Dosis:400,600,700");
/*------- MIXINS--------*/
/*------- EXTEND CLASSES--------*/
@import url("https://fonts.googleapis.com/css?family=Dosis:400,600,700");
.text-center {
  text-align: center; }

.cursor-link {
  cursor: pointer; }

.float-left {
  float: left; }

.float-right, .category:nth-child(even) .category__img {
  float: right; }

.clear-all {
  clear: both; }

/*------- MIXINS--------*/
/*------- EXTEND CLASSES--------*/
.text-center {
  text-align: center; }

.cursor-link {
  cursor: pointer; }

.float-left {
  float: left; }

.float-right, .category:nth-child(even) .category__img {
  float: right; }

.clear-all {
  clear: both; }

.basic-img {
  width: 100%;
  height: auto; }

.btn-basic {
  background: #D10157;
  color: #FFFFFF;
  cursor: pointer;
  border: none; }

.category {
  padding: 30px 0px;
  box-shadow: 0 14px 6px -7px #eeeeee;
  min-height: 150px;
  position: relative; }
  @media screen and (min-width: 768px) {
    .category__img > img {
      height: auto; } }
  @media screen and (min-width: 768px) {
    .category__desc {
      position: absolute;
      top: 50%;
      width: 75%;
      left: 25%;
      transform: translateY(-50%); } }
  .category__desc .category__title {
    font-size: 0.7rem;
    font-weight: 700; }
    @media screen and (min-width: 992px) {
      .category__desc .category__title {
        font-size: 1rem; } }
  .category__desc .category__detail {
    font-size: 0.6rem;
    margin: 5px 0px 0px 0px;
    padding: 0px 5px; }
    @media screen and (min-width: 768px) {
      .category__desc .category__detail {
        margin: 10px 0px 0px 0px; } }
    @media screen and (min-width: 992px) {
      .category__desc .category__detail {
        font-size: 0.8rem; } }
  .category__desc .category-btn {
    padding: 10px;
    margin: 10px 0px 0px 0px;
    font-size: 0.6rem;
    line-height: 1.5; }
    @media screen and (min-width: 768px) {
      .category__desc .category-btn {
        margin: 20px 0px 0px 0px; } }
  @media screen and (min-width: 768px) {
    .category:nth-child(even) .category__desc {
      position: absolute;
      top: 50%;
      width: 75%;
      left: 0%;
      transform: translateY(-50%); } }

/*------- MIXINS--------*/
/*------- EXTEND CLASSES--------*/
.text-center {
  text-align: center; }

.cursor-link {
  cursor: pointer; }

.float-left {
  float: left; }

.float-right, .category:nth-child(even) .category__img {
  float: right; }

.clear-all {
  clear: both; }

.basic-img {
  width: 100%;
  height: auto; }

.carousal {
  position: relative;
  margin: auto;
  box-shadow: 0 14px 6px -7px #eeeeee;
  /* Position the "next button" to the right */
  /* Fading animation */ }
  .carousal .btn {
    padding: 16px;
    margin: -22px 0px 0px 0px;
    font-size: 0.9rem;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #A9A9A9;
    position: absolute;
    top: 50%;
    width: auto;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    opacity: .2;
    display: none; }
    @media screen and (min-width: 768px) {
      .carousal .btn {
        display: block; } }
  .carousal .btn__next {
    right: 0;
    border-radius: 3px 0 0 3px; }
  .carousal__img--fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
  .carousal__nav {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media screen and (min-width: 768px) {
      .carousal__nav {
        top: 90%;
        padding: 0px 0px 10px 0px; } }
    .carousal__nav .dot {
      height: 5px;
      width: 5px;
      margin: 0 10px;
      background-color: #A9A9A9;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease; }
      .carousal__nav .dot :hover {
        background-color: #6B6B6B; }
    .carousal__nav .active {
      background-color: #6B6B6B; }
