* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  padding: 0 160px;
}

.grid {
  display: grid;
  column-gap: 3rem;
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid-5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.heading-tertiary {
  font-size: 2rem;
  word-spacing: -1px;
  letter-spacing: -1px;
}

.header {
  height: 7.5rem;
  box-shadow: 0 0.3rem 0.8rem rgba(173, 173, 173, 0.4);
  width: 100%;
  position: fixed;
  z-index: 999;
  opacity: 1;
  background-color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
}
.nav-logo img {
  margin: 0.8rem 0;
  width: 70%;
}
.nav-links {
  display: flex;
  vertical-align: bottom;
  font-size: 1.6rem;
  flex-grow: 0.8;
  align-items: end;
  margin-bottom: 2rem;
  gap: 2rem;
  list-style: none;
}
.nav-right {
  width: 10rem;
  display: inline-block;
}
.nav-right-register {
  display: flex;
  justify-content: end;
  gap: 1rem;
  padding: 0.2rem;
  list-style: none;
  font-size: 1.2rem;
}
.nav-right-cart {
  display: flex;
  align-items: center;
  background-color: rgba(214, 214, 214, 0.7);
  padding: 1.3rem 1.8rem;
  margin-top: 1.1rem;
}
.nav-right-cart img {
  width: 2rem;
}

.nav-link-item {
  color: #797878;
  text-decoration: none;
}

.acc-link-item {
  color: #3f3f3f;
  text-decoration: none;
}

@media (max-width: 75em) {
  .container {
    padding: 0 8rem;
  }
}
@media (max-width: 63em) {
  .container {
    padding: 0 4rem;
  }

  .product-details {
    margin-bottom: 1rem;
  }

  .product .product-image {
    width: 40%;
  }
}
@media (max-width: 37em) {
  .container {
    padding: 0 0rem;
  }

  .nav-links {
    display: none;
  }

  .nav-right-register {
    visibility: hidden;
  }

  .product .product-image {
    width: 50%;
  }
}
.header-height-space {
  padding-top: 7.5rem;
}

.carousel {
  position: relative;
  font-size: 1.6rem;
}
.carousel-slider {
  display: flex;
  width: 100%;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.carousel-slide {
  width: 100%;
  flex-shrink: 0;
}
.carousel-slide img {
  width: 100%;
}
.carousel-slideButton {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
}
.carousel-slideButton .active {
  background-color: rgba(0, 0, 0, 0.7);
}
.carousel-option {
  display: inline-block;
  padding: 6px;
  background-color: #d6d6d6;
  margin: 3px;
  border-radius: 50%;
}
.carousel-select span {
  padding: 8px;
  background-color: rgba(173, 173, 173, 0.5);
}
.carousel-select-previous {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.carousel-select-next {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  cursor: pointer;
}

.product {
  margin-top: 2rem;
  display: flex;
}
.product-shadow {
  background: radial-gradient(at 50% 0, rgba(0, 0, 0, 0.5), transparent 70%);
  height: 1rem;
  min-width: 100%;
}
.product-image {
  width: 30%;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.product-image img {
  width: 80%;
  margin: 2rem auto;
}
.product-details {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.product-description {
  font-size: 1.3rem;
  padding: 1.8rem 1rem;
  word-spacing: -1px;
  text-align: center;
}

.product-button {
  font-size: 1.3rem;
  padding: 1rem;
  background-color: #ca0655;
  border: 0;
}

.footer {
  background-color: #d6d6d6;
}
.footer-container {
  font-size: 1.8rem;
  padding: 0.8rem 0;
}

/*# sourceMappingURL=home.css.map */
