@import url("https://fonts.googleapis.com/css?family=Dosis:400,600,700");
.login-section {
  padding: 3%; }

.login-text {
  padding: 2%; }
  .login-text h1 {
    font-weight: 700;
    letter-spacing: -1px; }
  .login-text p {
    font-weight: 600;
    font-size: .7rem;
    margin-top: 20px; }

.login-form input, .login-form .login-btn {
  width: 65%; }

.login-form .form-group {
  width: 65%; }
  .login-form .form-group input {
    border: none;
    width: 100%;
    border-bottom: solid 2px #5fc8d0; }
  .login-form .form-group label {
    margin-top: 1%;
    font-weight: 600;
    font-size: .6rem;
    color: #5fc8d0; }

.login-form button {
  background: #D10157;
  color: #ffffff; }

.login-form .login-btn {
  height: 40px; }
