@import url("https://fonts.googleapis.com/css?family=Dosis:400,600,700");
.category-block {
  padding: 4% 2%;
  box-shadow: 0 6px 6px -7px #eeeeee; }
  @media screen and (min-width: 768px) {
    .category-block {
      padding: 0% 2%; } }
  @media screen and (min-width: 992px) {
    .category-block {
      padding: 0% 1%; } }
  .category-block .img-block {
    text-align: center; }
    .category-block .img-block img {
      width: 100%;
      height: auto; }
    @media screen and (min-width: 768px) {
      .category-block .img-block .category-img {
        max-width: 50%;
        height: auto; } }
  .category-block .desc-block {
    text-align: center; }
    .category-block .desc-block button {
      background: #D10157;
      color: #FFFFFF;
      cursor: pointer; }
    .category-block .desc-block .category-title {
      font-weight: 700;
      letter-spacing: -1px;
      font-size: .7rem;
      margin: 5px 0px 0px 0px; }
      @media screen and (min-width: 992px) {
        .category-block .desc-block .category-title {
          font-size: 1rem; } }
    .category-block .desc-block .category-desc {
      font-size: .6rem;
      margin: 5px 0px 0px 0px; }
      @media screen and (min-width: 992px) {
        .category-block .desc-block .category-desc {
          font-size: .8rem; } }
    .category-block .desc-block .category-btn {
      padding: 5px;
      margin: 5px 0px 0px 0px;
      font-size: .6rem; }

.category-block:nth-child(even) .img-block {
  float: right; }
