@media screen and (max-width: 1200px) {
  html {
    font-size: 20px; }
  .row {
    padding: 0% 2%; } }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  background: white;
  font-family: Dosis; }

.row {
  max-width: 1140px;
  margin: 0 auto; }
