.container {
  max-width: 1215px;
  margin: 0 auto;
  width: 100%;
}

.btn {
  color: #fff;
  text-decoration: none;
  background-color: #bf2957;
  padding: 13px 17px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.btn:active,
.btn:hover,
.btn:focus,
.btn:active,
.btn:hover,
.btn:focus {
  outline: 0;
  outline-offset: 0;
  background-color: #da1a55;
}

.full__width {
  width: 100%;
}

.flex_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header {
  padding: 8px 0 0px;
  border-bottom: 1px solid #ededed;
  -webkit-box-shadow: 0 2px 4px 0 #ededed;
  box-shadow: 0 2px 4px 0 #ededed;
  position: relative;
  z-index: 9;
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    & > div {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(100% - 190px);
      flex: 0 1 calc(100% - 190px);
    }
    .logo {
      width: 190px;
    }
    ul {
      li {
        padding-right: 29px;
        &:last-child {
          padding-right: 0;
        }
      }
    }
    li {
      a {
        color: #70676a;
        font-weight: 600;
        text-decoration: none;
        font-size: 16px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        &:hover,
        &:focus {
          color: #bb2855;
        }
      }
    }
  }
}

.left {
  padding-left: 133px;
  padding-top: 52px;
}
.right {
  float: right;
}
.nav {
  position: relative;
  padding-bottom: 24px;
  .right {
    li {
      padding-right: 15px;
      a {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
  .nav-btn {
    display: none;
  }
  & > span {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    a {
      text-decoration: none;
      color: #000;
      padding: 23px 35px 23px 56px;
      background-color: #eee;
      line-height: 1;
      position: relative;
    }
  }
}

.icon-cart {
  fill: #bb2855;
  width: 30px;
  display: inline-block;
  /* margin-right: 10px; */
  position: absolute;
  left: 16px;
  top: 16px;
}

.nav {
  & > .nav-links {
    > a {
      &:hover {
        background-color: rgba(37, 78, 182, 0.4);
        border-radius: 15px;
      }
    }
  }
  & > #nav-check {
    display: none;
  }
  & > span {
    & > a {
      i {
        span {
          display: none;
        }
      }
    }
  }
}

/* footer */

footer {
  background-color: #eaeaea;
  padding: 16px 0;
  p {
    font-size: 16px;
  }
}
/* footer */

/*** form css ***/

.fieldset {
  position: relative;
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0px;
    padding-top: 0;
  }
  input {
    font-size: 18px;
    padding: 10px 10px 10px 0px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #acacac;
    font-weight: bold;
    &:focus {
      outline: none;
    }
    &:focus,
    &:valid {
      & ~ label {
        top: -12px;
        font-size: 12px;
        color: #2fb9c6;
      }
    }
    &:focus,
    &:valid {
      & ~ .border_bottom {
        &:before,
        &:after {
          width: 50%;
        }
      }
    }
  }

  label {
    color: #acacac;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0px;
    top: 10px;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    font-weight: 600;
    font-size: 14px;
  }
  .border_bottom {
    position: relative;
    display: block;
    width: 100%;
    &:before,
    &:after {
      content: "";
      height: 1px;
      width: 0;
      bottom: 0px;
      position: absolute;
      background: #2fb9c6;
      -o-transition: 0.2s ease all;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }
    &:before {
      left: 50%;
    }
    &:after {
      right: 50%;
    }
  }
}

/* active state */

@media only screen and (max-width: 1023px) {
  /* .container {
        padding: 0 15px;
    }
     */
  footer {
    text-align: center;
  }
  h2 {
    font-size: 26px;
  }
  .right {
    padding-right: 10px;
  }
  .left {
    padding-left: 50px;
  }
  .nav{
    .right {
      li {
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .flex_boxes {
    .cat_desc {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 68%;
      flex: 0 1 68%;
      padding: 0 10px 0 0px;
    }
  }
  footer {
    p {
      font-size: 14px;
    }
  }
  header {
    nav {
      & > div {
        -ms-flex: 0 1 calc(100% - 160px);
        flex: 0 1 calc(100% - 160px);
      }
      .logo {
        width: 160px;
      }
    }
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    padding-bottom: 0;
    & > span {
      position: static;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      margin-right: 65px;
      & > a {
        padding: 0;
        background-color: transparent;
        & > span {
          display: none;
        }
        i {
          span {
            display: inline-block;
            position: absolute;
            height: 17px;
            width: 17px;
            background-color: #50dae2;
            color: #ffffff;
            text-align: center;
            line-height: 17px;
            font-style: initial;
            font-size: 12px;
            border-radius: 50%;
            top: 0;
            right: 0;
          }
        }
      }
    }
    #nav-check {
      &:checked {
        & ~ label {
          .hamburger {
            width: 30px;
          }
          .line-1 {
            width: 0;
            transition-delay: 0.3s;
          }
          .line-2 {
            width: 0;
            transition-delay: 0.5s;
          }
          .line-3 {
            width: 0;
            transition-delay: 0.6s;
          }

          .cross {
            width: 25px;
            transition-delay: 0.8s;
            &:after {
              width: 25px;
              transition-delay: 1.1s;
            }
          }
        }
      }
    }

    .nav-btn {
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      position: fixed;
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 5px;
      background: linear-gradient(180deg, #cc3333, #ed0200, #ff096c, #d50082);
      cursor: pointer;
      z-index: 70;
      .hamburger {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 25px;
        .line-1,
        .line-2,
        .line-3 {
          position: relative;
          display: block;
          width: 25px;
          height: 2px;
          background: rgb(255, 255, 255);
          top: 0;
          margin-bottom: 8px;
          transition: 0.5s;
          border: none;
          margin-left: auto;
          margin-right: auto;
        }
        .line-1 {
          transition-delay: 0.5s;
        }

        .line-2 {
          transition-delay: 0.8s;
        }

        .line-3 {
          margin-bottom: 0;
          transition-delay: 0.9s;
        }
        .cross {
          position: absolute;
          width: 0;
          height: 2px;
          background: rgb(255, 255, 255);
          top: 50%;
          left: 50%;
          transition: 0.5s;
          transform: translate(-50%, -50%) rotate(45deg);
          transition-delay: 0.4s;
          &:after {
            content: "";
            transform: translate(-50%, -50%) rotate(90deg);
            transition-delay: 0.1s;
            position: absolute;
            width: 0;
            height: 2px;
            background: rgb(255, 255, 255);
            top: 50%;
            left: 50%;
            transition: 0.5s;
          }
        }
      }
    }
  }
  .icon-cart {
    position: static;
  }

  .container {
    padding: 0 15px;
  }

  /* hamburger */

  .nav,
  header {
    position: static;
  }

  /* hamburger */

  .nav {
    & > .nav-links {
      overflow: hidden;
      background-color: #fff;
      position: fixed;
      top: 30px;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      width: 0;
      height: 0%;
      transition: all 0.5s ease;
      z-index: 9;
      & > ul {
        display: block;
        padding: 0;
        float: none;
        width: 100%;
        max-width: 150px;
        text-align: center;
        & > li {
          display: block;
          padding: 0;
        }
      }
      & > a {
        display: block;
        width: 90%;
        text-align: center;
        margin: 0 auto;
      }
    }
   
    ul,
    .right {
      li {
        a {
          font-size: 22px;
          text-transform: uppercase;
          padding: 5px 0;
          font-weight: 600;
        }
      }
    }
  }

 
  

  #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  #nav-check:checked ~ .nav-links {
    height: 100%;
    width: 100%;
    border-radius: 0;
    right: 0;
    top: 0;
  }
}

@import "home.scss";
@import "login_register.scss";
@import "product.scss";
@import "normalize.scss";
