@import url("https://fonts.googleapis.com/css?family=Dosis:400,600,700");
/*------- MIXINS--------*/
/*------- EXTEND CLASSES--------*/
.text-center, .cart-overlay .cart__wrapper .empty__heading, .cart-overlay .cart__wrapper .empty__label {
  text-align: center; }

.cursor-link {
  cursor: pointer; }

.float-left, header .nav__logo, header .nav__list--home {
  float: left; }

.float-right, header .nav__list--main, .cart-overlay .cart__header .close, .cart-overlay .cart__wrapper .item__desc .price__wrapper .item__totalprice {
  float: right; }

.clear-all {
  clear: both; }

/*------- MIXINS--------*/
/*------- EXTEND CLASSES--------*/
.text-center, .cart-overlay .cart__wrapper .empty__heading, .cart-overlay .cart__wrapper .empty__label {
  text-align: center; }

.cursor-link {
  cursor: pointer; }

.float-left, header .nav__logo, header .nav__list--home {
  float: left; }

.float-right, header .nav__list--main, .cart-overlay .cart__header .close, .cart-overlay .cart__wrapper .item__desc .price__wrapper .item__totalprice {
  float: right; }

.clear-all {
  clear: both; }

header {
  border-bottom: solid 1px #eeeeee;
  box-shadow: 1px #f0f0f0 !important;
  position: relative; }
  header .nav {
    position: relative; }
    header .nav__logo {
      padding: 0px 0px 0px 5px;
      margin: 10px 0px;
      height: auto;
      width: 100%;
      cursor: pointer; }
      @media screen and (min-width: 768px) {
        header .nav__logo {
          padding: 0px;
          height: 70px;
          width: auto; } }
    header .nav__list li {
      margin: 0px 0px 0px 10px;
      display: inline-block; }
      header .nav__list li a {
        color: #646E72;
        font-weight: 600; }
    header .nav__list--home {
      margin: 50px 0px 0px 0px;
      font-size: 0.7rem;
      display: none;
      margin-left: 10%; }
      @media screen and (min-width: 768px) {
        header .nav__list--home {
          display: block; } }
    header .nav__list--main {
      padding: 5px 0px 0px 0px;
      font-size: 0.45rem;
      word-spacing: -2px;
      display: none; }
      @media screen and (min-width: 768px) {
        header .nav__list--main {
          font-size: 0.6rem;
          display: block; } }
    header .nav .cart-header-box {
      padding: 5px;
      background: #eeeeee;
      position: absolute;
      bottom: 0;
      right: 25px; }
      @media screen and (min-width: 768px) {
        header .nav .cart-header-box {
          padding: 10px;
          right: 0px; } }
      header .nav .cart-header-box .cart-link .cart-img {
        height: 35px;
        width: auto; }
      header .nav .cart-header-box .cart-link span {
        font-size: 0.7rem;
        font-weight: 600;
        color: #646E72; }
    header .nav__menu {
      padding: 5px;
      font-size: 1rem;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 25px;
      border: none;
      background: #FFFFFF; }
      header .nav__menu img {
        width: 25px; }
      @media screen and (min-width: 768px) {
        header .nav__menu {
          display: none; } }
  header .nav__list-mob {
    background: #eeeeee;
    display: none; }
    header .nav__list-mob li {
      padding: 5px 5px 5px 10px;
      border-bottom: solid 1px #FFFFFF; }
      header .nav__list-mob li a {
        color: #A9A9A9; }

html {
  font-size: 20px; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  background: white;
  font-family: Dosis; }

.row {
  max-width: 1140px;
  margin: 0 auto; }

/* Next & previous buttons */
/*------- MIXINS--------*/
/*------- EXTEND CLASSES--------*/
.text-center, .cart-overlay .cart__wrapper .empty__heading, .cart-overlay .cart__wrapper .empty__label {
  text-align: center; }

.cursor-link {
  cursor: pointer; }

.float-left, header .nav__logo, header .nav__list--home {
  float: left; }

.float-right, header .nav__list--main, .cart-overlay .cart__header .close, .cart-overlay .cart__wrapper .item__desc .price__wrapper .item__totalprice {
  float: right; }

.clear-all {
  clear: both; }

.cart-overlay {
  display: none; }
  .cart-overlay .bg-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: .9; }
  .cart-overlay .cart {
    font-size: 0.7rem;
    background: #eeeeee;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 200;
    overflow: auto; }
    @media screen and (min-width: 992px) {
      .cart-overlay .cart {
        bottom: 0;
        width: 30%;
        left: 50%;
        height: 600px;
        overflow: auto;
        min-width: 420px; } }
    .cart-overlay .cart .header {
      background: #FFFFFF;
      font-size: 1rem; }
      @media screen and (min-width: 992px) {
        .cart-overlay .cart .header {
          display: none; } }
      .cart-overlay .cart .header .cart-header-box {
        padding: 5px; }
        @media screen and (min-width: 768px) {
          .cart-overlay .cart .header .cart-header-box {
            padding: 10px; } }
    .cart-overlay .cart__header {
      padding: 15px;
      margin: 20px 0px 0px 0px;
      font-size: 0.7rem;
      font-weight: 400;
      background: #FFFFFF;
      color: #000000;
      height: 50px; }
      @media screen and (min-width: 992px) {
        .cart-overlay .cart__header {
          margin: 0px;
          background: #000000;
          color: #FFFFFF; } }
      .cart-overlay .cart__header .cart__text {
        font-size: 0.8rem;
        font-weight: 700; }
      .cart-overlay .cart__header .close {
        font-size: 0.8rem;
        display: none;
        border: none;
        background: transparent; }
        @media screen and (min-width: 992px) {
          .cart-overlay .cart__header .close {
            color: #FFFFFF;
            display: block; } }
    .cart-overlay .cart__wrapper {
      max-height: 65vh;
      overflow-y: auto; }
      @media screen and (min-width: 992px) {
        .cart-overlay .cart__wrapper {
          max-height: 60vh; } }
      .cart-overlay .cart__wrapper .item {
        margin: 10px 0px 0px 0px;
        padding: 5px;
        font-size: 0.7rem;
        display: flex;
        align-items: center;
        background: #FFFFFF; }
        @media screen and (min-width: 992px) {
          .cart-overlay .cart__wrapper .item {
            padding: 10px 5px; } }
        .cart-overlay .cart__wrapper .item__img > img {
          width: 100%;
          height: auto; }
        .cart-overlay .cart__wrapper .item__desc {
          margin: 0px 0px 0px 4px; }
          @media screen and (min-width: 992px) {
            .cart-overlay .cart__wrapper .item__desc {
              margin: 0px 0px 0px 10px; } }
          .cart-overlay .cart__wrapper .item__desc .item__label {
            font-size: 0.8rem;
            font-weight: 700; }
          .cart-overlay .cart__wrapper .item__desc .price__wrapper {
            padding: 10px 0px 0px 0px;
            font-size: 0.7rem;
            font-weight: 600; }
            .cart-overlay .cart__wrapper .item__desc .price__wrapper .btn {
              width: 20px;
              height: 20px;
              background-color: #D10157;
              border-radius: 10%;
              display: inline-block;
              text-align: center;
              line-height: 20px;
              border: none;
              color: #FFFFFF; }
              @media screen and (min-width: 992px) {
                .cart-overlay .cart__wrapper .item__desc .price__wrapper .btn {
                  border-radius: 50%; } }
            .cart-overlay .cart__wrapper .item__desc .price__wrapper .btn:first-child {
              margin: 0px; }
            .cart-overlay .cart__wrapper .item__desc .price__wrapper button, .cart-overlay .cart__wrapper .item__desc .price__wrapper span {
              margin: 0px 0px 0px 5px; }
              @media screen and (min-width: 992px) {
                .cart-overlay .cart__wrapper .item__desc .price__wrapper button, .cart-overlay .cart__wrapper .item__desc .price__wrapper span {
                  margin: 0px 0px 0px 10px; } }
            .cart-overlay .cart__wrapper .item__desc .price__wrapper .item__totalprice {
              text-align: right;
              padding-right: 20px; }
      .cart-overlay .cart__wrapper .empty__heading {
        padding: 20px 0px 0px 0px;
        font-size: 0.9rem;
        font-weight: 700; }
      .cart-overlay .cart__wrapper .empty__label {
        padding: 10px 0px 0px 0px;
        font-size: 0.7rem;
        font-weight: 400; }
      .cart-overlay .cart__wrapper .cart__offer {
        padding: 10px; }
        .cart-overlay .cart__wrapper .cart__offer .offer__img {
          padding: 10px;
          background: #FFFFFF; }
          .cart-overlay .cart__wrapper .cart__offer .offer__img img {
            height: 30px; }
          .cart-overlay .cart__wrapper .cart__offer .offer__img span {
            margin: 0px 0px 0px 15px;
            font-weight: 600; }
    .cart-overlay .cart__footer {
      padding: 10px;
      background: #FFFFFF;
      position: fixed;
      width: 100%;
      bottom: 0px; }
      @media screen and (min-width: 992px) {
        .cart-overlay .cart__footer {
          width: 30%;
          min-width: 420px; } }
      .cart-overlay .cart__footer .promo {
        margin: 0px 0px 10px 0px;
        text-align: center;
        font-weight: 600; }
      .cart-overlay .cart__footer .checkout-btn {
        padding: 10px;
        height: 40px;
        background: #D10157;
        color: #FFFFFF;
        width: 100%;
        border: none; }
  .cart-overlay .checkoutCart {
    background: #FFFFFF; }

/*------- MIXINS--------*/
/*------- EXTEND CLASSES--------*/
.text-center, .cart-overlay .cart__wrapper .empty__heading, .cart-overlay .cart__wrapper .empty__label {
  text-align: center; }

.cursor-link {
  cursor: pointer; }

.float-left, header .nav__logo, header .nav__list--home {
  float: left; }

.float-right, header .nav__list--main, .cart-overlay .cart__header .close, .cart-overlay .cart__wrapper .item__desc .price__wrapper .item__totalprice {
  float: right; }

.clear-all {
  clear: both; }

.footer {
  padding: 10px;
  background: #eeeeee; }
  .footer .copyright {
    font-weight: 600; }
