/*------- MIXINS--------*/
/*------- EXTEND CLASSES--------*/
.text-center {
  text-align: center; }

.cursor-link {
  cursor: pointer; }

.float-left {
  float: left; }

.float-right, .category:nth-child(even) .category__img {
  float: right; }

html {
  font-size: 20px;
  background: #FFFFFF;
  font-family: 'Dosis','Arial', 'sans-serif'; }

* {
  box-sizing: border-box; }

div:focus, a:focus, img:focus, li:focus, form:focus, label:focus, button:focus, input[type=submit]:focus {
  border: 1px dashed #E67E22 !important; }

button {
  border: none;
  cursor: pointer; }

.row {
  max-width: 1140px;
  margin: 0 auto;
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }

/*  SECTIONS  ============================================================================= */
.section {
  clear: both; }

/*  GROUPING  ============================================================================= */
.row:before,
.row:after {
  content: "";
  display: table; }

.row:after {
  clear: both; }

/*  GRID COLUMN SETUP   ==================================================================== */
.col {
  display: block;
  float: left; }

.col:first-child {
  margin-left: 0; }

/* all browsers except IE6 and lower */
h1 {
  font-weight: 700;
  letter-spacing: -1px; }

input:not([type=submit]) {
  border: none;
  width: 100%;
  border-bottom: solid 2px #eeeeee; }
  input:not([type=submit]):focus {
    outline: none;
    border-bottom: solid 2px #5fc8d0;
    color: #5fc8d0;
    padding: 0px 0px 10px 0px; }
    input:not([type=submit]):focus + label {
      color: #5fc8d0;
      margin: 0px 0px 10px 0px; }

label {
  font-size: 0.7rem;
  font-weight: 600;
  color: #A9A9A9; }

img {
  width: 100%;
  height: auto; }

.btn-basic {
  background: #D10157;
  color: #FFFFFF;
  padding: 10px;
  font-size: 0.7rem; }

.category {
  padding: 30px 0px;
  box-shadow: 0 14px 6px -7px #eeeeee;
  min-height: 150px;
  position: relative; }
  .category__desc {
    text-align: center; }
    @media screen and (min-width: 768px) {
      .category__desc {
        position: absolute;
        top: 50%;
        width: 75%;
        left: 25%;
        transform: translateY(-50%); } }
    .category__desc h2 {
      font-size: 0.7rem;
      font-weight: 700; }
      @media screen and (min-width: 992px) {
        .category__desc h2 {
          font-size: 1rem; } }
    .category__desc p {
      font-size: 0.6rem;
      margin: 10px 0px 20px 0px;
      padding: 0px 5px; }
      @media screen and (min-width: 992px) {
        .category__desc p {
          font-size: 0.8rem; } }
    .category__desc a {
      padding: 10px;
      background: #D10157;
      color: #FFFFFF;
      height: 40px;
      font-size: 0.6rem;
      line-height: 1.5; }
  @media screen and (min-width: 768px) {
    .category:nth-child(even) .category__desc {
      position: absolute;
      top: 50%;
      width: 75%;
      left: 0%;
      transform: translateY(-50%); } }

.form-group {
  width: 65%;
  display: flex;
  flex-direction: column-reverse;
  margin: 30px 0px 0px 0px; }

.product {
  padding: 5px;
  position: relative;
  border-bottom: dashed 1px #A9A9A9;
  background: #FFFFFF;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .product__border {
    position: absolute;
    border-right: solid 1px rgba(238, 238, 238, 0.867);
    right: 0;
    display: block;
    height: 80%;
    top: 10%; }
  .product h3 {
    padding: 5px;
    font-size: 0.7rem;
    font-weight: 700;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 50px; }
  .product__img {
    justify-self: center; }
    @media screen and (min-width: 992px) {
      .product__img {
        margin: 10px 0px;
        grid-column-start: 1;
        grid-column-end: 3; } }
    .product__img > img {
      height: 150px;
      width: auto; }
  @media screen and (min-width: 992px) {
    .product__desc {
      grid-column-start: 1;
      grid-column-end: 3; } }
  .product__desc > p {
    padding: 5px;
    font-size: 0.7rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    background: #eeeeee;
    line-height: 1.5; }
    @media screen and (min-width: 768px) {
      .product__desc > p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 8;
        height: 150px;
        line-height: 1.3; } }
  .product__desc .price__wrapper {
    padding: 10px 0px 0px 0px;
    display: grid;
    grid-template-columns: 1fr; }
    @media screen and (min-width: 768px) {
      .product__desc .price__wrapper {
        display: none; } }
    @media screen and (min-width: 992px) {
      .product__desc .price__wrapper {
        grid-template-columns: repeat(2, 1fr);
        display: grid; } }
    .product__desc .price__wrapper > p {
      padding: 5px;
      font-size: 0.7rem;
      display: none; }
      @media screen and (min-width: 992px) {
        .product__desc .price__wrapper > p {
          display: block; } }
    .product__desc .price__wrapper .lg-screen {
      display: none; }
      @media screen and (min-width: 992px) {
        .product__desc .price__wrapper .lg-screen {
          display: block; } }
    .product__desc .price__wrapper .sm-screen {
      width: 100%;
      margin: 10px 0px 0px 0px;
      display: block; }
      @media screen and (min-width: 992px) {
        .product__desc .price__wrapper .sm-screen {
          display: none; } }
    .product__desc .price__wrapper .buy-btn {
      padding: 10px;
      font-size: 0.7rem; }
  .product .btn__pad {
    padding: 10px 0px 0px 0px;
    display: none;
    grid-column-start: 1;
    grid-column-end: 3; }
    @media screen and (min-width: 768px) {
      .product .btn__pad {
        display: block; } }
    @media screen and (min-width: 992px) {
      .product .btn__pad {
        display: none; } }
    .product .btn__pad button {
      width: 100%; }

header {
  border-bottom: solid 1px #eeeeee;
  position: relative; }
  header .nav {
    display: grid;
    max-width: 1140px;
    margin: auto;
    grid-template-columns: 1fr 3fr; }
    @media screen and (min-width: 768px) {
      header .nav {
        grid-template-columns: 1fr 4fr; } }
    header .nav__logo {
      margin: 5px 0px 5px 5px;
      height: 45px;
      width: auto;
      cursor: pointer; }
      @media screen and (min-width: 768px) {
        header .nav__logo {
          padding: 0px;
          height: 70px;
          width: auto; } }
    header .nav__menu {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 4fr 1fr; }
      @media screen and (min-width: 768px) {
        header .nav__menu {
          grid-template-rows: 30px auto;
          grid-template-columns: 2fr 1fr; } }
      header .nav__menu a {
        color: #646E72;
        font-weight: 600; }
      header .nav__menu .menu_blank {
        display: none; }
        @media screen and (min-width: 768px) {
          header .nav__menu .menu_blank {
            display: block; } }
      header .nav__menu .item__main {
        grid-area: 1 / 1 / span 1 / span 2;
        justify-self: end;
        padding: 5px 0px 0px 0px;
        font-size: 0.45rem;
        word-spacing: -2px;
        display: none; }
        @media screen and (min-width: 768px) {
          header .nav__menu .item__main {
            font-size: 0.6rem;
            display: block; } }
        header .nav__menu .item__main a:first-child {
          margin: 0px 15px 0px 0px; }
      header .nav__menu .item__home {
        justify-self: start;
        align-self: center;
        padding: 0px 0px 5px 40px;
        font-size: 0.7rem;
        display: none; }
        header .nav__menu .item__home a:last-child {
          margin: 0px 0px 0px 10px;
          margin-left: 10px; }
        @media screen and (min-width: 768px) {
          header .nav__menu .item__home {
            display: block; } }
      header .nav__menu .cart__count {
        justify-self: end;
        background: #eeeeee;
        border: none; }
        @media screen and (min-width: 768px) {
          header .nav__menu .cart__count {
            padding: 10px; } }
        header .nav__menu .cart__count > img {
          height: 25px;
          width: auto; }
        header .nav__menu .cart__count span {
          font-size: 0.7rem;
          font-weight: 400;
          padding: 5px 15px 5px 10px;
          color: #646E72; }
      header .nav__menu--mob {
        align-self: end;
        justify-self: start;
        width: 100%;
        background: #FFFFFF !important;
        font-size: 1.5rem;
        border: none; }
        header .nav__menu--mob img {
          width: 25px; }
        @media screen and (min-width: 768px) {
          header .nav__menu--mob {
            display: none; } }
  header .nav__list-mob {
    background: #eeeeee;
    display: none; }
    header .nav__list-mob li {
      padding: 5px 5px 5px 10px;
      border-bottom: solid 1px #FFFFFF; }
      header .nav__list-mob li a {
        color: #A9A9A9; }

.carousal {
  position: relative;
  box-shadow: 0 14px 6px -7px #eeeeee;
  /* Position the "next button" to the right */
  /* Fading animation */ }
  .carousal .btn {
    padding: 16px;
    margin: -22px 0px 0px 0px;
    font-size: 0.9rem;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #A9A9A9;
    position: absolute;
    top: 50%;
    width: auto;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    opacity: .4;
    display: none; }
    @media screen and (min-width: 768px) {
      .carousal .btn {
        display: block; } }
  .carousal .btn__next {
    right: 0; }
  .carousal__img--fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
  .carousal__nav {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; }
    @media screen and (min-width: 768px) {
      .carousal__nav {
        padding: 0px 0px 10px 0px;
        top: 90%; } }
    .carousal__nav .dot {
      height: 5px;
      width: 5px;
      margin: 0 10px;
      background-color: #A9A9A9;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
      cursor: pointer; }
      .carousal__nav .dot :hover {
        background-color: #6B6B6B; }
    .carousal__nav .active {
      background-color: #6B6B6B; }

/* Next & previous buttons */
.cart-overlay {
  display: none; }
  .cart-overlay .bg-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: .9; }
  .cart-overlay .cart {
    font-size: 0.7rem;
    background: #eeeeee;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 200;
    overflow: auto; }
    @media screen and (min-width: 992px) {
      .cart-overlay .cart {
        bottom: 0;
        width: 30%;
        left: 50%;
        height: 600px;
        overflow: auto;
        min-width: 420px; } }
    .cart-overlay .cart .header {
      background: #FFFFFF;
      font-size: 1rem; }
      @media screen and (min-width: 992px) {
        .cart-overlay .cart .header {
          display: none; } }
    .cart-overlay .cart__header {
      padding: 15px;
      margin: 20px 0px 0px 0px;
      font-size: 0.7rem;
      font-weight: 400;
      background: #FFFFFF;
      color: #000000;
      height: 50px; }
      @media screen and (min-width: 992px) {
        .cart-overlay .cart__header {
          margin: 0px;
          background: #000000;
          color: #FFFFFF; } }
      .cart-overlay .cart__header .cart-head-count span {
        font-size: 0.8rem;
        font-weight: 700; }
      .cart-overlay .cart__header .close {
        font-size: 0.8rem;
        display: none;
        border: none;
        background: transparent; }
        @media screen and (min-width: 992px) {
          .cart-overlay .cart__header .close {
            color: #FFFFFF;
            display: block; } }
    .cart-overlay .cart__wrapper {
      max-height: 65vh;
      overflow-y: auto; }
      @media screen and (min-width: 992px) {
        .cart-overlay .cart__wrapper {
          max-height: 60vh; } }
      .cart-overlay .cart__wrapper .item {
        margin: 10px 0px 0px 0px;
        padding: 5px;
        font-size: 0.7rem;
        display: flex;
        align-items: center;
        background: #FFFFFF; }
        @media screen and (min-width: 992px) {
          .cart-overlay .cart__wrapper .item {
            padding: 10px 5px; } }
        .cart-overlay .cart__wrapper .item__img > img {
          width: 100%;
          height: auto; }
        .cart-overlay .cart__wrapper .item__desc {
          margin: 0px 0px 0px 4px; }
          @media screen and (min-width: 992px) {
            .cart-overlay .cart__wrapper .item__desc {
              margin: 0px 0px 0px 10px; } }
          .cart-overlay .cart__wrapper .item__desc h3 {
            font-size: 0.8rem;
            font-weight: 700; }
          .cart-overlay .cart__wrapper .item__desc .price__wrapper {
            padding: 10px 0px 0px 0px;
            font-size: 0.7rem;
            font-weight: 600; }
            .cart-overlay .cart__wrapper .item__desc .price__wrapper .btn {
              padding: 0px;
              width: 22px;
              height: 22px;
              background-color: #D10157;
              border-radius: 10%;
              display: inline-block;
              text-align: center;
              border: none;
              color: #FFFFFF; }
              @media screen and (min-width: 992px) {
                .cart-overlay .cart__wrapper .item__desc .price__wrapper .btn {
                  border-radius: 50%; } }
            .cart-overlay .cart__wrapper .item__desc .price__wrapper .btn:first-child {
              margin: 0px; }
            .cart-overlay .cart__wrapper .item__desc .price__wrapper button, .cart-overlay .cart__wrapper .item__desc .price__wrapper span {
              margin: 0px 0px 0px 5px; }
              @media screen and (min-width: 992px) {
                .cart-overlay .cart__wrapper .item__desc .price__wrapper button, .cart-overlay .cart__wrapper .item__desc .price__wrapper span {
                  margin: 0px 0px 0px 10px; } }
            .cart-overlay .cart__wrapper .item__desc .price__wrapper .item__totalprice {
              padding: 0px 20px 0px 0px;
              text-align: right;
              padding-right: 20px; }
      .cart-overlay .cart__wrapper .cart__empty {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%); }
        .cart-overlay .cart__wrapper .cart__empty .empty__heading {
          padding: 20px 0px 0px 0px;
          font-size: 0.9rem;
          font-weight: 700; }
        .cart-overlay .cart__wrapper .cart__empty .empty__label {
          padding: 10px 0px 0px 0px;
          font-size: 0.7rem;
          font-weight: 400; }
      .cart-overlay .cart__wrapper .cart__offer {
        padding: 10px; }
        .cart-overlay .cart__wrapper .cart__offer .offer__img {
          padding: 10px;
          background: #FFFFFF;
          display: flex;
          align-items: center; }
          .cart-overlay .cart__wrapper .cart__offer .offer__img img {
            height: 30px;
            width: auto; }
          .cart-overlay .cart__wrapper .cart__offer .offer__img span {
            margin: 0px 0px 0px 15px;
            font-weight: 600; }
    .cart-overlay .cart__footer {
      padding: 10px;
      background: #FFFFFF;
      position: fixed;
      width: 100%;
      bottom: 0px; }
      @media screen and (min-width: 992px) {
        .cart-overlay .cart__footer {
          width: 30%;
          min-width: 420px; } }
      .cart-overlay .cart__footer .promo {
        margin: 0px 0px 10px 0px;
        text-align: center;
        font-weight: 600; }
      .cart-overlay .cart__footer .checkout-btn {
        padding: 10px;
        height: 40px;
        background: #D10157;
        color: #FFFFFF;
        width: 100%;
        border: none; }
  .cart-overlay .checkout-cart {
    background: #FFFFFF; }

footer {
  padding: 10px;
  background: #eeeeee; }
  footer p {
    font-size: .7rem;
    font-weight: 600; }

.login-section {
  padding: 0px 0px 20px 0px; }
  .login-section .login-text {
    padding: 2% 0% 0% 5%; }
    .login-section .login-text h1 {
      margin: 20px 0px 0px 0px; }
    .login-section .login-text p {
      font-size: 0.7rem;
      font-weight: 600;
      margin: 20px 0px 0px 0px; }
  .login-section .login-form input[type="submit"] {
    margin: 20px 0px 0px 0px;
    width: 65%;
    height: 40px;
    background: #D10157;
    color: #FFFFFF;
    border: none; }

.parent-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
  background: #eeeeee;
  max-width: 1140px; }
  @media screen and (min-width: 768px) {
    .parent-wrapper {
      grid-template-columns: 1fr 4fr; } }
  .parent-wrapper .category-wrapper .categories__list {
    display: none; }
    @media screen and (min-width: 767px) {
      .parent-wrapper .category-wrapper .categories__list {
        display: block; } }
    .parent-wrapper .category-wrapper .categories__list li {
      padding: 10px 0px 10px 20px;
      font-size: 0.9rem;
      border-bottom: solid 1px #A6A6A6; }
      .parent-wrapper .category-wrapper .categories__list li a {
        color: #A6A6A6; }
    .parent-wrapper .category-wrapper .categories__list .highlight {
      background: #A9A9A9; }
      .parent-wrapper .category-wrapper .categories__list .highlight a {
        color: #FFFFFF; }
  .parent-wrapper .category-wrapper .categories__dropdown {
    padding: 5px; }
    .parent-wrapper .category-wrapper .categories__dropdown .dropdown button {
      outline: none;
      padding: 14px 16px;
      font-family: inherit;
      margin: 0px;
      width: 100%;
      background: #D10157;
      color: #FFFFFF; }
    .parent-wrapper .category-wrapper .categories__dropdown .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      width: 99%; }
      .parent-wrapper .category-wrapper .categories__dropdown .dropdown-content li {
        padding: 6px;
        font-size: 0.6rem;
        float: none;
        background: #D10157;
        color: #FFFFFF;
        display: block;
        text-align: left; }
      .parent-wrapper .category-wrapper .categories__dropdown .dropdown-content :hover {
        background: #eeeeee;
        color: #000000; }
    .parent-wrapper .category-wrapper .categories__dropdown .dropdown:hover .dropdown-content {
      display: block; }
    @media screen and (min-width: 768px) {
      .parent-wrapper .category-wrapper .categories__dropdown {
        display: none; } }
  .parent-wrapper .product-wrapper {
    background: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr; }
    @media screen and (min-width: 768px) {
      .parent-wrapper .product-wrapper {
        grid-template-columns: repeat(2, 1fr); } }
    @media screen and (min-width: 992px) {
      .parent-wrapper .product-wrapper {
        grid-template-columns: repeat(4, 1fr); } }

.register-section {
  padding: 0px 0px 20px 0px; }
  .register-section .register-text {
    padding: 2% 0% 0% 5%; }
    .register-section .register-text h1 {
      margin: 20px 0px 0px 0px; }
    .register-section .register-text p {
      font-size: 0.7rem;
      font-weight: 600;
      margin: 20px 0px 0px 0px; }
  .register-section .register-form input[type="submit"] {
    width: 65%;
    height: 40px;
    margin: 20px 0px 0px 0px;
    background: #D10157;
    color: #FFFFFF;
    border: none; }
