@import "./common";

.product-nav {
    background-color: $lightgray-color;
    color: gray;
    width: 25%;
    ul {
        list-style: none;
        li {
            padding: 15px;
            border-bottom: 2px solid rgb(199, 197, 197);
            a {
                text-decoration: none;
                color: gray;
            }
        }
    }
}

.prod-main {
    padding: 66px 8% 10px 8%;
    justify-content: space-between;
}

.card {
    margin-top: 20px;
    width: 25%;
    position: relative;
    height: 400px;
    .card-title {
        font-weight: bolder;
        height: 10%;
    }
    .card-body {
        height: 75%;
        .card-desc {
            height: 50%;
            div {
                margin: 10px;
                background-color: rgb(241, 236, 236);
                border-radius: 5px;
                font-size: 0.8rem;
                height: 55%;
                overflow: hidden;
            }
        }
    }
    .card-img {
        padding-top: 20px;
        height: 70%;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .card-footer {
        margin: 10px;
        font-size: 0.8rem;
        justify-content: space-between;
        align-items: center;
        button {
            padding: 10px;
            border: none;
            background-color: $pink-color;
            color: white;
        }
    }
}

.card::after {
    content: "";
    position: absolute;
    width: 95%;
    border-bottom: 2px dotted $lightgray-color;
}

.products {
    flex-wrap: wrap;
    width: 75%;
}

.btn-tablet {
    display: none;
}

.btn-mobile {
    display: none;
}

@media screen and (max-width: 320px) {
    .products {
        .card {
            .card-body {
                .card-img,
                .card-desc {
                    height: 90%;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .btn-mobile {
        display: block;
        margin: 10px;
        padding: 10px;
        border: none;
        background-color: $pink-color;
        color: white;
        width: 90%;
    }

    .product-nav {
        display: none;
    }

    .products {
        width: 100%;
        .card {
            width: 100%;
            .card-body {
                height: 80%;
                .card-desc {
                    div {
                        height: 75%;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .card-footer {
        .btn-tablet {
            display: block;
            width: 100%;
        }
    }
}

@media screen and (max-width: 991px) {
    .prod-main {
        padding: 56px 0 0 0;
    }
    .card {
        width: 50%;
        height: 225px;
        .card-title {
            height: 15%;
        }
        .card-img {
            padding: 0;
        }
        .card-body {
            display: flex;
            height: 60%;
            .card-img,
            .card-desc {
                width: 50%;
                height: 100%;
                div {
                    height: 90%;
                }
            }
        }
        .card-footer {
            span,
            .btn-desktop {
                display: none;
            }
        }
    }
}
