ul {
  list-style: none; }

a {
  text-decoration: none; }

button {
  cursor: pointer; }

/*  SECTIONS  ============================================================================= */
.section {
  clear: both;
  padding: 0px;
  margin: 0px; }

/*  GROUPING  ============================================================================= */
.row {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
  max-width: 1140px;
  margin: 0 auto; }

.row:before,
.row:after {
  content: "";
  display: table; }

.row:after {
  clear: both; }

/*  GRID COLUMN SETUP   ==================================================================== */
.col {
  display: block;
  float: left; }

.col:first-child {
  margin-left: 0; }

/* all browsers except IE6 and lower */
