/* mobile */
@media (min-width: 320px) and (max-width: 480px) {
  body, .products_list {
    overflow-x: hidden !important;
  }
  .logo {
    width: 125px;
  }
  .navigation {
    margin-left: 3rem;
  }
  .product-item {
    width: 100%;
    height: 190px;
  }
  .product-item-mflex {
    position: absolute;
  }
  .buy-product-m {
    position: relative;
    top: 95px;
    left: 25px;
  }
  .product-description {
    width: 59%;
  }
  .modal-dialog {
    width: 80% !important;
  }
  .ml-xs-20 {
    margin-left: -30px;
  }
  .home-category-image {
    max-height: 95px;
  }
}

@media (min-width: 350px) and (max-width: 410px) {
  .buy-product-m {
    left: 45px;
  }
}

/* mobile & tablet */
@media (min-width: 320px) and (max-width: 768px) {
  .m-show {
    display: inherit;
  }
  .m-hide {
    display: none;
  }
  .product-name {
    text-align: left;
  }
  .product-item-mflex {
    display: flex;
  }
}

/* desktop & big screens */
@media (min-width: 769px) {
  .m-show {
    display: none;
  }
}