<section class="product-landing-page-container">
    <aside class="product-category-nav" #categoryList>
        <ul>
            <li *ngFor="let category of categories" (keyup.enter)="renderProductByCategory(category.id)"
                (click)="renderProductByCategory(category.id)" tabindex="0">{{category.name}}</li>
        </ul>
        <button type="button" (click)="toggleCategoryMenu()" aria-expanded="false" aria-label="category menu dropdown button"><i class="fa"
                [class.fa-chevron-down]="menuNavDirection === 'down'" [class.fa-chevron-up]="menuNavDirection === 'up'"
                aria-hidden="true"></i></button>
    </aside>
    <div>
        <div class="no-product-found-placeholder" *ngIf="productsRenderList.length===0">
            <h2>No products found</h2>
        </div>
        <app-product-card [products]="productsRenderList"></app-product-card>
    </div>
</section>