.product-landing-page-container {
    display: flex;
    flex-direction: column;
}
.product-category-nav {
    background-color: #c03e57;
    color: white;
    padding: 5px 20px;
    height: 25px;
    line-height: 1.24;
    ul>li {
        padding: 5px;
    }
}
aside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.no-product-found-placeholder {
    margin: 20px;
    text-align: center;
}