<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="register.css">
    <title>Document</title>
</head>
<body>
    <article class="login-wrapper container margin-top-20">
        <section class="row">
            <section class="col-6 text-center">
                <div>
                    <h1 class="text-left login-heading">Signup</h1>
                    <h5 class="text-left margin-top-20">We do not share your personal details with anyone</h6>
                </div>
            </section>
            <section class="col-6 text-center">
                    <form class="login-form">
                        <div class="text-left">
                            <label class="font-12" for="firstname">First Name</label>
                        </div>
                        <div class="text-left">
                            <input id="firstname" type="text" name="firstname">
                        </div>
                        
                        <div class="text-left margin-top-20">
                            <label class="font-12" for="lastname">Last Name</label>
                        </div>
                        <div class="text-left">
                            <input id="lastname" type="text" name="lastname">
                        </div>
                        <div class="text-left margin-top-20">
                            <label class="font-12" for="email">Email</label>
                        </div>
                        <div class="text-left">
                            <input id="email" type="email" name="email">
                        </div>
                        
                        <div class="text-left margin-top-20">
                            <label class="font-12"  for="password">Password</label>
                        </div>
                        <div class="text-left">
                            <input id="password" type="password" name="password">
                        </div>

                        <div class="text-left margin-top-20">
                            <label class="font-12"  for="confirmPassword">Confirm Password</label>
                        </div>
                        <div class="text-left">
                            <input id="confirmPassword" type="password" name="password">
                        </div>
                        <button type="button" class="cursor-pointer font-14 block padding-10">Signup</button>
                    </form> 
            </section>
        </section>
        
    </article>
    <section class="clearfix copyright padding-10 container-fluid">
        <div class="content">Copyright &copy; 2011-2018 Sbka Bazar Grocery Supplies Pvt Ltd.</div>
    </section>
</body>
</html>