.cards-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 2;
    flex-wrap: wrap;
    padding: 1vw;
}

.product-card{
    height: 450px;
    width: 250px;
    /*border-bottom: 1px dashed black;*/
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2) !important;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.2) !important;
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.2) !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    margin-left: 5px;
    margin-top: 10px;
}

.description-box{
    background-color: rgba(232, 232, 232, 1);
    width: 100%;
    min-height: 100px;
}

.price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px
}