<div class="category-details">
    <h1 class="category-title">{{this.name}}</h1>
    <p class="category-title-details">{{this.description}}</p>
    <button class="category-button">
        <a class="filter" href="/product/{{this.id}}">Explore {{this.name}}</a>
    </button>
</div>