#side-nav-filter-list {
    display: none;
}

@include responsive-for-ipad-desktop {
    #side-nav-filter-list {
        display: block;
        background: #e8e7e7;
        height: 100%;
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        li {
            padding: 10px;
            border-bottom: 1px solid #808080;
            cursor: pointer;
        }
    }
}