#side-nav-filter-list {
    display: map-get($display, none);
}

@include responsive-for-ipad-desktop {
    #side-nav-filter-list {
        display: map-get($display, block);
        background: $primary-grey;
        height: 100%;
        list-style-type: none;
        padding: 0px 0px 0px 10px;
        margin: 0px;
        li {
            padding: 15px;
            border-bottom: 1px solid #cec2c2;
            cursor: pointer;
            a {
                color: $text-grey-color;
                font-weight: 600;
            }
        }
    }
}