`   <div class="product-offer">
        <div class="offer-image">
            <img src="./static/images/lowest-price.png" alt="" tabindex="0">
        </div>
        <div class="offer-heading">
            <p>You won't find cheaper anywhere</p>
        </div>
    </div>