*,*::before , *::after{
    box-sizing: border-box;
}

body {
   background-color: $body_color-white;
   margin: 0;
   font-family: $font_style;
   font-size: 15px;
   color: #000000;
}
.clearfix::before, .clearfix::after {
    content: "";
    clear: both;
    display: block;
}
.container {
    width: 1170px;
    margin: 0 auto;
}