$dark-blue: #0a1930;
$light-blue: #1f93ff;
$color-white: #fff;
$color-dark: #333;
$color-grey: #eee;
$color-primary: #bf2857;
$color-success: hsl(134, 61%, 41%);
$color-success-bg: hsl(135, 87%, 85%);
$color-danger: hsl(16, 100%, 50%);
$color-danger-bg: hsl(17, 87%, 85%);
