.footer {
  background: #eeeeee;
  /* padding: 1em; */
  padding: 1em 0 1em 10em;
  /* padding: 1em 0 1em 20em; */
  /* margin-top: 1em; */
  /* position: fixed; */
  width: 100%;
  /* bottom: 25em; */
}
