.catgoryItemsHome{
    // box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    position: relative;
    margin-bottom: 25px;
    background-color: #ffffff;
    padding:25px 0;
    &::after{
        content: '';
    position: absolute;
    width: 99%;
    height: 100%;
    background: #ffffff;
    z-index: -1;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.45);
    }
}