@import "/client/components/styles/mq-mixin";

.explore_section {
  box-shadow: 0px 10px 11px -12px #c1c1c1;
  margin-bottom: 20px;
  padding: 20px 0px;
  .explore_caption {
    flex: 1 1 auto;
    text-align: center;
    > div,
    h4 {
      margin-bottom: 10px;
    }
    > div {
      padding: 10px 0px;
      gap: 15px;
    }
    button {
      width: fit-content;
    }
  }
  img {
    flex: 0 0 200px;
    @include mq(tab) {
      flex: 0 0 300px;
    }
  }
}
