$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

$primary-color: #d00255;
$success-color: #3cba54;
$danger-color: #f44336;
$warning-color: #FFCC00;