@import '../colors';
.cart{
  &_header {
    display: flex;
  }
  &_contents {
    &-table {
      width: 100%;
    }
  }
  &-btn {
    background-color: $tertiaryCTA;
    border: none;
    padding: .1rem .5rem;
    color: $white;
  }
}
.checkout_btn {
  background-color: $tertiaryCTA;
  border: none;
  padding: 1rem;
  color: $white;
  width: 100%;
}
// cart
.cart-main-cont {
  position: absolute;
  display: none;
  right: 0;
  top: 65px;
  background: #efefef;
  z-index: 3;
  .cart-wrapper{
    position: relative;
    height: 81.5vh;
    width: 35vw;
    .checkout {
      position: absolute;
      padding:15px;
      left: 0;
      right:0;
      bottom: 0;
      background: $white;
      &-button {
        background: $tertiaryCTA;
        border: none;
        width: 100%;
        color: $white;
        font-size: 1rem;
        padding: 15px;
      }
      &-heading {
        margin: 0px 0px 15px 0px;
        text-align: center;
      }
      &-price{

      }
    }
    .header-container{
      background: $black;
      display: flex;
      justify-content: space-between;
      padding: 0px 15px;
      .heading{
        color: $white;
      }
    }

    .cart_list{
      list-style: none;
      padding: 0px;
      margin-left: 0px;
      max-height: 62vh;
      overflow: auto;
      &-details{
        width:100%;
      }
      &-item{
        background: $white;
        display: flex;
        align-items: flex-start;
        margin-bottom: 10px;
        &-total {
          font-size: 1rem;
          margin: 0px 15px 0px 0px;
          float: right;
        }
      }
      .quantity,&-price{
        font-size: 1rem;
      }
      &-price{
        padding-left: 10px;
      }
      &-img{
        width: 80px;
        padding:10px;
      }
      &-name{
        font-size: 1.1rem;
        font-weight: 600;
        margin: 10px 0px;
        text-align: left;
      }
    }
  }
}


// tablet
@media only screen
and (min-device-width: 481px)
and (max-device-width: 1024px) {
  .cart-main-cont{
    position: fixed;
    .cart-wrapper {
      width: 100vw;
      height:95vh;
    }
  }
}


// mobile

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {

  .cart-main-cont  {
    position: fixed;
    display: none;
    right: 0;
    top: 10vh;
    bottom:0;
    left:0;
    background: #efefef;
    z-index: 3;
    .cart-wrapper{
      position: relative;
      width:100vw;
      height:90vh;
      .checkout {
        position: absolute;
        padding:15px;
        left: 0;
        right:0;
        bottom: 0;
        background: #fff;
        &-button {
          background: $tertiaryCTA;
          border: none;
          width: 100%;
          color: $white;
          font-size: 3rem;
          padding: 15px;
        }
        &-heading {
          margin: 0px 0px 15px 0px;
          text-align: center;
          font-size: 3rem;
        }
        &-price{

        }
      }
      .header-container{
        background: $black;
        display: flex;
        justify-content: space-between;
        padding: 0px 15px;
        .heading{
          color: $white;
          font-size: 2.5rem;
        }
      }

      .cart_list{
        max-height: 71vh;
        overflow: auto;
        &-item{
          background: $white;
          display: flex;
          align-items: flex-start;
          margin-bottom: 10px;
          &-total {
            font-size: 3rem;
          }
        }
        .quantity,&-price{
          font-size: 3rem;
          padding: 0px 15px;
        }
        .into-qty{
          font-size: 3rem;
          padding: 0px 5px;
        }
        &-price{
          padding-left: 10px;
        }
        &-img{
          width: 250px;
          padding:10px;
        }
        &-name{
          font-size: 3rem;
          font-weight: 600;
          margin: 10px 0px;
          text-align: left;
          display: block;
        }
      }
    }
  }
}
