$light-gray:#c8cbce61;
$gray:#a1a4ab;
$primary-color:#d00156;

//desktop screen
@media only screen and (min-width: 1030px) {
    .products {
        padding: 0 6rem;
    }
}

.products {
    display: flex;

    .no-content {
        min-height: 80vh;
    }

    .product-list {
        display: flex;
        flex-wrap: wrap;
    }

    .category-dropdown {
        display: none;
    }

    .product-categories {
        list-style-type: none;
        padding: 0;
        margin: 0;
        min-width: 250px;
        max-width: 250px;
        background-color: $light-gray;

        li {
            cursor: pointer;
            border-bottom: 1px solid $gray;
            padding: 10px;
        }

        .category-active {
            background-color: $gray;
        }
    }
}

@media only screen and (max-width: 767px) {
    .products {
        display: block;

        .category-dropdown {
            margin: 10px 0px;
            width: 100%;
            background-color: $primary-color;
            color: white;
            padding: 10px;
            display: inline-block;
        }

        .product-categories {
            display: none;
        }
    }
}