.appbar {
    background: #fff !important;
    color: grey !important;
    position: fixed !important;
        /* padding-left: 200px; */
}

.toolbar {
    padding-left: 200px !important;
}

.pages {
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    width: 17%;
    margin-right: 70px;
}

.rightText {
    display: flex;
    /* width:80%; */
    flex-direction: column;
    text-align: center;
}

.lastText {
    flex-direction: column;
}

.lastTextFirstChild {
    text-align: center;
    padding: 8px 0px 8px 0px;
}

.cartMainFirstChild{
    display: flex;
    justify-content: center;
}

.cartMain {
    text-align: center;
    padding: 5px 0px 5px 0px;
}
.appbarParent{
    height:88px;
}