.app-header {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 0rem 3.5rem 0.2rem 3.5rem;
    box-shadow: 0px 3px 5px #d6d4d4;
    height: 5rem;
}

.header-inner-container {
    display: flex;
}

.link-text{
    text-decoration:none;
    color: #474444;
}
li {
    display: inline;
    margin: 0.2rem 0.4rem;
    font-weight: 600;
}

.header-nav ul {
    margin: 0rem;
    padding: 2.5rem 1rem 0.5rem;
}

.header-nav {
    margin-left: 8rem;
}

.app-logo {
    width: 11rem;
}

.cart-button{
    margin-left: 3rem;
    background-color: #d1cece;
    display: flex;
    color:black;
    text-decoration: none;
    height: 2.5rem;
}
.cart-img{
    width: 3rem;
}

.cart-items{
    padding-top:0.5rem;
}

.cart-items :hover{
    text-decoration: none;
}
@media screen and (max-width:480px) {
    .header-nav {
        display: none;
    }
    .signin-nav{
        display: none;
    }
    .app-header{
        padding:0rem;
        height: 3rem;
    }
    .app-logo {
        height: 3rem;
    }
}

@media screen and (min-width:660px) and (max-width:1024px){
    .app-header{
        padding: 0rem;
    }
}
