.header .container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

.header {
    box-shadow: 1px -2px 10px 0px #646464;
    /* margin-bottom: 10px; */
}

.image-container {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
}

.nav-container {
    width: 60%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
}

.nav-container a {
    text-decoration: none;
    color: #000;
    margin: 0 20px;
}

.nav-container a:nth-child(1) {
    margin-left: 80px;
}

.cart-signup-container {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.signup-container {
    height: 50%;
    display: flex;
    justify-content: flex-end;
}

.signup-container a {
    text-decoration: none;
    color: #000;
    margin-left: 10px;
}

.cart-container {
    height: 50%;
    /* width: 50%; */
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    cursor: pointer;
    padding-right: 10px;
}

.cart-image-container img {
    color: #AE3757;
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.cart-text-container {
    justify-content: center;
}

.cart-popup {
    display: none;
    position: absolute;
    top: 87px;
    right: 5%;
    width: 34%;
    height: 90%;
    z-index: 1;
}

.show {
    display: block;
}

.show::before {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(100,100,100,0.5);
    content: '';
    z-index: -1;
}

/* Extra small devices (phones, 320px to 480px) */
@media only screen and (min-width : 320px) and (max-width: 480px) {
  .header .container {
    width: 100%;
    height: 60px;
  }

  .image-container {
    width: 50%;
  }

  .image-container a img {
    width: auto;
    height: 100%;
    margin-left: 10px;
  }

  .nav-container {
    display: none;
  }

  .cart-signup-container {
    width: 50%;
  }

  .signup-container {
    display: none;
  }

  .cart-container {
    height: 100%;
  }
}

/* Medium devices (landscape tablets, between 480px to 992px) */
@media only screen and (min-width: 480px) and (max-width: 992px) {
  .header .container {
    width: 100%;
  }
}
