 /* ---------
        Container
        --------- */
 .container {
     display: flex;
     justify-content: center;
     box-shadow: 0px 5px 10px 0px rgba(189, 182, 189, 0.5);
     background-color: #fff;
 }


 /* ---------
        Header
        --------- */

 @media (min-width:320px) {
     /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
 }

 @media (min-width:480px) {
     /* smartphones, Android phones, landscape iPhone */
 }

 .header {
     display: flex;
     justify-content: space-between;
     flex-grow: 0.5;
 }

 /* ---------
        navigation
        --------- */
 .logo {
     display: flex;
     flex-direction: column;
     justify-content: center;
 }


 /* ---------
        navigation
        --------- */
 .navigation {
     align-self: flex-end;
     padding-bottom: 20px;
     flex-grow: 0.5;
 }

 .nav-links a {
     text-decoration: none;
     color: #6e676a;
     font-weight: 500;
     padding: 1rem;
 }

 /* ---------
        right-section
        --------- */
 .right-section {
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
 }

 .login {
     display: flex;
     gap: 5px;
     justify-content: flex-end;
 }

 .cart {
     display: flex;
     padding: 10px;
     background-color: #eeeeee;
     gap: 5px;
     align-items: center;
     justify-content: center;
 }

 /* .cart--icon {
     height: 30px;
     color: #cf828f;
 } */