.header-container {
    display: flex;
    box-shadow: 0 0px 8px 0 rgb(0 0 0 / 10%), 0 0px 20px 0 rgb(0 0 0 / 10%);
    padding-top: 4px;
    justify-content: center;
}
.header-content-wrapper{
    display: flex;
    flex-basis: 80%;
}
.header-image-box {
    width: 20%;
}

.header-image-icon {
    width: 100px;
    height: 50px;
}

.signin-signup-container {
    text-align: right;
}

.header-navigation-content-container {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.home-products-link-cart-container {
    width: 100%;
    display: flex;
}

.header-navigation-content-container .link {
    text-decoration: none;
    font-size: 14px;
    margin-left: 10px;
}

.home-products-link-container {
    width: 50%;
}

.products-cart-container {
    width: 50%;
    display: flex;
    justify-content: end;
}
.products-cart-container-content {
    position: relative;
    margin-top: 5px;
    display: inline-block;
}
.products-cart-icon-items{
    padding: 5px 15px;
    background-color: #EEECEC;
    cursor: pointer;
    display: flex;
}
.overlay{
        position: fixed; 
        width: 100%;
        height: 100%; 
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); 
        z-index: 1;
}