<!DOCTYPE html>
<html>
<head>
	<title>Sabka Bazaar</title>
	<link href="https://fonts.googleapis.com/css?family=Dosis:400,600,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="./utils/fonts/icofont.min.css">
</head>
<body>
	{{#data}}
		{{> ../../common/organisms/o-header}}
		<section class="container">
			<div class="row">
				<div class="col col-xs-12 col-sm-3">
					<button class="category-mobile">Categories</button>
					<ul class="category-block">
						{{#each categories}}
						<li>{{name}}</li>
						{{/each}}
					</ul>
				</div>
				<div class="col col-xs-12 col-sm-9 plp-container">
					<div class="row">
						{{#each products}}
						<div class ="col col-xs-12 col-sm-6 col-lg-3 product-block">
							<h4>{{name}}</h4>
							<div class="row flex">
								<div class ="col col-xs-6 col-sm-7 col-lg-12">
									<img src={{imageURL}}>
								</div>
								<div class="col col-xs-6 col-sm-5 col-lg-12">
									<p>{{description}}</p>
									<button>Buy now</button>
								</div>
							</div>
						</div>
						{{/each}}
					</div>
				</div>
			</div>
		</section>
	{{/data}}
</body>
</html>