<!DOCTYPE html>
<html>
<head>
	<title>Sabka Bazaar</title>
	<link href="https://fonts.googleapis.com/css?family=Dosis:400,600,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="./utils/fonts/icofont.min.css">
</head>
<body>
	<header>
		<div class="container">
			<div class ="row">
				<div class ="col col-xs-4 col-md-3">
					<img src ="static/images/logo.png" alt ="sabka bazaar" class ="logo">
				</div>
				<div class="col col-xs-6 col-md-6 nav-primary">
					<nav>
						<button class="nav-icon--mobile"><em class="icofont-navigation-menu"></em></button>
						<ul class="nav-main">
							<li><a href ="home.html">Home</a></li>
							<li><a href ="products.html">Products</a></li>
						</ul>
					</nav>
				</div>
				<div class ="col col-xs-4 col-md-3 cart-container">
					<div class ="cart-block">
						<ul class="secondary-nav">
							<li> Sign in</li>
							<li> Register</li>
						</ul>
						<button class="cart-button"><img src ="static/images/cart.svg"><span class="text-count">0 items</span></button>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class="container">
		<div class="row">
			<div class="col col-xs-12 col-sm-3">
				<ul class="category-block">
					<li>Fruits & Vegetables</li>
					<li>Bakery Cakes and Dairy</li>
					<li>Beverages</li>
					<li>Beauty and Hygiene</li>
					<li>Baby Care</li>
				</ul>
			</div>
			<div class="col col-xs-12 col-sm-9 plp-container">
				<div class="row">
					<div class ="col col-xs-12 col-sm-6 col-lg-3 product-block">
						<h4>Fresho Kiwi - Green, 3 pcs</h4>
						<div class="row">
							<div class ="col col-xs-6 col-sm-7 col-lg-12">
								<img src="static/images/products/fruit-n-veg/kiwi-green.jpg">
							</div>
							<div class="col col-xs-6 col-sm-5 col-lg-12">
								<p>Kiwis are oval shaped with a brownish outer skin. The flesh is bright green and juicy with tiny, edible black seeds.</p>
								<button>Buy now</button>
							</div>
						</div>
					</div>
					<div class ="col col-xs-12 col-sm-6 col-lg-3 product-block">
						<h4>Fresho Kiwi - Green, 3 pcs</h4>
						<div class="row">
							<div class ="col col-xs-6 col-sm-7 col-lg-12">
								<img src="static/images/products/fruit-n-veg/kiwi-green.jpg">
							</div>
							<div class="col col-xs-6 col-sm-5 col-lg-12">
								<p>Kiwis are oval shaped with a brownish outer skin. The flesh is bright green and juicy with tiny, edible black seeds.</p>
								<button>Buy now</button>
							</div>
						</div>
					</div>
					<div class ="col col-xs-12 col-sm-6 col-lg-3 product-block">
						<h4>Apple-Washington, Regular, 4 pcs</h4>
						<div class="row">
							<div class ="col col-xs-6 col-sm-7 col-lg-12">
								<img src="static/images/products/fruit-n-veg/apple.jpg">
							</div>
							<div class="col col-xs-6 col-sm-5 col-lg-12">
								<p>Kiwis are oval shaped with a brownish outer skin. The flesh is bright green and juicy with tiny, edible black seeds.</p>
								<button>Buy now</button>
							</div>
						</div>
					</div>
					<div class ="col col-xs-12 col-sm-6 col-lg-3 product-block">
						<h4>Apple-Washington, Regular, 4 pcs</h4>
						<div class="row">
							<div class ="col col-xs-6 col-sm-7 col-lg-12">
								<img src="static/images/products/fruit-n-veg/apple.jpg">
							</div>
							<div class="col col-xs-6 col-sm-5 col-lg-12">
								<p>Kiwis are oval shaped with a brownish outer skin. The flesh is bright green and juicy with tiny, edible black seeds.</p>
								<button>Buy now</button>
							</div>
						</div>
					</div>
						<div class ="col col-xs-12 col-sm-6 col-lg-3 product-block">
						<h4>Fresho Kiwi - Green, 3 pcs</h4>
						<div class="row">
							<div class ="col col-xs-6 col-sm-7 col-lg-12">
								<img src="static/images/products/fruit-n-veg/kiwi-green.jpg">
							</div>
							<div class="col col-xs-6 col-sm-5 col-lg-12">
								<p>Kiwis are oval shaped with a brownish outer skin. The flesh is bright green and juicy with tiny, edible black seeds.</p>
								<button>Buy now</button>
							</div>
						</div>
					</div>
					<div class ="col col-xs-12 col-sm-6 col-lg-3 product-block">
						<h4>Fresho Kiwi - Green, 3 pcs</h4>
						<div class="row">
							<div class ="col col-xs-6 col-sm-7 col-lg-12">
								<img src="static/images/products/fruit-n-veg/kiwi-green.jpg">
							</div>
							<div class="col col-xs-6 col-sm-5 col-lg-12">
								<p>Kiwis are oval shaped with a brownish outer skin. The flesh is bright green and juicy with tiny, edible black seeds.</p>
								<button>Buy now</button>
							</div>
						</div>
					</div>
					<div class ="col col-xs-12 col-sm-6 col-lg-3 product-block">
						<h4>Apple-Washington, Regular, 4 pcs</h4>
						<div class="row">
							<div class ="col col-xs-6 col-sm-7 col-lg-12">
								<img src="static/images/products/fruit-n-veg/apple.jpg">
							</div>
							<div class="col col-xs-6 col-sm-5 col-lg-12">
								<p>Kiwis are oval shaped with a brownish outer skin. The flesh is bright green and juicy with tiny, edible black seeds.</p>
								<button>Buy now</button>
							</div>
						</div>
					</div>
					<div class ="col col-xs-12 col-sm-6 col-lg-3 product-block">
						<h4>Apple-Washington, Regular, 4 pcs</h4>
						<div class="row">
							<div class ="col col-xs-6 col-sm-7 col-lg-12">
								<img src="static/images/products/fruit-n-veg/apple.jpg">
							</div>
							<div class="col col-xs-6 col-sm-5 col-lg-12">
								<p>Kiwis are oval shaped with a brownish outer skin. The flesh is bright green and juicy with tiny, edible black seeds.</p>
								<button>Buy now</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>