:host {
  flex: 0 0 24% !important;
  border: none;
  border-bottom: 2px dashed rgba(0, 0, 0, 0.125);
  box-shadow: 0px 0px 2px rgb(0 0 0 / 13%);
}

.card-title {
  height: 80px;
}

.card-text {
  font-size: 13px;
  font-weight: 600;
}

.product-description {
  height: 83px;
  overflow: hidden;
  background-color: #f0f0f0;
}

.quantity-in-cart {
  width: 22px;
  display: inline-block;
  text-align: center;
  align-self: center;
}

.image-container {
  width: 100%;
  padding-top: 100%;
  position: relative;

  picture {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

// for tablet view
@media (max-width: 991.98px) {
  .t-half-width {
    width: 50%;
  }

  .image-container {
    width: 50%;
    padding-top: 50%;
  }

  .card-body,
  picture {
    padding: 0.5rem;
  }

  .btn-primary {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }

  .product-description-container {
    background-color: #f0f0f0;
  }

  :host {
    flex: 0 0 49% !important;
  }
}

// for mobile view
@media (max-width: 767.98px) {
  :host {
    flex: 0 0 100% !important;
  }
}
