<div class="login">
    <div class="text">
        <h1>SignUp</h1>
        <p>We do not share your personal details with anyone</p>
    </div>
    <div class="login-form">
        <form>
            <input type="text" placeholder="First Name" aria-labelledby="First Name">
            <input type="text" placeholder="Last Name" aria-labelledby="Last Name">
            <input type="text" placeholder="Email" aria-labelledby="Email">
            <input type="password" placeholder="Password" aria-labelledby="Password">
            <input type="password" placeholder="Confirm Password" aria-labelledby="Confirm Password">
            <button class="submit" aria-labelledby="Submit">Login</button>
        </form>
    </div>
</div>