footer {
    width: $default-width;
    height: 2.5rem;
    background-color: $grey-color;
    align-content: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    p {
        font-size: 70%;
        font-weight: 600;
    }
    @media only screen and (max-width: 991px) {
        width: 100%;
        justify-content: center;
    }
}