<div class="col col-xs-12 col-sm-3">
	<button class="category-mobile">Categories</button>
	<ul class="category-block">
		{{#each categories}}
		<li data-id ={{id}}>{{name}}</li>
		{{/each}}
	</ul>
</div>