<div class ="row">
	<section class ="carousel-container">
		<div class="carousel-wrapper">
			{{#each banners}}
			<img src ={{bannerImageUrl}} alt ={{bannerImageAlt}}>
			{{/each}}
		</div>
		<button class ="controls next">NEXT</button>
		<button class ="controls prev">PREV</button>
	</section>
</div>