<div class="container">
	<div class ="row checkout-block">
		<div class="col col-xs-12">Promo code can be applied on payment page</div>
		<div class ="col col-xs-12">
			<button>
				<p>Proceed to Checkout</p>
				<p class ="cart-value">Rs {{totalCartValue}} ></p>
			</button>
		</div>
	</div>	
</div>