<div class="col col-xs-6 col-md-6 nav-primary">
	
	<nav>
		<button class="nav-icon-mobile"><em class="icofont-navigation-menu"></em></button>
		<ul class="nav-main">
		{{#each primary}}
			<li><a href="{{link}}" title=
			"{{text}}">{{text}}</a></li>
		{{/each}}
		</ul>
	</nav>
</div>