<div class="col col-xs-6 col-md-6 nav-primary">
	<nav>
		<button class="nav-icon--mobile"><em class="icofont-navigation-menu"></em></button>
		<ul class="nav-main">
			<li><a href ="home.html">Home</a></li>
			<li><a href ="products.html">Products</a></li>
		</ul>
	</nav>
</div>