<div class ="row offer-block">
	<div class ="col col-xs-3">
		<img src="static/images/lowest-price.png">
	</div>
	<div class ="col col-xs-9">
		<p>You won't find it cheaper anywhere</p>
	</div>
</div>