@import './variable';

li , a {
    display: inline-block;
    margin-left: 1rem;
    font-size: 90%;
    font-weight: 600;
    color: $hedernav;
}

.dekstop-header {
    display: block;
}
.mobile-header {
    display: none;
     nav {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         grid-gap: 29%;

         img {
             width: 30%;
         }

         div {
             display: -webkit-box;
             display: -ms-flexbox;
             display: flex;

             .menu {
                padding: 0.9rem 0.6rem 0.4rem 0.6rem;
                background: transparent;
                border: 0;
                outline: none;
                font-size: 120%;
             }
         }
     }
}

header {
    -webkit-box-shadow:  0.4rem 0 0.4rem 0.3rem  $secondarycolor;
            box-shadow:  0.4rem 0 0.4rem 0.3rem $secondarycolor;
}

.nav-container {
    width: 100%;
    padding: 0 2% ;
}

.nav-div {
    width: 32%;
    display: inline-block;
    vertical-align: top;
}

.nav-div:first-child img {
    max-width: 100%;
}

.nav-div:last-child ul, 
.nav-div:last-child div {
    text-align: right;
}

.middle-div ul {
    margin-top: 2rem;
}

.cart-img {
    font-size: 10%;
}

.cart {
    padding: 0.7rem 1.2rem 0.4rem 1.2rem;
    margin-top: 0.6rem;
    border: 0;

    img {
        height: 1.5rem;
    }

    span {
        vertical-align: super;
    }
}


section  {
    margin: 0;
    .logo-class {
        margin-left: 24%;
        width: 40%;
    }
}

.active {
    color: $primarycolor;
}


.menu-links  {
    display: none;
li {
    text-align: center;
    border: 0.01rem solid $secondarycolor;
    margin: 0;
    padding: 0.2rem;
    display: block;
}
    
}

@media only screen and (max-width: 768px) {
    .nav-div .logo-class {
        margin-left: 0;
        width: 60%;
    }
}


@media only screen and (min-width: 469px) {
  .menu-links li {
      display: none;
  }
  }

@media only screen and (max-width: 468px) {
    .dekstop-header {
        display: none;
    }
    .mobile-header {
        display: block;

        .cart {
            padding: 0.5rem;
        }
    }
  }
