
.header{
    border-bottom: 0.3rem solid whitesmoke;
}
.header-action-2{
    text-align: end;
    padding: 0;
    margin:0;
    margin-bottom: 0.8rem;
}

.header-action-2 span{
    margin-left: 1rem;
    cursor: pointer;
}

.header-action-1 span{
    margin-right: 2rem;
    cursor: pointer;
}
.header-action-2, .header-action-1{
    display: none;
}


.header-notification-icon{
    float: right;
    background-color: #e7e7e7;
    padding:1rem 1.5rem;
    color:#c0392b;
    margin-bottom: 0;
    cursor: pointer;
}


.move > div{
    width: 100% !important;
    margin: 0 auto;
}
.move{
    padding: 0 !important;
}

.logo img{
    width: 7.5rem;
}
#desktop{
    display: none;
  }
#non-desktop{
    display: block;
}

#desktop-cart-icon{
  display: none;
}

#non-desktop-cart-icon{
 display: block;
}

/* media query */
@media (min-width: 576px){
 .header-action-2, .header-action-1{
    display: block;
}
.logo img{
    width: 10rem;
}
}

@media (min-width: 768px){

.logo img{
    width: 12rem;
}
}

@media (min-width: 992px){
.header-action-2 span{
    margin-left: 0.5rem;
}
.move > div{
    width: 76% !important;
}
#desktop{
  display: block;
}
#non-desktop{
display: none;
}
#desktop-cart-icon{
 display: block;
}
  
#non-desktop-cart-icon{
   display: none;
}
}

@media (min-width: 1200px){
}

@media (min-width: 1400px){
}

#category-name{
    font-size: 1.5rem;
}

