.sidebar-icon{
    position: absolute;
    right: 1rem ;
    top:0;
    cursor: pointer;
 }

.sidebar{
    background-color:var(--primary-color);
    height:2rem;
    justify-content:space-between;
    color:white;
    font-size:1.5rem;
    cursor:pointer; 
}

.sidebar-item-list:hover{
    background:var(--sidebar-item-list-border-color);
    color:var(--text-color);
    transition: 2sec;
}

.sidebar-item-list{
    padding:1rem 0.5rem;
    border-bottom:0.1rem solid var(--side-bar-color);
    cursor: pointer;
}

#category-list{
    background-color: var(--secondary-color);
}

.card-title{
    height: 3rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-description{
    background-color:var(--secondary-color);
    height: 9rem;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 0rem;
}

 .card{
     border-radius: 0;
     border-right: 0.2rem solid var(--border-color) !important;
     border-left: 0.2rem solid var(--border-color) !important;
 }

 .card-description-container > div{
    width: 50% !important;
}
.card-description-container img{
    height: 100%;
    width: 100%;
}

@media (min-width: 992px){
.card-description-container > div{
    width: 100% !important;
}
.card-description-container img{
    height: 100%;
    width: 100%;
}
}
