@import '../../style/constant.scss';
.login-content{
    flex-grow: 1;
    padding-top: 10px;
    width: 80%;
    max-width: 680px;
    margin: 0 auto;
    .heading{
        font-family: 'Montserrat';
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    padding: 0;
    margin: 12px 0;
    }
    .text{
        padding: 0;
        margin: 0;
        font-size: 14px;
        font-family: 'Lato';
        font-weight: 400;
        color: #696262;
    }
    .box{
        flex-grow: 1;
        margin-left: 40px;
        min-width: 251px;
    }
    .text-field{
        margin-bottom: 10px;
    }
    .action-button{
        color: #ffffff;
        background-color: $primary-color;
        margin-top: 20px;
        padding: 10px 0;
    }
}
@media only screen and (max-width: 600px) {
    .login-content{
        .box{
            margin-left: 0;
        }
    }
}