// header 

.header {
  height: 60px;
}

.footer {
  height: 20px;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  font-size: 0.8rem;
  background-color: #eaeaea;
}

.body {
  min-height: calc(100vh - 120px);
}