* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.cartIcon {
  position: absolute;
  cursor: pointer;
  width: 20%;
  height: 100%;
  left: 10%;
  top: 0;
  background-color: "#d3d3d3";
}
.customLink {
  text-decoration: none;
  color: black;
}
.navbar {
  box-shadow: 0px 0px 5px rgb(204 204 204);
  z-index: 1000 !important;
  padding: 0px 0px !important;
  position: sticky !important;
  top: 0px;
  left: 0px;
}

div a:first-child {
  margin-right: 10px;
}
.customFooter {
  background: #eaeaea;
  padding: 10px 12%;
}

@media screen and (max-width: 768px) {
  .customFooter {
    justify-content: center;
  }
  .nav-header {
    position: absolute;
    left: 50px;
  }
}
p {
  font-size: 12px;
}
.userOptions {
  display: flex;
  flex-direction: column;
  justify-content: right;
}
.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}
.navbar-collapse .header-text {
  left: 50px;
}
