@import "./variable";

h3 {
  margin-bottom: 1.2rem;
}

p {
  font-size: 90%;
  font-weight: 600;
  color: $hedernav;
}

.span-1-of-2:first-child {
  padding-left: 16%;
  padding-top: 2.5%;
  @media only screen and (max-width: $ipad) {
    padding-left: 1.8rem;
  }

  @media only screen and (max-width: $mobile) {
    padding: 0;
    text-align: center;
  }
}
