<section>
  <div class="row">
    <div class="span-1-of-2">
      <h3>Login</h3>
      <p>Get access to your Order, Wishlist and Recommendations</p>
    </div>
    <div class="span-1-of-2">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="user-input-wrp">
          <input
            type="email"
            class="inputText"
            formControlName="email"
            required
            aria-label="email"
          />
          <span class="floating-label">Email</span>
          <div *ngIf="!email?.valid && (email?.dirty || email?.touched)">
            <div class="error-msg" [hidden]="!email.errors.required">
              Email is required
            </div>
            <div class="error-msg" [hidden]="!email.errors.email">
              Incorrect email
            </div>
          </div>
        </div>
        <div class="user-input-wrp">
          <input
            type="password"
            class="inputText"
            required
            formControlName="password"
            aria-label="Password"
          />
          <span class="floating-label">Password</span>
          <div
            *ngIf="!password?.valid && (password?.dirty || password?.touched)"
          >
            <div class="error-msg" [hidden]="!password.errors.required">
              password is required
            </div>
            <div class="error-msg" [hidden]="!password.errors.minlength">
              Min Length is 6
            </div>
          </div>
        </div>
        <div>
          <button
            type="submit"
            class="btn submit-btn"
            [disabled]="!loginForm.valid"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
