.categories {
  margin-top: 1rem;
  height: 18rem;
  display: flex;
  padding: 1rem;
  box-shadow: 0 8px 6px -6px #aaaaaa89;
}

.categories-reverse {
  flex-direction: row-reverse;
}

.cat-last {
  box-shadow: none;
}

.categories img {
  width: 40%;
  height: 100%;
}

.cat-info {
  width: 60%;
}

.cat-info-contents {
  margin-left: 12rem;
}

.categories-contents-reverse {
  margin-left: 1rem;
}

.cat-info h3 {
  margin-top: 3rem;
  /* margin-left: 0.7rem; */
  font-weight: 900;

  font-size: 1.6rem;
}

.cat-info p {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.cat-info a {
  width: fit-content;
  display: block;
  margin-top: 1rem;
  color: #fff;
  border: none;
  height: 2.2rem;
  padding: 0.6rem;
  padding-bottom: 2rem;

  background-color: #d00255;
  /* margin-left: 2.7rem; */
}

/*mobile css*/

@media screen and (max-width: 768px) {
  .categories {
    margin-top: 1rem;
    height: 18rem;
    display: flex;
    box-shadow: 0 8px 6px -6px #aaaaaa89;
    padding: 0 0.4rem;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.4rem;
  }

  .cat-info-contents {
    margin-left: 0rem;
  }

  .categories-contents-reverse {
    margin-left: 0rem;
  }

  .categories img {
    width: 50%;
    height: 100%;
  }

  .cat-info {
    width: 50%;
  }
}
