.footer {
  bottom: 0px;
  background-color: rgb(226, 225, 225);
  height: 2.5rem;
  display: flex;
  align-items: center;
}

.footer p {
  margin: auto 0;
  margin-left: 10%;
  font-size: 1.2rem;
  font-weight: 100;
}
