.header-container {
  box-shadow: 0 1px 5px #aaaaaa89;
  background-color: white;
}

.header {
  position: relative;
  width: 80%;
  margin: 0 auto;
  display: flex;
  height: 5rem;
}

.nav {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.5rem;
  margin-left: 8rem;
}
.nav a {
  padding-right: 0.938rem;
  color: black;
  font-weight: 600;
  font-size: 1.4rem;
}
.nav a.activelink,
.nav a:hover {
  color: #4f8822;
  font-weight: bold;
}

.cart-header {
  position: absolute;
  right: 3rem;
  bottom: 0rem;
  display: flex;
  background-color: #eaeaea;
  padding: 0.4rem 0.6rem;
}

.cart-header h4 {
  color: black;
  font-weight: bold;
  font-size: 1.3rem;
}

.cart-header img {
  width: 1.5rem;
  height: 1.5rem;
  top: 3rem;
}

.log-reg {
  top: 0.2rem;
  position: absolute;
  right: 0.625rem;
}

.log-reg a {
  color: black;
  font-weight: 500;
  padding-left: 1rem;
  font-size: 1.3rem;
}

.log-reg a.activelink,
.log-reg a:hover {
  font-weight: bold;
  color: #4f8822;
}

.logo {
  width: 8.75rem;
  height: 4.375rem;
  display: inline-block;
  margin-top: 0.3rem;
}
