.wrapper
    height: 100px
    display: flex
    flex-direction: row
    justify-content: space-around

a
    cursor: pointer

.logo
    height: 50px

.header-content
    align-items: center
    text-decoration-skip: unset

a
    color: black
    padding: 5px

a:link
    text-decoration: none
    color: black

a:active
    color: black

.home
    padding: 10px
    margin: 10px

.header-right
    display: flex
    align-items: center

.header-right> a
    margin-right: 10px

.cart
    display: flex
    margin-top: 5px
    background-color: red
    height: 50px
    align-items: center
    width: 100px
