.Homecard_container {
  display: flex;
  justify-content: space-around;
  padding: 0px 20px;
  align-items: center;
}
.even {
  flex-direction: row-reverse;
}
/* .Homecard_image {
  flex-grow: 2;
} */
.Homecard_description {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Homecard_description h1 {
  font-size: 1.3rem;
}
.Homecard_description p {
  font-size: 0.9rem;
}
.Homecard_image img {
  height: 239px;
  width: 239px;
}
