.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 18px;
  font-weight: 500;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &.primary {
    color: var(--color-white);
    background-color: var(--color-primary);

    &:focus-visible {
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
    }
  }

  &.dark {
    color: var(--color-white);
    background-color: var(--color-dark);

    &:focus-visible {
      outline: 2px solid var(--color-dark);
      outline-offset: 2px;
    }
  }

  &.transparent {
    color: var(--color-white);
    background-color: transparent;
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
  }

  &:hover {
    opacity: 0.8;
  }
}
