@import "../../../config";


.nav_left {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
    margin-top: 2.5rem;
    padding-left: 6rem;

    li:first-of-type {
      padding-right: 1rem;
    }
  }

  &__link {
    @include set-link-style();
  }
}

@media (max-width: 732px) {
  .nav_left__list {
    display: none;
  }
}