@import "../../../config";

.nav_right {
  &__list {
    display: flex;
    list-style: none;
    margin: 0.2rem;
    width: 17%;
  }
  &__list {
    li:first-of-type {
      padding-right: 1rem;
    }
  }
  &__link {
    @include set-link-style();
  }
}

@media (max-width: 732px) {
  .nav_right {
    width: 30%;
    max-width: 130px;
    &__list {
      display: none;
    }
  }
}
