@import '../../../../globalStyles.scss';

.carousel-wrap {
  position: relative;
  overflow: hidden;
  background-size: 100% 100%;
  padding: 0px 0px 20px 0px;
  .carousel-indicators li {
    border-radius: 25px;
    border-top: 0px;
    border-bottom: 0px;
  }
  .carousel-item img {
    width: 100%;
  }
  &:after {
    // @extend cardShadow;
    // cardShadow {
        content: '';
        display: block;
        position: absolute;
        bottom: 0rem;
        background: radial-gradient(
          farthest-corner at 50% 0px,
          grey 0%,
          transparent 50%
        );
        width: 100%;
        height: 1rem;
      }
//   }
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: $grey-color;
  padding: 18px;
}
.carousel-control-next,
.carousel-control-prev {
  opacity: 2.5;
}

.carousel-indicators li {
  background-color: $grey-color;
  height: 10px;
  width: 10px;
  margin-bottom: 5px;
}

@media only screen and (max-width:$mobile-max-width) {
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: none;
  }
  .carousel-indicators {
    bottom: -18px;
  }
}
