.img {
  // max-width: 100%;
  // width: 100px;
  // height: 100px;

  &--blur {
    filter: blur(20px);
    transition: none;
  }

  &--clear {
    filter: none;
    transition: filter 0.3s ease-out;
  }

  &--circular {
    border-radius: 50%;
  }
  &--profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}
