{{>header cartTotal=cartTotal cartData=cartData}}
<div class="container d-flex flex-wrap">
    <div class="form-left">
        <h1>SignUp</h1>
        <p>We do not share your personal details with anyone.</p>
    </div>
    <div class="form-right">
    <form action="/registration/submit" class="form floating-label" method="post">
        <div class="form-control">
            <input id="firstname" type="text" placeholder="First Name">
            <label for="firstname" data-content="First Name">
                <span>First Name</span> 
            </label>
        </div>
        <div class="form-control">
            <input id="lastname" type="text" placeholder="Last Name">
            <label for="lastname" data-content="Last Name">
                <span>Last Name</span> 
            </label>
        </div>
        <div class="form-control">
            <input id="email" type="email" placeholder="Email">
            <label for="email" data-content="Email">
                <span>Email</span> 
            </label>
        </div>
        <div class="form-control">
            <input id="password" type="password" placeholder="Password">
            <label for="password" data-content="Password">
                <span>Password</span> 
            </label>
        </div>
        <div class="form-control">
            <input id="confirmpassword" type="confirmpassword" placeholder="Confirm Password">
            <label for="confirmpassword" data-content="Confirm Password">
                <span>Confirm Password</span> 
            </label>
        </div>
        <div>
            <button class="btn btn-red btn-block w-100">SignUp</button>
        </div>
    </form>
    </div>
</div>