.app-footer {
  background-color: $c-grey-200;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 0.75em;
    text-align: center;
    padding: 0.625rem;
  }
}

@media (min-width: 992px) {
  .app-footer {
    .container {
      text-align: left;
      font-size: 0.875em;
    }
  }
}
