.carousel{
    // margin: 2%;
    box-shadow: 0 3px 6px 0px #999;
}
.carousel-indicators{
    cursor:pointer;
}
.carousel-indicators .active {
    background-color: rgb(82, 67, 67);
}

.carousel-indicators li{
    background-color: rgba(141,131,131,1);
    border-radius:50%;
    width: 10px;
    height: 10px;
}
.category{
    margin: 5px;
    box-shadow: 0 8px 6px -6px #999;
    display: flex;
}
.normal-row{
    flex-direction: row;
    justify-content: space-between;
}
.row-reverse{
    flex-direction: row-reverse;
    justify-content: space-between;
}
.img-category{
    width: 100%;
    max-width: 120px;
    margin-top: 25px;
    height: 100%;
}
.img-info-section{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-weight: bold;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 1.5rem;
    height: 1.5rem;
}
.explore{
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 10px;
    color:#fff;
}
a{
    text-decoration: none;
}
.explore:hover{
    color:#fff !important;
}
.material-icons{
    font-size: 30px !important;
    color:black;
}
@media only screen and (max-width:600px){

    .content{
        display: none;
    }
}
@media only screen and (max-width:475px){
    .explore {
        width: 70%;
    }
    .content{
        display: none;
    }
}
@media only screen and (min-width:1024px){
    .font-size-reg{
        font-weight: 500;
    }
    
    .font-size-med{
        font-weight: 600;
    }
    .img-category{
        width: 100%;
        max-width: 400px;
        height: auto;
        margin-top: 0px;
    }
    .material-icons{
        font-size: 50px !important;
    }
    .category{
        margin: 15px;
    }
}
@media only screen and (min-width:768px) and (max-width:1023px){

    .img-category{
        width: 100%;
        max-width: 300px;
        height: auto;
        margin-top: 0px;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon{
        width: 1.5rem;
        height: 1.5rem;
    }
    .material-icons{
        font-size: 40px !important;
    }
    .category{
        margin: 10px;
    }
}
@media only screen and (max-width:767px){
    .carousel-indicators li{
        background-color: rgba(141,131,131,1);
        border-radius:50%;
        width: 5px;
        height: 5px;
    }
}