<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="login.css">
        <title>Document</title>
    </head>
    <body>
        <main class="login-wrapper row margin-top-20">
            <div class="row page-body">
                <div class="col span-1-of-6"></div>
                <section class="col span-2-of-6 text-center">
                    <header>
                        <h1 class="text-left form-heading">Login</h1>
                        <h5 class="text-left margin-top-20 form-desc">Get access to your Orders, Wishlist and Recommendations</h5>
                    </header>
                </section>
                <div class="col span-2-of-6 text-center">
                        <form class="login-form">
                            <div class="text-left">
                                <label class="field-label" for="email">Email</label>
                            </div>
                            <div class="text-left">
                                <input id="email" type="email" name="email">
                            </div>
                            
                            <div class="text-left margin-top-20">
                                <label class="field-label"  for="password">Password</label>
                            </div>
                            <div class="text-left">
                                <input id="password" type="password" name="password">
                            </div>
                            <button type="button" class="cursor-pointer block-btn padding-10">Login</button>
                        </form> 
                    </div>
                <div class="col span-1-of-6"></div>
            </div>
        </main>
        <footer class="clearfix copyright padding-10">
            <div class="content font-14">Copyright &copy; 2011-2018 Sbka Bazar Grocery Supplies Pvt Ltd.</div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script> 
        <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    </body>
</html>