.section-login {
    display: flex;
    .login-info {
        line-height: 45px;
        margin-left: 295px;
        p {
            font-size: 70%;
            font-weight: 600;
        }
    }
    .login-action {
        margin-left: 50px;
        .login-form {
            .login-inputs {
                label {
                    font-size: 80%;
                }
            }
        }
        .field-row {
            margin-bottom: 20px;
        }

        .btn-login,
        .btn-login:active,
        .btn-login:focus {
            font-size: 90%;
            display: block;
            line-height:40px;
            margin: 40px 0 0 0;
            width: 100%;
            outline: none;
            border: none;
            cursor: pointer;
        }
    }
}
