<section class="login-container">
    <div class="login-container__heading">
        <h2>Login</h2>
        <p>Get access to your Order, Wishlist and Recommendations</p>
    </div>
    <div class="login-container__form">
        <form>
            {{{form}}}
            <input type="submit" value="Login"/>
        </form>
    </div>
</section>