
.login-title{
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    font-size: 27px;
}
.login-subtitle{
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    font-size: 13px;
    color:grey
}


.footer-title{
    font-weight:600;
    font-family: 'Dosis', sans-serif;
    padding:2% 2% 2% 2%;

}

.footer-bg-color{
    background-color: Lavender;
}

.MuiGrid-spacing-xs-3 {
    margin: -25px !important;
}

/* Media Queries for mobile */

 @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .login-title{
        text-align: center;
    }
    .login-subtitle {
        text-align: center;
    }
    .login-margin{
        margin: 2% 9% 2% 10% !important;
    }
    .footer-title {
        padding: 3% 0% 2% 4%;
        font-size: 13px;
    }

}