.footer-element {
  height: 54px;
  .footer_container {
    text-align: start;
    padding: 15px 125px;
    //padding: 15px;
    background-color: rgb(216, 216, 216);
    // position: fixed;
    bottom: 0px;
    width: 100%;
  }
}
