<app-header></app-header>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    mode="side"
    opened
    class="sidenav"
    [fixedInViewport]="options.value.fixed"
    [fixedTopGap]="options.value.top"
    [fixedBottomGap]="options.value.bottom"
  >
    <mat-nav-list *ngFor="let category of allCategories">
      <a
        class="mat-list"
        mat-list-item
        (click)="getSelectedProducts(category.id)"
        >{{ category.name }}</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content
    ><mat-card class="product-card" *ngFor="let products of allProducts">
      <mat-card-header>
        <mat-card-subtitle>{{ products.name }}</mat-card-subtitle>
      </mat-card-header>

      <img
        class="product-img"
        mat-card-image
        src="{{ './../../../assets/' + products.imageURL }}"
        alt="Product image"
      />
      <mat-card-content>
        <p class="product-desc">
          {{ products.description | slice: 0:100
          }}{{ products.description.length > 100 ? "..." : "" }}
        </p>
      </mat-card-content>
      <div mat-card-actions class="action-btn">
        <button class="mrp-btn" mat-button>MRP Rs.{{ products.price }}</button>
        <button
          class="buy-btn"
          mat-raised-button
          (click)="buyProduct(products)"
        >
          Buy Now
        </button>
      </div>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
