<div class="container">
 <div class="row">
    <div class="col-2">
      <nav class="nav flex-column" *ngFor="let category of categoryList" >
        <a class="nav-link" *ngIf ="category.enabled">
          <button (click)="getProductByCategory(category.id)">
           {{category.name}}
          </button></a>
      </nav>
    </div>
    <div class="col-10">
      <ng-container *ngIf="!hideShowProductList">
      <div class="row" *ngFor="let row of productPerRow">
        <div class="inner-row" *ngFor="let product of row">
          <div class="col-4">
            <div class="name">
              <h1>{{ product.name }}</h1>
            </div>

            <div class="productImage">
              <img src="{{ product.imageURL }}" />
            </div>
            <div class="description">
              <p>{{ product.description }}</p>
            </div>

            <div class="price">
              <h2>MRP Rs.{{ product.price }}</h2>
            </div>
            <div class="price">
              <button
              (click)="buyProduct(product)"
                class="btn btn-danger btn-raised"
                id="{{ product.id }}"
              >
                Buy Now
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

      <app-product-list  *ngIf="hideShowProductList"  [filterCategory]="filteredProduct"></app-product-list>
      <app-cart *ngIf="showCartModal" [product]='addTocart' ></app-cart>
    </div>
  </div> 
</div>
