@import "../../../assets/scss/color.scss";
.product-nav {
  background-color: rgb(252, 245, 245);
  margin-left: 3%;
  margin-right: 2%;
}

.product {
  max-width: 70%;
  padding: 10px 0px;
}

.product-card {
  width: 13rem;
  height: 410px;
  //border: 0;
  border-bottom: 1px dotted $grey;
  .product-body {
    .product-title {
      font-size: 1rem;
      font-weight: 700;
      height: 5rem;
    }
    .product-img {
      margin-bottom: 1rem;
    }
    .product-description {
      height: 5rem;
      background-color: $grey;
      font-size: 0.7rem;
      padding: 8px 7px;
      overflow: hidden;
    }
    .product-footer {
      margin-bottom: 3rem;
      display: flex;
      .product-price {
        font-size: 12px;
        width: 50%;
        padding-top: 10px;
      }
      .product-buy {
        font-size: 12px;
        float: right;
        background-color: $mergenta;
      }
    }
  }
}

// @media only screen and (min-width: 768px) {
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .product-nav {
    margin-left: 0;
  }

  .product {
    max-width: 80%;
    padding: 0px 0px;
  }

  .product-card {
    width: 20rem;
    height: 245px;
    .product-body {
      .product-title {
        height: 2.5rem;
        font-size: 0.8rem;
      }
      .product-img {
        width: 8rem;
      }
      .product-description {
        height: 8rem;
      }
    }
  }
  .inner-body {
    display: flex;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .main-row {
    margin: 0;
  }
  .product-nav {
    margin: 0;
  }

  .product {
    padding: 0px 0px;
    margin: 0;
  }

  .product-card {
    width: 13rem;
    height: 245px;
    .product-body {
      .product-title {
        height: 2.5rem;
        font-size: 0.8rem;
      }
      .product-img {
        width: 4rem;
      }
      .product-description {
        height: 8rem;
      }
    }
  }
  .inner-body {
    display: flex;
    height: 9rem;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .product-nav {
    display: none;
  }

  .product {
    max-width: 100%;
    padding: 0px 0px;
  }

  .product-card {
    width: 34rem;
    height: 245px;
    .product-body {
      .product-title {
        height: 1.5rem;
        font-size: 0.8rem;
      }
      .product-img {
        width: 9rem;
      }
      .product-description {
        height: 4rem;
        margin-top: 30px;
        margin-right: 0rem;
      }
    }
  }
  .inner-body {
    display: flex;
    height: 9rem;
  }
}
