<div class="wrapper">
  <div class="left">
    <p class="filter">
      <ng-container *ngIf="!(products$ | async)?.filterBy">
        <b> Filter By Category </b>
      </ng-container>
      <ng-container *ngIf="(products$ | async)?.filterBy">
        Clear All filter
        <i
          class="material-icons"
          routerLink="/products"
          [queryParams]="{ categoryId: undefined }"
          queryParamsHandling="merge"
        >
          cancel
        </i>
      </ng-container>
    </p>

    <nav
      class="nav flex-column"
      *ngFor="let category of (categories$ | async)?.categories"
    >
      <a
        class="nav-link"
        routerLink="/products"
        [queryParams]="{ categoryId: category?.id }"
        queryParamsHandling="merge"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <button attr.aria-label="{{ category.name }}">
          {{ category?.name }}
        </button>
      </a>
    </nav>
  </div>
  <div class="right">
    <router-outlet></router-outlet>
  </div>
</div>
