.products-container {
  display: flex;
  width: 100%;
  padding: 0 10%;
}

.sidebar-menu {
  min-width: 20%;
  background-color: #e9e9e9;
}

.custom-menu {
  display: none;
}

.products-component .products-list {
  width: 120%;
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  width: 205px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 1%;
  border-right: 4px inset #f7f7f7;
  margin-top: 20px;

  h2 {
    font-size: 70%;
    font-weight: bold;
    height: 30%;
    padding-bottom: 10px;
  }
  .product-details {
    margin-left: 0;
    img {
      width: 90%;
      margin: 0 5%;
    }
    p {
      background-color: #eee;
      font-size: 60%;
      font-weight: bold;
      height: 60px;
      overflow-y: hidden;
      text-align: left;
    }
  }
  .price-and-purchase {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding-top: 10px;
    align-items: center;
    .product-mrp {
      font-size: 60%;
    }
    .buy-now-button {
      padding: 4px 4px;
      border: none;
      border-radius: 0;
      background-color: #d33761;
      color: #fff;

      .product-price {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 1023px) and (min-width: 451px) {
  .products-container {
    padding: 0;
  }

  .products-component .products-list {
    width: 110%;
  }

  .product-card {
    min-width: 200px;
    max-width: 250px;

    h2 {
      height: 15%;
    }

    .product-details {
      display: flex;
      height: 40%;
      width: 90%;
      margin: 0 5%;
      // margin-left: 0;

      img {
        height: 100%;
        width: 50%;
      }
      p {
        height: 100%;
        width: 50%;
        font-size: 55%;
      }
    }

    .price-and-purchase {
      .product-mrp {
        display: none;
      }
      .buy-now-button {
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        .product-price {
          display: inline-block;
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) and (min-width: 100px) {
  .products-container {
    width: 100%;
    flex-direction: column;
    padding-top: 20px;
  }

  .sidebar-menu {
    display: none;
  }

  .custom-menu {
    display: block;
    width: 100%;
    height: 30px;
    background-color: #d33761;
    color: #fff;
    border: none;
  }

  .products-component .products-list {
    width: 96%;
    margin: 0 2%;
  }

  .product-card {
    min-width: 250px;
    max-width: 350px;

    h2 {
      height: 15%;
    }

    .product-details {
      display: flex;
      height: 40%;
      width: 90%;
      margin: 0 5%;
      // margin-left: 0;

      img {
        height: 100%;
        width: 50%;
      }
      p {
        height: 100%;
        width: 50%;
        font-size: 55%;
      }
    }

    .price-and-purchase {
      .product-mrp {
        display: none;
      }
      .buy-now-button {
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        .product-price {
          display: inline-block;
        }
      }
    }
  }
}
