.NavigationItemsRight,
.NavigationItemsLeft {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 12px;
  justify-content: flex-end;
}

.NavigationItemsLeft {
  width: 12%;
  margin-left: 6rem;
}

.NavigationItemsLeft :first-child {
  text-align: right;
}
.NavigationItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 0 5px;
}

.NavigationItem a {
  color: black;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  color: #40a4c8;
}

@media (min-width: 500px) and (max-width: 1024px) {
  .NavigationItem {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    padding: 0 5px;
    cursor: pointer;
  }
  .NavigationItemsLeft {
    width: 25%;
    margin-left: 0;
  }
}
@media (max-width: 499px) {
  .NavigationItemsLeft {
    width: unset;
    margin-left: 0;
  }
}
