@import "../../../public/index.scss";

.products {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  padding: 0 2.5rem;

  /* Mobile Landscape */
  @media only screen and (min-width: 478px) {
    padding: 0 3rem;
    flex-direction: row;
  }

  /* Tablets */
  @media only screen and (min-width: 768px) {
    padding: 0 3rem;
    flex-direction: row;
  }

  /* Desktop base */
  @media only screen and (min-width: 992px) {
    padding: 0 5rem;
    flex-direction: row;
  }

  /* Desktop Large */
  @media only screen and (min-width: 1200px) {
    padding: 0 12rem;
    flex-direction: row;
  }

  /* Desktop Large */
  @media only screen and (min-width: 1440px) {
    padding: 0 14rem;
    flex-direction: row;
  }
}
