.cart-modal-container {
    right: -15.22rem;
    top: 5.2rem;
    padding: 0;
    width: 28rem;
    background-color: $grey-color;
    // position: absolute;
    .cart-header {
        display: flex;
        background-color: $black-color;
        color: $white-color;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        &__title {
            font-size: 1.25rem;
            font-weight: 800;
            .cart-item-count {
                font-size: 0.9rem;
                font-weight: 400;
            }
        }
        .cart-close-icon {
            font-size: 1.25rem;
            cursor: pointer;
        }
    }
    .empty-cart {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 20rem;
        align-content: center;
        h1 {
            font-size: 1.5rem;
        }
        h2 {
            font-size: 1rem;
            font-weight: 600;
        }
    }
    .cart-content {
        margin: 1rem 0;
        height: 18rem;
        overflow: hidden;
        overflow-y: scroll;
        &__container {
            display: flex;
            padding: 1rem;
            margin: 0 0 0.5rem 0;
            background-color: $white-color;
            &--image {
                max-width: 25%;
            }
            &--info {
                font-size: 0.9rem;
                font-weight: 800;
                display: flex;
                width: 75%;
                &-title {
                    display: flex;
                    flex-wrap: wrap;
                    width: 80%;
                    padding: 0 0 0 .5rem;
                    h2 {
                        align-self: flex-end;
                    }
                }
                &-action {
                    display: flex;
                    font-weight: 600;
                    justify-content: space-between;
                    align-items: center;
                    width: 65%;
                    align-self: center;
                    .cart-content-icon {
                        font-weight: 600;
                        background-color: $explore-color;
                        color: $white-color;
                        border-radius: 100%;
                        font-size: 1rem;
                        cursor: pointer;
                        &.no-stock{
                            opacity: 0.5;
                        }
                    }
                    .cart-content-cross {
                        font-size: 1rem;
                    }
                }
                &-mrp {
                    align-self: flex-end;
                    font-weight: 600;
                    padding: 1rem;
                }
            }
        }
        .cart-promotion {
            display: flex;
            background-color: $white-color;
            width: 95%;
            margin: 1rem auto;
            align-items: center;
            border-radius: 0.2rem;
            &__image {
                padding: 0.6rem 1rem 0.6rem 0.5rem;
                width: 30%;
            }
            &__info {
                font-size: 0.9rem;
                font-weight: 600;
                margin: 0 0 0 1rem;
            }
        }
    }
    .cart-footer {
        height: 6rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: $white-color;
        cursor: pointer;
        p {
            width: 100%;
            text-align: center;
            font-size: 0.9rem;
            font-weight: 600;
            color: $black-color;
            padding: 0.25rem 0 0.5rem 0;
        }
        &-action {
            display: flex;
            width: 95%;
            height: 3rem;
            justify-content: space-between;
            margin: 0 auto;
            background-color: $explore-color;
            color: $white-color;
            font-size: 1.25rem;
            font-weight: 400;
            align-items: center;
            padding: 1rem;
            border-radius: 0.2rem;
            &__right {
                flex: 0 0 50%;
                text-align: end;
            }
            &__caret {
                padding: 0.45rem 0 0 0;
            }
            &__link {
                text-decoration: none;
                color: $white-color;
                margin: 0 auto;
            }
        }
    }
}