<div class="categories-container" [style.flex-direction]="isOdd ? 'row-reverse' : 'row'" *ngFor="
let category of categoriesData;
let i = index;
let isOdd = odd;
let isEven = even
">
    <div>
        <img src="assets{{ category.imageUrl }}" [alt]="category.name" />
    </div>
    <article class="category-desc">
        <h3>{{ category?.name }}</h3>
        <p>{{ category?.description }}</p>

        <a href="javascript: void(0)" class="btn explore-link" (click)="onExploreClick(category.id)">Explore {{
            category?.key }}</a>
    </article>
</div>