.desciption {
  text-align: right;
}

img {
  width: 70% !important;
}

h1 {
  text-align: center;
}

h2 {
  padding-bottom: 25px;
}

.btn-danger {
  width: 50%;
}

.inner-container {
  box-shadow: 0 8px 6px -6px #d8d8d8;
  margin: 0 15%;
}
