<div class="container">
  <div clas="row">
    <app-carousel></app-carousel>
  </div>

  <div class="row" *ngFor="let category of categories; let i = index">
    <ng-container *ngIf="category.enabled">
      <div class="inner-container">
        <div class="col-6 image">
          <img src="{{ category.imageUrl }}" />
        </div>

        <div class="col-6 desciption">
          <h1>{{ category.name }}</h1>
          <h2>{{ category.description }}</h2>
          <button type="button" class="btn btn-danger"  (click)="exploreProduct(category.name)">
            Explore {{ category.key }}
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
