<!DOCTYPE html>
<html>
<head>
	<title>Sabka Bazaar</title>
	<link href="https://fonts.googleapis.com/css?family=Dosis:400,600,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="./utils/fonts/icofont.min.css">
</head>
<body>
	<header>
		<div class="container">
			<div class ="row">
				<div class ="col col-xs-4 col-md-3">
					<img src ="static/images/logo.png" alt ="sabka bazaar" class ="logo">
				</div>
				<div class="col col-xs-6 col-md-6 nav-primary">
					<nav>
						<button class="nav-icon--mobile"><em class="icofont-navigation-menu"></em></button>
						<ul class="nav-main">
							<li>Home</li>
							<li>Products</li>
						</ul>
					</nav>
				</div>
				<div class ="col col-xs-4 col-md-3 cart-container">
					<div class ="cart-block">
						<ul class="secondary-nav">
							<li> Sign in</li>
							<li> Register</li>
						</ul>
						<button class="cart-button"><img src ="static/images/cart.svg"><span class="text-count">0 items</span></button>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class="container">
		<div class ="row">
			<section class ="carousel-container">
				<div class="carousel-wrapper">
					<img src ="static/images/offers/offer1.jpg" alt ="offer 1">
					<img src ="static/images/offers/offer2.jpg" alt ="offer 2">
					<img src ="static/images/offers/offer3.jpg" alt ="offer 3">
					<img src ="static/images/offers/offer4.jpg" alt ="offer 4">
					<img src ="static/images/offers/offer5.jpg" alt ="offer 5">
				</div>
				<button class ="controls" id ="next">Next</button>
				<button class ="controls" id ="prev">Prev</button>
			</section>
		</div>
		<div class="row">
			<div class="col col-xs-12 home-category-container">
				<div class ="row">
					<div class ="col col-xs-7 col-sm-4">
						<img src="static/images/category/fruits.png" alt ="Fruits and Vegetables">
					</div>
					<div class ="col col-xs-5 col-sm-8">
						<div class ="category-info">
							<h4>Fruits & Vegetables</h4>
							<p>A variety of fresh fruits and vegetables</p>
							<button>Explore Fruit-and-Veg</button>
						</div>
					</div>
				</div>
			</div>
			<div class=" col col-xs-12 home-category-container">
				<div class ="row">
					<div class ="col col-xs-7 col-sm-4">
						<img src="static/images/category/bakery.png" alt ="Bakery">
					</div>
					<div class ="col col-xs-5 col-sm-8">
						<div class ="category-info">
							<h4>Bakery Cakes and Dairy</h4>
							<p>The best cupcakes, cookies, cakes, pies, cheesecakes, fresh bread, biscotti, muffins, bagels, fresh coffee, milk and more.</p>
							<button>Explore baker-cakes-dairy</button>
						</div>
					</div>
				</div>
			</div>
			<div class=" col col-xs-12 home-category-container">
				<div class ="row">
					<div class ="col col-xs-7 col-sm-4">
						<img src="static/images/category/beverages.png" alt ="Bakery">
					</div>
					<div class ="col col-xs-5 col-sm-8">
						<div class ="category-info">
							<h4>Beverages</h4>
							<p>Our beverage department will ensure your fridge is always stocked. Shop for soda, juice, beer and more.</p>
							<button>Explore beverages</button>
						</div>
					</div>
				</div>
			</div>
			<div class=" col col-xs-12 home-category-container">
				<div class ="row">
					<div class ="col col-xs-7 col-sm-4">
						<img src="static/images/category/beauty.png" alt ="Bakery">
					</div>
					<div class ="col col-xs-5 col-sm-8">
						<div class ="category-info">
							<h4>Beauty and Hygiene</h4>
							<p>Buy beauty and presonal care products online in India at best prices.</p>
							<button>Explore beauty-hygiene</button>
						</div>
					</div>
				</div>
			</div>
			<div class=" col col-xs-12 home-category-container">
				<div class ="row">
					<div class ="col col-xs-7 col-sm-4">
						<img src="static/images/category/baby.png" alt ="Bakery">
					</div>
					<div class ="col col-xs-5 col-sm-8">
						<div class ="category-info">
							<h4>Baby Care</h4>
							<p>Shop online for baby products, Diapers, Skin Care Products etc.</p>
							<button>Explore baby</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>