@import 'src/variables'

.carousel-container, .category-container
    box-shadow: 0px 10px 13px -9px $grey
    margin-top: 10px

.category-container
    display: flex
    padding: 20px 10px

    figure
        align-items: center
        display: flex
        justify-content: center
        width: 400px

    img
        max-height: 100%
        max-width: 100%

.category-details
    padding: 0 15px
    display: flex
    align-items: center
    flex-direction: column
    flex-grow: 1
    justify-content: center


    h2
        font-weight: 600
        color: #000

    p
        text-align: center
        margin-bottom: 30px
    button
        color: #fff
