a.skipToMain{
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
a.skipToMain:focus{
    z-index: 99;
    left: 0; 
    top: 0;
    width: auto; 
    height: auto; 
    overflow: visible; 
    color: #444;
    background-color: #dedede;
    padding: 5px;
}