@import '../../../../styles/abstract/color';
@import '../../../../styles/abstract/mixin';
@import '../../../../styles/abstract/variables';


a.skipToMain{
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
a.skipToMain:focus{
    z-index: 99;
    left: 0; 
    top: 0;
    width: auto; 
    height: auto; 
    overflow: visible; 
    color: $gs-4;
    @include bg-opacity($gs-20);
    padding: 5px 10px;
    @include font-size(70%);
}