input:not([type=submit]){
	border: none;
	width:100%;
	border-bottom: solid 2px color('primary');
	&:focus {
    	outline: none;
		border-bottom: solid 2px color('focus');
		color:color('focus');

		@include padding(0 0 10 0);
      	+label {
        	color: color('focus');
            @include margin(0 0 10 0);
      	}
    }
}
