.container
    display: flex
    margin: 20px
    .left-section
        padding: 0 20px
        h1
            margin: 20px 0
        p
            font-size: 90%
    .right-section
        width: 40%
        margin-left: 30px
        .form-group
            .mat-form-field
                width: 100%
        input[type='submit']
            width: 100%
            color: white
            background: #d00255
            padding: 10px 20px
            border: none
            &:hover
                background: #8f063d
                cursor: pointer
