<section>
  <div class="row">
    <div class="container">
      <div class="left-section">
        <h1>{{ auth ? "Signup" : "Login" }}</h1>
        <p>
          {{
            auth
              ? "We do not share your personal details with anyone"
              : "Get access to your Orders. Whishlist and Recommendations"
          }}
        </p>
      </div>
      <div class="right-section">
        <form *ngIf="auth">
          <div class="form-group">
            <mat-form-field class="mat-form-field">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Placeholder" />
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="mat-form-field">
              <mat-label>First Name</mat-label>
              <input matInput placeholder="Placeholder" />
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="mat-form-field">
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="Placeholder" />
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="mat-form-field">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Placeholder" />
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="mat-form-field">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Placeholder" />
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="mat-form-field">
              <mat-label>Confirm Password</mat-label>
              <input matInput placeholder="Placeholder" />
            </mat-form-field>
          </div>
          <input (click)="submitForm()" type="submit" value="Signup" />
        </form>
        <form *ngIf="!auth">
          <div class="form-group">
            <mat-form-field class="mat-form-field">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Placeholder" />
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="mat-form-field">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Placeholder" />
            </mat-form-field>
          </div>
          <input (click)="submitForm()" type="submit" value="Login" />
        </form>
      </div>
    </div>
  </div>
</section>
