.banners {
  margin: 10px auto;
  width: 75vw;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .banners {
    width: auto;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .banners {
    width: auto;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .banners {
    width: auto;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .banners {
    width: auto;
  }
}
