<!DOCTYPE html>
<html lang="en" dir="ltr">
{{> partials/head}}
<body>

  {{> partials/header}}
  <main role="main">
    {{> partials/carousel}}
    <section id="banner-container" ></section>
  </main>
  {{> partials/footer}}
</body>
</html>
