@import './global-styles.scss';

body {
  margin: 0;
  font-family: $font-family-dosis;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

code {
  font-family: $font-family-dosis;
}
