<!DOCTYPE html>
<html lang="en" dir="ltr">
{{> partials/head}}
<body>

  {{> partials/header}}
  <main>
    {{> partials/carousel}}
    <div class="display" id="banner-container" ></div>
  </main>
  {{> partials/footer}}
</body>
</html>
