<!DOCTYPE html>
<html lang="en" dir="ltr">
{{> partials/head}}
<body>
  {{> partials/header title=htmlWebpackPlugin.options.title}}
  {{> partials/carousel}}
  {{> partials/banners}}
  {{> partials/footer}}
</body>
</html>
