<!DOCTYPE html>
<html lang="en" dir="ltr">
{{> partials/head}}
<body>
  {{> partials/header}}
  <main class='product container' id='products-list-container' role="main">
    {{> partials/product-list}}
    <section id='products-cards-container' class="product-cards-container">
    </section>
  </main>
  {{> partials/footer}}
</body>
</html>
