<!DOCTYPE html>
<html lang="en" dir="ltr">
{{> partials/head}}
<body>
  {{> partials/header}}
  <main>
    <div class="loader" id='loader'>
    </div>
    <div class='product container' id='products-list-container' >
      {{> partials/product-list}}
      <div id='products-cards-container'>
      </div>
    </div>
  </main>
  {{> partials/footer}}
</body>
</html>
