.header {
    margin: 0 auto;
    max-width: 1140px;
}

.headerContent {
    align-items: center;
    display: inline-block;
    position: relative;
    top: 10px;
}

.logo {
    height: 75px;
    width: auto;
    margin: 1% 9% 1% 2%
}

.rightContent {
    position: absolute;
    top: 0px;
    right: 2%;
}

.rightContent ul li:last-child {
    margin: 0;
}

ul li {
    display: inline-block;
    margin-right: 30px;
}

ul li a {
    display: inline-block;
    text-decoration: none;
    color: #050505;
}

.headerContent ul li a {
    font-size: 75%;
}

.rightContent ul li a {
    font-size: 65%;
}

ul {
    margin-bottom: 0px;
}

.cart img {
    height: 25px;
    width: auto;
}

.cart {
    position: relative;
    top: 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    background-color: #eee;
}

.cart span {
    font-size: 80%;
    padding-left: 3%;
    color: #050505;
}

::ng-deep .modal-content{
    right: 38px;
    position: fixed ;
    bottom: 0 ;
    width: 40%;
    border: none;
    min-height: 445px;
}

::ng-deep .modal-open {
    overflow: inherit;
  }

.modal-header {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.modal-title {
    font-size: 85%;
}

.modalCart {
    font-size: 60%;
}

::ng-deep .close {
    font-size: 135%;
    opacity: 1;
    color: #fff;
}

.modal-footer {
    padding: 0 1% 1%;
}

.modal-footer > *{
    font-size: 80%;
    width: 100%;
    text-align: center;
}

.footerContent{
    border: 1px solid #d00255;
    background-color: #d00255;
    color: #FFF !important;
    padding: 2%;
}

.modalCheckout {
    text-decoration: none;
    color: #fff;
    float: left;
}

.modal-body {
    background-color: #eee;
    padding-top: 2%;
    overflow: auto;
    min-height: 440px;
    max-height: 440px;
}

.modalImage {
    width: 18%;
    height: 90%;
    margin-right: 3%;
}

.Item {
    display: flex;
    margin-bottom: 2%;
    box-shadow: 0 10px 10px -10px #dad0d0;
    background-color: #fff;
    padding: 2%
}

.modalProductName {
    font-size: 80%;
    font-weight: 700;
}

.modalIcon{
    border: 1px solid #d00255;
    background-color: #d00255;
    border-radius: 50%;
    color: #fff;
    line-height: 18px;
    display: inline-block;
}

.modalProductDetails {
    font-size: 80%;
    width: 100%;
    display: flex;
}

.content {
    width: 80%;
}

.Modalprice {
    margin-left: auto;
}

.modalMultiplier {
    margin: 0 12px;
}

.loweprice {
    width: 96%;
    background-color: #fff;
    margin: 0 auto;
}

.emptyCart {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #fff;
}

.emptyCart h2{
    font-size: 100%;
    font-weight: 600;
}

.emptyCart p {
    font-size: 80%;
}

.totalAmount {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 484px){
    .headerContent, .rightContent ul {
        display: none;
    }

    .cart {
        top: 25px
    }

    .cart span {
        padding: 0;
    }
    .logo{
        margin-left: 2%;
        height: 60px;
    }
}

@media screen and (min-width: 992px){
    .nonDesktop {
        display: none;
    }
}

@media screen and (max-width: 991px){
    .desktop {
        display: none;
    }
}