.right-arrow{
    position: absolute;
    right: 20px;
    top: 40%;
}
.left-arrow{
    position: absolute;
    top: 40%;
}
.carousel{
    position: relative;
  margin-top: 1rem;
  &::after {
    content: '';
    display: block;
 margin-top: 3%;
    bottom: 0rem;
    background: radial-gradient(
        farthest-corner at 50% 0px, 
        rgb(197, 196, 196) 0%, transparent 50%);
    width: 100%;
    height: 1rem;
    z-index: -5;
}}
.slide{

    opacity: 0;
    transition-duration: 0.7s ;
  
    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0rem;
        background: radial-gradient(farthest-corner at 50% 0px, rgb(197, 196, 196) 0%, transparent 50%);
        width: 100%;
        height: 1rem;
        z-index: -5;
      }
}
.active{
    opacity: 1;
    transition-duration: 0.7s ;

}

@media (max-width:413px) {
    .image{
        
        width: 100%;
        height: 200px;
    
    }
    .right-arrow{
        position: absolute;
        right: 20px;
        top: 20%;
    }
    .left-arrow{
        position: absolute;
        top: 20%;
    }
}
@media (min-width:414px) and (max-width:767px){
    .image{
        
        width: 100%;
        height: 150px;
    
    }
    .right-arrow{
        position: absolute;
        right: 20px;
        top: 20%;
    }
    .left-arrow{
        position: absolute;
        top: 20%;
    }
}

@media (min-width:768px) and (max-width:849px){
    .image{
        
        width: 100%;
        height: 150px;
    
    }
    .right-arrow{
        position: absolute;
        right: 20px;
        top: 15%;
    }
    .left-arrow{
        position: absolute;
        top: 15%;
    }
}

@media (min-width:850px) and (max-width:1024px){
    .image{
        
        width: 100%;
        height: 250px;
    
    }
    .right-arrow{
        position: absolute;
        right: 20px;
        top: 15%;
    }
    .left-arrow{
        position: absolute;
        top: 15%;
    }
}
