
header
    box-shadow: 0 4px 3px -2px #eeeeee
    margin-top: 7px
.left-section
    float: left
    width: 193px

.right-section
    float: right
    text-align: right
    width: calc(100% - 193px)
    .auth-section
        font-size: 90%
    .menu
        display: flex
        align-items: center
        justify-content: space-between
        padding-top: 25px
        .main-nav
            ul
                list-style: none
                li
                    display: inline-block
                    margin-left: 10px
                    a
                        font-weight: 500
                        &:hover
                            color: #d00255
        .cart-btn
            display: flex
            align-items: center
            background: #eeeeee
            padding: 10px 5px
            img
                width: 30px
