html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: 'Public Sans', sans-serif;
  //   color: $grayishBlue;
  font-size: $font-sm;
  font-weight: 400;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: $black;
}

aside ul {
  list-style-type: none;
  padding: 0;
}

// Flexbox style
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-sa {
    justify-content: space-around;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }

  &-row-reverse {
    flex-direction: row-reverse;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}

// margin styles

.mb-1 {
  margin-bottom: 1rem;
}

//buttons

button,
.button {
  padding: 1rem 2rem;
  background: $brightRed;
  border: 0;
  border-radius: 5px;
  color: $white;
  cursor: pointer;
  font-weight: 400;
}

.button-primary {
  padding: 0.625rem 1rem;
}

// Form inputs

input {
  background: none;
  font-size: $font-sm;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ccc;
  &:focus {
    outline: none;
    border-bottom: 1px solid $brightCyan;
  }
  &:focus ~ label,
  &:valid ~ label {
    top: -14px;
    font-size: $font-xsm;
    color: $brightCyan;
  }
}

input[type='password'] {
  letter-spacing: 0.3em;
}

label {
  color: #ccc;
  font-size: $font-sm;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 0.625rem;
  transition: 300ms ease all;
}

.container {
  width: 85%;
  margin: auto;
  padding: 20px;
  padding-bottom: 0;
}

.row {
  display: flex;
  background-color: white;
  margin: 1rem 0;
  padding: 1rem;
  box-shadow: 0px 5px 5px #ccc;
}

@media screen and (min-width: 767px) and (max-width: 961px) {
  .container {
    width: 100%;
    padding: 10px 0;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  body {
    font-size: $font-xsm;
  }
  .container {
    width: 100%;
    padding: 10px 0;
    padding-bottom: 0;
  }
  .row {
    padding: 0;
  }
}
