/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 85px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #ccc;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 35%;
  height: 98%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: 2%;
}

.close:hover,
.close:focus {
  color: #ccc;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: $black;
  color: $white;
  h2 {
    font-size: $font-med;
  }
}

.modal-body {
  background-color: #ccc;
  height: 75%;
  overflow: scroll;

  .img-modal {
    width: 80px;
    height: 80px;
  }
}

.modal-footer {
  padding: 10px 16px;
  background-color: $white;
  text-align: center;
  margin: auto;
  margin-top: 5px;

  p {
    margin-top: 0;
  }

  button {
    width: 100%;
  }
}

.cart-info {
  padding: 0 1rem;
  width: 70%;

  h2 {
    margin: 0;
    height: 2rem;
    overflow: scroll;
  }
  .multiplier {
    margin-right: 1rem;
    font-size: $font-med;
  }
}

.control-buttons {
  display: inline-block;
  margin-top: 0.625rem;
  margin-right: 1rem;

  span {
    padding: 0 1rem;
  }
}

.fa-minus-circle,
.fa-plus-circle {
  font-size: 1.25rem;
  color: $brightRed;
}

.price {
  margin-top: 9.45%;
}

.offer {
  background: white;
  margin: 0 1rem;
  padding: 8px;
  display: flex;
  align-items: center;

  img {
    height: 40px;
    width: 20%;
  }
  span {
    margin-left: 1rem;
  }
}

@media screen and (min-width: 767px) and (max-width: 961px) {
  .modal {
    background-color: transparent;
    margin-top: 103px;
    padding: 0;
  }
  .modal-content {
    height: 100%;
    width: 100%;
  }
  .modal-body {
    height: 72%;
  }
  .modal-header {
    margin-top: 1.5rem;
    background-color: $white;
    color: $black;
  }
  .modal-footer {
    margin-top: 5px;
    // position: fixed;
    // bottom: 0;
    // width: 100%;
  }
  .price {
    margin-top: 6%;
  }
  .offer img {
    width: 15%;
  }
}

@media screen and (max-width: 767px) {
  .modal {
    background-color: transparent;
    margin-top: 18%;
    padding: 0;
  }
  .modal-content {
    height: 100%;
    width: 100%;
  }
  .modal-body {
    height: 63%;
  }
  .modal-header {
    margin-top: 1.5rem;
    background-color: $white;
    color: $black;
  }
  .modal-footer {
    margin-top: 5px;
    // position: fixed;
    // bottom: 0;
    // width: 100%;
  }
  .price {
    margin-top: 13.25%;
  }
  .offer img {
    width: 23%;
  }
  .cart-info {
    padding-top: 0.625rem;
    h2 {
      font-size: $font-xsm;
    }
  }
  .control-buttons {
    margin-top: 5px;
  }
}
