$secondary-color: #bf2957;
$white-color: #fff;
$nav-link-color: #7b7876;
$common-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

//Colors

$darkBlue: hsl(233, 26%, 24%);
$brightRed: #df0e6f;
$brightCyan: hsl(192, 70%, 51%);
$white: hsl(0, 0%, 100%);
$black: rgb(0, 0, 0);

// Font size
$font-xsm: 0.825rem; //13px
$font-sm: 0.875rem; //14px
$font-med: 1.125rem; //18px
$font-lg: 2rem; //32px
$font-reg : 1rem; //16px

//Font Family

$sans-style : sans-serif;

//Widths
$cent : 100px;
$double-cent : 200px;
