//Colors

$darkBlue: hsl(233, 26%, 24%);
$brightRed: #df0e6f;
$brightCyan: hsl(192, 70%, 51%);
$white: hsl(0, 0%, 100%);
$black: rgb(0, 0, 0);

// Font size
$font-xsm: 0.75rem; //12px
$font-sm: 0.875rem; //14px
$font-med: 1.125rem; //18px
$font-lg: 2rem; //32px
