.category-container{
    position:relative;
    margin:31px auto;
    box-shadow: 0 25px 31px -20px rgba(0, 0, 0, 0.089);
    padding: 26px 0px;
    justify-content: space-between;
    display:flex;
    &:nth-child(odd){
        flex-direction: row-reverse;
    }

    .category-design{
        p{
            font-size:1.1rem;
            text-align: center;
        }
        .heading {
            font-size: 1.4rem;
            display: block;
            text-align: center;
            font-weight: bold;
            margin: 14px 0px 0px 0px;
          }
          width: 70%;
          margin: 15px;

          .btn{
            width: 20vw;
            background-color:#e83583;
            align-items: center;
            color:white;
            display: block;
            border-radius: 3px;
            text-align: center;
            text-transform: capitalize;
            margin: 15px auto;
            font-size: 16px;
            border:none;

          }
    }

    .product-image {
        img {
          width: 100%;
        }
        width: 30%;
      }

     
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
    .category-container {
      width: 100%;
      .category-design {
        width: 60%;
        margin: 15px;
      }
      .product-image {
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .category-container {
      width: fit-content;
      margin: .7px auto;
      padding: 15px 0px;
      .product-image {
        width: 44%;
        margin-top: auto;
        margin-bottom: auto;
      }
      .category-design {
        width: 65%;
        .btn {
          width: 190px;
        }
      }
    }
  }