@import "breakpoint.scss";

/* REUSABLE COMPONENTS */

.row {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1140px;
}

.row img{
    width: auto;
}
.cart_item {
    display: flex;
    background-color: #DCDCDC;
    margin-left: 38%;
    padding: 10px;
}

.home {
    padding-top: 50px;
}

nav {
    border-bottom: 1px;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    margin-bottom: 10px;
}

.main-nav {
    flex: 1;
    display: flex;
    list-style: none;
    margin: 0 10px 15px 0;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
    color: black;
    text-decoration: none;
}

.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    color: black;
}

.cart {
    margin-left: 25%;
}

footer {
    background-color:#eaeaea;
    padding: 10px;
    color:black;
    //position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-left: 9%;
    font-weight: 400;
    font-size: 10px;

  }
  #hamburger {
    display: none;
  }

  @media only screen and (max-width: #{$breakpoint-tablet - 2px}) and (min-width: $breakpoint-mobile) {
     #hamburger {
        display: inline;
      }
    .row{
      display: flex;

      img{
        width: 28%;
        height: 28%;
      }
    }

    .main-nav{
      display: none;
    }

    .cart_item {
      margin-left: 45px;
  }
  #hamburger{
    position: relative;
    color:  #C71585;
    top: 0;
    font-size: 25px;
  
  }
}
