$pink-btn: #bf2957;

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
html {
  background-color: white;
  color: black;
  font-family: "Dosis", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

section {
  margin: 40px 0px;
}

.category_desc {
  h2,
  p,
  a {
    margin: 5px;
  }

  p {
    padding: 10px 0px;
    font-size: 15px;
  }
}

.hamberger {
  width: 35px;
  height: 5px;
  background-color: #d00255;
  margin: 6px 0;
}

.row {
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
}

// common css

a {
  display: inline-block;
}
li {
  display: inline-block;
}

.default_btn {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  background-color: $pink-btn;
  padding: 13px 17px;
  transition: 0.5s;
}
.default_btn:active,
.default_btn:hover,
.default_btn:focus,
.default_btn:active,
.default_btn:hover,
.default_btn:focus {
  outline: 0;
  outline-offset: 0;
  background-color: #da1a55;
}

// common css

.align-center {
  align-items: center;
}

header {
  background-size: cover;
  background-position: center;
  border-bottom: 2px solid #e9e9e9;
}
nav input {
  display: none;
}

.nav_btn label {
  color: $pink-btn;
  font-size: 36px;
  display: none;
}

.nav-btn {
  display: flex;
  align-items: center;
}

nav:after {
  border: none;
  height: 20px;
  width: 90%;
  height: 50px;
  margin-top: 0;
  border-bottom: 1px solid #1f1209;
  box-shadow: 0 20px 20px -20px #333;
  margin: -50px auto 10px;
}

nav {
  position: relative;
}

nav > .row > a {
  flex: 0 1 20%;
}

nav > .row > div {
  flex: 0 1 80%;
  position: relative;
}

.nav_link > ul {
  display: inline-block;
}

.nav_link > ul:last-child {
  float: right;
}

.cart_btn {
  position: absolute;
  bottom: 0;
  right: 0;
}
.cart_btn a {
  text-decoration: none;
  color: #000;
  padding: 23px 35px 23px 56px;
  background-color: #eee;
  line-height: 1;
  position: relative;
  display: block;
  font-size: 14px;
  font-weight: 600;
}
.cart_icon {
  fill: #bb2855;
  width: 30px;
  display: inline-block;
  position: absolute;
  left: 16px;
  top: 16px;
}
.cart_icon span {
  display: none;
}

.nav_link li a {
  color: #70676a;
  font-weight: 600;
  text-decoration: none;
  font-size: 16px;
  transition: 0.5s;
}
.nav_link li a:hover,
.nav_link li a:focus {
  color: #bb2855;
}
.nav_link > ul:first-child {
  padding-left: 90px;
  padding-top: 52px;
}
.nav_link > ul:first-child li {
  padding-right: 20px;
}
.nav_link ul:last-child li a {
  font-size: 12px;
  font-weight: 600;
}
.nav_link > ul li:last-child {
  padding-right: 0px !important;
}

.nav_link > ul:last-child li {
  padding-right: 20px;
}

// ------------- FOOTER ------------------//

footer {
  padding: 10px 0;
  width: 100%;
  background-color: #eaeaea;
  color: black;
  font-weight: 600;
  font-size: 77%;
  text-align: left;
}

hr {
  border: none;
  height: 20px;
  width: 50%;
  height: 50px;
  margin-top: 0;
  box-shadow: 0px 10px 24px -20px #333;
  margin: -50px auto 10px;
}

.category_img {
  width: 50%;
  text-align: center;
}

.category_img img {
  width: 100%;
  max-width: 300px;
}

.category_desc {
  width: 50%;
  text-align: center;
}

//form

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #50dae4;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #50dae4;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #50dae4;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@media only screen and (max-width: 480px) {
  .category_img {
    width: 49%;
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .category_img {
    width: 49%;
    text-align: center;
  }
}







header {
  padding: 8px 0 0px;
  border-bottom: 1px solid #ededed;
  -webkit-box-shadow: 0 2px 4px 0 #ededed;
  box-shadow: 0 2px 4px 0 #ededed;
  position: relative;
  z-index: 9;
}

.row {
  max-width: 1215px;
  margin: 0 auto;
  width: 100%;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
}

header nav .logo {
  width: 190px;
}

.nav {
  position: relative;
  padding-bottom: 24px;
}
header nav > div {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 calc(100% - 190px);
  flex: 0 1 calc(100% - 190px);
  position: relative;
  padding-bottom: 24px;
}

nav input,
nav label {
  display: none;
}

nav > div > span {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
}

nav > div > span a {
  text-decoration: none;
  color: #000;
  padding: 23px 35px 23px 56px;
  background-color: #eee;
  line-height: 1;
  position: relative;
}

nav > div > span a i {
  fill: #bb2855;
  width: 30px;
  display: inline-block;
  /* margin-right: 10px; */
  position: absolute;
  left: 16px;
  top: 16px;
}
nav > div > span a i span {
  display: none;
}

.align_left {
  padding-left: 133px;
  padding-top: 52px;
}

.align_right {
  float: right;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ol,
ul,
li {
  display: inline-block;
  list-style: none;
}

header nav ul li {
  padding-right: 29px;
}
nav .align_right li {
  padding-right: 15px;
}
header nav li a {
  color: #70676a;
  font-weight: 600;
  text-decoration: none;
  font-size: 16px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
header nav li a:hover,
header nav li a:focus {
  color: #bb2855;
}
nav .align_right li a {
  font-size: 12px;
  font-weight: 400;
}

@media (max-width: 1023px) {
  .align_left {
    padding-left: 100px;
    padding-top: 52px;
  }
}

@media (max-width: 767px) {
  nav label {
    display: block;
  }
 
  .nav_link {
    background-color: #fff;
    overflow-y: auto;
    height: auto;
    position: absolute;
    z-index: 99999;
    right: -100%;
    top: 100%;
    width: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    text-align: center;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
  }
  #hamberger:checked ~ .nav_link {
    width: 300px;
    right: 0;
  }
  nav > div > span {
    position: static;
    padding-right: 15px;
  }

  header nav > div {
    position: static;
    display: flex;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    padding-bottom: 0;
  }
  nav > div > span,
  .nav_btn {
    display: inline-block;
  }
  nav > div > span a i {
    position: static;
  }
  nav > div > span a {
    padding: 0;
    background-color: transparent;
  }
  nav > div > span a > span {
    display: none;
  }

  .center {
    height: 50px;
    width: 50px;
    border: 2px solid #d00256;
    cursor: pointer;
    position: relative;
  }

  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
  }

  .bar1 {
    animation: bar1-rev 0.6s forwards;
  }

  .bar2 {
    margin: 8px 0;
    animation: bar2-rev 0.6s forwards;
  }

  .bar3 {
    animation: bar3-rev 0.6s forwards;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 100%;
    height: 2px;
    display: block;
    background-color: #d00256;
  }
  #hamberger:checked ~ label .bar1 {
    animation: bar1 0.6s forwards;
  }
  #hamberger:checked ~ label .bar2 {
    animation: bar2 0.6s forwards;
  }
  #hamberger:checked ~ label .bar3 {
    animation: bar3 0.6s forwards;
  }

  @keyframes bar1 {
    0% {
      transform: translateY(0) rotate(0);
    }

    50% {
      transform: translateY(22px) rotate(0);
    }

    100% {
      transform: translateY(10px) rotate(45deg);
    }
  }

  @keyframes bar2 {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0);
      opacity: 0;
    }
  }

  @keyframes bar3 {
    0% {
      transform: translateY(0) rotate(0);
    }
    50% {
      transform: translateY(-22px) rotate(0);
    }
    100% {
      transform: translateY(-10px) rotate(135deg);
    }
  }

  @keyframes bar1-rev {
    0% {
      transform: translateY(22px) rotate(45deg);
    }

    50% {
      transform: translateY(22px) rotate(0);
    }

    100% {
      transform: translateY(0) rotate(0);
    }
  }

  @keyframes bar2-rev {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes bar3-rev {
    0% {
      transform: translateY(-22px) rotate(135deg);
    }

    50% {
      transform: translateY(-22px) rotate(0);
    }

    100% {
      transform: translateY(0) rotate(0);
    }
  }
  .align_left {
    padding-left: 0;
    padding-top: 0;
  }
  header nav ul {
    display: block;
  }
  header nav ul li,
  nav .align_right li {
    padding: 0;
    display: block;
  }

  .align_right {
    float: none;
  }
  header nav li a,
  nav .align_right li a {
    font-size: 20px;
    font-weight: 600;
    padding: 7px 0;
    display: block;
  }
  nav > div > span a i span {
    display: block;
    position: absolute;
    font-style: initial;
    color: #50dae2;
    top: -4px;
    right: 0px;
    font-weight: bold;
    background-color: #fff;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid;
    line-height: 16px;
    font-size: 12px;
  }
}
