
#category_container {
  section {
    margin: 30px 0;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      top: -50px;
      width: 65%;
      height: 16px;
      background: #fff;
      border-radius: 290px / 8px;
      -moz-border-radius: 290px / 8px;
      -webkit-border-radius: 290px / 8px;
      box-shadow: 0 10px 17px rgba(0, 0, 0, 0.7);
      -moz-box-shadow: 0 10px 17px rgba(0, 0, 0, 0.7);
      -webkit-box-shadow: 0 10px 17px rgba(0, 0, 0, 0.7);
      z-index: -3;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    &:nth-child(even) {
      .category_img {
        order: 2;
      }
    }
  }
}

.category_img {
  width: 45%;
  text-align: center;
  img {
    width: 100%;
    max-width: 300px;
  }
}

.category_desc {
  width: 55%;
  text-align: center;
  p {
    padding: 7px 0px;
    font-size: 14px;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .category_desc {
    p {
      padding: 10px 0px;
      font-size: 18px;
    }
  }
  .category_img {
    width: 45%;
  }

  .category_desc {
    width: 55%;
  }
}
