@import "breakpoint.scss";

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
  width: 100%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 5px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #dcdcdc;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: $breakpoint-mobile) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

embed {
  width: 100%;
  margin-bottom: -62px;
}

.box {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fff;
  z-index: 0;
}

.box .cart_img {
  flex: 0 1 50%;
}

.box .cart_desc {
  flex: 0 1 67%;
  text-align: center;
  padding: 0 30px;
}
.box .cart_desc p {
  padding-bottom: 30px;
  line-height: 1.4;
  font-size: 15px;
}

h2 {
  line-height: 1;
  margin-bottom: 15px;
}
.slider:nth-child(even) .cat_img {
  order: 1;
}
.slider {
  position: relative;
  padding: 15px 0;
  margin-bottom: 20px;
  background-color: #fff;
}

.slider:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -43px;
  width: 65%;
  height: 16px;
  background: #fff;
  border-radius: 290px / 8px;
  -moz-border-radius: 290px / 8px;
  -webkit-border-radius: 290px / 8px;
  box-shadow: 0 10px 17px #000000d9;
  -moz-box-shadow: 0 10px 17px #000000d9;
  -webkit-box-shadow: 0 10px 17px #000000d9;
  z-index: -3;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: $breakpoint-tablet) {
  .flex_boxes .cat_desc {
    flex: 0 1 60%;
    padding: 0;
  }
  .flex_boxes .cat_img {
    flex: 0 1 40%;
  }
}
