
$color-dark-grey: #adadad;
$color-light-grey: #d6d6d6;
$txt-datk-grey: #3f3f3f;
$txt-light-grey: #797878;
$color-black: #000;
$color-mix-green-blue: #2dc9a9;
$color-dark-red: #ca0655;
$color-white: #fff;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    font-size: 62.5%;
}


// - Font sizes (px)
// 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

// - Spacing system (px)
// 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

.container {
    padding: 0 160px;
}

.grid {
    display: grid;
    column-gap: 3rem;
}

.grid-2-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .grid-3-cols {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .grid-4-cols {
    grid-template-columns: repeat(4, 1fr);
  }
  
  .grid-5-cols {
    grid-template-columns: repeat(5, 1fr);
  }
  
  .heading-tertiary {
    font-size: 2rem;
    word-spacing: -1px;
    letter-spacing: -1px;
  }

  //=========reusable end=====================

// ============Header start===============
.header {
    height: 7.5rem;
    box-shadow: 0 0.3rem 0.8rem rgba($color: $color-dark-grey, $alpha: 0.4);
    width: 100%;
    position: fixed;
    z-index: 999;
    opacity: 1;
    background-color: white;
}

.nav {
    display: flex;
    justify-content: space-between;

    &-logo img{
        margin: 0.8rem 0;
        width: 70%;
    }

    &-links {
        display: flex;
        vertical-align: bottom;
        font-size: 1.6rem;
        flex-grow: 0.8;
        align-items: end;
        margin-bottom: 2rem;
        gap: 2rem;
        list-style: none;
    }

    &-right {
        width: 10rem;
        display: inline-block;

        &-register {
            display: flex;
            justify-content: end;
            gap: 1rem;
            padding: 0.2rem;
            list-style: none;
            font-size: 1.2rem;
        }

        &-cart {
            display: flex;
            align-items: center;
            background-color: rgba($color: $color-light-grey, $alpha: 0.7);
            padding: 1.3rem 1.8rem;
            margin-top: 1.1rem;

            img{
                width: 2rem;
            }
        }
    }
}


.nav-link-item {
    color: $txt-light-grey;
    text-decoration: none;
}

.acc-link-item {
    color: $txt-datk-grey;
    text-decoration: none;
}


//===================header end===================
//--------------signin and register page media query------------------
//------------1200px--------
@media ( max-width: 75em) {
    .container {
        padding: 0 8rem;
    }
}

//------1000px---------------
@media ( max-width: 63em) {
      .container {
          padding: 0 4rem;
      }

      .product-details {
          margin-bottom: 1rem;
      }

      .product .product-image {
          width: 40% ;
      }
}

//-------600px--------------------
@media ( max-width: 37em) {
    .container {
        padding: 0 0rem;
    }

    .nav-links {
        display: none;
    }

    .nav-right-register {
        visibility: hidden;
    }

    .product .product-image {
        width: 50%;
    }

}

// ================home style star====================

    //-------------carousel start------------------
.header-height-space {
    padding-top: 7.5rem;
}
.carousel {
    position: relative;
    font-size: 1.6rem;

    &-slider {
        display: flex;
        width: 100%;
        overflow-x: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }

    &-slide {
        width: 100%;
        flex-shrink: 0;

        img {
            width: 100%;
        }
      }

    &-slideButton {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translateX(-50%);

        .active {
            background-color: rgba($color: $color-black, $alpha: 0.7);
        }
    }

    &-option {
        display: inline-block;
        padding: 6px;
        background-color: $color-light-grey;
        margin: 3px;
        border-radius: 50%;
    }

    &-select span {
        padding: 8px;
        background-color: rgba($color: $color-dark-grey, $alpha: 0.5);
    }

    &-select-previous {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    &-select-next {
        position: absolute;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);
        cursor: pointer;
    }
}



    //-------------------carousel end---------------

.product {
    margin-top: 2rem;
    display: flex;

    &-shadow {
        background: radial-gradient(at 50% 0, rgba(0, 0, 0, 0.5), transparent 70%);
        height: 1rem;
        min-width: 100%;
    }

    &-image {
        width: 30%;
        display: flex;
        align-items: center;
        overflow: hidden;
        img {
            width: 80%;
            margin: 2rem auto;
        }
    }

    &-details {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

.product-description {
    font-size: 1.3rem;
    padding: 1.8rem 1rem;
    word-spacing: -1px;
    text-align: center;
}

.product-button {
    font-size: 1.3rem;
    padding: 1rem;
    background-color: $color-dark-red;
    border: 0;
}

// ===================home style end===================



// =============footer star=======================

.footer {
    background-color: $color-light-grey;
    &-container {
    font-size: 1.8rem;
    padding: 0.8rem 0;
    }
}