.product-landing-page {
    header {
        background-color: #f8f9fa;
    
        box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
    }

    main {
        position: relative;
        min-height: 100vh;
    }
    
    .logo {
        height: 4em;
        width: 8em;
    }
    
    .navigation-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        padding: 1em;
        /* Added this height to make sure it is similar to screenshot */
        height: 5em;

        .hide {
            display: none;
        }
    
    }
    
    .cart {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        text-decoration: none;
        color: #000;
    }

    .cart:hover {
        background-color: #dee2e6;
    }
    
    .cart-icon {
        height: 3em;
        width: 3em;
        stroke: #D00155;
        color: #D00155;
        /* background-color: #8e2b44; */
    }
    
    .cart-item {
        font-size: 1.5rem;
    }
    
    /* MAIN/BODY Products Container */
    
    .product-card-section {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 2em;
        align-items: center;
        justify-content: center;
    
    }
    
    .products-container {
        margin-top: 2em;
    }
    
    .category-list {
        /* position: relative; */
        display: none;
    }
    
    .category--opened {
        display: flex;
        flex-direction: column;
    }
    
    
    .category-name {
        /* height: 3em; */
        text-align: center;
        padding: 1em;
        border-bottom: 1px solid #000;
        background-color: #f8f9fa;
        /* position: absolute; */
        /* display: none; */
        width: 100%;
        cursor: pointer;
    }
    
    .category-name:hover {
        background-color: #dee2e6;
    }
    
    .category-banner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        background-color: #D00155;
    
        padding: 2em;
        color: #fff;
        height: 3em;
        cursor: pointer;
    }
    
    .category-banner svg {
        height: 2.5em;
        width: 2.5em;
    }
    
    .product-card {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
    
        width: 24rem;
        height: 100%;
        margin: 1em auto;
    }
    
    .product-title {
        /* grid-column: 1 / -1; */
    }
    
    .product-description {
        background-color: #dee2e6;
        padding: 1em;
    }
    
    .product-buy-now {
        border: none;
        background-color: #D00155;
        color: #fff;
        padding: 1em;
        cursor: pointer;
    }
    
    .product-img {}
    
    .no-products {
        text-align: center;
        top: 50vh;
        width: 100%;
        text-align: center;
        position: absolute;
        z-index: -1;
    }
    
    /* FOOTER */
    footer {
        position: static;
        bottom: 0;
        padding: 1em;
        width: 100%;
        text-align: center;
        background-color: #dee2e6;
    
        // transform: translate(0, 70%);
    }
    
}
