$color-dark-grey: #adadad;
$color-light-grey: #d6d6d6;
$txt-datk-grey: #3f3f3f;
$txt-light-grey: #797878;
$color-black: #000;
$color-mix-green-blue: #2dc9a9;
$color-dark-red: #ca0655;
$color-white: #fff;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: dosis, sans-serif;
}

html {
    font-size: 62.5%;
}


// - Font sizes (px)
// 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

// - Spacing system (px)
// 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

.container {
    margin: 0 160px;
}

.grid {
    display: grid;
    gap: 4px;
}

.grid-2-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .grid-3-cols {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .grid-4-cols {
    grid-template-columns: repeat(4, 1fr);
  }
  
  .grid-5-cols {
    grid-template-columns: repeat(5, 1fr);
  }
  
  .heading-tertiary {
    font-size: 2rem;
    word-spacing: -1px;
    letter-spacing: -1px;
  }

  .heading-quarternary {
    font-size: 1.6rem;
    word-spacing: -1px;
    letter-spacing: -1px;
  }

  //=========reusable end=====================

// ============Header start===============
.header {
    height: 7.5rem;
    box-shadow: 0 0.3rem 0.8rem rgba($color: $color-dark-grey, $alpha: 0.4);
    width: 100%;
    position: fixed;
    z-index: 999;
    opacity: 1;
    background-color: white;
}

.nav {
    display: flex;
    justify-content: space-between;

    &-logo img{
        margin: 0.8rem 0;
        width: 70%;
    }

    &-links {
        display: flex;
        vertical-align: bottom;
        font-size: 1.6rem;
        flex-grow: 0.8;
        align-items: end;
        margin-bottom: 2rem;
        gap: 2rem;
        list-style: none;
    }

    &-right {
        width: 10rem;
        display: inline-block;

        &-register {
            display: flex;
            justify-content: end;
            gap: 1rem;
            padding: 2px;
            list-style: none;
            font-size: 1.2rem;
        }

        &-cart {
            display: flex;
            align-items: center;
            background-color: rgba($color: $color-light-grey, $alpha: 0.7);
            padding: 1.3rem 1.8rem;
            margin-top: 1.1rem;

            img{
                width: 2rem;
            }
        }

    }
}


.nav-link-item {
    color: $txt-light-grey;
    text-decoration: none;
}

.acc-link-item {
    color: $txt-datk-grey;
    text-decoration: none;
}

//===================header end===================
//--------------signin and register page media query------------------
//------------1200px--------
@media ( max-width: 75em) {
    .container {
        margin: 0 8rem;
    }
}

//------1000px---------------
@media ( max-width: 63em) {
    .container {
        margin: 0 0rem;
    }

    .grid-4-cols {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-details {
        margin-bottom: 1rem;
    }
}

//------------800px-----------------
// @media ( max-width: 37em) {
//     .container {
//         margin: 0 0rem;
//     }
// }

//-------600px--------------------
@media ( max-width: 37em) {
    .grid-4-cols {
        grid-template-columns: repeat(1, 1fr);
    }

    .nav-links {
        display: none;
    }

    .nav-right-register {
        visibility: hidden;
    }

    .product-nav-list {
        display: none;
    }

    .product-item-purchase span {
        display: none;
    }
}


// ================products style star====================

.product {
    display: flex;
    padding-top: 7.5rem;

    &-nav-list {
        width: 20rem;
        flex-shrink: 0;
        background-color: rgba($color: $color-light-grey, $alpha: 0.3);
    }

    &-nav-item {
        font-size: 1.2rem;
        padding: 10px 10px;
        margin-left: 0.5rem;
        list-style: none;
        color: rgba($color: $color-black, $alpha: 0.5);
        border-bottom: 1px solid $color-dark-grey;
        cursor: pointer;
    }

    &-list {
        margin-top: 0.5rem;
    }
    &-item {
        padding: 0 10px 4px 10px;
        box-shadow: 39px 1px 7px -33px rgba(170, 176, 170, 0.1);
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        border-bottom: 1px dashed $color-dark-grey;

        &-heading {
            height: 5.4rem;
        }
        img {
            width: 100%;
            margin-top: 12px;
        }

        &-description {
            background-color: $color-light-grey;
            padding: 10px;
            margin-top: 8px;
            height: 8rem;
            overflow-y: scroll;
        }

        &-purchase {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1rem;
            margin-top: 8px;
            span {
                color: $txt-datk-grey;
            }

            button {
                padding: 6px 10px;
                border: 0;
                background-color: $color-dark-red;
                color: $color-white;
            }
        }
    }
}

// ===================products style end===================



// =============footer star=======================

.footer {
    background-color: $color-light-grey;
    &-container {
    font-size: 1.8rem;
    padding: 0.8px 0;
    }
}