.sidenav {
  min-height: 82vh;
  //width: 160px;
  flex: 0 1 20%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #eaeaea;
  overflow-x: hidden;
  padding-top: 20px;

  a {
    padding: 11px 30px;
    border-bottom: 1px solid #cccccc;
    text-decoration: none;
    font-size: 19px;
    color: #818181;
    display: block;
  }

  a:hover {
    color: #818181;
  }
}

.product {
  flex: 0 1 80%;
  overflow-x: hidden;
  padding-top: 20px;

  .product_listing{
    display: flex; 
    
    .items{
      flex: 0 1 25%;      

      img{
        height: 200px;
        width: 200px;
      }
    }
  }
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
