.re-container{
    display:flex;
    margin-top:5vh;

    .re-text{
        display: flex;
        width:49vw;
        justify-content: flex-end;
        margin-top:5vh;
        padding:3vh;
    }

    .registerBox-input {
        margin-left: 5vw;
        margin-top: 0vh;
        position: relative;
      }
}

@media (max-width:600px){
    .re-container{
        display:flex;
        flex-direction: column;
    }

    .re-text{
        display: flex;
        width: 80vw;
    }
}