@import "../../../common_mixin.scss";

.headerComponent {
    padding: 0 5%;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    justify-content: space-between;

    .leftSection {
        display: flex;
        width: 35%;
        justify-content: space-between;
        .items {
            padding-bottom: 20px;
            display: flex;
            width: 40%;
            justify-content: space-around;
            align-items: flex-end;
            .nav-link {
                color: #000;

                &.active {
                    color: #e80a79;
                }

                &:hover {
                    color: #e80a79;
                }
            }
        }
    }
    .rightSection {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .cartLogo {
            height: 40px;
            background: gray;
            justify-content: space-around;
            display: flex;
            align-items: center;
            padding: 0 40px 0 50px;
        }
        .loginSec {
            display: flex;
            justify-content: space-around;
            padding: 10px;
        }
    }
}
