.category_container {
  height: 300px;
  border-bottom: 1px solid #efefef;
  box-shadow: 2px 4px 16px 3px #efefef;
}

.imageStyle {
  object-fit: contain;
}

.heading {
  color: #56565d;
  margin: 0px;
}

.description {
  font-size: 80%;
}
