$primary: #bf2957;
$gray: #033f46;
$light: #d7fbff;
$accent: #79d7e1;
$smallText: 0.8rem;
$normalText: 1rem;
$medText: 1.5rem;
$largeText: 2rem;
$defaultFontFamily: "Dosis", "Helvetica Neue", sans-serif;
