@use "styles/colors" as colors;

.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  min-height: calc(100vh - 120px);

  &_filters {
    background-color: #eaeaea;
  }

  &_products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  @media screen and (max-width: 500px) {
    display: block;
  }

}

.filter_list {
  padding: 0;

  li {
    list-style: none;
    font-size: 14px;
    border-bottom: 1px solid #c2c2cc;
    padding: 15px;
  }

  .active {
    color: white;
    background-color: colors.$secondary;
  }
}
