@use '../../styles/colors' as colors;

.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  min-height: calc(100vh - 120px);

  &_filters {
    background-color: #eaeaea;
  }

  &_products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  @media screen and (max-width: 500px) {
    display: block;
  }
}

.filterList {
  padding: 0;
  li {
    list-style: none;
    font-size: 14px;
    border-bottom: 1px solid #c2c2cc;
    padding: 15px;
    cursor: pointer;
  }
  .active {
    color: white;
    background-color: colors.$secondary;
  }
}
