$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;
$color-grey-dark: #777;
$color-grey-light-1: #f7f7f7;
$color-white: #ffffff;
$color-black: #000;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-terinary-light: #2998ff;
$color-terinary-dark: #5643fa;
$color-light-grey-2: #eee;
$color-grey-dark-3: #333;
$color-crimson-pink: #cf0154;
$color-grey-dark-2: #999;

//Font sizes
$default-font-size: 1.6rem;


//GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$gutter-vertical-small: 6rem;