@import '../../styles/abstract/variables';
@import '../../styles/abstract/mixin';
@import '../../styles/abstract/color';
.home-wrapper{
    max-width: 1170px;
    font-size: 18px;
    margin:auto;
    .loading{
        padding: 10px 30px;
        position: relative;
        left:35%;
        top:100px;
        display: inline-block;
    }
    .slideshow-container{
        min-height: 200px;
    }
    .dot-container{
        position: absolute;
        left: 40%;
        top:78%;
    }
    .img-container{
        width: 30%;
        height: auto;
        
    }

    .item-container{
        @include box-shadow(1px 6px 5px -6px $gs-10);
        padding:10px 0 30px 0;
        position: relative;
        .custom-button{
            a{
                color: $gs-23;
            }
        }
    }
    .cateory-container{
        width:60%;
        @include margin($top:35px);
    }
    .img-container{
        img,figure{
            height: auto;
            width: 100%;
        }
    }
    .cateory-container {
        p{
            @include font-size(65%);
            right: 25%;
        }
        
    }

    @include large-screen{
        font-size: 20px;
    }
}