<main class="home-wrapper carousel-wrapper">

    <div class="slideshow-container">

        <!-- Carousel component -->

        <shopping-cart-carousel *ngIf="!bannerLoading && bannerList?.length" [bannerList]="bannerList"></shopping-cart-carousel>


        <!-- Loading -->

        <p class="loading margin-top-20" *ngIf="bannerLoading">
            <loading size="normal"></loading>
        </p>

    </div>
    
    <!-- All product category list starts here -->


    <!-- category loading -->

    <p class="loading margin-top-20" *ngIf="bannerLoading">
        <loading size="normal" msg="Please wait while category is loading."></loading>
    </p>

    <!-- Category details -->

    <div class="item-container clearfix" *ngFor="let category of categoryList;let odd=odd; let even=even">
        <figure class="img-container clrarfix" [ngClass]="{'pull-left':odd,'pull-right':even}">
            <img src="{{category.imageUrl}}" alt="{{category.name}}">
        </figure>
        <section class="category-container text-center" [ngClass]="{'pull-left':even,'pull-right right':odd}">
            <h4>{{category.name}}</h4>
            <app-paragraph [type]="'p-normal'" [desc]="category.description" ></app-paragraph>
            <!-- <p class="margin-top-15">{{category.description}}</p> -->

            <!-- Common button component -->
            <app-common-button [buttonSize]="'large'" (onBtnClick)="onBtnClicked(category)" [type]="'btn-app margin-top-20'" [title]="'Explore '+category.name" [isTransitionRequired]="true"></app-common-button>
        </section>
    </div>
</main>
