@import '../../styles/abstract/variables';
@import '../../styles/abstract/mixin';
.home-wrapper{
    max-width: 1170px;
    min-height: 580px;
    margin:auto;
    .dot-container{
        position: absolute;
        left: 40%;
        top:78%;
    }
    .img-container{
        width: 30%;
        height: auto;
        
    }
    .product-category{
        max-width: 1000px;
        position: relative;
        margin: auto;
    }
    .item-container{
        @include box-shadow(1px 6px 5px -6px #aaa);
        padding:10px 0 30px 0;
        position: relative;
        .custom-button{
            a{
                text-decoration: none;
                color: #fff;
            }
        }
    }
    .cateory-container{
        width:60%;
        @include margin($top:35px);
    }
    .img-container{
        img,figure{
            height: auto;
            width: 100%;
        }
    }
    .cateory-container {
        p{
            @include font-size(65%);
            right: 25%;
        }
        
    }
}