.CategoryFilterContainer {
    padding      : 10px;
    width        : 100%;
    padding-left : 10px;
    border-bottom: 1px solid grey;
    cursor       : pointer;
    transition   : background-color 150ms;
}


.active {
    background-color: beige;
}

.CategoryFilterContainer:hover {
    background-color: lightgrey;
}


.CategoryFilterContainer:active {
    background-color: beige;
}