// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Dosis:400,600,700);

// Font Variables
$dosis-font: 'Dosis', sans-serif;

// Styles
* {
  font-family: $dosis-font;
  font-weight: normal;
}

.shadow_grey{
    box-shadow: 0 0 0 4px white, 0 6px 4px #e0dfdf;
}

.footer{
    flex-shrink: 0;
    text-align: left;
    background-color: #eee;
    padding: 20px 10px;
}

.btn.btn-secondary{
    background-color: #c7417b;
    border-color : #c7417b;
    border-radius: 0%;
}
.box-bottom-shadow{
    box-shadow: 0 10px 10px -13px;
}

input{
    font: 15px/24px 'Muli', sans-serif; 
    color: #333; 
    width: 100%; 
    box-sizing: border-box; 
    letter-spacing: 1px;
}
:focus{
    outline: none;
}

.col-3{
    float: left; 
    width: 27.33%; 
    margin: 40px 3%; 
    position: relative;
}
.cartModal{
    &.modal-dialog{
    position: absolute;
    right: 94px;
    bottom: -27px;
    width: 485px;
    }
    .close{
        font-size: 30px;
        color: #fff;
        text-shadow: none;
        opacity: 1;
    }
}
.cartModal{
    .modal-content{
    height: 81vh;
    border: none;
    }
} 
.inputAnimation{
    border: 0; 
    padding: 4px 0; 
    border-bottom: 1px solid #ccc; 
    background-color: transparent;
}
.inputAnimation:focus{
    border-bottom: 1px solid #40eaea;
}

.inputAnimation ~ label{
    position: absolute; 
    left: 14px; 
    width: 100%; 
    top: 9px; 
    color: #aaa; 
    transition: 0.3s; 
    z-index: -1; 
    letter-spacing: 0.5px;
}
.inputAnimation:focus ~ label, .has-content.inputAnimation ~ label{
    top: -16px; 
    font-size: 12px; 
    color: #40eaea; 
    transition: 0.3s; 
}
.cursor-pointer{
    cursor: pointer;
}

