@import './resets.scss';
@import './variables';

.header{
    display : flex;
    justify-content : space-between;
    position : sticky;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    left : 0;
    top : 0;
    width : 100%;
    max-height : 5rem;
}
.header-logo{
    padding : 20px 20px;
    width : 6rem;
}
#items-cart{
    display : flex;
    background-color : $lightGrey;
    span:hover{
        opacity : 0.5;
        cursor : pointer;
    }
}
a{
    text-decoration : none;
    color : black;
    border-radius : 5px;
    &:hover{
        border-radius : 10px;
        background-color : $lightGrey;
    }
}
.center-nav {
    margin-top : 40px;
    font-size : 10px;
}
@media only screen and (min-width: 600px) {
    .center-nav {
        font-size : 20px;
    }
}