$primary-color: rgb(204, 0, 82);
.dropdown{
  display:none;
}
.product_content {
    display:grid;
    grid-template-columns:250px auto
}
.sidebar{
    height: 100%;
    z-index: 1;
    background-color: rgb(230, 230, 230);
    overflow-x: hidden
}
.filterlist{
    padding-inline-start: 0;
    margin-block-start: 0;
}
.filterlist li{
    list-style-type: none;
    text-align:center;
    padding:10px 0px;
    border-bottom:1px solid #ccc;
    color:rgba(0,0,0,0.5)
}
.productitems{
    display:grid;
    grid-template-columns:auto auto auto auto;
    padding:0px 10px
}
.itemname { grid-area: name;padding:0px 4px;align-self: start; }
.itemimage { grid-area: image; }
.itemdescription {grid-area: description;}
.itembutton { grid-area: button;display: grid;grid-template-columns: auto auto; }
.item{
    display:grid;
    grid-template-areas: "name""image""description""button";
    grid-template-rows:20% 30% 40% 10%;
    background-color:#fff; 
    grid-row-gap: 2px;
    margin: 5px;
    border-bottom:2px dotted #ccc;
}
.description{
    background:#ccc;
    padding:5px;
    overflow-y:hidden;
    text-overflow:ellipsis;
    max-height:150px
}
.buynow{
    background:rgb(204, 0, 82);
    padding:0px 8px;
    min-width:100px;
    height:40px;
    border:none;color:#fff
}

@media screen and (max-width:1199px){
    .productitems{
        grid-template-columns:auto auto;
    }
    .product_content{
        grid-template-columns:150px auto;
    }
    .item{
     grid-template-areas: 'name''image description''button';
    }

}
@media screen and (max-width:767px){
    .productitems{
        grid-template-columns: auto;
    }
    .product_content{
        grid-template-columns:auto;
    }
    .sidebar{
        display: none;
    }
    .dropdown{
        display: inline;
        width:100%;
        height:50px;
        border:none;
        background:$primary-color;
        color:#fff;
        padding:0 20px;
        margin-bottom:10px
    }
    .item{
    grid-template-areas: 'name''image description''button';
}


}
