.product-card .desc{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    min-height: 96px;
}
.truncate {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
.product-card{
    border-radius: 0%;
    border: none;
    border-bottom: 2px dashed gray;
    box-shadow: 12px 0 15px -4px rgba(218, 218, 218, 0.8), -12px 0 8px -4px rgba(218, 218, 218, 0.8);
    padding: 10px;
}