@use "../../variables";

.show-label {
  display: block;
  .label-name {
    color: variables.$input-focus-color;
    font-weight: 600;
  }
}

.hide-label {
  display: none;
}

input {
  width: 100%;
  padding: 2%;
  margin: 2% 0 5% 0;
  outline: none;
  border: 0;
  border-bottom: 1px solid variables.$app-grey-color;

  &:focus,
  &:active,
  &:focus-visible,
  &:focus-within {
    border-bottom: 1px solid variables.$input-focus-color;
  }
}

.required {
  color: variables.$app-red-color;
}

.error {
  border-bottom: 1px solid variables.$app-red-color;
  &:focus,
  &:active,
  &:focus-visible,
  &:focus-within {
    border-bottom: 1px solid variables.$input-focus-color;
  }
}
