.SB_Header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 10px 5px;

    .HeaderTop {
        display: flex;
    }

    .LogoContainer {
        width: 30%;

        img {
            height: 40px;
        }
    }

    .CartContainer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 30%;

        .LoginButton {
            margin-right: 10px;
        }

        img {
            height: 20px;
            width: 20px;
        }
    }

    .SearchContainer {
        display: flex;
        margin: auto;
        width: 40%;

        input[type="text"] {
            padding: 10px;
            font-size: 17px;
            border: 1px solid grey;
            float: left;
            width: 80%;
            background: #f1f1f1;
        }

        button {
            float: left;
            width: 20%;
            padding: 10px;
            background: #2196f3;
            color: white;
            font-size: 17px;
            border: 1px solid grey;
            border-left: none; /* Prevent double borders */
            cursor: pointer;
        }

        button:hover {
            background: #0b7dda;
        }

        ::after {
            content: "";
            clear: both;
            display: table;
        }
    }

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        padding: 0;
    }

    @media screen and (max-width: 800px) {
        .HeaderTop {
            // display: block;
        }
        .LogoContainer,
        .SearchContainer,
        .CartContainer {
            width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
        }
        .LogoContainer,
        .CartContainer {
            width: 50%; /* The width is 100%, when the viewport is 800px or smaller */
        }
    }

    .CategoryContainer {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;

            li {
                float: left;
            }

            li a {
                display: block;
                color: black;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

            li a:hover {
                background-color: rgb(117, 117, 117);
            }
        }
    }
}
