.ProductGridList {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
    .ProductGridList {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Screen larger than 600px? 2 column */
@media (min-width: 500px) {
    .ProductGridList {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
    .ProductGridList {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 1200px) {
    .ProductGridList {
        grid-template-columns: repeat(4, 1fr);
    }
}
