
//colors
$black: #000;
$white: #fff;
$grey100: #e7e7e7;
$grey300: #cccccc;
$grey700: #828282;
$primaryRed: #d10056;

// fontweights
$fontWeightVeryLight: 200;
$fontWeightLight: 400;
$fontWeightMedium: 500;
$fontWeightMediumDark: 600;
$fontWeightDark: 700;
$fontWeightVeryDark: 800;
$fontWeightultraDark: 900;

