/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #fff;
    color: #555;
    text-rendering: optimizeLegibility;
}
/* html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', "Helvetica Neue", sans-serif; } */
