.products-section {
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 1rem;
}

.products-category {
    background-color: #ebe7e7;
}

.products-category-dropdown {
    display: none;
}

.category-list {
    display: flex;
    flex-direction: column;
}

.category-name {
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #4e4c4c;
    border-bottom: dashed #999;
    text-decoration: none;
}

.products-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-bottom: dashed #999;
    border-top: none;
    padding: 1rem;
    box-shadow: 5px 0px 5px 1px rgba(238, 238, 238, 1);
}

.product-img {
    width: 150px;
    padding: 1rem;
}

.product-description {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebe7e7;
    padding: 5px 10px;
    height: 7rem;
}

.price-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: stretch;
    padding: 0.5rem;
}

.btn-buynow {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #d31535;
    color: #fff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}

@media (max-width:420px) {
    .products-list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .products-section {
        grid-template-columns: 1fr;
    }

    .products-category {
        display: none;
    }

    .products-category-dropdown {
        display: block !important;
        grid-row: 1;
        grid-column: 1/-1;
        background-color: #d31535;
        position: relative;

        padding: 10px;
    }

    .dropdown {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .dropdown-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        font-weight: 500;
        font-size: 1.2rem;
    }

    .dropdown-links {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: #fff;
        align-items: center;
        justify-content: center;
        display: none;
    }

    .dropdown-links a {
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 500;
        color: #fff;
    }

    .arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }

    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}