.listContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  @media screen and (max-width: 700px) {
    grid-template-columns: 1fr;
  }

  @media screen and (min-width: 701px) and (max-width: 1120px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
