@import "../../App.scss";
.section-product {
  display: flex;
  height: $main-content-height;
  background-color: #fff;
  padding-left: 2%;
  aside {
    width: 30%;
    // padding-top: 1.5rem;
  }
  main .scroll-container {
    padding: 1.5rem;
    height: $main-content-height;
    overflow-y: auto;
  }
  .hidden-header-menu {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  aside {
    display: none;
  }
  .hidden-header-menu {
    display: block !important;
  }
}

.footer-section {
  background: lightgray;
  // padding: 4%;
  height: $footer-height;
  font-weight: 600;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #000;
}

@media screen and (max-width: 460px) {
  .footer-section {
    font-size: 0.8rem;
    // font-weight: 400;
  }
}
