<div class="details">
  <h1>SignUp</h1>
  <p>We do not share your personal details with anyone.</p>
</div>
<form class="register-form">
  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Confirm Password</mat-label>
    <input matInput type="password">
  </mat-form-field>
  <button class="submit">SignUp</button>
</form>