.cart-item {
    display: flex;
    background-color: white;
    padding: 0 10px;
    margin-bottom: 10px;
    
    &__img{
        width: 100%;

        &-container {
            width: 25%;
        }
    }

    &__details {
        width: 70%;
        margin-left: auto;

        &-quantity {
            margin: 0 10px;

            &--icon {
                padding: 1px 9px 5px 9px;
                background: #b90b0b;
                border-radius: 50%;
                color: white;
                cursor: pointer;
            }

            &--multiply {
                margin: 20px;
                font-size: 16px;
            }

            &--total-price {
                float: right;
            }
        }

        &-pricing {
            padding-bottom: 10px;
        }
    }
}