@import '../../../assets/stylesheets/mixins.scss';

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    overflow-y: "auto"
  }
  
  .modal-main {
    position:absolute;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    overflow: auto;
    padding: 24px;
    font-size: var(--base-large);
    font-weight: var(--font-weight-semi);
    line-height: 1.3;

    @include tablet {
        width: 60%;
    }

    @include desktop {
        width: 40%
    }
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }

  .button-wrapper {
      display: flex;
      justify-content: right;
      
      button {
          background-color: var(--primary-color);
          color: var(--secondary-color);
          border: none;
          padding: 10px 16px;
          margin-top: 24px;
      }
  }