<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="list.css">
    <title>Document</title>
</head>
<body>
    <article class="list-container">
        <section class="min-category">zxc</section>
        <div class="row">
            <section class="categories col span-2-of-12">
                <div class="category-item">
                    Fruits & Vegetables
                </div>
                <div class="category-item">
                        Fruits & Vegetables
                </div>
                <div class="category-item">
                    Fruits & Vegetables
                </div>
                <div class="category-item">
                    Fruits & Vegetables
                </div>
                <div class="category-item">
                    Fruits & Vegetables
                </div>
            </section>
            <section class="col span-8-of-12 list-body">
                <div class="col list-item span-3-of-12 margin-left-0">
                    <header>
                        <h4>Fresho Kiwi- Green 3pcs</h4>
                    </header>
                    <figure>
                        <img src="../../../static/images/products/fruit-n-veg/kiwi-green.jpg" alt="Product image">
                        <section class="fig-caption margin-top-15">Kiwifruit (often shortened to kiwi outside Australia and New Zealand), or Chinese </section>
                    </figure>
                    <footer class="clearfix margin-top-15 footer">
                        <p class="mrp">MRP Rs.87</p>
                        <button class="buy-now">Buy Now<span class="mini-mrp">@Rs87</span></button>
                    </footer>
                    
                    
                </div>
                <div class="col list-item span-3-of-12">
                    <header>
                        <h4>Fresho Kiwi- Green 3pcs</h4>
                    </header>
                    <figure>
                        <img src="../../../static/images/products/fruit-n-veg/capsicum-green.jpg" alt="Product image">
                        <section class="fig-caption margin-top-15">Kiwifruit (often shortened to kiwi outside Australia and New Zealand), or Chinese </section>
                    </figure>
                    
                    <footer class="clearfix margin-top-15 footer">
                        <p class="mrp">MRP Rs.87</p>
                        <button class="buy-now">Buy Now<span class="mini-mrp">@Rs87</span></button>
                    </footer>
                </div>
                <div class="col list-item span-3-of-12 ">
                    <header>
                        <h4>Fresho Kiwi- Green 3pcs</h4>
                    </header>
                    <figure>
                        <img src="../../../static/images/products/fruit-n-veg/apple.jpg" alt="Product image">
                        <section class="fig-caption margin-top-15">Kiwifruit (often shortened to kiwi outside Australia and New Zealand), or Chinese </section>
                    </figure>
                    <footer class="clearfix margin-top-15 footer">
                        <p class="mrp">MRP Rs.87</p>
                        <button class="buy-now">Buy Now<span class="mini-mrp">@Rs87</span></button>
                    </footer>
                </div>
                <div class="col list-item span-3-of-12">
                    <header>
                        <h4>Fresho Kiwi- Green 3pcs</h4>
                    </header>
                    <figure>
                        <img src="../../../static/images/products/fruit-n-veg/pomegrante.jpg" alt="Product image">
                        <section class="fig-caption margin-top-15">Kiwifruit (often shortened to kiwi outside Australia and New Zealand), or Chinese </section>
                    </figure>
                    <footer class="clearfix margin-top-15 footer">
                        <p class="mrp">MRP Rs.87</p>
                        <button class="buy-now">Buy Now<span class="mini-mrp">@Rs87</span></button>
                    </footer>
                </div>
                <div class="col list-item span-3-of-12">
                    <header>
                        <h4>Fresho Kiwi- Green 3pcs</h4>
                    </header>
                    <figure>
                        <img src="../../../static/images/products/fruit-n-veg/tomato.jpg" alt="Product image">
                        <section class="fig-caption margin-top-15">Kiwifruit (often shortened to kiwi outside Australia and New Zealand), or Chinese </section>
                    </figure>
                    <footer class="clearfix margin-top-15 footer">
                        <p class="mrp">MRP Rs.87</p>
                        <button class="buy-now">Buy Now<span class="mini-mrp">@Rs87</span></button>
                    </footer>
                </div>
            </section>
        </div>
        
    </article>
</body>
</html>