@import "../../../static/patterns/style/base.css";
.list-container .list-item{
    background-color: #fff;
    position: relative;
    height: 476px;
    margin: 15px 10px 0 0;
    border-bottom: 1px dashed #dedede;
    -webkit-box-shadow: 3px 0 4px -2px #ccc;
    box-shadow: 3px 0 4px -2px #ccc;
}
.list-container .min-category select{
    background-color: #D10157;
    padding: 10px;
    width: 100%;
}
.list-container a{
    text-decoration: none;
    color: #777;
    font-weight: 600;
}
.list-container .min-category{
    display: none;
}
.list-container .categories{
    background-color: #f0f0f0;
}
.list-container .list-item figure{
    width: 100%;
    margin-top:55px;
}
.list-container .list-item .fig-caption{
    background-color: #f5f5f5;
    padding: 5px;
    font-size: 70%;
    line-height: 1.4;
}
.list-container .list-item img{
    width: 100%;
}
.list-container .list-item .mrp{
    display: inline-block;
    font-size: 70%;
    position: relative;
    top: 5px;
}
.list-container .list-item .mini-mrp{
    display: none;
}
.list-container .list-item .buy-now{
    display: inline-block;
    cursor: pointer;
    border:none;
    padding: 10px 20px;
    background-color: #D10157;
    color: #fff;
    position: relative;
    right: 5px;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
}
.list-container .list-item .buy-now:hover{
    -webkit-transform: scaleY(1.2);
            transform: scaleY(1.2);
    background: rgba(rgba(209, 1, 88, 0.322), 0.8);
}
.list-container footer{
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.categories .category-item{
    padding: 15px 10px;
    font-size: 80%;
    border-bottom: 2px solid #dedede;
}
