@import "./../../../../config";


.product {
  width: 25%;
  padding: 0 0.5rem 0.5rem 0.5rem;
  margin: 1.5rem 0;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  &__name {
    font-weight: 800;
    height: 62px;
    font-size: 1rem;
  }
  &__image {
    Img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__description {
    font-size: 0.7rem;
    background-color: $secondary-color;
    font-weight: 600;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 63px;
    margin: 0;
  }

  &__pricewithbtn_tablet {
    display: none;
  }

  &__pricewithbtn_desktop {
    @include set-flex();
    margin: 1rem 0 0.5rem 0;
  }
  &__price {
    font-size: 0.8rem;
  }
  // &__button {
  //   @include set-btn-style();
  // }
  hr {
    margin: 0;
    border: 0;
    border-top: 1.3px dashed $font-color;
  }
  &__descriptionContainer_mobileOnly {
    display: none;
  }
}

@media (max-width: 1024px) {
  .product {
    width: 50%;
    padding: 0 1.5rem 0.5rem 1.5rem;
    margin: 1rem 0;

    &__name {
      height: 43px;
    }
    &__image {
      flex-basis: 50%;
      Img {
        width: 525px;
      }
    }
    &__descriptionContainer {
      flex-basis: 50%;
      overflow: hidden;
      background-color: $secondary-color;
    }
    &__description {
      font-size: 0.9rem;
      flex-basis: 50%;
      overflow: unset;
      margin: 0;
    }
    &__image {
      flex-basis: 50%;
    }
    &__pricewithbtn_desktop {
      display: none;
    }
    // &__button_tablet {
    //   @include set-btn-style();
    //   width: 100%;
    //   margin: 1rem 0;
    // }
    &__pricewithbtn_tablet {
      display: block;
    }
  }

  .product__imageWithDescription {
    display: flex;
  }
}

@media (max-width: 732px) {
  .product {
    width: 100%;
    &__descriptionContainer {
      display: none;
    }
    &__button_tablet {
      display: none;
    }
    &__descriptionContainer_mobileOnly {
      display: block;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex-basis: 50%;
    }
    // &__button_mobile {
    //   @include set-btn-style();
    //   width: 100%;
    //   margin: 1rem 0;
    //   padding: 1rem 0;
    // }
  }
}
