:root {
    --primary-color: #cc0066;
    --secondary-color: #fff;

    --font1-color: #000;
    --font2-color: #595959;

    --bg1-color: #fff;
    --bg2-color: #f2f2f2;

    --border1-color: rgba(59, 59, 59,0.2);
    --box-shadow1: 0px 3px 6px rgba(0, 0, 0, 0.2);
    --box-shadow2: 0 0 40px rgb(0, 0, 0, 0.8)
}