@import './mixins.scss';

.container {
    max-width: 100%;
    padding: 0;
    margin: 0;
}

@include desktop {
    .container {
        padding: 0 160px;
    }
}

.mobile-only {
    @include tablet {
        display: none !important;
    }
}

.tablet-only {
    @include mobile {
        display: none !important;
    }
    @include desktop {
        display: none !important;
    }
}

.desktop-only {
    @include mobile-tablet {
        display: none !important;
    }
}

.desktop-hidden {
    @include desktop {
        display: none !important;
    }
}
.mobile-hidden {
    @include mobile {
        display: none !important;
    }
}
.tablet-hidden {
    @include tablet {
        display: none !important;
    }
}

.main-content {
    padding-top: 90px;
    padding-bottom: 30px;

    @include mobile-tablet {
        width: 100vw;
    }
}

.container-bottom-shadow {
    position: relative;
    padding-bottom: 16px;
    margin-bottom: 50px;
    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 100%;
        bottom: 0;
        width: 120%;
        height: 24px;
        left: -10%;
        right: -10%;
        background: radial-gradient(ellipse at 50% -3%, rgba(00, 00, 00, 0.5), rgba(97, 97, 97, 0.0) 40%);
    }
}

body, p, h4 {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--font1-color);
}