<div class="container my-5">
    <section class="row">
        <div class="col-lg-6">
            <h2>Signup</h2>
            <p>We do not share your personal details with anyone.</p>
        </div>

        <div class="col-lg-6">
            <form [formGroup]="registerForm" novalidate (ngSubmit)="onSubmit()">
                <div class="form-group custom-group">
                    <input type="text" id="firstName" class="form-control" formControlName="firstName" placeholder=""
                        required aria-label="Enter firstName">
                    <label for="firstName" class="floating-label">First Name</label>

                    <div *ngIf="registerForm.controls['firstName'].touched && !registerForm.controls['firstName'].valid"
                        class="alert alert-danger">
                        <div *ngIf="registerForm.controls['firstName'].hasError('required')">
                            Please enter first name
                        </div>
                        <div *ngIf="registerForm.controls['firstName'].hasError('minlength')">
                            Please enter atleast 4 characters
                        </div>
                    </div>
                </div>

                <div class="form-group custom-group">
                    <input class="form-control" type="text" formControlName="lastName" id="lastName" placeholder=""
                        required aria-label="Enter lastname">
                    <label for="lastName" class="floating-label">Last Name</label>

                    <div *ngIf="registerForm.controls['lastName'].touched && !registerForm.controls['lastName'].valid"
                        class="alert alert-danger">
                        <div *ngIf="registerForm.controls['lastName'].hasError('required')">
                            Please enter last name
                        </div>
                        <div *ngIf="registerForm.controls['lastName'].hasError('minlength')">
                            Please enter atleast 4 characters
                        </div>
                    </div>
                </div>

                <div class="form-group custom-group">
                    <input class="form-control" type="text" formControlName="email" id="email" placeholder=""
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required aria-label="Enter email">
                    <label for="email" class="floating-label">Email</label>

                    <div *ngIf="registerForm.controls['email'].touched && !registerForm.controls['email'].valid"
                        class="alert alert-danger">
                        <div *ngIf="registerForm.controls['email'].hasError('required')">
                            Please enter a email
                        </div>
                        <div *ngIf="registerForm.controls['email'].hasError('pattern')" aria-live="assertive">
                            Please enter email in correct format
                        </div>
                    </div>
                </div>

                <div class="form-group custom-group">
                    <input class="form-control" type="text" formControlName="password" id="password" placeholder=""
                        required minlength="6" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$"
                        aria-label="Enter password">
                    <label for="password" class="floating-label">Password</label>
                    <div *ngIf="registerForm.controls['password'].touched && !registerForm.controls['password'].valid"
                        class="alert alert-danger">
                        <div *ngIf="registerForm.controls['password'].hasError('required')">
                            Please enter a password
                        </div>
                        <div *ngIf="registerForm.controls['password'].hasError('pattern')">
                            Password should contain a number, alphabet without space
                        </div>
                    </div>
                </div>

                <div class="form-group custom-group">
                    <input class="form-control" type="text" formControlName="confirmPassword" id="confirmPassword"
                        placeholder="" required minlength="6" aria-label="Enter confirmPassword">
                    <label for="confirmPassword" class="floating-label">Confirm Password</label>
                    <div *ngIf="registerForm.controls['confirmPassword'].touched && !registerForm.controls['confirmPassword'].valid"
                        class="alert alert-danger">
                        <div *ngIf="registerForm.controls['confirmPassword'].hasError('required')">
                            Please re-enter the password
                        </div>
                        <div *ngIf="registerForm.errors?.mismatch">
                            Password doesn't match
                        </div>
                    </div>
                    <div *ngIf="registerForm.controls['confirmPassword'].touched && registerForm.errors?.mismatch"
                        class="alert alert-danger">
                        Password doesn't match
                    </div>
                </div>

                <button type="submit" class="custom-btn common-btn" [disabled]="!registerForm.valid"
                    aria-label="Click Signup">Signup</button>
            </form>
        </div>
    </section>
</div>