.wrapper{
  background-repeat: no-repeat;
  height: 350px;
  background-size: cover;
}
.eachbanner {
  height: 300px;
  background-size: cover;
}
@media screen and (min-width: 600px) {
  .eachbanner {
    height: 200px;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .eachbanner {
    height: 300px;
    background-size: cover;
  }
}
@media screen and (max-width: 600px) {
  .eachbanner {
    height: 100px;
    background-size: contain;
  }
}
