@import "../../../assets/scss/color.scss";

.category {
  margin: 0 10rem;
  .category-row {
    border-top: 4px solid $grey;
    text-align-last: center;
    margin: 30px 0;
    padding-top: 2rem;
    img {
      width: 18rem;
      height: inherit;
    }
    .description {
      padding-bottom: 5px;
      .category-body {
        .name-des {
          text-align: center;
        }
        button {
          text-align: center;
        }
      }
    }
  }
}

.category:nth-child(odd) {
  .image {
    float: right;
  }
  .description {
    float: left;
  }
}

.btn-danger {
  width: inherit;
  align-items: center;
}

/* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {
@media (max-width: 1199px) {
  .category {
    margin: 0 10rem;
    .category-row {
      margin-top: 10px;
      img {
        width: 14rem;
      }
    }
  }

  .main-heading {
    font-size: 18px;
  }

  .action-btn {
    font-size: 0.7rem;
    margin-bottom: 35px;
  }

  .name-des {
    font-size: 13px;
    font-weight: 700;
  }
}

// @media only screen and (min-width: 768px) {
@media (max-width: 992px) {
  .main-container {
    max-width: 1000px;
    margin: 0;
  }
  .category {
    margin: 0;
    .category-row {
      margin-bottom: 0;
      img {
        width: 15rem;
      }
    }
  }

  .main-heading {
    font-size: 25px;
  }

  .name-des {
    font-size: 14px;
    font-weight: 700;
  }
  .action-btn {
    font-size: 0.9rem;
    margin-bottom: 35px;
  }
}

/* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {
@media only screen and (max-width: 575px) {
  .category {
    margin: 0;
    .category-row {
      img {
        width: 8rem;
        height: 8rem;
        padding-top: 1rem;
      }
    }
  }

  .main-heading {
    font-size: 20px;
    font-weight: 900;
  }

  .name-des {
    font-size: 11px;
  }
  .action-btn {
    font-size: 0.8rem;
    margin-bottom: 18px;
  }
}
