/* @import "/client/components/styles/variables"; */
@import "../../styles/variables";
@import "/client/components/styles/mq-mixin";

footer {
  color: $primary-black;
  background-color: $bg-secondary-color;
  font-size: $primary-font-size;
  font-weight: 600;
  padding: 10px;
  /* margin-top: 20px; */
  text-align: center;
  font-size: $primary-font-size;

  @include mq(desktop) {
    text-align: left;
    padding-left: 0px;
  }
}
