@use "../../variables";

.form {
  margin: 0 25%;
  .form-details {
    display: flex;
    margin: 5% 0 1% 0;
    .description {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 5%;
      align-items: flex-start;
      margin-top: 2%;
    }
    form {
      margin-left: 25%;
      width: 25vw;
    }
    h2 {
      color: variables.$color-black;
      font-weight: bold;
      font-size: xx-large;
    }
    .error-message p {
      color: variables.$app-red-color;
      padding: 5% 0;
      text-align: start;
      font-weight: 600;
    }
  }
}

.copyright {
  padding: 1% 20%;
  background-color: variables.$app-grey-color;
  p {
    color: variables.$color-black;
  }
}

@media screen and (max-width: 1024px) {
  .form {
    margin: 0 5%;
  }
}

@media screen and (max-width: 480px) {
  .form {
    margin: 0;
  }
}
