@import 'mixin.scss';
@import 'variables.scss';
.main-content-banner {
  @include flex;
  margin:0 5rem 0 5rem;
  padding: 10px;
  position: relative;
  background: $arch;
  &-dotted-css{
    height:'10px';
    width: '10px';
    border-radius: '50%';
    background:'#FF7A59';
    position:absolute;
    cursor:pointer;
    bottom:0;
    accent-color: $grey;
    border-color: $grey;
  }
  &-previous {
    background-color: $light-grey;
    padding: 15px;
    margin: 15px;
    position: absolute;
    left: 0;
    cursor: pointer;
    border: none;
    transition: 0.6s ease;
  }
  &-next {
    background-color: $light-grey;
    padding: 15px;
    margin: 15px;
    position: absolute;
    right: 0;
    cursor: pointer;
    border: none;
    transition: 0.6s ease;
  }
  &-next:hover{
    background-color: $grey;
  }
  &-previous:hover{
    background-color: $grey;
  }
  &-banner-img{
    max-width:100%;
  }; 
}
