/** Import utility classes */
@use "./utilities/spacings.scss";

.root {
  --color-primary: #d20055;
  --color-secondary: #46c1ca;
  --color-black: #000;
  --color-white: #fff;

  --color-primary-50: #{lighten(#d20055, 50%)};
  --color-primary-100: #{lighten(#d20055, 40%)};
  --color-primary-600: #{darken(#d20055, 5%)};
  --color-primary-700: #{darken(#d20055, 10%)};

  --color-secondary-50: #{lighten(#46c1ca, 50%)};
  --color-secondary-100: #{lighten(#46c1ca, 40%)};
  --color-secondary-600: #{darken(#46c1ca, 5%)};
  --color-secondary-700: #{darken(#46c1ca, 10%)};
}

/** Utility classes for color  */
.color-white {
  color: var(--color-white);
}

.color-black {
  color: var(--color-black);
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

/* Utility classes for bg */

.bg-white {
  background-color: var(--color-white);
}

.bg-black {
  background-color: var(--color-black);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

/** Utility classes for width and height */
.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

/** More utility classes */
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.none {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

/* resets */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p,
span {
  margin: 0;
}
