$arch: radial-gradient(ellipse 100% 7% at 50% 100%,rgba(55, 55, 55, 0.5) 100px,rgba(55, 55, 55, 0.1) 260px,white 380px);
$light-grey:#e4e4e4;
$pink-shade:#9A1543;
$error:red;
$grey:grey;
$white:white;
$black:black;
$shadow-grey:#f1f1f1