@import '../../styles/variables';

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1rem;

    &__login-button {
      width: 60%;
  
      @media screen and (max-width: $breakpoint-tablet) {
        width: 80%;
      }
  }
}