.testingDiv {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    .box {
      width: 100%;
      background-color: rgb(255, 255, 255);
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
    }
    .container {
      text-align: center;
    }
    .shadowTest1 {
      position: relative;
    }
    .shadowTest1::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      height: 2px;
      width: 50%;
      z-index: 1;
      filter: blur(5px);
      background-image: linear-gradient(to right, #fff 30%, #5f5f5f);
    }
    .shadowTest1::after {
      content: "";
      position: absolute;
      top: 100%;
      right: 0;
      height: 2px;
      width: 50%;
      z-index: 1;
      filter: blur(5px);
      background-image: linear-gradient(to left, #fff 30%, #5f5f5f);
    }
  }