$grey-1: #eaeaeb;
$grey-2: #eeeeee;
$gray-3: #d1c8c8;
$grey-4: #ced4da;
$grey-5: #959fa1;
$grey-6: #d5d5d5;
$grey-7: #7b7b7b;
$grey-8: #7e7a7a;
$red: red;
$black: black;
$white: white;
$pink: #bf2857;
$blue: #2db9c3;
