@import "assets/colors.scss";

.CartPopup {
  position: fixed;
  width: 35vw;
  background: $gallery;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  min-height: 70vh;
}
.CartPopup--overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  height: 100;
  top: 0;
  height: 100%;
}
.CartPopup__cartItem-container {
  overflow: auto;
  max-height: 36vh;
}
.CartPopup__header {
  background-color: black;
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 10px;
  .CartPopup__count {
    flex-grow: 1;
  }
}
.CartPopup__lowestPrice {
  background: white;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 13px;
  img {
    width: 100px;
  }
}
.CartPopup__checkout-container {
  background-color: white;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  width: 100%;
  .CartPopup__promo {
    text-align: center;
    padding: 10px 0;
  }
}
.CartPopup__checkout-btn {
  background-color: $maroonFlush;
  width: 100%;
  display: flex;
  padding: 20px 10px;
  color: white;
  p:last-child {
    margin-left: auto;
  }
}
.CartPopup__empty-container {
  .CartPopup__empty-info {
    height: 57vh;
    text-align: center;
    position: relative;
    top: 16vh;
  }
  .CartPopup__checkout-btn {
    justify-content: center;
    position: absolute;
    bottom: 0;
  }
}
