.footer{
    background-color: $color-grey-light-1;
    grid-column: full-start / full-end;
    box-shadow: 0 2rem 5rem rgba(0,0,0, .2);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    
    &__text{
      font-size: 1.2rem;
      text-transform: capitalize;
      color: $color-grey-dark;
    }
}