.header{
    background-color: $color-white;
    grid-column: full-start / full-end;
    box-shadow: 0 2rem 5rem rgba(0,0,0, .2);

    display: grid;
    grid-template-columns: minmax(6rem,1fr) repeat(6, [header-start] minmax(min-content, 25rem) [header-end]) minmax(6rem,1fr);
    grid-template-rows: minmax(10vh, max-content);
    align-items: center;
    z-index: 10;
    position: sticky;
    top: 0;

    &__logo{
        height: 6.5rem;
        grid-column: header-start 1 / header-end 1;
    }

    &__nav{
        grid-column: header-start 2 / header-end 5;
        margin-top: 2rem;
    }

    &__user{
        grid-column: header-start 6 / header-end 6;
        align-self: flex-start;
        height: 100%;
        justify-self: end;

        display: grid;
        grid-template-rows: repeat(2, minmax(1fr, min-content));
        align-items: center;
    }

    .list{
        display: flex;
        list-style: none;
        font-size: 1.2rem;

        &__item{
            &:not(:last-child){
                margin-right: 2rem;
            }

            & a:visited, & a:link{
                text-decoration: none;
                text-transform: uppercase;
                color: $color-grey-dark;
                border-bottom: 1px solid transparent;
            }

            & a:hover, & :active{
                color: $color-primary;
            }
        }
    }

    .user{
        &__authentication{
            display: flex;
            justify-content: right;
        }

        &__cart{
            display: flex;
            background: $color-grey-light-1;
            justify-self: center;
            align-self: end;
            padding: 1.5rem 2rem;

            &__icon{
                height: 2.5rem;
                width: 2.5rem;
                display: block;
                margin-right: .5rem;
            }

            &__text{
                font-size: 1rem;
                text-transform: lowercase;
                display: block;
                align-self: center;
            }
        }
    }
}